{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}

{% block page_css_level %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'truecontact/template/plugins/multi-select/multi-select.css' %}">
<div class="widget-content-area custom-card p-0">
  <div class="row layout-spacing">

      <div class="col-lg-12">

          <div class="statbox widget box box-shadow">
              <div class="content-header pl-3 pr-3">

                  <div class="row mt-2">
                    <div class="col-sm-12">
                      <h2 class="text-muted">Horarios </h2>
                      <div class="crumbs">
                        <ul id="breadcrumbs" class="breadcrumb">
                          <li><a href="javascript: void(0);"><i class="flaticon-home-fill"></i></a></li>
                          <li><a href="{% url 'horario-whatsapp-list' %}">Horarios</a></li>
                          <li><a href="javascript: void(0);">Agregar</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>

              </div>

              <div class="widget-content widget-content-area">

                <form class="form-horizontal" action="" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <div class="row">

                        <div class="col-sm-4 ">
                          <div class="col-sm-5">
                            <label for="{{ form.campana.id_for_label}}">{{ form.campana.label }}:</label>
                          </div>
                          <div class="col-sm-12">
                            {% render_field form.campana class="form-control" %}
                            {% for error in form.campana.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                          </div>
                        </div>
                        

                        <div class="col-sm-4 ">
                          <div>
                            <div class="col-sm-12">
                                <label for="hora_inicio">Horario_inicial:</label>
                              <input class="form-control" type="time" name="hora_inicio" required>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 ">
                            <div class="col-sm-12">
                                <label for="hora_final">Horario_Final:</label>
                              <input class="form-control" type="time" name="hora_final" required>
                            </div>
                        </div>                  
                        <div class="col-sm-12 col-md-4  mb-1">
                          <div class="row">
                            <div class="col-sm-12 ">
                              <div class="col-sm-5">
                                <input type="hidden" name="nombre" value="{{ form.nombre.value }}">  
                              <label for="{{ form.nombre.id_for_label}}">{{ form.nombre.label }}:</label>
                              </div>
                              <div class="col-sm-12">
                                {% render_field form.nombre class="form-control" %}
                                {% for error in form.nombre.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                              </div>
                            </div>
                            
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-4  mb-1">
                          <div class="row">
                            <div class="col-sm-12 ">
                              <div class="col-sm-5">
                                <input type="hidden" name="mensaje_espe" value="{{ form.mensaje_espera.value }}">  
                                <label for="{{ form.mensaje_espera.id_for_label}}">{{ form.mensaje_espera.label }}:</label>
                              </div>
                              <div class="col-sm-12">
                                {% render_field form.mensaje_espera class="form-control" %}
                                {% for error in form.mensaje_espera.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                              </div>
                            </div>
                            
                          </div>
                        </div>
                
                        <div class="col-sm-6 ">
                          <div class="col-sm-4">
                            <label for="{{ form.dia.id_for_label}}">{{ form.dia.label }}:</label>
                          </div>
                          <div class="col-sm-12">
                            <select multiple="multiple" id="my-select" name="dia" required>
                              {% for dia in dias %}
                                <option value={{dia}}>{{dia}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>

                        <!-- <div class="col-sm-12 col-md-6  mb-1">
                          <div class="row">
                            <div class="col-sm-4">
                              <label for="{{ form.activo.id_for_label}}">{{ form.activo.label }}:</label>
                            </div>
                            <div class="col-sm-8">
                              {% render_field form.activo class="form-control" %}
                              {% for error in form.activo.errors %}
                                  <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>
                        </div> -->

                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">

                        

                      </div>
                    </div>

                    
                    <a class="btn btn-warning mb-4 mr-2"  href="{% url 'horario-whatsapp-list' %}">Cancelar</a>
                    <input class="btn btn-primary mb-4 mr-2" type="submit" name="" value="Guardar">
                </form>

              </div>

        </div>
      </div>

  </div>
</div>
<script src="{% static 'truecontact/template/plugins/multi-select/jquery.multi-select.js' %}"></script>


<script type="text/javascript">
  /* elements */
  $('#my-select').multiSelect();
  /* eventos */
</script>

{% endblock %}
