{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}

{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="widget-content-area custom-card p-0" id="main-content-crm">

  <div class="row layout-spacing">
      <div class="col-lg-12">

          <div class="statbox widget box box-shadow">
              <div class="content-header pl-3 pr-3">

                  <div class="row mt-2">
                    <div class="col-sm-12">
                      <h2 class="text-muted">Horarios
                        <a class="float-right text-muted" href="{% url 'horario-whatsapp-list' %}">
                          <i class="flaticon-reload-bold icon"></i>
                        </a>
                      </h2>
                      <div class="crumbs">
                        <ul id="breadcrumbs" class="breadcrumb">
                          <li><a href="javascript: void(0);"><i class="flaticon-home-fill"></i></a></li>
                          <li><a href="javascript: void(0);">Horarios</a></li>
                          <!-- <li class="active"><a href="#">Products</a></li> -->
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="filtros">
                    <form id="form-filtro" class="form-horizontal" action="{% url 'horario-whatsapp-list' %}" method="get">
                      <div class="row">
                          <div class="col-6">

                            <div class="btn-group ml-2">
                              <a href="{% url 'horario-whatsapp-create' %}" class="btn btn-info">Agregar</a>
                            </div>

                          </div>
                          <div class="col-6">
                              <div class="input-group input-group-sm">
                                <input type="text" name="buscar" class="form-control" value="{{ buscar }}" placeholder="campo buscar">
                                <span class="input-group-append">
                                  <button type="submit" class="btn btn-info btn-flat">Buscar</button>
                                  {% if buscar %}
                                  <a href="{% url 'horario-whatsapp-list' %}" class="btn btn-warning float-right">
                                        Borrar
                                  </a>
                                  {% endif %}
                                </span>
                              </div>
                          </div>

                      </div>

                      <div class="row">
                        
                      </div>
                    </form>
                  </div>

              </div>

              <div class="widget-content widget-content-area">
                <div class="table-responsive">

                    <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
                        <thead>
                            <tr>
                                <th class="text-center">Campaña</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Dias</th>
                                <th class="text-center">Hora Inicio</th>
                                <th class="text-center">Hora Final</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for horario in object_list %}
                            <tr>
                              
                                <td>
                                    {{ horario.campana.nombre }}
                                </td>
                                <td>
                                  {{ horario.nombre }}
                              </td>
                                <td>
                                  {{ horario.dia }}
                                </td>
                                <td>
                                {{ horario.hora_inicio }}
                                </td>
                                <td>
                                    {{ horario.hora_final }}
                                </td>
                                {% if horario.status %}
                                <td class="text-center"> <i class="flaticon-cart-bag-1"></i> </td>
                                {% else %}
                                <td class="text-center"> <i class="flaticon-cart-bag"></i> </td>
                                {% endif%}
                                <td>                                
                                <a href="{% url 'horario-whatsapp-update' horario.pk %}" class="btn btn-info btn-sm">
                                    Editar
                                </a>
                                </td>
                            </tr>
                          {% endfor %}

                        </tbody>
                    </table>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <span>
                      Total Registros: {{ paginator.count }}
                    </span>
                    <br>
                    <span class="current">
                      Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>
                  </div>

                  <div class="col-md-6">
                    {% if is_paginated %}
                    <div class="dataTables_paginate paging_simple_numbers">
                      <ul class="pagination float-right">
                        {% if page_obj.has_previous %}
                        <li class="paginate_button page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&buscar={{ buscar }}&agente_programacion={{ f_agente }}&estado_programacion={{ f_estado_programacion }}">«</a></li>
                        {% endif %}
                        {% for i in pages %}
                        {% if i == page_obj.number %}
                        <li class="paginate_button page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                        {% else %}
                        <li class="paginate_button page-item"><a class="page-link" href="?page={{ i }}&buscar={{ buscar }}&agente_programacion={{ f_agente }}&estado_programacion={{ f_estado_programacion }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="paginate_button page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&buscar={{ buscar }}&agente_programacion={{ f_agente }}&estado_programacion={{ f_estado_programacion }}">»</a></li>
                        {% endif %}
                      </ul>
                    </div>
                    {% endif %}
                  </div>
                </div>

              </div>

          </div>


      </div>
  </div>
</div>



{% endblock %}

{% block page_js_level %}

<script type="text/javascript">

  /* Elementos */
//   const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
//   const btn_finalizar_programacion = document.getElementById('btn-finalizar-programacion');
//   let form_programacion = document.getElementById('form-cerrar-programacion');
//   let form_filtro = document.getElementById('form-filtro');
//   let input_estado_programacion = document.getElementById('estado_programacion');
//   let input_agente = document.getElementById('agente_programacion');
//   let input_f_final = document.getElementById('f_final');
//   let input_f_inicial = document.getElementById('f_inicial');


  /* eventos */

//   btn_finalizar_programacion.addEventListener('click', () => {
//     finalizar_programacion();
//   });

//   input_estado_programacion.addEventListener('change', () => {
//     filtrar();
//   });

//   if(input_agente){
//     input_agente.addEventListener('change', () => {
//       filtrar();
//     });
//   }

  

  /* funciones */

  function filtrar() {
    form_filtro.submit();
    $("#overlay").fadeIn(300);
    //document.getElementById('boton-borrar').style.display='block';
  }


  function writeWhatsapp(chat_id) {
    let event = new CustomEvent('SendWhastAppIframe', {
      'detail': {
        'chat_id': chat_id,
      }
    });
    window.parent.document.dispatchEvent(event);
  }

  
  $(document).ready(function () {
    
    

  });

</script>

{% endblock %}
