{% extends 'truecontact/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="content">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3 class="mr-2 text-dark float-left">Ticket {{ ticket.pk }}</h3>
          <div class="btn-group ">
            <a href="{% url 'tc-ticket-update' ticket.pk %}" class="btn btn-sm btn-info">
              <i class="nav-icon fas fa-edit"></i>
              Editar
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'tc-tickets' %}">Tickets</a></li>
            <li class="breadcrumb-item active">Detalle del ticket</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="card" style="border-top: 4px solid {{ ticket.estado.color }}">
            <div class="card-header">
              <img class="img-circle img-size-32 mr-2" src="/static/adminlte/assets/img/default-user.png" alt="Message User Image">
              <span class="text-sm ml-0">{{ ticket.solicitante.get_full_name}}</span>
            </div>
            <div class="card-body">
              <p class="mb-1"><strong>Asunto </strong></p>
              <p class="text-muted">{{ ticket.nombre }}</p>
              <p class="mb-1"><strong>Responsable </strong></p>
              <p class="text-muted">
                <img class="img-circle img-size-32 mr-2" src="/static/adminlte/assets/img/default-user.png" alt="Message User Image">
                {{ ticket.responsable.contacto.nombre }}
              </p>
              <p class="mb-1"><strong>Urgencia </strong></p>
              <p class="text-muted">{{ ticket.urgencia.nombre }}</p>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-12">
                  <div class="float-left">
                    <span class="text-muted">{{ ticket.f_registro | date:"d M Y" }}</span>
                  </div>
                  <div class="float-right text-right">
                    <a href="#" class="btn btn-sm btn-info">
                      <i class="fas fa-user"></i>
                      <i class="fas fa-arrow-circle-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card" style="border-top: 4px solid {{ ticket.estado.color }}">
            <div class="card-header">
              <h2 class="card-title">
                <span class="badge" style="background:{{ ticket.estado.color }}">
                  {{ ticket.estado.nombre }}
                </span>
              </h2>

              <div class="card-tools">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" placeholder="Search">
                  <div class="input-group-append">
                    <div class="btn btn-info">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="">
                {% for gestion in gestiones_ticket %}
                  <div class="direct-chat-msg mb-3">
                    <div class="direct-chat-infos clearfix">
                      {% if gestion.usuario == ticket.solicitante %}
                        <span class="direct-chat-name float-left">{{ gestion.usuario.contacto.nombre }}</span>
                        <span class="direct-chat-timestamp float-right">{{ gestion.f_registro|date:"d M Y h:i A" }}</span>
                      {% else %}
                        <span class="direct-chat-name float-right">{{ gestion.usuario.contacto.nombre }}</span>
                        <span class="direct-chat-timestamp float-left">{{ gestion.f_registro|date:"d M Y h:i A" }}</span>
                      {% endif %}
                    </div>

                    {% if gestion.usuario.contacto.imagen %}
                      <img class="direct-chat-img" src="{{ gestion.usuario.contacto.imagen.url }}" alt="Message User Image">
                    {% else %}
                      <img src="{% static 'adminlte/assets/img/default-user.png' %}" alt="" class="img-circle img-size-32 mr-2">
                    {% endif %}
                    {% if gestion.tipo == '1' %}
                      <div class="direct-chat-text" style="background-color: white">
                        El usuario <a class="text-primary">{{ gestion.usuario.username }}</a>
                        ha cambiado el estado a
                        <b style="color:{{ gestion.estado.color }}">
                          {{ gestion.estado.nombre }}
                        </b>
                      </div>
                    {% else %}
                      <div class="direct-chat-text">
                        {{ gestion.observaciones }}
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <form action="#" method="post">
                <div class="mailbox-controls">
                  <div class="input-group mb-2">
                    <input type="text" name="message" placeholder="Escriba un comentario o adjunte un archivo" class="form-control">
                  </div>

                  <div class="btn-group">
                    <div class="btn btn-default btn-file">
                      <i class="fas fa-paperclip"></i>
                      <input type="file" name="attachment">
                    </div>
                  </div>

                  <div class="float-right">
                    <button type="button" class="btn btn-info">Enviar</button>
                  </div>
                </div>
              </form>
              </div>
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
{% endblock %}

{% block page_js_level %}
{% endblock %}
