{% extends 'truecontact/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_css_level %}

{% endblock %}

{% block content %}
<div class="content">
  <!-- Content Header (Page header) -->
<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3 class="mr-2 text-dark float-left">Ticket</h3>
          <div class="btn-group ">
            <button type="submit" class="btn btn-sm btn-info" name="button">
              <i class="nav-icon fas fa-edit"></i>
              Guardar
            </button>
            <a href="{% url 'tc-tickets' %}" class="btn btn-sm btn-secondary ml-1">
              <i class="nav-icon fas fa-arrow-left"></i>
              Cancelar
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'tc-tickets' %}">Tickets</a></li>
            <li class="breadcrumb-item active">Agregar Ticket</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="{{ form.nombre.id_for_label }}" class="col-md-3 col-form-label">Asunto:</label>
                    <div class="col-md-9">
                      {% render_field form.nombre  class="form-control" placeholder="Asunto" %}
                      {% for error in form.nombre.errors %}
                        <p class="text-danger">{{ error }}</p>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="{{ form.urgencia.id_for_label }}" class="col-md-3 col-form-label">Urgencia:</label>
                    <div class="col-md-9">
                      {% render_field form.urgencia  class="form-control" placeholder="Urgencia" %}
                      {% for error in form.urgencia.errors %}
                        <p class="text-danger">{{ error }}</p>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="{{ form.descripcion.id_for_label }}" class="col-md-3 col-form-label">Descripcion:</label>
                    <div class="col-md-9">
                      {% render_field form.descripcion rows="4" class="form-control" placeholder="Descripcion" %}
                      {% for error in form.descripcion.errors %}
                        <p class="text-danger">{{ error }}</p>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="{{ form.notas.id_for_label }}" class="col-md-3 col-form-label">Notas:</label>
                    <div class="col-md-9">
                      {% render_field form.notas rows="4" class="form-control" placeholder="Notas" %}
                      {% for error in form.notas.errors %}
                        <p class="text-danger">{{ error }}</p>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
</form>
  <!-- /.content -->
</div>
{% endblock %}

{% block page_js_level %}
<script type="text/javascript">

  $(document).ready(function() {
    $("#profile-image-upload").click(function(e) {
      $("#id_imagen").click();
    });

    function fasterPreview( uploader ) {
      if ( uploader.files && uploader.files[0] ){
        $('#profile-image-upload').attr('src', window.URL.createObjectURL(uploader.files[0]) );
      }
    }


    $("#id_imagen").change(function(){
        fasterPreview( this );
    });

    $(".select2").select2();

    $(".select2bs4").select2({
      theme: 'bootstrap4'
    });

  });

</script>
{% endblock %}
