{% extends 'truecontact/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load template_extrafunc %}

{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="content">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="mr-2 text-dark float-left">Tickets</h3>
          <div class="btn-group ">
            <a href="{% url 'tc-ticket-create' %}" class="btn btn-sm btn-info">
              <i class="nav-icon fas fa-plus"></i>
              Agregar
            </a>
            <button class="btn btn-sm btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
              <span class="sr-only">Agregar</span>
              <div class="dropdown-menu" role="menu" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-1px, -166px, 0px);">
                <a class="dropdown-item" href="javascript:;">Exportar CSV</a>
              </div>
            </button>
          </div>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <form id="form-filter" class="form-horizontal" action="" method="get">
            <div class="row">
              <div class="col-sm-6">
                <div class="col-sm-6">
                  <div class="col text-left">
                    <input id="display_value" type="hidden" name="display" value="{{ display }}">
                    <button id="display_list" type="button" class="btn btn-default">
                      <i class="fa fa-list-ul"></i>
                    </button>
                    <button id="display_kanban" type="button" class="btn btn-default">
                      <i class="fa fa-th-large"></i>
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-filter"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Filtro 1</a>
                      <a class="dropdown-item" href="#">Filtro 2</a>
                      <a class="dropdown-item" href="#">Filtro 3</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm">
                  <input type="text" name="buscar" class="form-control" value="{{ buscar }}" placeholder="Asunto">
                  <span class="input-group-append">
                    <button type="submit" class="btn btn-info btn-flat">Buscar</button>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-body">
          {% if display == 'list' %}
          <div class="row">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Ticket</th>
                  <th class="text-center">Asunto</th>
                  {% if not user|has_group:"helpdesk_usuario" %}
                    <th class="text-center">Solicitante</th>
                  {% endif %}
                  <th class="text-center">Urgencia</th>
                  <th class="text-center">Responsable</th>
                  <th class="text-center">Fecha Creación</th>
                  <th class="text-center">Estado</th>
                  {% if not user|has_group:"helpdesk_usuario" %}
                    <th class="text-center">Acción</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for ticket in tickets %}
                  <tr class="clickable-row" data-href="{% url 'tc-ticket-detail' ticket.pk %}" style="cursor: pointer;">
                    <td class="text-center">{{ ticket.pk }}</td>
                    <td>{{ ticket.nombre }} </td>
                    {% if not user|has_group:"helpdesk_usuario" %}
                      <td class="text-sm">
                        <div class="row">
                          <div class="col-md-3">
                            {% if ticket.solicitante.contacto.imagen %}
                              <img src="{{ ticket.solicitante.contacto.imagen.url }}" alt="" class="img-circle img-size-32 mr-2">
                            {% else %}
                              <img src="{% static 'adminlte/assets/img/default-user.png' %}" alt="" class="img-circle img-size-32 mr-2">
                            {% endif %}
                          </div>
                          <div class="col-md-9">
                            {{ ticket.solicitante.contacto.nombre }}
                          </div>
                        </div>
                      </td>
                    {% endif %}
                    <td class="text-center">{{ ticket.urgencia }}</td>
                    <td class="text-sm">
                      <div class="row">
                        <div class="col-md-3">
                          {% if ticket.responsable.contacto.imagen %}
                            <img src="{{ ticket.responsable.contacto.imagen.url }}" alt="" class="img-circle img-size-32 mr-2">
                          {% else %}
                            <img src="{% static 'adminlte/assets/img/default-user.png' %}" alt="" class="img-circle img-size-32 mr-2">
                          {% endif %}
                        </div>
                        <div class="col-md-9">
                          {{ ticket.responsable.contacto.nombre }}
                        </div>
                      </div>
                    </td>
                    <td class="text-center">{{ ticket.f_registro | date:"d M Y" }}</td>
                    <td class="text-center">
                      <span class="badge" style="background:{{ ticket.estado.color }}">
                        {{ ticket.estado.nombre }}
                      </span>
                    </td>
                    {% if not user|has_group:"helpdesk_usuario" %}
                      <td class="text-center">
                        <a href="#" class="btn btn-xs btn-info">
                          <i class="fas fa-user"></i>
                          <i class="fas fa-arrow-circle-right"></i>
                        </a>
                      </td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% elif display == 'kanban' %}
          <div class="row">
            {% for ticket in tickets %}
            <div class="col-12 col-sm-4 col-md-3 py-2">
              <a href="{% url 'tc-ticket-detail' ticket.pk %}" class="h-100">
                <div class="card h-100 bg-light">
                  <div class="card-header" style="border-top: 4px solid {{ ticket.estado.color }}">
                    <div class="row">
                      <div class="col-md-12 mb-1">
                        {% if ticket.solicitante.contacto.imagen %}
                          <img src="{{ ticket.solicitante.contacto.imagen.url }}" alt="" class="img-circle img-size-32 mr-2">
                        {% else %}
                          <img src="{% static 'adminlte/assets/img/default-user.png' %}" alt="" class="img-circle img-size-32 mr-2">
                        {% endif %}
                        <span class="text-sm ml-0">{{ ticket.solicitante.contacto.nombre }}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <h3 class="card-title"><strong>Ticket {{ ticket.pk }}</strong></h3>
                        <div class="text-right">
                          <span class="badge" style="background:{{ ticket.estado.color }}">
                            {{ ticket.estado.nombre }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="card-body h-100">
                      <div class="row">
                        <span>{{ ticket.nombre }}</span>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="float-left">
                            <span class="text-muted">{{ ticket.f_registro | date:"d M Y" }}</span>
                          </div>
                          {% if not user|has_group:"helpdesk_usuario" %}
                            <div class="float-right text-right">
                              <a href="#" class="btn btn-sm btn-info">
                                <i class="fas fa-user"></i>
                                <i class="fas fa-arrow-circle-right"></i>
                              </a>
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="card-footer clearfix">
          <span class="float-left">
            Total Tickets: {{ total_tickets }}
          </span>
          {% if is_paginated %}
          <ul class="pagination pagination-sm m-0 float-right">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?buscar={{ buscar }}&page={{ page_obj.previous_page_number }}">«</a></li>
            {% endif %}
            {% for i in pages %}
              <li class="page-item"><a class="page-link" href="?buscar={{ buscar }}&page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?buscar={{ buscar }}&?page={{ page_obj.next_page_number }}">»</a></li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
{% endblock %}

{% block page_js_level %}
<script type="text/javascript">
  $(".clickable-row").click(function() {
    window.location = $(this).data("href");
  });
</script>
{% endblock %}
