{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extracss %}{% endblock %}
{% load template_extrafunc %}

{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0 text-dark">Nuevo Ticket</h1> -->
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Ticket: {{ ticket.pk }}</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post" >
                  {% csrf_token %}
                    <div class="card-body">

                      <div class="form-group" style="display: none">
                        <label for="estado">Solicitante:</label>
                        {% render_field form.solicitante class="form-control" %}
                          {% for error in form.solicitante.errors  %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                      </div>

                      <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        {% render_field form.nombre  class="form-control" readonly="readonly"%}
                          {% for error in form.nombre.errors %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                      </div>
                      <div class="form-group">
                        <label for="urgencia">Urgencia:</label>
                        {% render_field form.urgencia class="form-control" readonly="readonly"%}
                          {% for error in form.urgencia.errors  %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                      </div>
                      <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        {% render_field form.descripcion rows="3" class="form-control" readonly="readonly"%}
                          {% for error in form.descripcion.errors  %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                      </div>

                      {% if perms.tickets.view_ticket %}

                      <div class="form-group">
                        <label for="estado">Responsable:</label>
                        {% render_field form.responsable class="form-control" %}
                          {% for error in form.responsable.errors  %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                      </div>
                      <div class="form-group">
                        <label for="estado">Notas para el Responsable:</label>
                        {% render_field form.notas rows="3" class="form-control" class="form-control" %}
                          {% for error in form.notas.errors  %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                      </div>

                      {% endif %}
                      {% if form.solucion.value != '' %}
                      <div class="form-group">
                        <label for="estado">Nota de la revisión:</label>
                        {% render_field form.solucion rows="3" class="form-control" class="form-control"  %}
                          {% for error in form.solucion.errors  %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                      </div>
                      <div class="form-group">
                        <label for="estado">Estado del Ticket:</label>
                        {% render_field form.estado class="form-control" %}
                          {% for error in form.estado.errors  %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                      </div>
                      {% endif %}
                    </div>
                  <!-- /.card-body -->

                  <div class="card-footer">
                    {% if request.user|has_group:"Supervisor" %}
                    <button type="submit" value="Update" class="btn btn-primary">Actualizar Ticket</button>
                    {% endif %}
                    <a class="btn btn-secondary" href="{% url 'tc-tickets' %}">Volver</a>
                  </div>
                </form>
              </div>
              <!-- /.card -->
              <!--  card begin -->
              <div class="card card-default collapsed-card">
                        <div class="card-header">
                          <h3 class="card-title">Panel observaciones</h3>

                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
                          </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" style="display: none;">
                          <div class="row">
                            <div class="col-sm-12">
                              <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Observacion </th>
                                  <th>Fecha registro</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for observacion in observaciones %}
                                  <tr>
                                    <td>{{ observacion.pk }}</td>
                                    <td>{{ observacion.registro }} </td>
                                    <td>{{ observacion.f_registro }} </td>
                                  </tr>
                                {% endfor %}
                              </table>

                              <a href="#" onclick="nuevaObservacion(this)" class="btn btn-primary" data-id="{{ticket.pk}}" >
                                <span>Nueva observación</span>
                                <i class="fas fa-arrow-right"></i>
                              </a>
                            </div>
                            <!-- /.col -->

                          </div>
                          <!-- /.row -->


                        </div>
                        <!-- /.card-body -->

                      </div>
                      <!-- /.card -->



            </div>
          </div>
        </div>
  <!-- /.content -->
</section>
<!-- #header-content-wrapper -->
</div>
{% endblock %}
{% block page_js_level %}

<script type="text/javascript">

  function nuevaObservacion(self){
    var id = $(self).attr("data-id");
    var estado_id = $(self).attr("estado-id");
    console.log("ticket " + id);
    Swal.fire({
      title: 'Indique su observación',
      input: 'textarea',
      inputPlaceholder:'descripción...',
      confirmButtonText: 'Guardar'
    }).then((result) =>{
      console.log("llamando a observar");
      console.log("Observacion: ", result['value'] );
      $.get("{% url 'tc-observacion' %}", {'id': id, 'observacion':result['value'] }, function(data,status){
        if (status == "success"){
            Swal.fire({
              title: 'Observacion añadida!!',
              }).then((result) => {
              location.reload();
            })

      }
    })
  })
}

</script>
{% endblock %}
