{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}

{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="widget-content-area custom-card p-0" id="main-content-crm">

  <div class="row layout-spacing">
      <div class="col-lg-12">

          <div class="statbox widget box box-shadow">
              <div class="content-header pl-3 pr-3">

                  <div class="row mt-2">
                    <div class="col-sm-12">
                      <h2 class="text-muted">Programaciones
                        <a class="float-right text-muted" href="{% url 'tc-shaio-programacion-list' %}">
                          <i class="flaticon-reload-bold icon"></i>
                        </a>
                      </h2>
                      <div class="crumbs">
                        <ul id="breadcrumbs" class="breadcrumb">
                          <li><a href="javascript: void(0);"><i class="flaticon-home-fill"></i></a></li>
                          <li><a href="javascript: void(0);">Programacion</a></li>
                          <!-- <li class="active"><a href="#">Products</a></li> -->
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="filtros">
                    <form id="form-filtro" class="form-horizontal" action="{% url 'tc-shaio-programacion-list' %}" method="get">
                      <div class="row">
                          <div class="col-6">

                            <div class="btn-group ml-2">
                              <a href="{% url 'tc-shaio-programacion-add' %}" class="btn btn-info">Agregar</a>
                              {% if request.user|has_group:"Supervisor" %}
                                <a href="{% url 'tc-shaio-programacion-export' %}?buscar={{ buscar }}&agente_programacion={{ f_agente }}&estado_programacion={{ f_estado_programacion }}" class="btn btn-dark">Exportar CSV</a>
                              {% endif %}
                            </div>

                          </div>
                          <div class="col-6">
                              <div class="input-group input-group-sm">
                                <input type="text" name="buscar" class="form-control" value="{{ buscar }}" placeholder="campo buscar">
                                <span class="input-group-append">
                                  <button type="submit" class="btn btn-info btn-flat">Buscar</button>
                                  {% if buscar %}
                                  <a href="{% url 'tc-shaio-programacion-list' %}" class="btn btn-warning float-right">
                                        Borrar
                                  </a>
                                  {% endif %}
                                </span>
                              </div>
                          </div>

                      </div>

                      <div class="row">
                        <div class="col-12">
                          <div class="widget-content widget-content-area multiple-target1-content">
                                <div class="row">
                                  
                               
                                  <div class="col-md-4">
                                    <label for="id_final">Fecha de programación:</label>
                                    <input type="text" class="form-control float-right" id="range_llamar" >
                                    <input id="filtro_f_inicio_llamar" type="hidden" name="f_inicio_llamar" value="{{ f_inicio_llamar }}">
                                    <input id="filtro_f_fin_llamar" type="hidden" name="f_fin_llamar" value="{{ f_fin_llamar }}">
                                  </div>
                                  <div class="col-md-4">
                                    <label for="id_calificacion">Estado:</label>
                                      <select class="form-control" id="estado_programacion" name="estado_programacion">
                                        <option value="todas">Todas</option>
                                        {% for estado in estados_programacion %}
                                          <option value="{{ estado.0 }}" {% if f_estado_programacion == estado.0 %}selected{% endif %}>{{ estado.1 }}</option>
                                        {% endfor %}
                                      </select>
                                  </div>
                                    {% if f_inicio_llamar != none or f_fin_llamar != none or f_inicio_soat != none or f_fin_soat != none %}
                                      <span class="borrar"style="display: block"id="boton-borrar" style="text-align:right" >
                                        <a href="{% url 'tc-shaio-programacion-list' %}" class="btn btn-warning float-right">
                                              Borrar
                                        </a>
                                      </span>
                                      {% endif %}
                                                                   
                                  </div>
                                  {% if request.user|has_group:"Supervisor" %}
                                    <div class="col-md-4">
                                      <label for="">Agente:</label>
                                        <select class="form-control" id="agente_programacion" name="agente_programacion">
                                          <option value="todas">Todos</option>
                                          {% for agente in agentes_programaciones %}
                                            <option value="{{ agente.0 }}" {% if f_agente == agente.0 %}selected{% endif %}>{{ agente.1 }}</option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                  {% endif %}
                                </div>
                          </div>

                        </div>

                      </div>
                    </form>
                  </div>

              </div>

              <div class="widget-content widget-content-area">
                <div class="table-responsive">

                    <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
                        <thead>
                            <tr>
                                <th class="text-center">Contacto / # gestiones</th>
                                <th class="text-center">Documento</th>
                                {% if request.user|has_group:"Supervisor" %}
                                  <th class="text-center">Agente</th>
                                {% endif %}
                                <th class="text-center">Doctor</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Intentos</th>
                                <th class="text-center">Fecha de cita</th>
                                <th class="text-center">Fecha de programación</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for programacion in object_list %}
                            <tr>
                              <td class="text-center">
                                <a href="{% url 'tc-contacto-update' programacion.contacto.pk %}" target="crm">
                                  {{ programacion.contacto.get_full_name }}

                                </a>
                                <br>
                                <span class="badge badge-default">{{ programacion.contacto.get_contacto_gestiones.count }}</span>
                              </td>
                              <td>
                                {{ programacion.contacto.documento }}
                              </td>
                              {% if request.user|has_group:"Supervisor" %}
                                <td>{{ programacion.agente.username }}</td>
                              {% endif %}
                              <td class="text-center">{{ programacion.char_3 }}</td>
                              <td class="text-center">
                                {% if programacion.estado_programacion == 'nuevo' %}
                                  <span class="badge bg-primary">Nuevo</span>
                                  {% if programacion.contacto.get_contacto_gestiones.count != 0 %}
                                  <br>
                                  <a href="#" onClick="parent.verGestion({{ programacion.contacto.get_contacto_gestiones.0.pk }})" class="text-muted ml-1" data-id="{{ programacion.contacto.get_contacto_gestiones.0.pk }}">
                                    <i class="fas fa-eye"></i>
                                    Última gestión
                                  </a>
                                  {% endif %}
                                {% elif programacion.estado_programacion == 'pendiente' %}
                                  <span class="badge bg-warning">Pendiente</span>
                                  <br>
                                  <a href="#" onClick="parent.verGestion({{ programacion.gestion.pk }})" class="text-muted ml-1" data-id="{{ programacion.gestion.pk }}">
                                    <i class="fas fa-eye"></i>
                                    Última gestión
                                  </a>
                                {% elif programacion.estado_programacion == 'gestionado' %}
                                  <span class="badge bg-success">Gestionado</span>
                                {% endif %}
                              </td>
                              <td class="text-center">{{ programacion.n_intentos }}</td>
                              <td class="text-center">{{ programacion.date_1 }}</td>
                              <td class="text-center">{{ programacion.date_2 }}</td>
                              <td class="text-center"> <!-- Acciones -->
                                {% if programacion.estado_programacion == 'gestionado' %}
                                  <a href="#" onClick="parent.verGestion({{ programacion.gestion.pk }})" class="text-muted ml-1" data-id="{{ programacion.gestion.pk }}">
                                    <i class="fas fa-eye">Ver gestion</i>
                                  </a>
                                {% else %}
                                  {% if request.user|has_group:"Supervisor" and programacion.estado_programacion != 'gestionado' %}
                                    <a href="{% url 'tc-shaio-programacion-update' programacion.pk %}" class="btn btn-info btn-block ">
                                      Editar
                                    </a>
                                  {% elif request.user == programacion.creado_por %}
                                    <a href="{% url 'tc-shaio-programacion-update' programacion.pk %}" class="btn btn-info btn-block">
                                      Editar
                                    </a>
                                  {% endif %}
                                  {% if request.user|has_group:"Agente" and programacion.agente == request.user %}
                                    <button class="btn btn-secondary btn-block call_button"
                                      data-id="{{ programacion.contacto.pk }}" data-programacion="{{programacion.pk}}">
                                      Gestionar
                                    </button>
                                  {% endif %}
                                  <a href="javascript:;" onClick="mostrar_campana_manual_programacion({{programacion.pk}});" class="btn btn-block btn-info" data-contacto="{{programacion.contacto.pk}}" data-telefono="${telefono['telefono']}">
                                    Finalizar
                                  </a>
                                {% endif %}
                              </td>
                            </tr>
                          {% endfor %}

                        </tbody>
                    </table>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <span>
                      Total Registros: {{ paginator.count }}
                    </span>
                    <br>
                    <span class="current">
                      Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>
                  </div>

                  <div class="col-md-6">
                    {% if is_paginated %}
                    <div class="dataTables_paginate paging_simple_numbers">
                      <ul class="pagination float-right">
                        {% if page_obj.has_previous %}
                        <li class="paginate_button page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&buscar={{ buscar }}&agente_programacion={{ f_agente }}&estado_programacion={{ f_estado_programacion }}">«</a></li>
                        {% endif %}
                        {% for i in pages %}
                        {% if i == page_obj.number %}
                        <li class="paginate_button page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                        {% else %}
                        <li class="paginate_button page-item"><a class="page-link" href="?page={{ i }}&buscar={{ buscar }}&agente_programacion={{ f_agente }}&estado_programacion={{ f_estado_programacion }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="paginate_button page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&buscar={{ buscar }}&agente_programacion={{ f_agente }}&estado_programacion={{ f_estado_programacion }}">»</a></li>
                        {% endif %}
                      </ul>
                    </div>
                    {% endif %}
                  </div>
                </div>

              </div>

          </div>


      </div>
  </div>
</div>
<!-- Modal telefonos del contacto a llamar -->
<div class="modal fade show" id="modal-call" aria-modal="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="info-contacto" class="modal-title text-muted"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">        
        <div class="row">
          <table class="table table-condensed">
            <tbody id="contacto-telefonos">
            </tbody>
          </table>
        </div>
        <form id="form-agente-llamar"
          class="form-horizontal" action="{% url 'tc-agente-llamar-contacto' %}"
          method="post">
          {% csrf_token %}
          <input type="hidden" id="programacion_gestionar" name="programacion_gestionar" value="">
          <input type="hidden" id="pk_agente" name="pk_agente" value="{{ user.get_agente_profile.pk }}">
          <input type="hidden" id="pk_contacto" name="pk_contacto">
          <input type="hidden" id="pk_campana" name="pk_campana" value="">
          <input type="hidden" id="campana_nombre" name="campana_nombre" value="">
          <input type="hidden" id="tipo_campana" name="tipo_campana" value="">
          <input type="hidden" id="campana_tipo" name="campana_tipo" value="">
          <input type="hidden" id="telefono" name="telefono" value="">
          <input type="hidden" id="click2call_type" name="click2call_type" value="contactos">
          <div class="form-group row">
            <label for="select-campana" class="col-sm-2 col-form-label">Campaña</label>
            <div class="col-sm-10">
              <select id="select-campana" class="form-control" name="">
                {% for campana in contacto_campanas %}
                <option value="{{ campana.0 }}-{{ campana.1 }}-{{ campana.2 }}">{{ campana.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <div class="text-center">
          <a href="javascript:;" onClick="$(this).writeContacto(this);" class="btn btn-sm btn-info" data-contacto="${contacto['id']}" data-chat-id="${dialogo['chat_id']}">
            Contactar
          </a>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- Modal finalizar programacion dependiendo de la gestion del contacto a escribir -->
<div class="modal fade show" id="modal-cerrar-programacion" aria-modal="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-muted"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-cerrar-programacion" class="needs-validation" method="POST" novalidate>
          {% csrf_token %}
          <input id="id_programacion" type="hidden" name="programacion" value="">
          <input id="id_accion" type="hidden" name="accion" value="finalizar">
          <div class="form-group" style="display: none">
            <div class="row">
              <div class="col-md-6">
                <label for="id_medio">Medio:</label>
                <input id="id_medio" type="text" name="medio" value="Manual">
              </div>
              <div class="col-md-6">
                <label for="id_tipo">Tipo:</label>
                <input id="id_tipo" type="text" name="tipo" value="5">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h5 for="">Medio:</h5>
              <h6 id="">Manual</h6>
            </div>
            <div class="col-md-6">
              <h5 for="">Tipo:</h5>
              <h6 id="">Manual</h6>
            </div>
          </div>
          <div class="form-group" style= "display: none;">
            <div class="row">
              <div class="col-md-6">
                <label for="id_resultad_label">Resultado:</label>
                <select id="id_resultad" class="form-control" name="resultad">
                  <option value="">Seleccione</option>
                  {% for resultado in resultados_gestion %}
                    <option value="{{ resultado.pk }}">{{ resultado.nombre }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Este campo es requerido!
                </div>
              </div>
              <div class="col-md-6" style= "display: none;">
                <label for="id_calificacion_label">Calificacion:</label>
                <select id="id_calificacion_manual" class="form-control" name="calificacion">
                  <option value="">Seleccione</option>
                  {% for calificacion in calificaciones_gestion %}
                    <option value="{{ calificacion.pk }}">{{ calificacion.nombre }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Este campo es requerido!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">

              <div class="col-md-6">
                <label for="id_motivo_label">Motivo:</label>
                <select id="id_motivo" class="form-control" name="motivo" required>
                  <option value="">Seleccione</option>
                  {% for motivo in motivos %}
                    <option value="{{ motivo.pk }}">{{ motivo.nombre }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Este campo es requerido!
                </div>
              </div>

              <div class="col-md-6">
                <label for="id_resultado_label">Resultado:</label>
                <select id="id_resultado" class="form-control" name="resultado" required>
                  <option value="">Seleccione</option>
                </select>
                <div class="invalid-feedback">
                  Este campo es requerido!
                </div>
              </div>

            </div> 
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="id_especialidad_label">Especialidad:</label>
                <select id="id_especialidad" class="form-control" name="especialidad" required>
                  <option value="">Seleccione</option>
                  {% for especialidad in especialidades %}
                    <option value="{{ especialidad.pk }}">{{ especialidad.nombre }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Este campo es requerido!
                </div>
              </div>

              <div class="col-md-6">
                <label for="id_entidad_label">Entidad:</label>
                <select id="id_entidad" class="form-control" name="entidad" required>
                  <option value="">Seleccione</option>
                  {% for entidad in entidades %}
                    <option value="{{ entidad.pk }}">{{ entidad.nombre }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Este campo es requerido!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6 " id="reprogramar_llamada_manual">
                <div id="div_fecha">
                  <label id="id_label_manual" class="col-md.6 col-form-label" style= "display: none;">Fecha Soat:</label>
                  <!-- <input type='date' class= "form-control" id='fecha_reprogramar' name='fecha_reprogramar'style= "display: none;"> -->
                  <input class="mdl-textfield__input form-control" name="fecha_reprogramar_manual" type="date" id="fecha_reprogramar_manual" style= "display: none;">
                  <!-- <label for=""id="id_label_encuesta" class="col-md.6 col-form-label" style= "display: none;"></label> -->
                  <!-- <input type='date' class= "form-control" id='fecha_reprogramar' name='fecha_reprogramar'style= "display: none;"> -->
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">

              <div class="col-md-6 my-auto">
                <label for="id_tipocon_label">Tipo de consulta:</label>
                <select class="form-control" id="id_tipocon" name="tipocon" required>
                  <option value="">Seleccione</option>
                  {% for tipo in tipo_consulta %}
                    <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6">
                <label for="id_observaciones">Observaciones:</label>
                <textarea class="form-control" id="id_observaciones" name="observaciones" rows="3" ></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="btn-finalizar-programacion" type="button" class="btn btn-info">Finalizar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- modal selecionar la campana  -->
<div class="modal fade show" id="modal-programacion-campana-manual" aria-modal="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="info-contacto" class="modal-title text-muted"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <table class="table table-condensed">
            <tbody id="contacto-whatsapp">
            </tbody>
          </table>
        </div>
        <input type="hidden" id="id_contacto" name="id_contacto">
        <input type="hidden" id="pk_programacion" name="pk_programacion" value="">
        <input type="hidden" id="campana_id_manual" name="campana_id_manual" value="">
        <div class="form-group row">
          <label for="select-campana-whatsap" class="col-sm-2 col-form-label">Campaña</label>
          <div class="col-sm-10">
            <select id="select-campana-manual" class="form-control" name="select-campana-manual">
              {% for campana in contacto_campanas %}
              <option value="{{ campana.0 }}-{{ campana.1 }}-{{ campana.2 }}">{{ campana.1 }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <a href="javascript:;" onClick="mostrar_modal_finalizar_programacion();" id ="este" class="btn btn-sm btn-info" data-contacto="" data-telefono="${telefono['telefono']}">
          Continuar
        </a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
{% endblock %}

{% block page_js_level %}

<script type="text/javascript">

  /* Elementos */
  const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
  const btn_finalizar_programacion = document.getElementById('btn-finalizar-programacion');
  let form_programacion = document.getElementById('form-cerrar-programacion');
  let form_filtro = document.getElementById('form-filtro');
  let input_estado_programacion = document.getElementById('estado_programacion');
  let input_agente = document.getElementById('agente_programacion');
  let input_f_final = document.getElementById('f_final');
  let input_f_inicial = document.getElementById('f_inicial');
  let id_label_manual = document.getElementById('id_label_manual');
  let fecha_reprogramar_manual = document.getElementById('fecha_reprogramar_manual');


  /* eventos */

  btn_finalizar_programacion.addEventListener('click', () => {
    finalizar_programacion();
  });

  input_estado_programacion.addEventListener('change', () => {
    filtrar();
  });

  if(input_agente){
    input_agente.addEventListener('change', () => {
      filtrar();
    });
  }

  

  /* funciones */

  function filtrar() {
    form_filtro.submit();
    $("#overlay").fadeIn(300);
    //document.getElementById('boton-borrar').style.display='block';
  }
  
  function mostrar_campana_manual_programacion(id_programacion) {
    
    document.getElementById('id_programacion').value = id_programacion;
    id_programacion_cerrar = document.getElementById('id_programacion')
    id_programacion_cerrar = id_programacion
    document.querySelector('#modal-programacion-campana-manual .modal-title').textContent = `
      Elige una campaña para la programacion ${id_programacion}
    `;
    $('#modal-programacion-campana-manual').modal('show');
    //para el siguiente modal
    document.querySelector('#modal-cerrar-programacion .modal-title').textContent = `
      Finalizando la programacion ${id_programacion}
    `;
    
  }
  function mostrar_modal_finalizar_programacion() {
    $('#modal-programacion-campana-manual').modal('hide');
    var id_campana = $("#select-campana-manual").val().split('-')[0];
    console.log(">>>>>>>>>>>>>>>>><",id_campana)
    let url = '/tc/campanas/programacion/manual/';
    $('#id_calificacion_manual').empty();
    $('#id_calificacion_manual').append("<option value=''>Seleccione</option>").trigger("chosen:updated");
    $.get(url, { 'id_campana': id_campana }, function(data, status){
        if(status == 'success'){
          calificaciones = data['calificaciones']
          console.log("##############si devolvio",calificaciones)
          for (i=0; i<calificaciones.length; i++){
            var resultado = calificaciones[i];
            $('#id_calificacion_manual').append("<option value='"+resultado["id_calificacion"]+"'>"+resultado["nombre_calificacion"]+"</option>").trigger("chosen:updated");
          }

        }
      });
    
    $('#modal-cerrar-programacion').modal('show');
    
  }

  function finalizar_programacion() {

    let form_data = new FormData(form_programacion);
    let id_programacion = document.getElementById('id_programacion').value;
    let url = Urls.tc_shaio_programacion_gestionar(id_programacion);

    if (form_programacion.checkValidity() == false) {
      form_programacion.classList.add('was-validated');
    }else{
      fetch(url, {
        method: 'post',
        body: form_data,
      })
      .then((res) => {
        return res.json();
      })
      .then((datos) => {
        console.log(datos);
        location.reload();
      })
      .catch((error) => {
        console.log(`Error al finalizar la programacion ${error}`);
      });
    }
  }

  function writeWhatsapp(chat_id) {
    let event = new CustomEvent('SendWhastAppIframe', {
      'detail': {
        'chat_id': chat_id,
      }
    });
    window.parent.document.dispatchEvent(event);
  }

  
  $(document).ready(function () {

    {% if f_inicio_soat and f_fin_soat %}
    let start = moment('{{ f_inicio_soat }}', 'DD-MM-YYYY');
    let end = moment('{{ f_fin_soat }}', 'DD-MM-YYYY');
    
    
    {% else %}
      let start = moment().subtract(0, 'days');
      let end = moment();
    {% endif %}
    function cb(start, end) {
        $('#range_soat span').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'));
    }
    $('#range_soat').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
            'Hoy': [moment(), moment()],
            'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Ultimos 7 Dias': [moment().subtract(6, 'days'), moment()],
            'Ultimos 30 Dias': [moment().subtract(29, 'days'), moment()],
            'Este Mes': [moment().startOf('month'), moment().endOf('month')],
            'Ultimo Mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

    $('#range_soat').on('apply.daterangepicker', function(ev, picker) {
        console.log('f-inicio' + picker.startDate.format('DD-MM-YYYY'));
        console.log('f-fin' + picker.endDate.format('DD-MM-YYYY'));
        f_inicio_soat = picker.startDate.format('DD-MM-YYYY');
        f_fin_soat = picker.endDate.format('DD-MM-YYYY');
        filtro_f_inicio_soat.value = f_inicio_soat;
        filtro_f_fin_soat.value = f_fin_soat;
        filtrar();
      });

      {% if f_inicio_llamar and f_fin_llamar %}
    let start2 = moment('{{ f_inicio_llamar }}', 'DD-MM-YYYY');
    let end2 = moment('{{ f_fin_llamar }}', 'DD-MM-YYYY');
    
    
    {% else %}
      let start2 = moment().subtract(0, 'days');
      let end2 = moment();
    {% endif %}
    function cb(start2, end2) {
        $('#range_llamart span').html(start2.format('D MMMM, YYYY') + ' - ' + end2.format('D MMMM, YYYY'));
    }
    $('#range_llamar').daterangepicker({
        startDate: start2,
        endDate: end2,
        ranges: {
            'Hoy': [moment(), moment()],
            'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Ultimos 7 Dias': [moment().subtract(6, 'days'), moment()],
            'Ultimos 30 Dias': [moment().subtract(29, 'days'), moment()],
            'Este Mes': [moment().startOf('month'), moment().endOf('month')],
            'Ultimo Mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start2, end2);

    $('#range_llamar').on('apply.daterangepicker', function(ev, picker) {
        console.log('f-inicio' + picker.startDate.format('DD-MM-YYYY'));
        console.log('f-fin' + picker.endDate.format('DD-MM-YYYY'));
        f_inicio_llamar = picker.startDate.format('DD-MM-YYYY');
        f_fin_llamar = picker.endDate.format('DD-MM-YYYY');
        filtro_f_inicio_llamar.value = f_inicio_llamar;
        filtro_f_fin_llamar.value = f_fin_llamar;
        filtrar();
      });

    
    $('.call_button').click(function () {
      id_contacto = $(this).data('id');
      id_programacion_gestionar = $(this).data('programacion');
      document.getElementById('programacion_gestionar').value = id_programacion_gestionar
      $("#contacto-telefonos").html('');
      const url = Urls.tc_numeros(id_contacto);

      $.get(url, {}, function(data, status) {
        if(status == 'success'){
          let contacto = data['contacto'];
          
          $("#info-contacto").text(contacto['nombre']);
          let telefonos = data['telefonos'];
          let dialogos = data['dialogos'];
          
          if ( telefonos.length != 0 ){
            
            for (i=0; i<telefonos.length; i++) {
              let telefono = telefonos[i];
                $("#contacto-telefonos").append(`
                  <tr>
                    <td class="text-center">
                      <strong>${telefono['label']}</strong>
                    </td>
                    <td class="text-center">
                      ${telefono['telefono']}
                    </td>
                    <td class="text-center">
                      <a href="javascript:;" onClick="$(this).callContacto(this);" class="btn btn-sm btn-info flaticon-telephone" data-contacto="${contacto['id']}" data-telefono="${telefono['telefono']}">
                      </a>
                    </td>
                  </tr>
                `);

              }              
            }

          
          if ( dialogos.length != 0 ){
            
            for (i=0; i<dialogos.length; i++) {

              let dialogo = dialogos[i];
              let telefono = dialogo['numero'];
              if (telefono.startsWith('57')){
                telefono = telefono.substring(2)
              }else{
                console.log('no empezaba con 57 ')
              }
              $("#contacto-telefonos").append(`
                <tr>
                  <td class="text-center">
                    <strong>WhatsApp</strong>
                  </td>
                  <td class="text-center">
                    ${dialogo['numero']}
                  </td>
                  <td class="text-center">
                    <a href="javascript:;" onClick="$(this).callContacto(this);" class="btn btn-sm btn-info flaticon-telephone" data-contacto="${contacto['id']}" data-telefono="${telefono}">
                    </a>
                    <a href="javascript:;" onClick="$(this).writeContacto(this);" class="btn btn-sm btn-success action-button-whatsapp fab fa-whatsapp whatsapp_button" data-contacto="${contacto['id']}" data-chat-id="${dialogo['chat_id']}">
                    </a>
                  </td>
                </tr>
              `);
          
            }              
              

          }
                   
          else{
            $("#contacto-telefonos").append(`
              <tr>
                <td class="text-center">
                  <h4>No se encontraron telefonos o whatsapp asociadas a este contacto</h4>
                </td>
              </tr>
            `);

          }
          
        }
      });
      $("#modal-call").modal('show');
    });



    $('.whatsapp_button').click(function () {
      id_contacto = $(this).data('id');
      $("#contacto-whatsapps").html('');
      const url = Urls.tc_contacto_dialogo(id_contacto);
      $.get(url, {}, function(data, status) {
        if(status == 'success'){
          let contacto = data['contacto'];
          $("#info-contacto").text(contacto['nombre']);
          console.log(data);
          let dialogos = data['dialogos'];
          if (dialogos.length == 0){
            $("#contacto-whatsapps").append(`
              <tr>
                <td class="text-center">
                  <h4>No se encontraron cuentas de whatsapp asociadas a este contacto</h4>
                </td>
              </tr>
            `);
          }else{

            for (i=0; i<dialogos.length; i++) {
              let dialogo = dialogos[i];
              let pueder_ver_datos_contacto = $('#ver_datos_contacto').val();

              if (pueder_ver_datos_contacto) {
                $("#contacto-whatsapps").append(`
                  <tr>
                    <td class="text-center">
                      <strong>WhatsApp</strong>
                    </td>
                    <td class="text-center">
                      ${dialogo['numero']}
                    </td>
                    <td class="text-center">
                      <a href="javascript:;" onClick="$(this).writeContacto(this);" class="btn btn-sm btn-info" data-contacto="${contacto['id']}" data-chat-id="${dialogo['chat_id']}">
                        Contactar
                      </a>
                    </td>
                  </tr>
                `);
              }else{
                $("#contacto-whatsapps").append(`
                  <tr>
                    <td class="text-center">
                      <strong>WhatsApp</strong>
                    </td>
                    <td class="text-center">
                      ${dialogo['telefono']}
                    </td>
                    <td class="text-center">
                      <a href="javascript:;" onClick="$(this).writeContacto(this);"
                        class="btn btn-sm btn-info"
                        data-contacto="${contacto['id']}"
                        data-chat-id="${dialogo['chat_id']}">
                        Contactar
                      </a>
                    </td>
                  </tr>
                `);
              }


            }
          }
        }
      });
      $("#modal-whatsapp").modal('show');
    });

    $.fn.callContacto = function () {
      const id_contacto = $(this).data('contacto');
      const telefono = $(this).data('telefono');
      const id_campana = $("#select-campana").val().split('-')[0];
      const type_campana = $("#select-campana").val().split('-')[2];
      const name_campana = $("#select-campana").val().split('-')[1];
      var programacion_gestionar = document.getElementById('programacion_gestionar').value;
      var dic_modelo_origen_gestion = {'origen': 'programacion', 'pk': programacion_gestionar};

      var global = window.parent.document.getElementById('modelo_origen_gestion');
      global.value = JSON.stringify(dic_modelo_origen_gestion);
      console.log('el q se va a manipular por llamada : '+ dic_modelo_origen_gestion)
      console.log('el q se va a colocar por llamada : '+ global.value)

      $("#pk_contacto").val(id_contacto);
      $("#pk_campana").val(id_campana);
      $("#campana_nombre").val(name_campana);
      $("#campana_tipo").val(type_campana);
      $("#tipo_campana").val(type_campana);
      $("#telefono").val(telefono);
      $("#form-agente-llamar").submit();
    }

    $.fn.writeContacto = function () {
      const id_contacto = $(this).data('contacto');
      const chat_id = $(this).data('chat-id');

      var programacion_gestionar = document.getElementById('programacion_gestionar').value;
      var dic_modelo_origen_gestion = {'origen': 'programacion', 'pk': programacion_gestionar};

      var global = window.parent.document.getElementById('modelo_origen_gestion');
      global.value = JSON.stringify(dic_modelo_origen_gestion);
      console.log('el q se va a manipular por whatsapp : ', dic_modelo_origen_gestion)
      console.log('el q se va a colocar por whatsapp : ', global.value)

      writeWhatsapp(chat_id);
    }

  });

$("#modal-cerrar-programacion").on("hidden.bs.modal", function(){
  $(this).find('#form-cerrar-programacion')[0].reset();

  id_label_manual.style.display='none';
  fecha_reprogramar_manual.style.display='none';

});

var select_manual = document.getElementById('id_calificacion_manual');

select_manual.addEventListener('change',
  function(){

    var selectedOption = this.options[select_manual.selectedIndex];
    let url = Urls.calificacion_ajax();//aqui me toca crear la url a consultar
    console.log("Fue la calificacion gestion " + selectedOption.value);
    if (selectedOption != ''){

      $.get(url, {"calificacion": selectedOption.value }, function(data,status){
         if (status=="success"){
          var accion_programacion = data['accion_programacion'];
          var calificacion_nombre = data['calificacion_nombre'];
          console.log('ACCION DE REPROGRAMAR _:' + accion_programacion);
          console.log('SELECCIONO LA CALIFICACION _: ' + calificacion_nombre);
          console.log(accion_programacion);

          if (accion_programacion == 'finalizar'){

            if (calificacion_nombre == 'FUERA DE FECHA'){
              id_label_manual.style.display='block';
              fecha_reprogramar_manual.style.display='block';
            }
            else{
              id_label_manual.style.display='none';
            fecha_reprogramar_manual.style.display='none';
            }

          }
          else{
            id_label_manual.style.display='none';
            fecha_reprogramar_manual.style.display='none';
          }
          
        }


      });
    }

  });


var select_motivo = document.getElementById('id_motivo');

select_motivo.addEventListener('change',
  function(){
      var optionSelected = this.options[select_motivo.selectedIndex];
      let url =  Urls.tc_obtener_resultado_motivo();
      if (!optionSelected.value){
        $("#id_resultado").empty();
        $("#id_resultado").append("<option value selected>Seleccione</option>");
      }
      $.get(url,  {"pk_motivo": optionSelected.value }, function(data, status) {
        console.log(status)
        if(status == "success"){
          // $("#selectresultados").append("<option value=''>Seleccione</option>");
          $("#id_resultado").empty();
          $("#id_resultado").append("<option value selected>Seleccione</option>");
          for (var i = 0; i < data.length; i++) {
            $("#id_resultado").append("<option value='"+data[i].pk+"'>"+ data[i].nombre +'</option>');
          };
        }
        else {
          alert('Error en la consulta')
        }
      });

     
  });

  


</script>

{% endblock %}
