{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="widget-content-area custom-card p-0">

    <div class="row layout-spacing">
        <div class="col-lg-12">

            <div class="statbox widget box box-shadow">
              <div class="content-header pl-3 pr-3">

                  <div class="row mt-2">
                    <div class="col-sm-12">
                      <h2 class="text-muted">Catalogo</h2>
                      <div class="crumbs">
                        <ul id="breadcrumbs" class="breadcrumb">
                          <li><a href="javascript: void(0);"><i class="flaticon-home-fill"></i></a></li>
                          <li><a href="javascript: void(0);">Productos</a></li>
                          <!-- <li class="active"><a href="#">Products</a></li> -->
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="row" id="cancel-row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing text-center">
                        <div class="payment-top-section">
                            <h4 class="mb-5 card-title"></h4>
                            <div class="card-section mx-md-auto">
                                <div class="row mt-5">
                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-5">
                                        <a href="{% url 'categoria-list' %}">
                                            <div class="p-cards">
                                                <i class="ico-net-bnk flaticon-menu-list mb-4"></i>
                                                <h5>{{ categorias }}</h5>
                                                <h5 class="txt-net-bnk">Categorias Creadas</h5>
                                            </div>
                                        </a>
                                    </div>
                                    
                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-5">
                                        <a href="{% url 'producto-list' %}">
                                            <div class="p-cards">
                                                <i class="ico-c-d-card flaticon-menu-line-dot  mb-4"></i>
                                                <h5>{{ productos }}</h5>
                                                <h5 class="txt-c-d-card">Productos Creados</h5>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-5">
                                        <a href="{% url 'pedido-list' %}">
                                            <div class="p-cards">
                                                <i class="ico-cash flaticon-cart-1 mb-4"></i>
                                                <h5>{{ pedidos }}</h5>
                                                <h5 class="txt-cash">Pedidos</h5>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-5">
                                        <a href="{% url 'tag-list' %}">
                                            <div class="p-cards">
                                                <i class="ico-paypal flaticon-tag mb-4"></i>
                                                <h5>{{ tags }}</h5>
                                                <h5 class="txt-paypal">Etiquetas</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

              </div>



            
            </div>
            

        </div>

    </div>


</div>



{% endblock %}

