{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}

{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="widget-content-area custom-card p-0">

  <div class="row layout-spacing">
      <div class="col-lg-12">

          <div class="statbox widget box box-shadow">
              <div class="content-header pl-3 pr-3">

                  <div class="row mt-2">
                    <div class="col-sm-12">
                      <h2 class="text-muted">Programaciones
                        <a class="float-right text-muted" href="{% url 'tc-programacion-list' %}">
                          <i class="flaticon-reload-bold icon"></i>
                        </a>
                      </h2>
                      <div class="crumbs">
                        <ul id="breadcrumbs" class="breadcrumb">
                          <li><a href="javascript: void(0);"><i class="flaticon-home-fill"></i></a></li>
                          <li><a href="javascript: void(0);">Programacion</a></li>
                          <!-- <li class="active"><a href="#">Products</a></li> -->
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-6">

                        <div class="btn-group ml-2">
                          <a href="{% url 'tc-programacion-add' %}" class="btn btn-info">Agregar</a>
                        </div>

                      </div>
                      <div class="col-6">
                        <form class="" action="" method="get">
                          <div class="input-group input-group-sm">
                            <input type="text" name="buscar" class="form-control" value="{{ buscar }}" placeholder="campo buscar">
                            <span class="input-group-append">
                              <button type="submit" class="btn btn-info btn-flat">Buscar</button>
                              {% if buscar %}
                              <a href="{% url 'tc-programacion-list' %}" class="btn btn-warning float-right">
                                    Borrar
                              </a>
                              {% endif %}
                            </span>
                          </div>
                        </form>
                      </div>

                  </div>
              </div>

              <div class="widget-content widget-content-area">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Contacto</th>
                                <th class="text-center">Documento</th>
                                {% if request.user|has_group:"Supervisor" %}
                                  <th class="text-center">Agente</th>
                                {% endif %}
                                <th class="text-center">Doctor</th>
                                <th class="text-center">Fecha de cita</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Gestion</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for programacion in programaciones %}
                            <tr>
                              <td class="text-center">{{ programacion.pk}}</td>
                              <td>
                                <a href="{% url 'tc-contacto' %}?buscar={{ programacion.contacto.documento }}" target="crm">
                                  {{ programacion.contacto.get_full_name }}
                                </a>
                              </td>
                              <td>
                                {{ programacion.contacto.documento }}
                              </td>
                              {% if request.user|has_group:"Supervisor" %}
                                <td>{{ programacion.agente.username }}</td>
                              {% endif %}
                              <td class="text-center">{{ programacion.char_3 }}</td>
                              <td class="text-center">{{ programacion.date_1 }}</td>
                              <td class="text-center">
                                {% if programacion.estado_programacion == 'nuevo' %}
                                  <span class="badge bg-primary">Nuevo</span>
                                {% elif programacion.estado_programacion == 'pendiente' %}
                                  <span class="badge bg-warning">Pendiente</span>
                                {% elif programacion.estado_programacion == 'gestionado' %}
                                  <span class="badge bg-success">Gestionado</span>
                                {% endif %}
                              </td>
                              <td class="text-center">
                                {% if programacion.gestionado == True %}
                                  <span class="badge bg-success">Gestionado</span>
                                {% else %}
                                  <span class="badge bg-warning">Sin Gestionar</span>
                                {% endif %}
                              </td>
                              <td class="">
                                {% if programacion.gestionado == True %}
                                  <a href="#" onClick="parent.verGestion({{ programacion.gestion_pk.pk }})" class="text-muted lead ml-1" data-id="{{ programacion.pk }}">
                                    <i class="fas fa-eye"></i>
                                  </a>
                                {% else %}
                                  {% if request.user|has_group:"Supervisor" and programacion.gestionado == False %}
                                    <a href="{% url 'tc-programacion-update' programacion.pk %}" class="btn btn-info btn-sm">
                                      Editar
                                    </a>
                                  {% endif %}
                                  {% if request.user|has_group:"Agente" and programacion.agente == request.user %}
                                    <button class="btn btn-secondary btn-sm call_button"
                                      data-id="{{ programacion.contacto.pk }}">
                                      Contactar
                                    </button>
                                  {% endif %}
                                {% endif %}
                              </td>
                            </tr>
                          {% endfor %}

                        </tbody>
                    </table>
                </div>
              </div>

          </div>


          <!-------     PAGINATOR DE LOS REGISTROS............  -->
          <div class="card-footer clearfix">
            <span class="float-left">
              Total Registros: {{ paginator.count }}
            </span>
            <br>
            <span class="current">
              Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if is_paginated %}
            <div class="dataTables_paginate paging_simple_numbers">
              <ul class="pagination float-right">
                {% if page_obj.has_previous %}
                  <li class="paginate_button page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&buscar={{ buscar }}">«</a></li>
                {% endif %}
                {% for i in pages %}
                  {% if i == page_obj.number %}
                  <li class="paginate_button page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                  {% else %}
                  <li class="paginate_button page-item"><a class="page-link" href="?page={{ i }}&buscar={{ buscar }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="paginate_button page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&buscar={{ buscar }}">»</a></li>
                {% endif %}
              </ul>
              {% endif %}
            </div>
          </div>           <!-------   /END PAGINATOR DE LOS REGISTROS............  -->

      </div>
  </div>
</div>
<!-- Modal telefonos del contacto a llamar -->
<div class="modal fade show" id="modal-call" aria-modal="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="info-contacto" class="modal-title text-muted"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <table class="table table-condensed">
            <tbody id="contacto-telefonos">
            </tbody>
          </table>
        </div>
        <form id="form-agente-llamar"
          class="form-horizontal" action="{% url 'tc-agente-llamar-contacto' %}"
          method="post">
          {% csrf_token %}
          <input type="hidden" id="pk_agente" name="pk_agente" value="{{ user.get_agente_profile.pk }}">
          <input type="hidden" id="pk_contacto" name="pk_contacto">
          <input type="hidden" id="pk_campana" name="pk_campana" value="">
          <input type="hidden" id="campana_nombre" name="campana_nombre" value="">
          <input type="hidden" id="tipo_campana" name="tipo_campana" value="">
          <input type="hidden" id="campana_tipo" name="campana_tipo" value="">
          <input type="hidden" id="telefono" name="telefono" value="">
          <input type="hidden" id="click2call_type" name="click2call_type" value="contactos">
          <div class="form-group row">
            <label for="select-campana" class="col-sm-2 col-form-label">Campaña</label>
            <div class="col-sm-10">
              <select id="select-campana" class="form-control" name="">
                {% for campana in contacto_campanas %}
                <option value="{{ campana.0 }}-{{ campana.1 }}-{{ campana.2 }}">{{ campana.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- Modal whatsapp del contacto a escribir -->
<div class="modal fade show" id="modal-whatsapp" aria-modal="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="info-contacto" class="modal-title text-muted"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <table class="table table-condensed">
            <tbody id="contacto-whatsapps">
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

{% endblock %}

{% block page_js_level %}
<script type="text/javascript">

  $(document).ready(function () {

    $('.call_button').click(function () {
      id_contacto = $(this).data('id');
      $("#contacto-telefonos").html('');
      const url = Urls.tc_contacto_telefono(id_contacto);
      $.get(url, {}, function(data, status) {
        if(status == 'success'){
          let contacto = data['contacto'];
          $("#info-contacto").text(contacto['nombre']);
          console.log(data);
          let telefonos = data['telefonos'];
          if (telefonos.length == 0){
            $("#contacto-telefonos").append(`
              <tr>
                <td class="text-center">
                  <h4>No se encontraron telefonos para este contacto</h4>
                </td>
              </tr>
            `);
          }else{

            for (i=0; i<telefonos.length; i++) {
              let telefono = telefonos[i];
              let pueder_ver_datos_contacto = $('#ver_datos_contacto').val();

              if (pueder_ver_datos_contacto) {
                $("#contacto-telefonos").append(`
                  <tr>
                    <td class="text-center">
                      <strong>${telefono['label']}</strong>
                    </td>
                    <td class="text-center">
                      ${telefono['telefono']}
                    </td>
                    <td class="text-center">
                      <a href="javascript:;" onClick="$(this).callContacto(this);" class="btn btn-sm btn-info" data-contacto="${contacto['id']}" data-telefono="${telefono['telefono']}">
                        Llamar
                      </a>
                    </td>
                  </tr>
                `);
              }else{
                $("#contacto-telefonos").append(`
                  <tr>
                    <td class="text-center">
                      <strong>${telefono['label']}</strong>
                    </td>
                    <td class="text-center">
                      ${telefono['telefono']}
                    </td>
                    <td class="text-center">
                      <a href="javascript:;" onClick="$(this).callContacto(this);" class="btn btn-sm btn-info" data-contacto="${contacto['id']}" data-telefono="${telefono['telefono']}">
                        Llamar
                      </a>
                    </td>
                  </tr>
                `);
              }


            }
          }
        }
      });
      $("#modal-call").modal('show');
    });

    $('.whatsapp_button').click(function () {
      id_contacto = $(this).data('id');
      $("#contacto-whatsapps").html('');
      const url = Urls.tc_contacto_dialogo(id_contacto);
      $.get(url, {}, function(data, status) {
        if(status == 'success'){
          let contacto = data['contacto'];
          $("#info-contacto").text(contacto['nombre']);
          console.log(data);
          let dialogos = data['dialogos'];
          if (dialogos.length == 0){
            $("#contacto-whatsapps").append(`
              <tr>
                <td class="text-center">
                  <h4>No se encontraron cuentas de whatsapp asociadas a este contacto</h4>
                </td>
              </tr>
            `);
          }else{

            for (i=0; i<dialogos.length; i++) {
              let dialogo = dialogos[i];
              let pueder_ver_datos_contacto = $('#ver_datos_contacto').val();

              if (pueder_ver_datos_contacto) {
                $("#contacto-whatsapps").append(`
                  <tr>
                    <td class="text-center">
                      <strong>WhatsApp</strong>
                    </td>
                    <td class="text-center">
                      ${dialogo['numero']}
                    </td>
                    <td class="text-center">
                      <a href="javascript:;" onClick="$(this).writeContacto(this);" class="btn btn-sm btn-info" data-contacto="${contacto['id']}" data-chat-id="${dialogo['chat_id']}">
                        Contactar
                      </a>
                    </td>
                  </tr>
                `);
              }else{
                $("#contacto-whatsapps").append(`
                  <tr>
                    <td class="text-center">
                      <strong>WhatsApp</strong>
                    </td>
                    <td class="text-center">
                      ${dialogo['numero_mask']}
                    </td>
                    <td class="text-center">
                      <a href="javascript:;" onClick="$(this).writeContacto(this);"
                        class="btn btn-sm btn-info"
                        data-contacto="${contacto['id']}"
                        data-chat-id="${dialogo['chat_id']}">
                        Contactar
                      </a>
                    </td>
                  </tr>
                `);
              }


            }
          }
        }
      });
      $("#modal-whatsapp").modal('show');
    });

    $.fn.callContacto = function () {
      const id_contacto = $(this).data('contacto');
      const telefono = $(this).data('telefono');
      const id_campana = $("#select-campana").val().split('-')[0];
      const type_campana = $("#select-campana").val().split('-')[2];
      const name_campana = $("#select-campana").val().split('-')[1];
      $("#pk_contacto").val(id_contacto);
      $("#pk_campana").val(id_campana);
      $("#campana_nombre").val(name_campana);
      $("#campana_tipo").val(type_campana);
      $("#tipo_campana").val(type_campana);
      $("#telefono").val(telefono);
      $("#form-agente-llamar").submit();
    }

    $.fn.writeContacto = function () {
      const id_contacto = $(this).data('contacto');
      const chat_id = $(this).data('chat-id');
      writeWhatsapp(chat_id);
    }

  });

  function writeWhatsapp(chat_id) {
    let event = new CustomEvent('SendWhastAppIframe', {
      'detail': {
        'chat_id': chat_id,
      }
    });
    window.parent.document.dispatchEvent(event);
  }

</script>

{% endblock %}
