{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}


{% block page_css_level %}
{% endblock %}

{% block content %}

<div class="widget-content-area custom-card p-0">
  <div class="row layout-spacing">

      <div class="col-lg-12">

          <div class="statbox widget box box-shadow">
              <div class="content-header pl-3 pr-3">

                  <div class="row mt-2">
                    <div class="col-sm-12">
                      <h2 class="text-muted">Programaciones </h2>
                      <div class="crumbs">
                        <ul id="breadcrumbs" class="breadcrumb">
                          <li><a href="javascript: void(0);"><i class="flaticon-home-fill"></i></a></li>
                          <li><a href="{% url 'tc-programacion-list' %}">Programaciones</a></li>
                          <li><a href="javascript: void(0);">Modificar</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>

              </div>

              <div class="widget-content widget-content-area">

                <form class="form-horizontal" action="" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <div class="row">
                        {% render_field form.contacto class="form-control" type="hidden" %}
                        <div class="col-sm-12 col-md-6  mb-1">
                          <div class="row">
                            <div class="col-sm-4">
                              <label for="{{ form.nombres.id_for_label}}">{{ form.nombres.label }}:</label>
                            </div>
                            <div class="col-sm-8">
                              {% render_field form.nombres class="form-control" readonly="true" %}
                              {% for error in form.nombres.errors %}
                                  <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12 col-md-6  mb-1">
                          <div class="row">
                            <div class="col-sm-4">
                              <label for="{{ form.apellidos.id_for_label}}">{{ form.apellidos.label }}:</label>
                            </div>
                            <div class="col-sm-8">
                              {% render_field form.apellidos class="form-control" readonly="true"  %}
                              {% for error in form.apellidos.errors %}
                                  <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">

                        <div class="col-sm-12 col-md-6  mb-1">
                          <div class="row">
                            <div class="col-sm-4">
                              <label for="{{ form.tipo_identificacion.id_for_label}}">{{ form.tipo_identificacion.label }}:</label>
                            </div>
                            <div class="col-sm-8">
                              {% render_field form.tipo_identificacion class="form-control"  readonly="true" %}
                              {% for error in form.tipo_identificacion.errors %}
                                  <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12 col-md-6  mb-1">
                          <div class="row">
                            <div class="col-sm-4">
                              <label for="{{ form.documento.id_for_label}}">{{ form.documento.label }}:</label>
                            </div>
                            <div class="col-sm-8">
                              {% render_field form.documento class="form-control"  readonly="true" %}
                              {% for error in form.documento.errors %}
                                  <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">

                        {% if request.user|has_group:"Supervisor" %}
                          <div class="col-sm-12 col-md-6  mb-2">
                            <div class="row">
                              <div class="col-sm-4">
                                <label for="{{ form.agente.id_for_label}}">{{ form.agente.label }}:</label>
                              </div>
                              <div class="col-sm-8">
                                {% render_field form.agente class="form-control" required="" %}
                                {% for error in form.agente.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        {% endif %}

                        <div class="col-sm-12 col-md-6  mb-1">
                          <div class="row">
                            <div class="col-sm-4">
                              <label for="{{ form.observaciones.id_for_label}}">{{ form.observaciones.label }}:</label>
                            </div>
                            <div class="col-sm-8">
                              {% render_field form.observaciones class="form-control" rows="4" %}
                              {% for error in form.observaciones.errors %}
                                  <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <a class="btn btn-warning mb-4 mr-2"  href="{% url 'tc-programacion-list' %}">Cancelar</a>
                    <input class="btn btn-primary mb-4 mr-2" type="submit" name="" value="Guardar">
                </form>

              </div>

        </div>
      </div>

  </div>
</div>
{% endblock %}
