{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block page_css_level %}
{% endblock %}

{% block content %}

<!-- xxx OJO PARA QUE ESTA VISTA FUNCIONE DEBO MODIFICAR EL MODELO AGENTE OMNILEADS -->
<div class="content-header pl-3 pr-3">

  <div class="row mt-2">
    <div class="col-sm-12">
      {% if f_final %}
      <h2 class="text-muted">Gestiones realizadas por fecha </h2>
      {% else %}
      <h2 class="text-muted">Gestiones realizadas el día de hoy </h2>
      {% endif %}
      <div class="crumbs">
        <ul id="breadcrumbs" class="breadcrumb">
          <li><a href="javascript: void(0);"><i class="flaticon-home-fill"></i></a></li>
          <li><a href="javascript: void(0);">Gestiones</a></li>
          <!-- <li class="active"><a href="#">Products</a></li> -->
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-xl-12 col-md-12 col-12">

        <form class="" action="" method="get">
          Filtro por fechas 
          <div class="row">
            <div class="col-sm-6">
               <div class="input-group col-sm-8">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="far fa-calendar-alt"> DESDE</i>
                    </span>
                  </div>
                  <input type="date" class="form-control float-right" id="f_inicial" name="f_inicial" value="{{f_inicial}}" placeholder="dia/mes/año " >
                </div>
              <div class="input-group col-sm-8">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="far fa-calendar-alt"> HASTA</i>
                  </span>
                </div>
                <input type="date" class="form-control float-right" id="f_final" name ="f_final" value="{{f_final}}" placeholder="dia/mes/año" >
              </div>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-info">Filtrar</button>
              {% if f_final %}
              <a href="{% url 'tc-gestiones-agentes' %}" class="btn btn-warning">
                Borrar Filtro Fecha
              </a>
              {% endif %}
              <!-- <div class="input-group input-group-sm">
                <input type="text" name="buscar" class="form-control" value="{{ buscar }}" placeholder="agente, documento, nombres, telefono">
                <span class="input-group-append">
                  <button type="submit" class="btn btn-info btn-flat">Buscar</button>
                  {% if buscar %}
                  <a href="{% url 'tc-gestiones-list' %}" class="btn btn-warning float-right">
                        Borrar
                  </a>
                  {% endif %}
                </span>
              </div> -->
            </div>
          </div>
          
          
          <!-- <a href="{% url 'tc-csv-gestiones' %}?buscar={{buscar}}{{filtro}}" class="btn btn-success float-right">
            Descargar informe CSV
          </a> -->

        </form>

      </div>


  </div>
</div>
<br>
<hr>

<div class="row">
{% for agente in agentes %}
  <div class="col-lg-4 col-md-4 col-sm-6 layout-spacing">
      <div class="widget-content widget-content-area h-100 br-4 p-0">
          <div id="user-profile-card-3" class="card br-4">                                
              <div class="card-header">
                  <div class="row">
                      <div class="col-sm-5">
                          <h6 class="mt-2">Agente</h6>
                      </div>
                      <div class="col-sm-7">
                          <ul class="list-inline badge-collapsed-img mb-0 text-right mr-4">
                              <!-- <li class="list-inline-item chat-online-usr">
                                  <img alt="admin-profile" src="/static/truecontact/template/assets/img/90x90.jpg" class="ml-0">
                              </li>
                              <li class="list-inline-item chat-online-usr">
                                  <img alt="admin-profile" src="/static/truecontact/template/assets/img/90x90.jpg">
                              </li>
                              <li class="list-inline-item chat-online-usr">
                                  <img alt="admin-profile" src="/static/truecontact/template/assets/img/90x90.jpg">
                              </li> -->
                              <!-- <li class="list-inline-item chat-online-usr">
                                  <img alt="admin-profile" src="/static/truecontact/template/assets/img/90x90.jpg">
                              </li> -->
                              <!-- <li class="list-inline-item badge-notify mr-0">
                                  <div class="notification">
                                      <span class="badge badge-info badge-pill">+5 more</span>
                                  </div>
                              </li> -->
                          </ul>
                      </div>
                  </div>
              </div>
              <a href="{% url 'tc-gestiones-list' %}{{ filtro }}&buscar={{agente.username}}">
                <div class="card-body text-center">
                    
                    <div class="usr-img-meta mx-auto mt-3">
                        <img alt="admin-profile" src="/static/truecontact/template/assets/img/agente_tc.png" class="rounded-circle">
                    </div>

                    <div class="usr-info-meta mt-4">
                        <h5 class="mb-1">{{ agente.nombre }}</h5>
                        <!-- <p>{{ agente.gestiones }}</p> -->
                    </div>

                    <div class="d-flex justify-content-around mt-4">
                        <div class="profile-task-progress align-self-center">
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" style="width:{{ agente.porcentaje }}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="profile-task-percentage">
                            <p class="p-t-p-txt mb-0">Gestiones Terminadas</p>
                            <h5 class="p-t-p-value mb-0">{{ agente.gestiones_terminadas }}/{{ agente.gestiones}}</h5>
                            <p class="p-t-p-percentage mb-0">{{ agente.porcentaje}}%</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around mt-4">
                      <div class="profile-task-percentage">
                        <p class="p-t-p-txt mb-0">Llamadas</p>
                        <h5 class="p-t-p-value mb-0">{{ agente.llamadas}}</h5>
                      </div>
                      <div class="profile-task-percentage">
                        <p class="p-t-p-txt mb-0">Whatsapp</p>
                        <h5 class="p-t-p-value mb-0">{{ agente.whatsapp}}</h5>
                    </div>
                  </div>

                    

                    <div class="row mt-5">
                        <div class="col-lg-12">                                            
                            <button type="button" class="btn btn-light-info btn-rounded mb-3 mr-1"><i class="action-button-phone fas fa-phone"></i></button>
                            <button type="button" class="btn btn-light-info btn-rounded mb-3 mr-1"><i class="action-button-whatsapp fab fa-whatsapp"></i></button>
                            <!-- <button type="button" class="btn btn-light-primary btn-rounded mb-3 mr-1"><i class="flaticon-facebook-logo"></i></button> -->
                        </div>
                    </div>

                </div>
              </a>
          </div>
      </div>
  </div>
{% endfor %}

</div>

<!-- end xxx -->





{% endblock %}
