{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}

{% block page_css_level %}
{% endblock %}

{% block content %}

<!--  BEGIN CONTENT PART   conatco_detail -->
<div class="main-content">
  <div >


      <div class="row">

        <div class="col-lg-12 col-12 layout-spacing">

            <div class="statbox widget box box-shadow">
                <div class="widget-content widget-content-area rounded-pills">
                    <h3>Perfil d Contacto</h3>
                    <div class="crumbs">
                        <ul id="breadcrumbs" class="breadcrumb">
                            <li><a href="{% url 'tc-contacto' %}">Contactos</a></li>
                            <li class="active"><a href="#">Detalle Contacto</a></li>
                        </ul>
                    </div>
                    <ul class="nav nav-pills mb-3  nav-fill" id="rounded-pills-tab" role="tablist">

                        <li class="nav-item ml-1">
                            <a class="nav-link  btn-rounded active" id="rounded-pills-profile-tab" data-toggle="pill" href="#rounded-pills-profile" role="tab" aria-controls="rounded-pills-profile" aria-selected="false"><i class="flaticon-user-7"></i> Perfil</a>
                        </li>
                        <li class="nav-item ml-1">
                            <a class="nav-link  btn-rounded" id="ronded-pills-contact-tab" data-toggle="pill" href="#rounded-pills-contact" role="tab" aria-controls="rounded-pills-contact" aria-selected="false"><i class="flaticon-telephone"></i> Contacto</a>
                        </li>
                        <li class="nav-item ml-1">
                            <a class="nav-link  btn-rounded" id="ronded-pills-gestion-tab" data-toggle="pill" href="#rounded-pills-gestion" role="tab" aria-controls="rounded-pills-gestion" aria-selected="false"><i class="flaticon-telephone"></i> Gestiones</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="rounded-pills-tabContent">

                        <div class="tab-pane fade show active" id="rounded-pills-profile" role="tabpanel" aria-labelledby="rounded-pills-profile-tab">
                        <form class="form-horizontal" enctype="multipart/form-data" method="post">
                            <div class="media mt-4 mb-3">

                                        {% csrf_token %}
                                        <input type="hidden" nombre="contacto_pk" id="contacto_pk" value="{{ contacto.pk }}" >
                                        <div class="col-5">
                                            {% if contacto.imagen %}
                                            <!-- <input type="file" id="input-file-max-fs" class="dropify" data-default-file="assets/img/200x200.jpg" data-max-file-size="2M" /> -->
                                            <img id="profile-image-upload" class="profile-img-card img-fluid img-circle" src="{{ contacto.imagen.url}}" alt="">
                                            <br>
                                            {% render_field form.imagen class="form-control bm-4" %}
                                            {% else %}
                                                <img id="profile-image-upload" class="profile-img-card img-fluid img-circle" src="/static/truecontact/truecontact/img/unknow-user.png" alt="">
                                                <br>
                                            {% render_field form.imagen class="form-control bm-4" %}

                                            {% endif %}

                                            <hr>

                                              <!-- <div class="form-group">
                                                  <label for="firstName">Asesor Responsable: </label>
                                                  {% render_field form.asesor class="form-control" %}
                                                  {% for error in form.asesor.errors %}
                                                      <p class="text-danger">{{ error }}</p>
                                                  {% endfor %}
                                                  {{ form.asesor.value }}
                                              </div> -->

                                              <div class="form-group">
                                                <label for="firstName">Asesor Responsable: </label>
                                                <select class="form-control" name="asesor" id="id_asesor">
                                                    <option value="">Seleccione</option>
                                                    {% for agente  in agentes %}
                                                        {% if form.asesor.value == agente.pk %}
                                                            <option value="{{ agente.pk }}" selected>{{ agente.get_full_name}}</option>
                                                        {% else %}
                                                            <option value="{{ agente.pk }}">{{ agente.get_full_name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>


                                              <!-- {% if form.asesor.value %}
                                                <input type="hidden" name="asesor" id="id_asesor" value="{{ form.asesor.value }}">
                                              {% else %}
                                                <input type="hidden" name="asesor" id="id_asesor" value="">
                                              {% endif %} -->

                                            <a href="{% url 'tc-contacto' %}" class ="btn btn-default mb-4 mr-2 float-left" > Cancel</a>
                                            <button class="btn btn-info mb-4 mr-2 float-right" type="submit" >Actualizar</button>

                                            <h1>{{ form.errors }}</h1>
                                        </div>
                                        <div class="col-6">
                                            <div class="media-body">
                                                <div class="form">

                                                  <div class="form-group">
                                                    <div class="row mb-4">

                                                      <div class="col-6">
                                                        <div class="n-chk">
                                                          <label class="new-control new-checkbox checkbox-info">
                                                            {% render_field form.es_compania  class="new-control-input" %}
                                                            <span class="new-control-indicator"></span>Es Empleado
                                                          </label>
                                                        </div>
                                                      </div>

                                                      <div class="col-6">
                                                        <div class="n-chk">
                                                          <label class="new-control new-checkbox checkbox-secondary">
                                                            {% render_field form.bool_1  class="new-control-input" %}
                                                            <span class="new-control-indicator"></span>{{ form.bool_1.label }}
                                                          </label>
                                                        </div>
                                                      </div>

                                                      <div class="col-6">
                                                        <div class="n-chk">
                                                          <label class="new-control new-checkbox checkbox-info">
                                                            {% render_field form.bool_2  class="new-control-input" %}
                                                            <span class="new-control-indicator"></span>{{ form.bool_2.label }}
                                                          </label>
                                                        </div>
                                                      </div>
                                                      <div class="col-6">
                                                        <div class="n-chk">
                                                          <label class="new-control new-checkbox checkbox-dark">
                                                            {% render_field form.bool_3  class="new-control-input" %}
                                                            <span class="new-control-indicator"></span>{{ form.bool_3.label }}
                                                          </label>
                                                        </div>
                                                      </div>
                                                    </div>

                                                  </div>

                                                    <div class="form-group">
                                                        <label for="firstName">Nombres</label>
                                                        {% render_field form.nombres class="form-control bm-4" %}
                                                        {% for error in form.nombres.errors %}
                                                            <p class="text-danger">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lastName">Apellidos</label>
                                                        {% render_field form.apellidos class="form-control bm-4" %}
                                                        {% for error in form.apellidos.errors %}
                                                            <p class="text-danger">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="profession">Tipo Documento</label>
                                                        {% render_field form.tipo_identificacion class="form-control bm-4" %}
                                                        {% for error in form.tipo_identificacion.errors %}
                                                            <p class="text-danger">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="form-group">
                                                    <label for="firstName">Documento: </label>
                                                    {% render_field form.documento class="form-control bm-4" %}
                                                    {% for error in form.documento.errors %}
                                                        <p class="text-danger">{{ error }}</p>
                                                    {% endfor %}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lastName">Observaciones: </label>
                                                        {% render_field form.observaciones class="form-control bm-4" rows="3" %}
                                                        {% for error in form.observaciones.errors %}
                                                            <p class="text-danger">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="profession">Industria: </label>
                                                        {% render_field form.industria  class="form-control tagging" %}
                                                        {% for error in form.industria.errors %}
                                                            <p class="text-danger">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="profession">Contacto activo: </label>
                                                        {% render_field form.activo  class="form-control " %}
                                                        {% for error in form.activo.errors %}
                                                            <p class="text-danger">{{ error }}</p>
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>



                            </div>
                        </form>
                        </div>

                        <div class="tab-pane fade" id="rounded-pills-contact" role="tabpanel" aria-labelledby="ronded-pills-contact-tab">

                            <div class="widget-content widget-content-area border-tab">

                                <ul class="nav nav-tabs mt-3" id="border-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-telefonos-tab" data-toggle="tab" href="#tab-telefonos" role="tab" aria-controls="tab-telefonos" aria-selected="true"><i class="flaticon-telephone"></i> Telefonos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-correos-tab" data-toggle="tab" href="#tab-correos" role="tab" aria-controls="tab-correos" aria-selected="false"><i class="flaticon-email-1"></i> Correos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-direcciones-tab" data-toggle="tab" href="#tab-direcciones" role="tab" aria-controls="tab-direcciones" aria-selected="false"><i class="flaticon-location"></i> Direcciones</a>
                                    </li>
                                </ul>
                                <div class="tab-content mb-4" id="border-tabsContent">
                                    <div class="tab-pane fade show active" id="tab-telefonos" role="tabpanel" aria-labelledby="tab-telefonos-tab">
                                        <h4 class="mb-4"></h4>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover table-striped mb-4" name="telefonos">
                                                <thead>
                                                    <tr>
                                                        <th>Etiqueta</th>
                                                        <th>Numero</th>
                                                        <th class="text-center">Accion</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tabla-telefonos" >
                                                    {% for telefono in telefonos %}
                                                        <tr id="{{telefono.telefono}}" >
                                                            <td>
                                                                {{ telefono.label }}
                                                            </td>
                                                            <td>
                                                                {% if perms.contactos.ver_datos_contacto %}
                                                                    {{ telefono.telefono }}
                                                                {% else %}
                                                                    {{ telefono.telefono }}
                                                                {% endif %}

                                                            </td>
                                                            <td class="text-center">
                                                                <ul class="table-controls">
                                                                    <li><a href="javascript:void(0);"  onclick="$(this).editartelefonoconsola(this);" data-toggle="tooltip" data-placement="top" data-telefono="{{telefono.telefono}}" data-contacto="{{contacto.pk}}" title="Edit"><i class="flaticon-fill-tick text-primary fs-20" ></i></a></li>
                                                                    <li><a href="javascript:void(0);" onclick="$(this).eliminartelefonoconsola(this);" data-toggle="tooltip" data-placement="top" data-telefono="{{telefono.telefono}}" data-contacto="{{contacto.pk}}" title="Delete"><i class="flaticon-close-fill text-danger fs-20"></i></a></li>
                                                                  </ul>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                            <button class="btn btn-secondary mb-4 mr-2 " id="btn-add-telefono">+ Añadir</button>
                                        </div>
                                        <br>

                                    </div>
                                    <div class="tab-pane fade" id="tab-correos" role="tabpanel" aria-labelledby="tab-correos-tab">
                                        <h4 class="mb-4"></h4>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover table-striped mb-4" name="correos">
                                                <thead>
                                                    <tr>
                                                        <th>Etiqueta</th>
                                                        <th>Correo</th>
                                                        <th class="text-center">Accion</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tabla-correos" >
                                                    {% for email in emails %}
                                                        <tr id="tr{{ email.id }}" >
                                                            <td>
                                                                {{ email.label }}
                                                            </td>
                                                            <td>
                                                                {% if perms.contactos.ver_datos_contacto %}
                                                                    {{ email.email }}
                                                                {% else %}
                                                                    {{ email.email }}
                                                                {% endif %}
                                                            </td>
                                                            {% if request.user|has_group:"Supervisor"%}
                                                            <!-- <td class="text-center"><a href="javascript:;" onClick="$(this).updateEmail(this);" class="btn btn-success btn-rounded mb-4 mr-2" data-id="{{ presentacion.pk }}">
                                                                Modificar </a>
                                                            </td> -->
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                            <button class="btn btn-secondary mb-4 mr-2 " id="btn-add-correo">+ Añadir</button>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="tab-pane fade" id="tab-direcciones" role="tabpanel" aria-labelledby="tab-direcciones-tab">
                                        <h4 class="mb-4"></h4>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover table-striped mb-4" name="direcciones">
                                                <thead>
                                                    <tr>
                                                        <th>Etiqueta</th>
                                                        <th>Direccion</th>
                                                        <th>Observaciones</th>
                                                        <th class="text-center">Accion</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tabla-direcciones" >
                                                    {% for direccion in direcciones %}
                                                        <tr id="tr{{ direccion.id }}" >
                                                            <td>
                                                                {{ direccion.label }}
                                                            </td>
                                                            <td>
                                                                {{ direccion.d1 }}
                                                            </td>
                                                            <td>
                                                                {{ direccion.d2 }}
                                                            </td>
                                                            {% if request.user|has_group:"Supervisor"%}
                                                            <!-- <td class="text-center"><a href="javascript:;" onClick="$(this).updatePresentacion(this);" class="btn btn-success btn-rounded mb-4 mr-2" data-id="{{ presentacion.pk }}">
                                                                Modificar </a>
                                                            </td> -->
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                            <button class="btn btn-secondary mb-4 mr-2 " id="btn-add-direccion">+ Añadir</button>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="tab-pane fade" id="rounded-pills-gestion" role="tabpanel" aria-labelledby="ronded-pills-gestion-tab">
                            <div class="widget-content widget-content-area border-tab">
                                <div class="widget-content widget-content-area">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
                                            <thead>
                                                <tr>
                                                    <th class="">ID</th>
                                                    <th class="">Nombre</th>
                                                    <th class="">Agente</th>
                                                    <th class="">Fecha</th>
                                                    <th class="">Contacto</th>
                                                    <th class="text-center">Accion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for gestion in gestiones %}
                                                <tr>
                                                <td>{{ gestion.pk}}    </td>
                                                <td>{{ gestion.contacto }}</td>
                                                <td>{{ gestion.creado_por }}</td>
                                                <td>{{ gestion.fecha_creacion }}</td>
                                                <td>{{ gestion.medio }}</td>
                                                <td>
                                                    {% if gestion.estado == 'pendiente' %}
                                                    <span class="badge bg-warning">{{ gestion.estado }}</span>
                                                    {% elif gestion.estado == 'en_proceso' %}
                                                    <span class="badge bg-primary">{{ gestion.estado }}</span>
                                                    {% elif gestion.estado == 'finalizado' %}
                                                    <span class="badge bg-success">{{ gestion.estado }}</span>
                                                    {% else %}
                                                    <span class="badge bg-danger">Error</span>
                                                    {% endif %}
                                                    <a href="#" onClick="parent.verGestion({{ gestion.pk }})" class="text-muted lead ml-1" data-id="{{ gestion.pk }}">
                                                    <i class="fas fa-eye"></i>
                                                    </a>
                                                    <!-- {% if gestion.estado == 'pendiente' or gestion.estado == 'en_proceso' %}
                                                    <a href="{#% url 'tc-contacto-edit-gestion' gestion.pk %#}" class="text-muted lead gestion-edit" data-id="{{ gestion.pk }}">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    {% endif %} -->

                                                </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>


  </div>
</div>
<!--  END CONTENT PART  -->
<script type="text/javascript">

    var index = 1;
        // ********  FUNCIONES DE AÑADIR  Telefonos  ********////////

    const btn_add_telefono = document.getElementById('btn-add-telefono');

    btn_add_telefono.addEventListener('click', () => {
        contacto_pk = $('#contacto_pk').val();
        console.log("Agregarndo telefono al contacto: " + index)
        var tr_telefono = `
        <tr id="tr${index}">
            <td>
                <select name="label" required="" class="form-control bm-4" id="id_label${index}">
                <option value="" selected="">-----</option>
                <option value="whatsapp">Whastapp</option>
                <option value="principal">Principal</option>
                <option value="casa">Casa</option>
                <option value="trabajo">Trabajo</option>
                <option value="movil">Movil</option>
                <option value="estudio">Estudio</option>
                <option value="particular">Particular</option>
                <option value="otro">Otro</option>
                </select>
            </td>
            <td><input type="number" step="1" class="form-control" required="" id="id_numero${index}"></td>
            <td class="text-center">
                <a href="javascript:;" onclick="$(this).addTelefono(this);" class="btn btn-outline-primary mb-4 mr-2" data-id="${index}">
                Añadir </a>
            </td>

        </tr>
        `;
        $("#tabla-telefonos").append(tr_telefono);
        index++;
    });

    $.fn.addTelefono = function(){

        const tr_id = $(this).data('id');
        var contacto_pk = $("#contacto_pk").val();
        var label = $("#id_label"+tr_id).val();
        var numero = $("#id_numero"+tr_id).val();
        console.log("CONSULTANDO TELEFONO is whatsapp ?!", numero);
        numero_telefono = "57"+numero+"@c.us";
        let url = Urls.tc_validar_telefono_ajax();
        $.get(url, {"numero_telefono": numero_telefono }, function(data,status){
            if (status=="success"){
            var respuesta = data['respuesta'];
            console.log("resultados", respuesta )
                if (respuesta['existe'] === true ){
                    console.log("YA EXISTE EL CONTACTO ASESOR!!!")
                    var nombre_contacto = respuesta['contacto_full_name'];
                    var asesor = respuesta['agente_full_name'];
                    swal.fire({
                    icon: 'error',
                    title: 'Contacto ya existe: ' + nombre_contacto,
                    text: 'Agente asesor: ' + asesor
                    })
                }else{
                    console.log("no existe todo bien.....")
                    let url = "{% url 'tc-contacto-telefono-add-ajax' %}";
                    $('#tr'+tr_id).remove();

                    $.get(url, {'contacto_pk': contacto_pk, 'label':label, 'numero':numero }, function(data, status){
                        if (status == "success"){
                            var contactodatos_pk = data['contactodatos_pk'];
                            console.log("ok llego bien"+ contactodatos_pk);

                            var tr_telefono = `
                                <tr id="${numero}">
                                    <td>${label}</td>
                                    <td>${numero}</td>
                                    <td class="text-center">
                                        <ul class="table-controls">
                                        <li><a href="javascript:void(0);"  onclick="$(this).editartelefonoconsola(this);" data-toggle="tooltip" data-placement="top" data-telefono="${numero}" data-contacto="${contacto_pk}" title="Edit"><i class="flaticon-fill-tick text-primary fs-20" ></i></a></li>
                                        <li><a href="javascript:void(0);" onclick="$(this).eliminartelefonoconsola(this);" data-toggle="tooltip" data-placement="top" data-telefono="${numero}" data-contacto="${contacto_pk}" title="Delete"><i class="flaticon-close-fill text-danger fs-20"></i></a></li>
                                        </ul>
                                    </td>

                                </tr>
                                `;
                            $("#tabla-telefonos").append(tr_telefono);
                        }
                    });
                }
            }
        });

    }

        // ********  FUNCIONES DE AÑADIR  CORREOS  ********////////
    const btn_add_correo = document.getElementById('btn-add-correo');

    btn_add_correo.addEventListener('click', () => {
        contacto_pk = $('#contacto_pk').val();
        console.log("Agregarndo correo al contacto: " + index)
        var tr_correo = `
        <tr id="tr${index}">
            <td>
                <select name="label" required="" class="form-control bm-4" id="id_label${index}">
                <option value="" selected="">-----</option>
                <option value="principal">Principal</option>
                <option value="casa">Casa</option>
                <option value="trabajo">Trabajo</option>
                <option value="movil">Movil</option>
                <option value="estudio">Estudio</option>
                <option value="particular">Particular</option>
                <option value="otro">Otro</option>
                </select>
            </td>
            <td><input type="email" step="1" class="form-control" required="" id="id_correo${index}"></td>
            <td class="text-center">
                <a href="javascript:;" onclick="$(this).addCorreo(this);" class="btn btn-outline-primary mb-4 mr-2" data-id="${index}">
                Añadir </a>
            </td>

        </tr>
        `;
        $("#tabla-correos").append(tr_correo);
        index++;
    });

    $.fn.addCorreo = function(){
        const tr_id = $(this).data('id');
        var contacto_pk = $("#contacto_pk").val();
        var label = $("#id_label"+tr_id).val();
        var correo = $("#id_correo"+tr_id).val();
        $('#tr'+tr_id).remove();

        let url = "{% url 'tc-contacto-correo-add-ajax' %}";
        $.get(url, {'contacto_pk': contacto_pk, 'label':label, 'correo':correo }, function(data, status){
            if (status == "success"){
                var contactodatos_pk = data['contactodatos_pk'];
                console.log("ok llego bien"+ contactodatos_pk);
                var tr_correo = `
                    <tr id="tr${contactodatos_pk}">
                        <td>${label}</td>
                        <td>${correo}</td>
                        <td class="text-center"><a href="javascript:;" onClick="$(this).updateCorreo(this);" class="btn btn-success btn-rounded mb-4 mr-2" data-id="${contactodatos_pk}">
                            Agregado ok! </a>
                        </td>

                    </tr>
                    `;
                $("#tabla-correos").append(tr_correo);

            }
        })
        }
            // ************************************************///////

     // ********  FUNCIONES DE AÑADIR  Direcciones  ********////////
     const btn_add_direccion = document.getElementById('btn-add-direccion');

    btn_add_direccion.addEventListener('click', () => {
        contacto_pk = $('#contacto_pk').val();
        console.log("Agregarndo direccion al contacto: " + index)
        var tr_direccion = `
        <tr id="tr${index}">
            <td>
                <select name="label" required="" class="form-control bm-4" id="id_label${index}">
                <option value="" selected="">-----</option>
                <option value="principal">Principal</option>
                <option value="casa">Casa</option>
                <option value="trabajo">Trabajo</option>
                <option value="estudio">Estudio</option>
                <option value="particular">Particular</option>
                <option value="otro">Otro</option>
                </select>
            </td>
            <td><input type="text" step="1" class="form-control" required="" id="id_direccion${index}" placeholder="Principal" ></td>
            <td><input type="text" step="1" class="form-control" required="" id="id_observaciones${index}" placeholder="Apto, manzana, etc." ></td>
            <td class="text-center">
                <a href="javascript:;" onclick="$(this).addDireccion(this);" class="btn btn-outline-primary mb-4 mr-2" data-id="${index}">
                Añadir </a>
            </td>

        </tr>
        `;
        $("#tabla-direcciones").append(tr_direccion);
        index++;
    });

    $.fn.addDireccion = function(){
        const tr_id = $(this).data('id');
        var contacto_pk = $("#contacto_pk").val();
        var label = $("#id_label"+tr_id).val();
        var direccion = $("#id_direccion"+tr_id).val();
        var observaciones = $("#id_observaciones"+tr_id).val();
        $('#tr'+tr_id).remove();

        let url = "{% url 'tc-contacto-direccion-add-ajax' %}";
        $.get(url, {'contacto_pk': contacto_pk, 'label':label, 'direccion':direccion, 'observaciones':observaciones }, function(data, status){
            if (status == "success"){
                var contactodatos_pk = data['contactodatos_pk'];
                console.log("ok llego bien"+ contactodatos_pk);
                var tr_direccion = `
                    <tr id="tr${contactodatos_pk}">
                        <td>${label}</td>
                        <td>${direccion}</td>
                        <td>${observaciones}</td>
                        <td class="text-center"><a href="javascript:;" onClick="$(this).updateDireccion(this);" class="btn btn-success btn-rounded mb-4 mr-2" data-id="${contactodatos_pk}">
                            Agregado ok! </a>
                        </td>

                    </tr>
                    `;
                $("#tabla-direcciones").append(tr_direccion);

            }
        })
        }
    // ************************************************///////
    $.fn.eliminartelefonoconsola = function () {
    const numero_telefono = $(this).data('telefono');
    const id_contacto = $(this).data('contacto');
    Swal.fire({
      title: 'Quiere eliminar el número ?',
      text: numero_telefono,
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si'
    }).then((result) => {
      if (result.isConfirmed) {
        let url = Urls.tc_eliminar_telefono_ajax()

        $.get(url, {'id_contacto': id_contacto,'numero_telefono':numero_telefono }, function(data, status){
            if (status == "success"){
            
              Swal.fire(
                'Eliminado!',
                'Se eliminó correctamente el número.',
                'success'
              )
                var button_id = numero_telefono;
                  //cuando da click obtenemos el id del boton
                $('#' + button_id +'').remove(); //borra la fila
                  
                
            }
        })

        
      }
    })

  }

  $.fn.editartelefonoconsola = function () {
    const numero_telefono = $(this).data('telefono');
    const id_contacto = $(this).data('contacto');

   
    var button_id = numero_telefono;
    // $('#' + button_id + '').remove();
    tr_button = document.getElementById(button_id).innerText;
    posicion_t = tr_button.indexOf("\t")
    label_button = tr_button.slice(0,posicion_t)


    let table_telefonos_main_body = document.querySelector('#contacto-telefonos tbody');
    contacto_pk = $('#contacto_pk').val();
    console.log("Agregarndo nuevo telefono al contacto: " + button_id)
    var tr_telefono = `
    <tr id="tr${button_id}">
        <td>
            <select name="label" required="" class="form-control bm-4" id="id_label${button_id}">
            <option value="" selected="">----</option>
            <option value="whatsapp">Whatsapp</option>
            <option value="principal">Principal</option>
            <option value="casa">Casa</option>
            <option value="trabajo">Trabajo</option>
            <option value="movil">Movil</option>
            <option value="estudio">Estudio</option>
            <option value="particular">Particular</option>|
            <option value="otro">Otro</option>
            </select>
        </td>
        <td><input type="number" step="1" class="form-control" required="${button_id}" id="id_numero${button_id}"> </td>
        <td class="text-center">
            <a href="javascript:;" onclick="$(this).ModificarTelefono(this);" class="btn btn-outline-primary mb-4 mr-2" data-contacto="${contacto_pk}" data-id="${button_id}">
            Modificar </a>
        </td>
  
    </tr>
    `;
    $('#' + button_id + '').replaceWith(tr_telefono);
    document.getElementById('id_numero'+button_id).value=button_id;
  }


  $.fn.ModificarTelefono = function () {
  const tr_id = $(this).data('id');
  const id_contacto = $(this).data('contacto');
  const numero_telefono = tr_id;
    console.log(" $$$$$$$$$$$$$$$$$$$$$$$$$$$44 " ,id_contacto )
  var contacto_pk = id_contacto
  var label = $("#id_label"+tr_id).val();
  var numero = $("#id_numero"+tr_id).val();
  
  let url = Urls.tc_editar_telefono_ajax()
  $('#tr'+tr_id).remove();

  $.get(url, {'contacto_pk': contacto_pk, 'label':label, 'numero':numero,'numero_telefono':numero_telefono }, function(data, status){
      if (status == "success"){
          var contactodatos_pk = data['contactodatos_pk'];
          console.log("ok llego bien"+ contactodatos_pk);

          var tr_telefono = `
                <tr id="${numero}">
                  <td>${label}</td>
                  <td>${numero}</td>
                  <td class="text-center">
                    <ul class="table-controls">
                      <li><a href="javascript:void(0);"  onclick="$(this).editartelefonoconsola(this);" data-toggle="tooltip" data-placement="top" data-telefono="${numero}" data-contacto="${contacto_pk}" title="Edit"><i class="flaticon-fill-tick text-primary fs-20" ></i></a></li>
                      <li><a href="javascript:void(0);" onclick="$(this).eliminartelefonoconsola(this);" data-toggle="tooltip" data-placement="top" data-telefono="${numero}" data-contacto="${contacto_pk}" title="Delete"><i class="flaticon-close-fill text-danger fs-20"></i></a></li>
                    </ul>
                    </td>

              </tr>
              `;
          $("#tabla-telefonos").append(tr_telefono);
      
      }
  })


  }

</script>
{% endblock %}
