{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="widget-content-area custom-card p-0">

  <div class="row layout-spacing">
      <div class="col-lg-12">

          <div class="statbox widget box box-shadow">
              <div class="content-header pl-3 pr-3">

                  <div class="row mt-2">
                    <div class="col-sm-12">
                      <h2 class="text-muted">Contactos
                        <a class="float-right text-muted" href="{% url 'tc-contacto' %}">
                          <i class="flaticon-reload-bold icon"></i>
                        </a>
                      </h2>
                      <div class="crumbs">
                        <ul id="breadcrumbs" class="breadcrumb">
                          <li><a href="javascript: void(0);"><i class="flaticon-home-fill"></i></a></li>
                          <li><a href="javascript: void(0);">Contactos</a></li>
                          <!-- <li class="active"><a href="#">Products</a></li> -->
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-6">

                        <div class="btn-group ml-2">
                          <a href="{% url 'tc-contacto-add' %}" class="btn btn-info">Agregar</a>
                          <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"> + </span>
                          </button>
                          <div class="dropdown-menu">
                            <a href="javascript:void(0);" class="dropdown-item"><i class="flaticon-home-fill mr-1"></i>Action</a>
                            <a href="javascript:void(0);" class="dropdown-item"><i class="flaticon-gear-fill mr-1"></i>Another action</a>
                          </div>
                        </div>

                      </div>
                      <div class="col-6">
                        <form class="" action="" method="get">
                          <div class="input-group input-group-sm">
                            <input type="text" name="buscar" class="form-control" value="{{ buscar }}" placeholder="documento, nombres, telefono">
                            <span class="input-group-append">
                              <button type="submit" class="btn btn-info btn-flat">Buscar</button>
                              {% if buscar %}
                              <a href="{% url 'tc-contacto' %}" class="btn btn-warning float-right">
                                    Borrar
                              </a>
                              {% endif %}
                            </span>
                          </div>
                        </form>
                      </div>

                  </div>
              </div>

              <div class="widget-content widget-content-area">
                <div class="row">

                  {% for contacto in contactos %}

                  <div id="contacto-{{contacto.pk}}" class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mb-4"> <!--card -->
                      <div class="contact-1 text-center h-100"> <!-- card_container -->

                        <div class="card-top-section text-right"> <!--card_top_seccion -->
                            <div class="dropdown">
                              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon-dots"></i>
                              </a>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink5">
                                <a class="dropdown-item" href="javascript:void(0);">Ver Pedidos</a>
                                <a class="dropdown-item" href="javascript:void(0);">Ver Facturas</a>
                                <a class="dropdown-item" href="javascript:void(0);">Seguir</a>
                              </div>
                            </div>
                        </div>

                          <div class="card-mid-section mb-3"> <!-- div section middle -->
                              <div class="usr-profile mx-auto"> <!-- div contacto -->
                                  {% if contacto.obtener_gestiones_pendientes.count > 0 %}
                                    <span class="badge badge-warning">{{ contacto.obtener_gestiones_pendientes.count }}</span> <!-- span gestiones contacto -->
                                  {% endif %}
                                  {% if contacto.imagen %}
                                    <img alt="admin-profile" src="{{ contacto.obtener_imagen_url }}" class="rounded-circle"> <!-- img contacto -->
                                  {% else %}
                                    <img alt="admin-profile" src="{% static 'truecontact/template/assets/img/90x90.jpg' %}" class="rounded-circle"> <!-- img contacto -->
                                  {% endif %}
                              </div>
                              <div class="team-content mb-2"> <!-- div info contacto -->
                                  <h4 class="mt-2 mb-0"> {{ contacto.get_short_name }}</h4> <!-- nombre contacto -->
                                  <span>{{ contacto.get_industrias }}</span> <!-- cargo contacto -->
                                  <p class="mt-2 mb-3">{{ contacto.email }}</p> <!-- email contacto  -->
                                  <a href="{% url 'tc-contacto-update' contacto.pk %}" class="btn btn-gradient-warning btn-rounded mb-4">Ver Perfil</a>
                              </div>
                          </div>

                          <div class="card-bottom-section"> <!-- card_middle_seccion -->
                              <div class="accion-buttons">
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <i class="action-button-phone fas fa-phone call_button"
                                            data-id="{{ contacto.pk }}"></i>
                                      </li>
                                      {% if contacto.dialogo_set.all.count != 0 %}

                                      {% endif %}
                                      <li class="list-inline-item">
                                          <i class="action-button-whatsapp fab fa-whatsapp whatsapp_button"
                                            data-id="{{ contacto.pk }}"></i>
                                      </li>
                                      <li class="list-inline-item">
                                          <i class="action-button-facebook fab fa-facebook-f"></i>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}

                </div>
              </div>
          </div>


          <!-------     PAGINATOR DE LOS REGISTROS............  -->
          <div class="card-footer clearfix">
            <span class="float-left">
              Total Registros: {{ paginator.count }}
            </span>
            <br>
            <span class="current">
              Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if is_paginated %}
            <div class="dataTables_paginate paging_simple_numbers">
              <ul class="pagination float-right">
                {% if page_obj.has_previous %}
                  <li class="paginate_button page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&buscar={{ buscar }}">«</a></li>
                {% endif %}
                {% for i in pages %}
                  {% if i == page_obj.number %}
                  <li class="paginate_button page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                  {% else %}
                  <li class="paginate_button page-item"><a class="page-link" href="?page={{ i }}&buscar={{ buscar }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="paginate_button page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&buscar={{ buscar }}">»</a></li>
                {% endif %}
              </ul>
              {% endif %}
            </div>
          </div>           <!-------   /END PAGINATOR DE LOS REGISTROS............  -->

      </div>
  </div>
</div>

<!-- Modal telefonos del contacto a llamar -->
<div class="modal fade show" id="modal-call" aria-modal="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="info-contacto" class="modal-title text-muted"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <table class="table table-condensed">
            <tbody id="contacto-telefonos">
            </tbody>
          </table>
        </div>
        <form id="form-agente-llamar"
          class="form-horizontal" action="{% url 'tc-agente-llamar-contacto' %}"
          method="post">
          {% csrf_token %}
          <input type="hidden" id="pk_agente" name="pk_agente" value="{{ user.get_agente_profile.pk }}">
          <input type="hidden" id="pk_contacto" name="pk_contacto">
          <input type="hidden" id="pk_campana" name="pk_campana" value="">
          <input type="hidden" id="campana_nombre" name="campana_nombre" value="">
          <input type="hidden" id="tipo_campana" name="tipo_campana" value="">
          <input type="hidden" id="campana_tipo" name="campana_tipo" value="">
          <input type="hidden" id="telefono" name="telefono" value="">
          <input type="hidden" id="click2call_type" name="click2call_type" value="contactos">
          <div class="form-group row">
            <label for="select-campana" class="col-sm-2 col-form-label">Campaña</label>
            <div class="col-sm-10">
              <select id="select-campana" class="form-control" name="">
                {% for campana in contacto_campanas %}
                <option value="{{ campana.0 }}-{{ campana.1 }}-{{ campana.2 }}">{{ campana.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<!-- Modal whatsapp del contacto a escribir -->
<div class="modal fade show" id="modal-whatsapp" aria-modal="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="info-contacto" class="modal-title text-muted"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <table class="table table-condensed">
            <tbody id="contacto-whatsapps">
            </tbody>
          </table>
        </div>
      </div>
      <input type="hidden" id="id_contacto" name="id_contacto">
      <input type="hidden" id="campana_nombre_whatsapp" name="campana_nombre_whatsapp" value="">
      <input type="hidden" id="campana_id_whatsapp" name="campana_id_whatsapp" value="">
      <input type="hidden" id="campana_tipo_whatsapp" name="campana_tipo_whatsapp" value="">
      <div class="form-group row">
        <label for="select-campana-whatsap" class="col-sm-2 col-form-label">Campaña</label>
        <div class="col-sm-10">
          <select id="select-campana-whatsapps" class="form-control" name="select-campana-whatsapps">
            {% for campana in contacto_campanas %}
            <option value="{{ campana.0 }}-{{ campana.1 }}-{{ campana.2 }}">{{ campana.1 }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>



{% endblock %}

{% block page_js_level %}
<script type="text/javascript">

  $(document).ready(function () {

    $('.call_button').click(function () {
      id_contacto = $(this).data('id');
      $("#contacto-telefonos").html('');
      const url = Urls.tc_contacto_telefono(id_contacto);
      $.get(url, {}, function(data, status) {
        if(status == 'success'){
          let contacto = data['contacto'];
          $("#info-contacto").text(contacto['nombre']);
          let telefonos = data['telefonos'];
          if (telefonos.length == 0){
            $("#contacto-telefonos").append(`
              <tr>
                <td class="text-center">
                  <h4>No se encontraron telefonos para este contacto</h4>
                </td>
              </tr>
            `);
          }else{

            for (i=0; i<telefonos.length; i++) {
              let telefono = telefonos[i];
              let pueder_ver_datos_contacto = $('#ver_datos_contacto').val();

              if (pueder_ver_datos_contacto) {
                $("#contacto-telefonos").append(`
                  <tr>
                    <td class="text-center">
                      <strong>${telefono['label']}</strong>
                    </td>
                    <td class="text-center">
                      ${telefono['telefono']}
                    </td>
                    <td class="text-center">
                      <a href="javascript:;" onClick="$(this).callContacto(this);" class="btn btn-sm btn-info" data-contacto="${contacto['id']}" data-telefono="${telefono['telefono']}">
                        Llamar
                      </a>
                    </td>
                  </tr>
                `);
              }else{
                $("#contacto-telefonos").append(`
                  <tr>
                    <td class="text-center">
                      <strong>${telefono['label']}</strong>
                    </td>
                    <td class="text-center">
                      ${telefono['telefono']}
                    </td>
                    <td class="text-center">
                      <a href="javascript:;" onClick="$(this).callContacto(this);" class="btn btn-sm btn-info" data-contacto="${contacto['id']}" data-telefono="${telefono['telefono']}">
                        Llamar
                      </a>
                    </td>
                  </tr>
                `);
              }


            }
          }
        }
      });
      $("#modal-call").modal('show');
    });

    $('.whatsapp_button').click(function () {
      var campana = $("#select-campana-whatsapps option:selected").text();
      var id_contacto = $(this).data('id');
      //var id_campana = $("#select-campana-whatsapps").val().split('-')[0];
      var name_campana = $("#select-campana-whatsapps").val().split('-')[1];
      //var type_campana = $("#select-campana-whatsapps").val().split('-')[2];
      //
      //$("#pk_contacto").val(id_contacto);
      //$("#campana_nombre_whatsapp").val(name_campana);
      //$("#campana_tipo_whatsapp").val(type_campana);
      //$("#campana_id_whatsapp").val(id_campana);
      //$("#id_contacto").val(id_contacto);
      id_contacto = $(this).data('id');
      $("#contacto-whatsapps").html('');
      const url = Urls.tc_contacto_dialogo(id_contacto);
      $.get(url, {}, function(data, status) {
        if(status == 'success'){
          let contacto = data['contacto'];
          $("#info-contacto").text(contacto['nombre']);
          console.log(data);
          let dialogos = data['dialogos'];
          if (dialogos.length == 0){
            $("#contacto-whatsapps").append(`
              <tr>
                <td class="text-center">
                  <h4>No se encontraron cuentas de whatsapp asociadas a este contacto</h4>
                </td>
              </tr>
            `);
          }else{

            for (i=0; i<dialogos.length; i++) {
              let dialogo = dialogos[i];
              let pueder_ver_datos_contacto = window.parent.$('#ver_datos_contacto').val();
              if (pueder_ver_datos_contacto == true ) {
                $("#contacto-whatsapps").append(`
                  <tr>
                    <td class="text-center">
                      <strong>WhatsApp</strong>
                    </td>
                    <td class="text-center">
                      ${dialogo['numero']}
                    </td>
                    <td class="text-center">
                      <a href="javascript:;" onClick="$(this).writeContacto(this);" 
                      class="btn btn-sm btn-info"
                      data-contacto="${contacto['id']}"
                      data-chat-id="${dialogo['chat_id']}"
                      data-nombre-campana="${name_campana}">
                      Contactar
                      </a>
                    </td>
                  </tr>
                `);
              }else{
                $("#contacto-whatsapps").append(`
                  <tr>
                    <td class="text-center">
                      <strong>WhatsApp</strong>
                    </td>
                    <td class="text-center">
                      ${dialogo['numero']}
                    </td>
                    <td class="text-center">
                      <a href="javascript:;" onClick="$(this).writeContacto(this);"
                        class="btn btn-sm btn-info"
                        data-contacto="${contacto['id']}"
                        data-chat-id="${dialogo['chat_id']}"
                        data-nombre-campana="${name_campana}">
                        Contactar
                      </a>
                    </td>
                  </tr>
                `);
              }


            }
          }
        }
      });
      $("#modal-whatsapp").modal('show');
    });

    $.fn.callContacto = function () {
      const id_contacto = $(this).data('contacto');
      const telefono = $(this).data('telefono');
      const id_campana = $("#select-campana").val().split('-')[0];
      const type_campana = $("#select-campana").val().split('-')[2];
      const name_campana = $("#select-campana").val().split('-')[1];
      $("#pk_contacto").val(id_contacto);
      $("#pk_campana").val(id_campana);
      $("#campana_nombre").val(name_campana);
      $("#campana_tipo").val(type_campana);
      $("#tipo_campana").val(type_campana);
      $("#telefono").val(telefono);
      $("#form-agente-llamar").submit();
    }

    $.fn.writeContacto = function () {
      const id_contacto = $(this).data('contacto');
      const chat_id = $(this).data('chat-id');
      const name_campana = $(this).data('nombre-campana');
      console.log(">>>> writeContacto >>> Variables id_contacto:",id_contacto );
      console.log(">>>> writeContacto >>> Variables  chat_id:", chat_id );
      console.log(">>>> writeContacto >>> Variables : name_campana", name_campana );
      console.log("Enviando WhatsApp");

      let url = Urls.tc_validar_telefono_ajax();
      $.get(url, {"numero_telefono": chat_id }, function(data,status){
        if (status=="success"){
          var respuesta = data['respuesta'];
          console.log("resultados", respuesta )

          if (respuesta['estado'] === 'en_gestion' ){
            console.log("YA EXISTE EL CONTACTO ASESOR!!!")
            var nombre_contacto = respuesta['contacto_full_name'];
            var asesor = respuesta['agente_full_name'];
            swal.fire({
              icon: 'error',
              title: 'Contacto ya existe: ' + nombre_contacto,
              text: 'El Agente asesor: ' + asesor + ' lo esta gestionando'
            })

          }else if (respuesta['estado'] === 'bot' ){
            console.log("YA EXISTE CONTACTO EN SALA ESPERA !!")
            var nombre_contacto = respuesta['contacto_full_name'];
            var asesor = respuesta['agente_full_name'];
            swal.fire({
              icon: 'error',
              title: 'Contacto' + nombre_contacto + ' esta en robot en un momento entrara a la cola: ' ,
              text: 'El Agente asesor: ' + asesor + ' lo esta gestionando'
            })

          }else if (respuesta['estado'] === 'encuesta' ){
            console.log("CONTACTO EN ENCUESTA !!!")
            var nombre_contacto = respuesta['contacto_full_name'];
            var asesor = respuesta['agente_full_name'];
            swal.fire({
              icon: 'error',
              title: 'Contacto: ' + nombre_contacto + ' en encuesta en unos minutos estará disponible',
              text: 'El Agente asesor: ' + asesor + ' lo esta gestionando'
            })

          }else{
            console.log("no existe todo bien.....Activo modal campaña");
            //   EJECUTO LA FUNCION
            //
            //CARGO LOS MENSAJES DEL DIALOGO
            let string_url = window.location.origin + Urls.tc_dialogo_mensajes(chat_id);
            let url = new URL(string_url),
              params = { 'estado': 'todos', 'nombre_campana': name_campana, 'nuevo_chat': 'SI' };
            Object.keys(params).forEach(key => url.searchParams.append(key, params[key]));
            fetch(url, {
              method: 'get',
            })
              .then(function (res) {
                return res.json();
              })
              .then(function (respuesta) {
                let puede_gestionar = respuesta['puede_gestionar'];
                let dialogo_info = respuesta['dialogo'];
                if (puede_gestionar) {
                  if (dialogo_info['pk_gestion'] == '' ) {   //el PK NO EXISTE ES UNA GESTION SALIENTE NUEVA
                    console.log(">>>> cargar_mensajes_dialogo >> Y CREO LA GESTION nUEVA :", dialogo_info);
                    var origen_gestion = JSON.parse('{"origen": "None", "pk": ""}');
                    
                    const call_data_new = {
                      'medio': dialogo_info['medio'],
                      'id_contacto': dialogo_info['id_contacto'],
                      'telefono': dialogo_info['numero'].slice(-10),
                      'call_type': '4',
                      'chat_id': dialogo_info['id'],
                      'mensaje_inicial': dialogo_info['mensaje_inicial'],
                      'id_campana': dialogo_info['id_campana'],
                      'modelo_gestionar': origen_gestion
                    };
                    parent.agregar_gestion_whatsapp(call_data_new);//LLAMO AL PADRE PUES ESTOY EN IFRAME
                  }
                }
                else{
                  console.log("no puede gestionar");
                }
              })
            //
          }
        }else{
          console.log("Error en peticion al servidor")
          swal.fire({
            icon: 'error',
            title: 'Error en el servidor consulte al administrador.',
            text: 'Da2Soft'
          })
        }
        });
        //writeWhatsapp(chat_id);
    }

  });

  
  $('#select-campana-whatsapps').click(function () {
    var id_contacto = $("#id_contacto").val();
    console.log("id_contacto ", id_contacto);
    var id_campana = $("#select-campana-whatsapps").val().split('-')[0];
    var type_campana = $("#select-campana-whatsapps").val().split('-')[2];
    var name_campana = $("#select-campana-whatsapps").val().split('-')[1];
    $("#campana_nombre_whatsapp").val(name_campana);
    $("#campana_tipo_whatsapp").val(type_campana);
    $("#campana_id_whatsapp").val(type_campana);
    let url = '/tc/agente/contacto/campana/';
    $.get(url, { 'id_contacto': id_contacto,'id_campana': id_campana }, function(data, status){
        if(status == 'success'){
        }
      });

  });

</script>

{% endblock %}
