{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="content">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="mr-2 text-dark float-left">Gestion</h3>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <form id="form-buscar-contacto" class="form-horizontal" action="" method="get">
            <div class="row">
              <div class="col-sm-6">
                <h4 class="text-muted"> Se encontraron {{ contactos_encontrados }} contactos con este numero de telefono.</h4>
              </div>
              <div class="col-sm-5">
                <div class="input-group input-group-sm">
                  <input type="hidden" name="call_data" value="{{ call_data }}">
                  <input type="text" name="buscar" class="form-control" value="{{ buscar }}" placeholder="nombre, documento">
                  <span class="input-group-append">
                    <button id="contacto_identificar_buscar" type="button" class="btn btn-info btn-flat">
                      Buscar
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-body">
          <div class="row">
            <table id="table-contactos" class="table table-hover">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Cargo</th>
                  <th class="text-center">Accion</th>
                </tr>
              </thead>
              <tbody>
                {% for contacto in contactos %}
                  <tr>
                    <td>
                      {{ contacto.get_full_name }}
                    </td>
                    <td>
                      {{ contacto.cargo }}
                    </td>
                    <td class="text-center">
                      <button type="button" class="btn btn-sm btn-info" onclick="gestionarContacto(this)" data-id="{{ contacto.pk }}">
                        Gestionar
                      </button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer clearfix">
          <h5 class="text-muted"> En caso de no encontrar el contacto a gestionar, por favor crearlo para
          continuar</h5>
          <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#modal-agregar-contacto">
            Agregar Contacto
          </button>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  <!-- modal agregar cliente -->
  <div class="modal fade" id="modal-agregar-contacto">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Contacto</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="form-agregar-contacto" class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card card-primary card-outline">
              <div class="card-body box-profile text-center">
                <div class="text-center">
                  <img id="profile-image-upload" class="profile-img-card img-fluid img-circle" src="{% static 'truecontact/adminlte/assets/img/default-user.png' %}" alt="User profile picture">
                  <div id="profile-image-input">
                    {% render_field form.imagen class="form-control"%}
                  </div>
                </div>
                <h3 class="profile-username">
                  {% render_field form.nombres class="form-control" placeholder="Nombres" data-toggle="tooltip" data-placement="top" title="Nombres" %}
                  {% for error in form.nombres.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </h3>
                <h3 class="profile-username">
                  {% render_field form.apellidos class="form-control" placeholder="apellidos" data-toggle="tooltip" data-placement="top" title="apellidos" %}
                  {% for error in form.apellidos.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </h3>

                <!-- <h3 class="text-muted">
                  {% render_field form.documento class="form-control" placeholder="Documento" data-toggle="tooltip" data-placement="top" title="Documento" %}
                  {% for error in form.documento.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </h3> -->
                <!-- <p class="text-muted">
                  {% render_field form.cargo class="form-control" placeholder="Cargo" data-toggle="tooltip" data-placement="top" title="Cargo" %}
                  {% for error in form.cargo.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </p> -->
                <ul class="ml-4 fa-ul text-muted">
                  <li class="small mb-1"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                    {% render_field form.direccion class="form-control form-control-sm" placeholder="Direccion" data-toggle="tooltip" data-placement="top" title="Dirección" %}
                    {% for error in form.cargo.errors %}
                      <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                  </li>
                  <li class="small mb-1"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
                    <input class="form-control form-control-sm disable" data-placement="top"
                      data-toggle="tooltip" id="id_telefono" maxlength="512" name="telefono"
                      placeholder="Telefono" title="Telefono" type="text" value="{{ telefono }}"
                    >
                    {% for error in form.cargo.errors %}
                      <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                  </li>
                  <!-- <li class="small mb-1"><span class="fa-li"><i class="fas fa-lg fa-at"></i></span>
                    {% render_field form.email class="form-control form-control-sm" placeholder="Email" data-toggle="tooltip" data-placement="top" title="Email" %}
                    {% for error in form.cargo.errors %}
                      <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                  </li> -->
                </ul>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <ul id="error-agregar-contacto" class="text-danger">
                </ul>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="btn-guardar-contacto" type="button" class="btn btn-info">Guardar y Gestionar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ./ modal agregar cliente-->
</div>
{% endblock %}

{% block page_js_level %}
<script type="text/javascript">

  toastr.options.closeButton = true;
  toastr.options.closeDuration = 100;

  const btn_identificar_buscar = document.getElementById('contacto_identificar_buscar').addEventListener('click', function() {
    buscarContacto();
  });

  function buscarContacto(){
    let call_data = document.querySelector('input[name="call_data"]').value;
  };

  function gestionarContacto(element){
    let id_contacto = element.getAttribute('data-id');
    let call_data = document.querySelector('input[name="call_data"]').value;
    if (call_data != ''){
      let call_data_json = JSON.parse(call_data);
      call_data_json['id_contacto'] = id_contacto;
      const url = Urls.tc_contacto_calificar(encodeURIComponent(JSON.stringify(call_data_json)));
      window.location.href = url;
    }else{
      toastr.error('Error al gestionar el contacto, por favor contacte con su administrador');
    }
  };


  $(document).ready(function() {
    $("#profile-image-upload").click(function(e) {
      $("#id_imagen").click();
    });

    function fasterPreview( uploader ) {
      if ( uploader.files && uploader.files[0] ){
        $('#profile-image-upload').attr('src', window.URL.createObjectURL(uploader.files[0]) );
      }
    }

    $("#id_imagen").change(function(){
        fasterPreview( this );
    });

    $("#form-buscar-contacto").keypress(function(e) {
      //Enter key
      if (e.which == 13) {
        return false;
      }
    });

    $("#contacto_identificar_buscar").click(function() {
      const url = Urls.tc_contacto_ajax();
      $.get(url, $("#form-buscar-contacto").serialize(), function(data, status) {
        let respuesta = data;
        if (respuesta['status'] == 'ok') {
          const lista_contactos = document.querySelector('#table-contactos tbody');
          lista_contactos.innerHTML = '';
          const contactos = respuesta['contactos'];
          contactos.forEach((contacto, i) => {
            let tr_contacto = document.createElement('tr');
            tr_contacto.innerHTML = `
              <tr>
                <td>
                  ${contacto['nombres']} ${contacto['apellidos']}
                </td>
                <td>
                  ${contacto['cargo']}
                </td>
                <td class="text-center">
                  <button type="button" class="btn btn-sm btn-info" onclick="gestionarContacto(this)" data-id="${contacto['id']}">
                    Gestionar
                  </button>
                </td>
              </tr>
            `;
            lista_contactos.appendChild(tr_contacto);
          });

        }else{
          console.log("cero encontrados");
        }
      });
    });

    $("#btn-guardar-contacto").click(function (){
      const url = Urls.tc_contacto_add_ajax();
      $.post(url, $("#form-agregar-contacto").serialize(), function(data, status){
				if (status=="success") {
					let respuesta = data;
          if (respuesta['status'] == 'ok'){
            let id_contacto = respuesta['contacto_id'];
            let call_data = document.querySelector('input[name="call_data"]').value;
            if (call_data != ''){
              let call_data_json = JSON.parse(call_data);
              call_data_json['id_contacto'] = id_contacto;
              const url = Urls.tc_contacto_calificar(encodeURIComponent(JSON.stringify(call_data_json)));
              window.location.href = url;
            }
          }
          else{
            const ul_errors = document.getElementById('error-agregar-contacto');
            ul_errors.innerHTML = '';
            errors = respuesta['errors'];
            for( let key in errors){
              let li_error = document.createElement('li');
              li_error.innerHTML = `${key} - ${errors[key]}`;
              console.log(li_error);
              ul_errors.appendChild(li_error);
            }
          }
				}
        else{
          toastr.error('Error al crear el contacto, por favor contacte con su administrador');
        }
			});
      // $("#modal-agregar-contacto").modal('hide');
    });

  });

</script>
{% endblock %}
