{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}

{% block page_css_level %}
{% endblock %}

{% block content %}

<!--  BEGIN CONTENT PART  -->
<div class="main-content">
  <div >

      <div class="row">

        <div class="col-lg-12 col-12 layout-spacing">

            <div class="statbox widget box box-shadow">


                <div class="widget-content widget-content-area rounded-pills">
                  <h3>Nuevo Contacto</h3>
                    <div class="crumbs">
                        <ul id="breadcrumbs" class="breadcrumb">
                            <li><a href="{% url 'tc-contacto' %}">Contactos</a></li>
                            <li class="active"><a href="#">Crear Contacto</a></li>
                        </ul>
                    </div>

                    <ul class="nav nav-pills mb-3  nav-fill" id="rounded-pills-tab" role="tablist">

                        <li class="nav-item ml-1">
                            <a class="nav-link  btn-rounded active" id="rounded-pills-profile-tab" data-toggle="pill" href="#rounded-pills-profile" role="tab" aria-controls="rounded-pills-profile" aria-selected="false"><i class="flaticon-user-7"></i> Perfil</a>
                        </li>
                        <li class="nav-item ml-1">
                            <a class="nav-link  btn-rounded" id="ronded-pills-contact-tab" data-toggle="pill" href="#rounded-pills-contact" role="tab" aria-controls="rounded-pills-contact" aria-selected="false"><i class="flaticon-telephone"></i> Contacto</a>
                        </li>

                    </ul>
                    <form class="form-horizontal" enctype="multipart/form-data" method="post" id="id_form_contacto">
                      {% csrf_token %}
                      <div class="tab-content" id="rounded-pills-tabContent">
                          <div class="tab-pane fade show active" id="rounded-pills-profile" role="tabpanel" aria-labelledby="rounded-pills-profile-tab">
                              <div class="media mt-4 mb-3">


                                          <input type="hidden" nombre="contacto_pk" id="contacto_pk" value="{{ contacto.pk }}" >
                                          <div class="col-5">
                                              {% if contacto.imagen %}
                                              <!-- <input type="file" id="input-file-max-fs" class="dropify" data-default-file="assets/img/200x200.jpg" data-max-file-size="2M" /> -->
                                              <img id="profile-image-upload" class="profile-img-card img-fluid img-circle" src="{{ contacto.imagen.url}}" alt="">
                                              <br>
                                              {% render_field form.imagen class="form-control bm-4" %}
                                              {% else %}
                                                  <img id="profile-image-upload" class="profile-img-card img-fluid img-circle" src="/static/truecontact/truecontact/img/unknow-user.png" alt="">
                                                  <br>
                                              {% render_field form.imagen class="form-control bm-4" %}
                                              {% endif %}
                                              <hr>
                                              <div class="form-group">
                                                <label for="firstName">Asesor Responsable: </label>
                                                <select class="form-control" name="asesor" id="id_asesor">
                                                    <option value="">Seleccione</option>
                                                    {% for agente  in agentes %}
                                                        {% if user.pk == agente.pk %}
                                                            <option value="{{ agente.pk }}" selected>{{ agente.get_full_name}}</option>
                                                        {% else %}
                                                            <option value="{{ agente.pk }}">{{ agente.get_full_name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                </div>

                                              <a href="{% url 'tc-contacto' %}" class ="btn btn-default mb-4 mr-2 float-left" > Cancel</a>

                                          </div>
                                          <div class="col-6">
                                              <div class="media-body">
                                                  <div class="form">

                                                    <div class="form-group">
                                                      <div class="row mb-4">

                                                        <div class="col-6">
                                                          <div class="n-chk">
                                                            <label class="new-control new-checkbox checkbox-info">
                                                              {% render_field form.es_compania  class="new-control-input" %}
                                                              <span class="new-control-indicator"></span>Es Empleado
                                                            </label>
                                                          </div>
                                                        </div>

                                                        <div class="col-6">
                                                          <div class="n-chk">
                                                            <label class="new-control new-checkbox checkbox-secondary">
                                                              {% render_field form.bool_1  class="new-control-input" %}
                                                              <span class="new-control-indicator"></span>{{ form.bool_1.label }}
                                                            </label>
                                                          </div>
                                                        </div>

                                                        <div class="col-6">
                                                          <div class="n-chk">
                                                            <label class="new-control new-checkbox checkbox-info">
                                                              {% render_field form.bool_2  class="new-control-input" %}
                                                              <span class="new-control-indicator"></span>{{ form.bool_2.label }}
                                                            </label>
                                                          </div>
                                                        </div>
                                                        <div class="col-6">
                                                          <div class="n-chk">
                                                            <label class="new-control new-checkbox checkbox-dark">
                                                              {% render_field form.bool_3  class="new-control-input" %}
                                                              <span class="new-control-indicator"></span>{{ form.bool_3.label }}
                                                            </label>
                                                          </div>
                                                        </div>
                                                      </div>

                                                    </div>


                                                      <div class="form-group">
                                                          <label >Nombres</label>
                                                          {% render_field form.nombres class="form-control bm-4" style="text-transform:uppercase;" %}
                                                          {% for error in form.nombres.errors %}
                                                              <p class="text-danger">{{ error }}</p>
                                                          {% endfor %}
                                                      </div>
                                                      <div class="form-group">
                                                          <label> Apellidos</label>
                                                          {% render_field form.apellidos class="form-control bm-4" style="text-transform:uppercase;"%}
                                                          {% for error in form.apellidos.errors %}
                                                              <p class="text-danger">{{ error }}</p>
                                                          {% endfor %}
                                                      </div>
                                                      <div class="form-group">
                                                          <label ">Tipo Documento</label>
                                                          {% render_field form.tipo_identificacion class="form-control bm-4"%}
                                                          {% for error in form.tipo_identificacion.errors %}
                                                              <p class="text-danger">{{ error }}</p>
                                                          {% endfor %}
                                                      </div>
                                                      <div class="form-group">
                                                      <label >Documento: </label>
                                                      {% render_field form.documento class="form-control bm-4" type="number" %}
                                                      {% for error in form.documento.errors %}
                                                          <p class="text-danger">{{ error }}</p>
                                                      {% endfor %}
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="lastName">Observaciones de contacto: </label>
                                                        {% render_field form.observaciones_contacto class="form-control bm-4" rows="3" style="text-transform:uppercase;" %}
                                                        {% for error in form.observaciones_contacto.errors %}
                                                            <p class="text-danger">{{ error }}</p>
                                                        {% endfor %}
                                                      </div>
                                                  </div>
                                                  <button class="btn btn-info mb-4 mr-2 float-left" id="btn-siguiente" type="button" >Siguente</button>

                                              </div>
                                          </div>



                              </div>

                          </div>

                          <div class="tab-pane fade" id="rounded-pills-contact" role="tabpanel" aria-labelledby="ronded-pills-contact-tab">

                              <div class="widget-content widget-content-area border-tab">

                                  <ul class="nav nav-tabs mt-3" id="border-tabs" role="tablist">
                                      <li class="nav-item">
                                          <a class="nav-link active" id="tab-telefonos-tab" data-toggle="tab" href="#tab-telefonos" role="tab" aria-controls="tab-telefonos" aria-selected="true"><i class="flaticon-telephone"></i> Telefonos</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" id="tab-correos-tab" data-toggle="tab" href="#tab-correos" role="tab" aria-controls="tab-correos" aria-selected="false"><i class="flaticon-email-1"></i> Correos</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" id="tab-direcciones-tab" data-toggle="tab" href="#tab-direcciones" role="tab" aria-controls="tab-direcciones" aria-selected="false"><i class="flaticon-location"></i> Direcciones</a>
                                      </li>
                                  </ul>
                                  <div class="tab-content mb-4" id="border-tabsContent">
                                      <div class="tab-pane fade show active" id="tab-telefonos" role="tabpanel" aria-labelledby="tab-telefonos-tab">
                                          <h4 class="mb-4"></h4>
                                          <div class="table-responsive">
                                              <table class="table table-bordered table-hover table-striped mb-4" name="telefonos">
                                                  <thead>
                                                      <tr>
                                                          <th>Etiqueta</th>
                                                          <th>Numero</th>
                                                          <th class="text-center">Accion</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody id="tabla-telefonos" >

                                                  </tbody>
                                              </table>
                                              <button class="btn btn-secondary mb-4 mr-2 " id="btn-add-telefono">+ Añadir</button>
                                          </div>
                                          <br>

                                      </div>
                                      <div class="tab-pane fade" id="tab-correos" role="tabpanel" aria-labelledby="tab-correos-tab">
                                          <h4 class="mb-4"></h4>
                                          <div class="table-responsive">
                                              <table class="table table-bordered table-hover table-striped mb-4" name="correos">
                                                  <thead>
                                                      <tr>
                                                          <th>Etiqueta</th>
                                                          <th>Correo</th>
                                                          <th class="text-center">Accion</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody id="tabla-correos" >

                                                  </tbody>
                                              </table>
                                              <button class="btn btn-secondary mb-4 mr-2 " id="btn-add-correo">+ Añadir</button>
                                          </div>
                                          <br>
                                      </div>
                                      <div class="tab-pane fade" id="tab-direcciones" role="tabpanel" aria-labelledby="tab-direcciones-tab">
                                          <h4 class="mb-4"></h4>
                                          <div class="table-responsive">
                                              <table class="table table-bordered table-hover table-striped mb-4" name="direcciones">
                                                  <thead>
                                                      <tr>
                                                          <th>Etiqueta</th>
                                                          <th>Direccion</th>
                                                          <th>Observaciones</th>
                                                          <th class="text-center">Accion</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody id="tabla-direcciones" >

                                                  </tbody>
                                              </table>
                                              <button class="btn btn-secondary mb-4 mr-2 " id="btn-add-direccion">+ Añadir</button>
                                          </div>
                                          <br>
                                      </div>
                                  </div>

                              </div>
                              <button class="btn btn-info mb-4 mr-2 float-left" id="btn-volver" type="button" >Volver</button>

                              <button id="btn_form_contacto" class="btn btn-info mb-4 mr-2 float-right" type="btn" >Guardar</button>
                          </div>


                      </div>
                  </form>

                </div>
            </div>
        </div>


    </div>


  </div>
</div>
<!--  END CONTENT PART  -->
<script type="text/javascript">

    var index = 1;

    let form_contacto_valid = true;

    const btn_siguiente = document.getElementById('btn-siguiente');
    btn_siguiente.addEventListener('click', () => {
      document.getElementById('ronded-pills-contact-tab').click(); //show el tab de pedido
    });

    const btn_volver = document.getElementById('btn-volver');

    btn_volver.addEventListener('click', () => {
      document.getElementById('rounded-pills-profile-tab').click(); //show el tab de pedido
    });


    const btn_add_telefono = document.getElementById('btn-add-telefono');

    btn_add_telefono.addEventListener('click', () => {
        contacto_pk = $('#contacto_pk').val();
        console.log("Agregarndo telefono al contacto: " + index)
        const tr_telefono = document.createElement('tr');
        tr_telefono.setAttribute('id', `tr${index}`);
        tr_id = index;
        const td_select_codigo = document.createElement('td');
        td_select_codigo.innerHTML = `
            <select name="label_telefonos_contacto" required="" class="form-control bm-4" id="id_label${index}">
                <option value="" selected="">-----</option>
                <option value="whatsapp">Whatsapp</option>
                <option value="principal">Principal</option>
                <option value="casa">Casa</option>
                <option value="trabajo">Trabajo</option>
                <option value="movil">Movil</option>
                <option value="estudio">Estudio</option>
                <option value="particular">Particular</option>
                <option value="otro">Otro</option>
            </select>
        `;

        const td_input = document.createElement('td');
        const input = document.createElement('input');
        input.setAttribute('type', 'number');
        input.setAttribute('name', 'telefonos_contacto');
        input.classList.add('form-control');

        input.addEventListener('change', function(e) {
            let numero_telefono = e.target.value;
            if (numero_telefono.length == 10 ){
                console.log("es celular", numero_telefono);
                numero_telefono = "57"+numero_telefono+"@c.us";

                window.parent.consultar_telefono(numero_telefono, tr_id);

            }
            else{
                console.log("No es celular");
            }

        });

        td_input.appendChild(input);

        tr_telefono.appendChild(td_select_codigo);
        tr_telefono.appendChild(td_input);

        const td_remover = document.createElement('td');
        td_remover.innerHTML = `<td class="text-center">
                <a href="javascript:;" onclick="$(this).remover_correo(this);" class="btn btn-outline-primary mb-4 mr-2" data-id="${index}">
                Remover </a>
            </td>`;
        tr_telefono.appendChild(td_remover);

        $("#tabla-telefonos").append(tr_telefono);
        index++;
    });

    $.fn.removeTelefono = function(){
        const tr_id = $(this).data('id');
        var contacto_pk = $("#contacto_pk").val();
        var label = $("#id_label"+tr_id).val();
        var numero = $("#id_numero"+tr_id).val();
        $('#tr'+tr_id).remove();
    };

    //******//////////

    const btn_form_contacto = document.getElementById('btn_form_contacto');

    btn_form_contacto.addEventListener('click', () => {
        if (form_contacto_valid) {
            let form_contacto = document.getElementById('id_form_contacto');
            form_contacto.submit();
        }else {

        }
    });

    //***********************************************/////


        // ********  FUNCIONES DE AÑADIR  CORREOS  ********////////
    const btn_add_correo = document.getElementById('btn-add-correo');

    btn_add_correo.addEventListener('click', () => {
        contacto_pk = $('#contacto_pk').val();
        console.log("Agregarndo correo al contacto: " + index)
        var tr_correo = `
        <tr id="tr${index}">
            <td>
                <select name="label_correo" required="" class="form-control bm-4" id="id_label${index}">
                <option value="" selected="">-----</option>
                <option value="principal">Principal</option>
                <option value="casa">Casa</option>
                <option value="trabajo">Trabajo</option>
                <option value="movil">Movil</option>
                <option value="estudio">Estudio</option>
                <option value="particular">Particular</option>
                <option value="otro">Otro</option>
                </select>
            </td>
            <td><input type="email" step="1" class="form-control" required="" name="correo_contacto" id="id_correo${index}"></td>
            <td class="text-center">
                <a href="javascript:;" onclick="$(this).remover_correo(this);" class="btn btn-outline-primary mb-4 mr-2" data-id="${index}">
                Remover </a>
            </td>

        </tr>
        `;
        $("#tabla-correos").append(tr_correo);
        index++;
    });

    $.fn.remover_correo = function(){
        const tr_id = $(this).data('id');
        var contacto_pk = $("#contacto_pk").val();
        var label = $("#id_label"+tr_id).val();
        var correo = $("#id_correo"+tr_id).val();
        $('#tr'+tr_id).remove();
        };
            // ************************************************///////

     // ********  FUNCIONES DE AÑADIR  Direcciones  ********////////
     const btn_add_direccion = document.getElementById('btn-add-direccion');

    btn_add_direccion.addEventListener('click', () => {
        contacto_pk = $('#contacto_pk').val();
        console.log("Agregarndo direccion al contacto: " + index)
        var tr_direccion = `
        <tr id="tr${index}">
            <td>
                <select name="label_direccion" required="" class="form-control bm-4" id="id_label${index}">
                <option value="" selected="">-----</option>
                <option value="principal">Principal</option>
                <option value="casa">Casa</option>
                <option value="trabajo">Trabajo</option>
                <option value="estudio">Estudio</option>
                <option value="particular">Particular</option>
                <option value="otro">Otro</option>
                </select>
            </td>
            <td><input type="text" step="1" class="form-control" required="" name="direccion_principal" id="id_direccion${index}" placeholder="Principal" ></td>
            <td><input type="text" step="1" class="form-control"  name="direccion_observaciones" id="id_observaciones${index}" placeholder="Apto, manzana, etc." ></td>
            <td class="text-center">
                <a href="javascript:;" onclick="$(this).removeDireccion(this);" class="btn btn-outline-primary mb-4 mr-2" data-id="${index}">
                Remover </a>
            </td>

        </tr>
        `;
        $("#tabla-direcciones").append(tr_direccion);
        index++;
    });

    $.fn.removeDireccion = function(){
        const tr_id = $(this).data('id');
        var contacto_pk = $("#contacto_pk").val();
        var label = $("#id_label"+tr_id).val();
        var direccion = $("#id_direccion"+tr_id).val();
        var observaciones = $("#id_observaciones"+tr_id).val();
        $('#tr'+tr_id).remove();
        };
    // ************************************************///////
    /* FUNCION QUE DETECTA SI CAMBIO EL NO. DOCUMENTO Y BUSCA SI HAY CONTACTO ASOCIADO */
$('#id_documento').change(function () {
  // alert("cambio documento");
  var documento = $(this).val();
  let url = Urls.tc_buscar_documento_ajax();
  console.log("Fue el documento" + documento);
  $.get(url, {'tipo': 'consulta_cc', 'doc': documento }, function(data, status){
        if (status == "success"){
          nombre = data['nombres'];
          console.log("CONSULTA EXITOSA");
          if (nombre == ''){

            console.log('no hay contacto asociado');

          }
          else{
            let timerInterval
            Swal.fire({
              title: 'Buscando Contacto!',
              timer: 1500,
              timerProgressBar: true,
              onBeforeOpen: () => {
                Swal.showLoading()
                timerInterval = setInterval(() => {
                  const content = Swal.getContent()
                  if (content) {
                    const b = content.querySelector('b')
                    if (b) {
                      b.textContent = Swal.getTimerLeft()
                    }
                  }
                }, 100)
              },
              onClose: () => {
                clearInterval(timerInterval)
              }
            }).then((result) => {
                Swal.fire({
                    icon: 'question',
                    title: 'Oops...',
                    text: 'El contacto ya se ecuentra registrado!',
                    footer: '<a href>Consulte su Supervisor</a>'
                    })
            })
            //   $('#id_contacto').val(data["id_contacto"]);
            //   $("#id_contacto_gestion").val(""); // Le pego al FORMULARIO GESTION el pk contacto
            //   $("#id_tipo_identificacion").val(data['tipo_identificacion']);
              $("#id_nombres").val(data['nombres']);
              $('#id_apellidos').val(data["apellidos"]);
            //   $('#id_telefono').val(data["telefono"]);
            //   $('#id_contacto_encuesta').val(data["id_contacto"]);
              // $("#btn_guardar_contacto").hide();
          }
        }
      })
});

</script>
{% endblock %}
