{% extends 'truecontact/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_css_level %}

{% endblock %}

{% block content %}
<div class="content">
  <!-- Content Header (Page header) -->
<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3 class="mr-2 text-dark float-left">Contacto {{ contacto.pk }}</h3>
          <div class="btn-group ">
            <button type="submit" class="btn btn-sm btn-info" name="button">
              <i class="nav-icon fas fa-edit"></i>
              Guardar
            </button>
            <a href="{% url 'tc-contacto-detail' contacto.pk %}" class="btn btn-sm btn-secondary ml-1">
              <i class="nav-icon fas fa-arrow-left"></i>
              Cancelar
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'tc-contacto' %}">Contactos</a></li>
            <li class="breadcrumb-item active">Actualizar Contacto</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile text-center">
              <div class="text-center">
                {% if contacto.imagen %}
                  <img id="profile-image-upload" class="profile-img-card img-fluid img-circle" src="{{ contacto.imagen.url }}" alt="User profile picture">
                {% else %}
                  <img id="profile-image-upload" class="profile-img-card img-fluid img-circle" src="{% static 'truecontact/adminlte/assets/img/default-user.png' %}" alt="User profile picture">
                {% endif %}
                <div id="profile-image-input">
                  {% render_field form.imagen class="form-control"%}
                </div>
              </div>
              <h3 class="profile-username">
                {% render_field form.nombres class="form-control" placeholder="Nombres" data-toggle="tooltip" data-placement="top" title="Nombres" %}
                {% for error in form.nombres.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </h3>
              <h3 class="profile-username">
                {% render_field form.apellidos class="form-control" placeholder="Apellidos" data-toggle="tooltip" data-placement="top" title="Apellidos" %}
                {% for error in form.apellidos.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </h3>
              <p class="text-muted">
                {% if not contacto.es_compania %}
                  {% render_field form.cargo class="form-control" placeholder="Cargo" data-toggle="tooltip" data-placement="top" title="Cargo" %}
                  {% for error in form.cargo.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                {% endif %}
              </p>
              <ul class="ml-4 fa-ul text-muted">
                <li class="small mb-1"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                  {% render_field form.direccion class="form-control form-control-sm" placeholder="Direccion" data-toggle="tooltip" data-placement="top" title="Direccion" %}
                  {% for error in form.cargo.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </li>
                <li class="small mb-1"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
                  {% render_field form.telefono class="form-control form-control-sm" placeholder="Telefono" data-toggle="tooltip" data-placement="top" title="Telefono"%}
                  {% for error in form.cargo.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </li>
                <li class="small mb-1"><span class="fa-li"><i class="fas fa-lg fa-at"></i></span>
                  {% render_field form.email class="form-control form-control-sm" placeholder="Email" data-toggle="tooltip" data-placement="top" title="Email" %}
                  {% for error in form.cargo.errors %}
                    <p class="text-danger">{{ error }}</p>
                  {% endfor %}
                </li>
              </ul>
              <ul class="list-group list-group-unbordered mt-3 mb-3 text-left">
                <li class="list-group-item">
                  <b>Contactos</b> <a href="#" class="float-right">{{ contacto.get_contacto_relaciones.count }}</a>
                </li>
                <li class="list-group-item">
                  <b>Gestiones</b> <a href="{% url 'tc-contacto-gestion' contacto.pk %}" class="float-right">{{ contacto.get_contacto_gestiones.count }}</a>
                </li>
                <!-- <li class="list-group-item">
                  <b>Friends</b> <a class="float-right">13,287</a>
                </li> -->
              </ul>
              <div class="text-center">
                <a href="#" class="btn btn-sm btn-default disabled">
                  <i class="fas fa-phone"></i> Call
                </a>
                <a href="#" class="btn btn-sm btn-default disabled">
                  <i class="fas fa-envelope"></i> Email
                </a>
                <a href="#" class="btn btn-sm btn-default disabled">
                  <i class="fas fa-comments"></i> Chat
                </a>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" href="#general" data-toggle="tab">General</a></li>
                <li class="nav-item"><a class="nav-link" href="#info_Adicional" data-toggle="tab">Datos Adicionales</a></li>
                <li class="nav-item"><a class="nav-link" href="#documentos" data-toggle="tab">Documentos</a></li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="general">
                  <div class="form-group row">
                    <div class="col-sm-4">
                      
                    </div>
                    <div class="col-sm-8">
                      <label class="col-sm-4 col-form-label" for="id_es_compania"> Es compañia ?</label>
                      <input type="checkbox" name="es_compania" data-bootstrap-switch  data-on-color="warning" data-on-text="SI" data-off-text="NO" id="id_es_compania">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form.tipo_identificacion.id_for_label }}">{{ form.tipo_identificacion.label }}</label>
                    <div class="col-sm-10">
                      {% render_field form.tipo_identificacion class="form-control" %}
                      {% for error in form.tipo_identificacion.errors %}
                        <p class="text-danger">{{ error }}</p>
                      {% endfor %}
                      <p id="documento-error" class="text-danger mt-0 mb-0"></p>
                    </div>
                  </div>
                    
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form.documento.id_for_label }}">{{ form.documento.label }}</label>
                    <div class="col-sm-10">
                      {% render_field form.documento class="form-control" %}
      								{% for error in form.documento.errors %}
      									<p class="text-danger">{{ error }}</p>
      								{% endfor %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form.genero.id_for_label }}">{{ form.genero.label }}</label>
                    <div class="col-sm-10">
                      {% render_field form.genero class="form-control" %}
      								{% for error in form.genero.errors %}
      									<p class="text-danger">{{ error }}</p>
      								{% endfor %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form.sitioweb.id_for_label }}">{{ form.sitioweb.label }}</label>
                    <div class="col-sm-10">
                      {% render_field form.sitioweb class="form-control" %}
      								{% for error in form.sitioweb.errors %}
      									<p class="text-danger">{{ error }}</p>
      								{% endfor %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form.industria.id_for_label }}">{{ form.industria.label }}</label>
                    <div class="col-sm-10">
                      <div class="select2-secondary">
                      {% render_field form.industria class="select2" data-dropdown-css-class="select2-secondary" style="width: 100%;" %}
                      </div>
                      {% for error in form.industria.errors %}
      									<p class="text-danger">{{ error }}</p>
      								{% endfor %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form.observaciones.id_for_label }}">Notas</label>
                    <div class="col-sm-10">
                      {% render_field form.observaciones class="form-control" rows="7" %}
      								{% for error in form.observaciones.errors %}
      									<p class="text-danger">{{ error }}</p>
      								{% endfor %}
                    </div>
                  </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="info_Adicional">
                  
                  <div class="card-body">
                    <div id="info-direcciones">
                        {% for direccion in direcciones %}
                          <span>
                            <div class="card card-info card-outline">
                              <div class="card-header">
                                <a href="javascript:;" class="text-muted btn-direccion-delete" data-id="{{ direccion.pk }}">
                                  <i class="fas fa-minus-circle text-danger"></i>
                                </a>
                                <strong><i class="fas fa-lg fa-building mr-1"></i> {{ direccion.label }}</strong>
                              </div>
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-6">
                                    <dl class="row mb-0">
                                      <dt class="col-sm-4">Dirección:</dt>
                                      <dd class="col-sm-8">{{ direccion.value_1 }}</dd>
                                    </dl>
                                    <dl class="row mb-0">
                                      <dt class="col-sm-4">Indicaciones:</dt>
                                      <dd class="col-sm-8">{{ direccion.value_2 }}</dd>
                                    </dl>
                                    <dl class="row mb-0">
                                      <dt class="col-sm-4">Codigo Postal: </dt>
                                      <dd class="col-sm-8">{{ direccion.value_3 }}</dd>
                                    </dl>
                                  </div>
                                  <div class="col-md-6">
                                    <dl class="row mb-0">
                                      <dt class="col-sm-4">Ciudad: </dt>
                                      <dd class="col-sm-8">{{ direccion.value_4 }}</dd>
                                    </dl>
                                    <dl class="row mb-0">
                                      <dt class="col-sm-4">Pais: </dt>
                                      <dd class="col-sm-8">{{ direccion.get_pais_display }}</dd>
                                    </dl>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </span>
                        {% endfor %}
                      </div>
                      <a href="#" class="text-muted" data-toggle="modal" data-target="#modal-address">
                        <i class="fas fa-plus-circle text-info"></i>
                        Agregar Direccion
                      </a>
                    
                    <hr>
                    <div id="info_telefonos">
                      {% for telefono in telefonos %}
                        <span>
                          <a href="javascript:;" class="text-muted btn-telefono-delete" data-id="{{ telefono.pk }}">
                            <i class="fas fa-minus-circle text-danger"></i>
                          </a>
                          <strong><i class="fas fa-mobile-alt mr-1"></i> {{ telefono.get_label_display }}</strong>
                          <p>
                            {{ telefono.value_1 }}
                          </p>
                        </span>
                      {% endfor %}
                    </div>
                    <a href="javascript:;" class="text-muted" data-toggle="modal" data-target="#modal-telefono">
                      <i class="fas fa-plus-circle text-info"></i>
                      Agregar Telefono
                    </a>
                    <hr>
                    <div id="info_emails">
                      {% for email in emails %}
                        <span>
                          <a href="javascript:;" class="text-muted btn-email-delete" data-id="{{ email.pk }}">
                            <i class="fas fa-minus-circle text-danger"></i>
                          </a>
                          <strong><i class="far fa-envelope mr-1"></i> {{ email.label }}</strong>
                          <p>
                            {{ email.value_1 }}
                          </p>
                        </span>
                      {% endfor %}
                    </div>
                    <a href="javascript:;" class="text-muted" data-toggle="modal" data-target="#modal-email">
                      <i class="fas fa-plus-circle text-info"></i>
                      Agregar Email
                    </a>
                  </div>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="documentos">
                  <div class="row mb-2">
                    <a href="javascript:;" class="btn btn-sm btn-info" class="text-muted" data-toggle="modal" data-target="#modal-document">
                      <i class="nav-icon fas fa-plus"></i>
                      Agregar
                    </a>
                  </div>
                  <div class="row">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th><input type="checkbox" name="" value=""></th>
                          <th>Nombre</th>
                          <th>Tipo</th>
                          <th>Fecha</th>
                          <th>Usuario</th>
                          <th>Tamaño</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td><input type="checkbox" name="" value=""></td>
                            <td>example.pdf</td>
                            <td>document</td>
                            <td>31 Ene 2020 5:37 pm</td>
                            <td>wmorenog</td>
                            <td>362.00 KB</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
</form>
  <!-- /.content -->
  <!-- modal telefono  -->
  <div class="modal fade show" id="modal-telefono" aria-modal="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Telefono</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="form-telefono" > {% csrf_token %}
            {% render_field form_telefono.contacto class="form-control" %}
            <div class="form-group row">
              <label class="col-sm-2 col-from-label" for="">Label</label>
              <div class="col-sm-10">
                <select class="form-control" name="label" id="id_label_form" >
                  <option value="">Seleccione</option>
                  {% for option in options_dato_contacto %}
                    <option value="{{ option.0 }}">{{ option.1 }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-from-label" for="">Telefono</label>
              <div class="col-sm-10">
                <input type="text" name="telefono" id="id_telefono_form" class="form-control" placeholder="Telefono" >
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button id="btn-telefono-save" type="button" class="btn btn-info">Guardar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- / modal telefono  -->

  <!-- modal email  -->
  <div class="modal fade show" id="modal-email" aria-modal="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Email</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="form-email"> {% csrf_token %}
            {% render_field form_telefono.contacto class="form-control" %}
            <div class="form-group row">
              <label class="col-sm-2 col-from-label"for="">Label</label>
              <div class="col-sm-10">
                <select class="form-control" name="label" id="id_label_email">
                  <option value="">Seleccione</option>
                  {% for option in options_dato_contacto %}
                    <option value="{{ option.0 }}">{{ option.1 }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-from-label"for="">Email</label>
              <div class="col-sm-10">
                <input type="email" name="email" id="id_value1_email" class="form-control" placeholder="Email" >
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button id="btn-email-save" type="button" class="btn btn-info">Guardar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- / modal email  -->

  <!-- modal address -->
  <div class="modal fade show" id="modal-address" aria-modal="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Direccion</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>

        </div>
        <div class="modal-body">
          <form data-parsley-validate="true" class="form-horizontal" id="form-direccion" > {% csrf_token %}
            {% render_field form_telefono.contacto class="form-control" %}
            <div class="form-group row">
              <label class="col-sm-2 col-from-label" for="">Label</label>
              <div class="col-sm-10">
                <select class="form-control" name="label" id="id_label_direccion" required="true" >
                  <option value="">Seleccione</option>
                  {% for option in options_dato_contacto %}
                    <option value="{{ option.0 }}">{{ option.1 }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-from-label" for="">Direccion</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="calle_1" id="id_calle_1_direccion" placeholder="Calle, carrera, avenida " required="true" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-from-label" for="">Indicaciones</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="calle_2" id="id_calle_2_direccion" placeholder="Bodega, Interior, Sector">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-from-label" for="">Codigo Postal</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="codigo_postal" id="id_codigo_postal" placeholder="Codigo Postal">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-from-label" for="">Ciudad</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="ciudad" id="id_ciudad" placeholder="Ciudad/Estado" required="true" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-from-label" for="">Pais</label>
              <div class="col-sm-10">
                <select class="form-control" name="pais" id="id_pais" required="true">
                  <option value="">Seleccione</option>
                  {% for country in countries %}
                    <option value="{{ country.pk }}">{{ country.nombre }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button id="btn-direccion-save" type="button" class="btn btn-info">Guardar</button>
        </div>

        

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- / modal address -->

  <!-- modal documents -->
  <div class="modal fade show" id="modal-document" aria-modal="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Documentos</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <form class="form-horizontal bordered-row" action="{#% url 'masivo-encuesta-taller' %#}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group">
                  <label class="col-sm-4 control-label">Archivo</label>
                  <div class="col-sm-8">
                    <input type="file" name="archivo" class="form-control " id="">
                  </div>
                  <br>
                </div>
                <button class="btn btn-primary" type="submit" name="button">Guardar Archivo</button>
              </form>
            </div>
            
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-info">Guardar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- / modal documents -->
</div>
{% endblock %}

{% block page_js_level %}
<script type="text/javascript">
  $(document).ready(function() {

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

    $("#profile-image-upload").click(function(e) {
      $("#id_imagen").click();
    });

    function fasterPreview( uploader ) {
      if ( uploader.files && uploader.files[0] ){
        $('#profile-image-upload').attr('src', window.URL.createObjectURL(uploader.files[0]) );
      }
    }


    $("#id_imagen").change(function(){
        fasterPreview( this );
    });

    $(".select2").select2();

    $(".select2bs4").select2({
      theme: 'bootstrap4'
    });


    $("#btn-telefono-save").click(function () {
      form = $("#form-telefono").serialize();
      $.post("{% url 'tc-contacto-telefono-add' %}", form, function(data, status) {
        let respuesta = data['response'];
        if (respuesta['status'] == 'ok') {
          const id_telefono = respuesta['telefono']['id'];
          const label = respuesta['telefono']['label'];
          const telefono = respuesta['telefono']['telefono'];
          const div_telefono = `
              <span>
                <a href="javascript:;" class="text-muted btn-telefono-delete" data-id="${id_telefono}">
                  <i class="fas fa-minus-circle text-danger"></i>
                </a>
                <strong><i class="fas fa-mobile-alt mr-1"></i> ${label}</strong>
                <p>
                  ${telefono}
                </p>
              </span>
            `;
          $("#info_telefonos").append(div_telefono);
          $("#id_label_form").val('');
          $("#id_telefono_form").val('');
          $("#modal-telefono").modal('hide');
        }else{
          alert("Error al agregar el telefono, por favor contacte con su administrador");
        }
      });
    });

    $("#info_telefonos").on('click', '.btn-telefono-delete', function() {
      const id_telefono = $(this).data('id');
      const span_tag = $(this).parents('span');
      $.get("{% url 'tc-contacto-telefono-delete' %}", {'id': id_telefono}, function(data, status) {
        let respuesta = data['response'];
        if (respuesta['status'] == 'ok') {
          span_tag.remove();
        }else{
          alert("Error al agregar el telefono, por favor contacte con su administrador");
        }
      });

    });

    $("#btn-email-save").click(function () {
      form = $("#form-email").serialize();
      $.post("{% url 'tc-contacto-email-add' %}", form, function(data, status) {
        let respuesta = data['response'];
        if (respuesta['status'] == 'ok') {
          const id_email = respuesta['email']['id'];
          const label = respuesta['email']['label'];
          const email = respuesta['email']['email'];
          const div_email = `
          <span>
            <a href="javascript:;" class="text-muted btn-email-delete" data-id="${id_email}">
              <i class="fas fa-minus-circle text-danger"></i>
            </a>
            <strong><i class="far fa-envelope mr-1"></i> ${label}</strong>
            <p>
              ${email}
            </p>
          </span>
          `;
          $("#info_emails").append(div_email);
          $("#id_label_email").val('');
          $("#id_value1_email").val('');
          $("#modal-email").modal('hide');
        }else{
          alert("Error al agregar el email, por favor contacte con su administrador");
        }
      });
    });

    $("#info_emails").on('click', '.btn-email-delete', function() {
      const id_email = $(this).data('id');
      const span_tag = $(this).parents('span');
      $.get("{% url 'tc-contacto-email-delete' %}", {'id': id_email}, function(data, status) {
        let respuesta = data['response'];
        if (respuesta['status'] == 'ok') {
          span_tag.remove();
        }else{
          alert("Error al eliminar el email, por favor contacte con su administrador");
        }
      });
    });

    $("#btn-direccion-save").click(function () {
      var formIsValid = $('#form-direccion').parsley().validate();
      if ( formIsValid == true ){
        var form = $('#form-direccion').serialize();
        $.post("{% url 'tc-contacto-direccion-add' %}", form, function(data, status) {
        let respuesta = data['response'];
        if (respuesta['status'] == 'ok') {
          console.log(respuesta['direccion']);
          const id_direccion = respuesta['direccion']['id'];
          const label = respuesta['direccion']['label'];
          const calle_1 = respuesta['direccion']['calle_1'];
          const calle_2 = respuesta['direccion']['calle_2'];
          const codigo_postal = respuesta['direccion']['codigo_postal'];
          const ciudad = respuesta['direccion']['ciudad'];
          const pais = respuesta['direccion']['pais'];
          const div_direccion = `
            <div class="card card-info card-outline">
              <div class="card-header">
                <a href="#" class="text-muted btn-direccion-delete" data-id="${id_direccion}">
                  <i class="fas fa-minus-circle text-danger"></i>
                </a>
                <strong><i class="fas fa-lg fa-building mr-1"></i> ${label}</strong>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <dl class="row mb-0">
                      <dt class="col-sm-4">Calle</dt>
                      <dd class="col-sm-8">${calle_1}</dd>
                    </dl>
                    <dl class="row mb-0">
                      <dt class="col-sm-4">Calle 2</dt>
                      <dd class="col-sm-8">${calle_2}</dd>
                    </dl>
                    <dl class="row mb-0">
                      <dt class="col-sm-4">Codigo Postal</dt>
                      <dd class="col-sm-8">${codigo_postal}</dd>
                    </dl>
                  </div>
                  <div class="col-md-6">
                    <dl class="row mb-0">
                      <dt class="col-sm-4">Ciudad</dt>
                      <dd class="col-sm-8">${ciudad}</dd>
                    </dl>
                    <dl class="row mb-0">
                      <dt class="col-sm-4">Pais</dt>
                      <dd class="col-sm-8">${pais}</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          `;
          $("#info-direcciones").append(div_direccion);
          $("#id_label_direccion").val('');
          $("#id_calle_1_direccion").val('');
          $("#id_calle_2_direccion").val('');
          $("#id_codigo_postal").val('');
          $("#id_ciudad").val('');
          $("#id_pais").val('');
          $("#modal-address").modal('hide');
        }else{
          alert("Error al Dirección, por favor contacte con su administrador");
        }
      });
      }

      
    });

    $("#info-direcciones").on('click', '.btn-direccion-delete', function() {
      const id_direccion = $(this).data('id');
      const span_tag = $(this).parents('span');
      $.get("{% url 'tc-contacto-direccion-delete' %}", {'id': id_direccion}, function(data, status) {
        let respuesta = data['response'];
        if (respuesta['status'] == 'ok') {
          span_tag.remove();
        }else{
          alert("Error al eliminar la direccion, por favor contacte con su administrador");
        }
      });
    });

  });

</script>
{% endblock %}
