<!-- CONTACTO GESTION FORM  -->

{% extends 'truecontact/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="content">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3 class="mr-2 text-dark float-left">Gestion contacto</h3>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card ">
        <div class="card-body">
          <div class="row"> <!-- div Nueva Gestion-->
            <div class="col-md-12">
              <div class="row">
                <!-- tarjetta lateral Izquierda contacto -->
                <div class="col-12 col-sm-3">
                  <div class="card card-primary card-outline h-100">
                    <div class="card-body box-profile text-center h-100">
                      <div class="text-center profile-image-action">
                        {% if contacto.imagen %}
                          <img id="info-contacto" class="profile-img-card img-fluid img-circle" src="{{ contacto.imagen.url }}" alt="User profile picture">
                        {% else %}
                          <img id="info-contacto" class="profile-img-card img-fluid img-circle" src="{% static 'truecontact/adminlte/assets/img/default-user.png' %}" alt="User profile picture">
                        {% endif %}
                      </div>

                      <h3 class="profile-username">{{ contacto.nombres }}</h3>
                      <h3 class="profile-username">{{ contacto.apellidos }}</h3>

                      <!-- {% if contacto.es_compania %}
                        <p class="text-muted text-sm">Compañia</p>
                      {% else %}
                        <p class="text-muted text-sm">{{ contacto.cargo }}</p>
                      {% endif %} -->

                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                          {% if contacto.direccion %}
                           {{ contacto.direccion }}
                          {% else %}
                           ------
                          {% endif %}
                        </li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
                          {% if contacto.telefono %}
                           {{ contacto.telefono }}
                          {% else %}
                           ------
                          {% endif %}
                        </li>
                        <!-- <li class="small"><span class="fa-li"><i class="fas fa-lg fa-at"></i></span>
                          {% if contacto.email %}
                           {{ contacto.email }}
                          {% else %}
                           ------
                          {% endif %}
                        </li> -->
                      </ul>
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
                <!-- END tarjetta lateral Izquierda contacto -->

                <!-- tarjeta derecha que contiene la gestion -->
                <div class="col-12 col-sm-9">
                  <div class="card card-primary card-outline h-100">
                    <div class="card-body box-profile h-100">
                      <h3 id="titulo_gestion" class="text-muted">
                        {% if form_gestion.gestion.value %}
                          Gestion {{ form_gestion.gestion.value }}
                        {% endif %}
                      </h3>
                      <form id="form-agregar-gestion" class="form-horizontal" action="" method="POST">
                        {% csrf_token %}
                        {% render_field form_gestion.gestion %}
                        {% render_field form_gestion.contacto %}
                        {% render_field form_gestion.call_data %}
                        <div class="row mt-2">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label for="{{ form_gestion.tipo.id_for_label }}" class="col-md-4 col-form-label">Tipo:</label>
                              <div class="col-md-8">
                                {% render_field form_gestion.tipo class="form-control" %}
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group row">
                              <label for="{{ form_gestion.medio.id_for_label }}" class="col-md-4 col-form-label">Medio:</label>
                              <div class="col-md-8">
                                {% render_field form_gestion.medio class="form-control" %}
                                <input id="id_medio_label" type="text" class="form-control" value="{{ form_gestion.medio.value }}" disabled>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label for="{{ form_gestion.motivo.id_for_label }}" class="col-md-4 col-form-label">Motivo:</label>
                              <div class="col-md-8">
                                {% render_field form_gestion.motivo class="form-control" %}
                                {% for error in form_gestion.motivo.errors %}
                                  <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label for="{{ form_gestion.resul.id_for_label }}" class="col-md-4 col-form-label">Resultado:</label>
                              <div class="col-md-8">
                                {% render_field form_gestion.resul class="form-control" %}
                                {% for error in form_gestion.resul.errors %}
                                  <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">

                          <div class="col-md-6">
                            <div class="form-group row">
                              <label for="{{ form_gestion.especialidad.id_for_label }}">Especialidad:</label>
                              {% render_field form_gestion.especialidad class="form-control" required="true" %}
                              {% for error in form_gestion.especialidad.errors %}
                                  <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>

                          <div class="col-md-6 md">
                            <div class="form-group row"> 
                              <label for="{{ form_gestion.entidad.id_for_label }}">Entidad:</label>
                              {% render_field form_gestion.entidad class="form-control" required="true" %}
                              {% for error in form_gestion.entidad.errors %}
                                    <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>

                        </div>

                        <div class="row">

                          <div class="col-md-6">
                            <div class="form-group row">
                              <label for="{{ form_gestion.tipo_consulta.id_for_label }}">Tipo de consulta:</label>
                              {% render_field form_gestion.tipo_consulta class="form-control" required="true" %}
                              {% for error in form_gestion.tipo_consulta.errors %}
                                  <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>

                          <div class="col-md-6 md">
                            <div class="form-group row"> 
                              <label for="{{ form_gestion.tyc.id_for_label }}">Acepta términos y condiciones:</label>
                              {% render_field form_gestion.tyc class="form-control" required="true" %}
                              {% for error in form_gestion.tyc.errors %}
                                    <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>

                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <dt>Direcciones: </dt>
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th>Etiqueta</th>
                                    <th>Dirección</th>
                                    <th>Indicaciones</th>
                                    <th>Barrio</th>
                                    <th>Selección</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for direccion in direcciones %}
                                    <tr id="direccion_{{ direccion.pk }}">
                                      <td><b>
                                        {{ direccion.label }}</b>
                                      </td>
                                      <td>
                                        {{ direccion.value_1 }}
                                      </td>
                                      <td>
                                        {{ direccion.value_2 }}
                                      </td>
                                      <td>
                                        {{ direccion.value_4 }}
                                      </td>
                                      <td><input type="checkbox" id="id_ck_{{ direccion.pk }}" ></td>

                                    </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label for="{{ form_gestion.observaciones.id_for_label }}" class="col-md-3 col-form-label">Pedido:</label>
                              <div class="col-md-9">
                                {% render_field form_gestion.observaciones class="form-control" rows="4" %}
                                {% for error in form_gestion.observaciones.errors %}
                                  <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <ul id="error-agregar-gestion" class="text-danger">
                          </ul>
                        </div>
                        <a id="btn-guardar-gestion" href="javascript:;" class="btn  btn-info ml-1">
                          <i class="nav-icon fa fa-share-square"></i>
                          Guardar y enviar
                        </a>
                        
                        <a id="btn-terminar-gestion" href="{% url 'tc-contacto' %}" class="btn btn-secondary ml-1" style="display: none;">
                          <i class="nav-icon fas fa-arrow-left"></i>
                          Terminar
                        </a>
                        <a id="btn-gestionar-otrocontacto" href="javascript:;" class="float-right" style="display: none;">Gestionar otro contacto</a>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- END tarjeta derecha que contiene la gestion -->
              </div>
            </div>
          </div>

          <div class="row"> <!-- Informacion gestiones-->
            <div class="col-md-12 ">
              <div class="card  mt-3">
                <div class="card-header border-0">
                  <h4 class="card-title">Gestiones</h4>
                  <div class="card-tools">
                    <a href="javascript:;" class="btn btn-tool btn-sm">
                      <i class="fas fa-search"></i>
                    </a>
                    <a href="javascript:;" class="btn btn-tool btn-sm">
                      <i class="fas fa-download"></i>
                    </a>
                    <a href="javascript:;" class="btn btn-tool btn-sm">
                      <i class="fas fa-bars"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body table-responsive p-0">
                  <table id="gestiones-contacto" class="table table-striped table-valign-middle">
                    <thead>
                    <tr>
                      <th class="text-center">Agente</th>
                      <th class="text-center">Fecha</th>
                      <th class="text-center">Id Gestion</th>
                      <th class="text-center">Tipo Gestion</th>
                      <th class="text-center">Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for gestion in gestiones %}
                        <tr id="gestion_{{ gestion.pk }}">
                          <td>
                            <img src="{% static 'truecontact/adminlte/assets/img/default-user.png' %}" class="img-circle img-size-32 mr-2">
                            {{ gestion.creado_por.username }}
                          </td>
                          <td class="text-center">{{ gestion.fecha_creacion | date:"d M Y"}}</td>
                          <td class="text-center">
                            {{ gestion.pk }}
                          </td>
                          <td class="">
                            <span class="text-muted fas fa-bullhorn">
                              {{ gestion.get_medio_display }}
                            </span>
                          </td>
                          <td class="">
                            {% if gestion.estado == 'pendiente' %}
                              <span class="badge bg-warning">{{ gestion.estado }}</span>
                            {% elif gestion.estado == 'en_proceso' %}
                              <span class="badge bg-primary">{{ gestion.estado }}</span>
                            {% elif gestion.estado == 'finalizado' %}
                              <span class="badge bg-success">{{ gestion.estado }}</span>
                            {% else %}
                              <span class="badge bg-danger">Error</span>
                            {% endif %}
                            <a href="javascript:;" onClick="$(this).gestionView(this);" class="text-muted lead ml-1" data-id="{{ gestion.pk }}">
                              <i class="fas fa-eye"></i>
                            </a>
                            {% if gestion.estado != 'finalizado' %}
                              <a href="javascript:;" class="text-muted lead gestion-edit" data-id="{{ gestion.pk }}">
                                <i class="fas fa-edit"></i>
                              </a>
                            {% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <!-- Modal Gestion -->
      <div class="modal fade show" id="modal-ver-gestion" aria-modal="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 id="info-gestion" class="modal-title text-muted"></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body text-muted">
              <dl class="row">
                <div class="col-md-6">
                  <dt class="">Tipo</dt>
                  <dd id="info-tipo" class=""></dd>
                </div>
                <div class="col-md-6">
                  <dt class="">Medio</dt>
                  <dd id="info-medio" class=""></dd>
                </div>
              </dl>
              <dl class="row">
                <div class="col-md-6">
                  <dt class="">Resultado</dt>
                  <dd id="info-resultado" class=""></dd>
                </div>
                <div class="col-md-6">
                  <dt class="">Calificacion</dt>
                  <dd id="info-calificacion" class=""></dd>
                </div>
              </dl>
              <dl class="row">
                <div class="col-md-12">
                  <dt class="">Observaciones</dt>
                  <dd id="info-observaciones" class=""></dd>
                </div>
              </dl>
              <dl class="row">
                <div class="col-md-6">
                  <dt class="">Estado</dt>
                  <dd id="info-estado" class=""></dd>
                </div>
                <div class="col-md-6">
                  <dt class="">Registro</dt>
                  <dd id="info-registro" class=""></dd>
                </div>
              </dl>

              <div class="card ">
                <div id="registro_mensajes" class="card-body" style="display: none;">
                </div>
                <!-- /.card-body -->
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

      <!-- Modal Info Contacto -->
      <div class="modal fade show" id="modal-info-contacto" aria-modal="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 id="info-gestion" class="modal-title text-muted">{{ contacto.nombre }}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#general" data-toggle="tab">General</a></li>
                    <li class="nav-item"><a class="nav-link" href="#Datos_Adicionales" data-toggle="tab">Datos Adicionales</a></li>
                    <li class="nav-item"><a class="nav-link" href="#documentos" data-toggle="tab">Documentos</a></li>
                </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                  <div class="tab-content">
                    <div class="active tab-pane" id="general">
                      <dl class="row">
                        <dt class="col-sm-2">Documento</dt>
                        <dd class="col-sm-6">{{ contacto.documento }}</dd>
                      </dl>
                      <dl class="row">
                        <dt class="col-sm-2">Genero</dt>
                        <dd class="col-sm-10">{{ contacto.get_genero_display }}</dd>
                      </dl>
                      <dl class="row">
                        <dt class="col-sm-2">Industria</dt>
                        <dd class="col-sm-10">
                          {% for industria in contacto.industria.all %}
                            <span class="badge bg-secondary">{{ industria.nombre }}</span>
                          {% endfor %}
                        </dd>
                      </dl>
                      <dl class="row">
                        <dt class="col-sm-2">Sitio Web</dt>
                        <dd class="col-sm-10">{{ contacto.sitioweb }}</dd>
                      </dl>
                      <dl class="row">
                        <dt class="col-sm-2">Notas</dt>
                        <dd class="col-sm-10">{{ contacto.observaciones }}</dd>
                      </dl>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="Datos_Adicionales">
                        <h5><i>Teléfonos:</i></h5>  
                        {% for telefono in telefonos %}
                        <strong><i class="fas fa-mobile-alt mr-1"></i> {{ telefono.label }}</strong>
                        <p>
                          <a href="#" class="text-sm">
                            {{ telefono.value_1 }}
                          </a>
                        </p>
                      {% endfor %}
                      <hr>
                      <h5><i>Correos de contacto:</i></h5>  
                      {% for email in emails %}
                        <strong><i class="far fa-envelope mr-1"></i> {{ email.label }}</strong>
                        <p>
                          <a href="#" class="text-sm">
                            {{ email.value_1 }}
                          </a>
                        </p>
                      {% endfor %}
    
                      {% for direccion in direcciones %}
                      <h5><i>Direcciones</i></h5>  
                        <div class="card card-info card-outline">
                          <div class="card-header">
                            <div class="">
                              <strong><i class="fas fa-lg fa-building mr-1"></i> {{ direccion.label }}</strong>
                            </div>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-6">
                                <dl class="row mb-0">
                                  <dt class="col-sm-4">Calle</dt>
                                  <dd class="col-sm-8">{{ direccion.value_1 }}</dd>
                                </dl>
                                <dl class="row mb-0">
                                  <dt class="col-sm-4">Calle 2</dt>
                                  <dd class="col-sm-8">{{ direccion.value_2 }}</dd>
                                </dl>
                                <dl class="row mb-0">
                                  <dt class="col-sm-4">Codigo Postal</dt>
                                  <dd class="col-sm-8">{{ direccion.value_3 }}</dd>
                                </dl>
                              </div>
                              <div class="col-md-6">
                                <dl class="row mb-0">
                                  <dt class="col-sm-4">Ciudad</dt>
                                  <dd class="col-sm-8">{{ direccion.value_4 }}</dd>
                                </dl>
                                <dl class="row mb-0">
                                  <dt class="col-sm-4">Pais</dt>
                                  <dd class="col-sm-8">{{ direccion.getPaisDisplay }}</dd>
                                </dl>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                    <!-- /.tab-pane -->
    
                    <div class="tab-pane" id="documentos">
                      <div class="row">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th><input type="checkbox" name="" value=""></th>
                              <th>Nombre</th>
                              <th>Tipo</th>
                              <th>Fecha</th>
                              <th>Usuario</th>
                              <th>Tamaño</th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr>
                                <td><input type="checkbox" name="" value=""></td>
                                <td>example.pdf</td>
                                <td>document</td>
                                <td>31 Ene 2020 5:37 pm</td>
                                <td>wmorenog</td>
                                <td>362.00 KB</td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
    
                    </div>
                    <!-- /.tab-pane -->
                  </div>
                  <!-- /.tab-content -->
                </div><!-- /.card-body -->
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

    </section>
    <!-- /.content -->
</div>
{% endblock %}

{% block page_js_level %}
<script>

  toastr.options.closeButton = true;
  toastr.options.closeDuration = 100;

  $(document).ready(function () {
    $("#btn-guardar-gestion").click(function () {
      const id_contacto = $("#id_contacto").val();
      const url = Urls.tc_contacto_gestion_add_ajax(id_contacto);
      $.post(url, $("#form-agregar-gestion").serialize(), function(data, status){
        if (status=="success"){
          let respuesta = data;
          if (respuesta['status'] == 'ok'){
            let gestion = respuesta['gestion'];
            const tr_gestion = $(`#gestion_${gestion['id']} td:last`);
            if (tr_gestion.length > 0){
              $(`#gestion_${gestion['id']} td:last`).html(`
                  <span class="badge bg-success">${gestion['estado']}</span>
                  <a href="javascript:;" onClick="$(this).gestionView(this);" class="text-muted lead gestion-view ml-1" data-id="${gestion['id']}">
                    <i class="fas fa-eye"></i>
                  </a>
              `);
            }else{
              $("#gestiones-contacto").prepend(`
                <tr id="gestion_${gestion['id']}">
                  <td>
                    <img src="/static/truecontact/adminlte/assets/img/default-user.png" class="img-circle img-size-32 mr-2">
                    ${gestion.agente}
                  </td>
                  <td class="text-center">${gestion.fecha}</td>
                  <td class="text-center">
                    ${gestion['id']}
                  </td>
                  <td class="">
                    <span class="text-muted fas fa-bullhorn">
                      ${gestion['medio']}
                    </span>
                  </td>
                  <td class="">
                    <span class="badge bg-success">${gestion['estado']}</span>
                    <a href="javascript:;" onClick="$(this).gestionView(this);" class="text-muted lead ml-1" data-id="${gestion['id']}">
                      <i class="fas fa-eye"></i>
                    </a>
                  </td>
                </tr>
              `);
            }
            $("#form-agregar-gestion")[0].reset();
            $("#btn-terminar-gestion").show();
            $("#btn-gestionar-otrocontacto").show();
            $("#btn-guardar-gestion").hide();
            $("#error-agregar-gestion").html('');

            toastr.success('Gestion creada con exito');
          }else{
            const ul_errors = document.getElementById('error-agregar-gestion');
            ul_errors.innerHTML = '';
            errors = respuesta['errors'];
            for( let key in errors){
              let li_error = document.createElement('li');
              li_error.innerHTML = `${key} - ${errors[key]}`;
              ul_errors.appendChild(li_error);
            }
          };
        }else{
          toastr.error('Error al gestionar el contacto, por favor contacte con su administrador');
        };
      });
    });

    $.fn.gestionView = function (){
      const id_gestion = $(this).data('id');
      const url = Urls.tc_gestion(id_gestion);
      $.get(url, {}, function(data, status){
        if (status == 'success'){
          const gestion = data['gestion'];
          console.log('>>>>', gestion['motivo'])
          $("#info-gestion").text("GESTION " + gestion['id']);
          $("#info-tipo").text(gestion['tipo_nombre']);
          $("#info-medio").text(gestion['medio']);
          $("#info-resultado").text(gestion['motivo']);
          $("#info-calificacion").text(gestion['resul']);
          $("#info-observaciones").text(gestion['observaciones']);
          if (gestion['estado'] == 'pendiente') {
            $("#info-estado").html(`<span class="badge bg-warning">${gestion['estado']}</span>`);
          }else if (gestion['estado'] == 'en_proceso') {
            $("#info-estado").html(`<span class="badge bg-primary">${gestion['estado']}</span>`);
          }else if (gestion['estado'] == 'finalizado') {
            $("#info-estado").html(`<span class="badge bg-success">${gestion['estado']}</span>`);
          }else{
            $("#info-estado").html(`<span class="badge bg-danger">Error</span>`);
          }
          if (gestion['medio'] == 'telefonia') {
            $("#info-registro").html(`
              <audio controls="">
                <source src="${gestion['url_grabacion']}" type="audio/mpeg">
              </audio>
            `);
          }else if(gestion['medio'] == 'whatsapp'){
            const info_registro = document.getElementById('info-registro');
            info_registro.textContent = '';
            const ver_mensajes = document.createElement('a');
            ver_mensajes.textContent = 'Ver mensajes';
            ver_mensajes.setAttribute('data-id', id_gestion);
            ver_mensajes.setAttribute('data-calldata', JSON.stringify(gestion['call_data']));
            ver_mensajes.setAttribute('href', 'javascript:;');
            ver_mensajes.addEventListener('click', ver_registro_mensajes);
            info_registro.appendChild(ver_mensajes);
            // $("#info-registro").html(`
            //   <a href="javascript:;">
            //     ver mensajes
            //   </a>
            // `);
          }else{
            $("#info-registro").html(`
              <p">
                gestion manual
              </p>
            `);
          }
          const registro_mensajes = document.getElementById('registro_mensajes');
          registro_mensajes.style.display = 'none';
          $("#modal-ver-gestion").modal('show');
        }else{
          toastr.error(`Error al consultar la gestion ${id_gestion}, por favor contacte con su administrador`);
        }
      });
    }

    $(".gestion-view").click(function () {
      const id_gestion = $(this).data('id');
      const url = Urls.tc_gestion(id_gestion);
      $.get(url, {}, function(data, status){
        if (status == 'success'){
          const gestion = data['gestion'];
          $("#info-gestion").text("GESTION " + gestion['id']);
          $("#info-tipo").text(gestion['tipo']);
          $("#info-medio").text(gestion['medio']);
          $("#info-resultado").text(gestion['resultado']);
          $("#info-calificacion").text(gestion['calificacion']);
          $("#info-observaciones").text(gestion['observaciones']);
          if (gestion['estado'] == 'pendiente') {
            $("#info-estado").html(`<span class="badge bg-warning">${gestion['estado']}</span>`);
          }else if (gestion['estado'] == 'en_proceso') {
            $("#info-estado").html(`<span class="badge bg-primary">${gestion['estado']}</span>`);
          }else if (gestion['estado'] == 'finalizado') {
            $("#info-estado").html(`<span class="badge bg-success">${gestion['estado']}</span>`);
          }else{
            $("#info-estado").html(`<span class="badge bg-danger">Error</span>`);
          }
          $("#modal-ver-gestion").modal('show');
        }else{
          toastr.error(`Error al consultar la gestion ${id_gestion}, por favor contacte con su administrador`);
        }
      });
    });

    $(".gestion-edit").click(function () {
      const id_gestion = $(this).data('id');
      const url = Urls.tc_gestion(id_gestion);
      $.get(url, {},function (data, status){
        if(status == 'success'){
          if (data['status'] == 'ok'){
            const gestion = data['gestion'];
            $("#titulo_gestion").text("GESTION " + gestion['id']);
            $("#id_gestion").val(gestion['id']);
            $("#id_contacto").val(gestion['contacto']);
            $("#id_call_data").val(gestion['call_data']);
            $("#id_tipo").val(gestion['tipo']);
            console.log("tipo fue..." + gestion['tipo']);
            var tipo = gestion['tipo'];
            $("#id_resultado").empty();
            $("#id_resultado").append("<option value=''>Seleccione</option>");
            if (tipo != ''){
              $.get("{% url 'resultados_ajax'%}", {"tipo": tipo }, function(data,status){
                if (status=="success"){
                  var resultados = data['resultados'];
                  for (i=0; i<resultados.length; i++){
                    var resultado = resultados[i];
                    $('#id_resultado').append("<option value='"+resultado["id"]+"'>"+resultado["nombre"]+"</option>").trigger("chosen:updated");
                  }
                }
              });
            }
            $("#id_medio").val(gestion['medio']);
            $("#id_medio_label").val(gestion['medio']);
            
            const ul_errors = document.getElementById('error-agregar-gestion');
            ul_errors.innerHTML = '';

            $("#btn-terminar-gestion").hide();
            $("#btn-gestionar-otrocontacto").hide();
            $("#btn-guardar-gestion").show();

            $(window).scrollTop(0);

          }
        }else{
          toastr.error(`Error al consultar la gestion ${id_gestion}, por favor contacte con su administrador`);
        };
      });
    });

    $("#info-contacto").click(function () {
      $("#modal-info-contacto").modal('show');
    });


    function ver_registro_mensajes(e){
      const registro_mensajes = document.getElementById('registro_mensajes');
      registro_mensajes.textContent = '';
      registro_mensajes.style.display = 'block';
      let id_gestion = e.target.getAttribute('data-id');
      let call_data_json = e.target.getAttribute('data-calldata');
      let call_data = JSON.parse(call_data_json);
      console.log(call_data);
      let dialogo_id = call_data.chat_id;
      let mensaje_inicial = call_data.mensaje_inicial;
      let mensaje_final = call_data.mensaje_final;
      if(mensaje_final == null) {
        mensaje_final = '';
      }
      console.log(mensaje_final);

      let url = `/tc/dialogo/${dialogo_id}/mensajes/`;
      url = url + `?mensaje_inicial=${mensaje_inicial}&mensaje_final=${mensaje_final}`;
      fetch(url)
        .then(function(res) {
          return res.json();
        })
        .then(function(respuesta) {
          let mensajes_list = respuesta['mensajes'];
          for(i=0; i<mensajes_list.length; i++){
            const mensaje = mensajes_list[i];
            const mensaje_container = crear_html_mensaje(mensaje);
            registro_mensajes.appendChild(mensaje_container);
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    }

    function crear_html_mensaje(mensaje) {
      const row_container = document.createElement('div');
      const div_container = document.createElement('div');
      const div_mensaje_clase = document.createElement('div');
      const div_mensaje_tipo = document.createElement('div');
      const div_cuerpo_mensaje = document.createElement('div');

      const div_autor = document.createElement('div');
      div_autor.setAttribute('style', 'overflow: hidden');

      const div_fecha_mensaje = document.createElement('div');
      div_fecha_mensaje.className = 'time-message';

      const autor = document.createElement('span');
      autor.className = 'sender-message-name';
      autor.textContent = mensaje.autor;

      const fecha_mensaje = document.createElement('span');
      fecha_mensaje.textContent = mensaje.fecha_recibido;

      if (mensaje.tipo == 'chat'){
        div_mensaje_tipo.className = 'text-message';

        const div_detalle_mensaje = document.createElement('div');
        div_detalle_mensaje.className = 'text-message';
        div_detalle_mensaje.textContent = mensaje.body;
        div_cuerpo_mensaje.appendChild(div_detalle_mensaje);

      }else{
        div_mensaje_tipo.className = 'image-message';
        div_autor.classList.add('name-send-message-img');

        const div_detalle_mensaje = document.createElement('a');
        div_detalle_mensaje.setAttribute('href', mensaje.archivo);
        div_detalle_mensaje.setAttribute('target', '_blank');
        const imagen = document.createElement('img');
        imagen.setAttribute('src', mensaje.archivo);
        imagen.setAttribute('style', 'width: 100%');
        div_detalle_mensaje.appendChild(imagen);
        div_cuerpo_mensaje.appendChild(div_detalle_mensaje);
      }

      if (mensaje.from_me == true){
        div_mensaje_clase.className = 'message-send';
        div_container.className = 'col-sm-11 justify-content-end d-flex';
        row_container.className = 'justify-content-end d-flex message-container';
        div_autor.classList.add('justify-content-end', 'd-flex');
      }else{
        div_mensaje_clase.className = 'message-receive';
        div_container.className = 'col-sm-11';
        row_container.className = 'row message-container';
      }

      div_autor.appendChild(autor);
      div_fecha_mensaje.appendChild(fecha_mensaje);
      div_mensaje_tipo.appendChild(div_autor);
      div_mensaje_tipo.appendChild(div_cuerpo_mensaje);
      div_mensaje_tipo.appendChild(div_fecha_mensaje);
      div_mensaje_clase.appendChild(div_mensaje_tipo);
      div_container.appendChild(div_mensaje_clase);
      row_container.appendChild(div_container);

      return row_container;
    };

    // AMG
    $("#id_tipo").change(function(){
      var tipo = $(this).val();
      $("#id_resultado").empty();
      $("#id_resultado").append("<option value=''>Seleccione</option>");
      if (tipo != ''){
        $.get("{% url 'resultados_ajax'%}", {"tipo": tipo }, function(data,status){
          if (status=="success"){
            var resultados = data['resultados'];
            for (i=0; i<resultados.length; i++){
              var resultado = resultados[i];
              $('#id_resultado').append("<option value='"+resultado["id"]+"'>"+resultado["nombre"]+"</option>").trigger("chosen:updated");
            }
          }
        });
      }
    });


  });
</script>
{% endblock %}
