{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 3 | Legacy User Menu</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'truecontact/adminlte/assets/plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'truecontact/adminlte/assets/css/adminlte.css' %}">
</head>
<body class="">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1>ACTUALIZACION DE DATOS PARA FACTURACION ELECTRONICA</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">SIP SISTEMAS E INFORMATICA PROFESIONAL LTDA.</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body">
          <form class="form-horizontal" action="" method="post">{% csrf_token %}
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title text-center">Datos Principales</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                      <label>Tipo de Contribuyente</label>
                      <select class="form-control" required>
                        <option value="">Seleccione</option>
                        <option value="natural">Natural</option>
                        <option value="juridica">Jurídica</option>
                        <option value="extranjero">Extranjero</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Sector</label>
                      <select class="form-control" required>
                        <option value="">Seleccione</option>
                        <option value="privado">Privado</option>
                        <option value="publico">Publico</option>
                        <option value="mixto">Mixto</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                      <label>Tipo de Documento</label>
                      <select class="form-control" required>
                        <option value="">Seleccione</option>
                        <option value="cc">Cedula Ciudadania</option>
                        <option value="nit">NIT</option>
                        <option value="ce">Cedula Extrangeria</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Numero de Identificación</label>
                      <input type="text" name="numero_identificacion" value="" class="form-control" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <!-- select -->
                    <div class="form-group">
                      <label>Nombre de la Empresa</label>
                      <input type="text" name="nombre_empresa" value="" class="form-control" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                      <label>Ciudad</label>
                      <input type="text" name="ciudad" value="" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Dirección</label>
                      <input type="text" name="dirección" value="" class="form-control" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Teléfono</label>
                      <input type="text" name="telefono" value="" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Código Postal</label>
                      <input type="text" name="codigo_postal" value="" class="form-control" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title text-center">Datos de Contacto Principal</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                      <label>Nombre</label>
                      <input type="text" name="contacto_nombre" value="" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Cargo</label>
                      <input type="text" name="contacto_nombre" value="" class="form-control" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" name="contacto_nombre" value="" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Teléfono</label>
                      <input type="text" name="numero_identificacion" value="" class="form-control" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title text-center">Datos de Quien Recibe Factura Electronica</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Nombre</label>
                      <input type="text" name="contacto_nombre" value="" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Cargo</label>
                      <input type="text" name="contacto_nombre" value="" class="form-control" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" name="contacto_nombre" value="" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Teléfono</label>
                      <input type="text" name="numero_identificacion" value="" class="form-control" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title text-center">Documentos Requeridos</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <p>Por favor ingrese los siguiente documentos: </p>
                <ul>
                  <li>Copia actualizada del RUT</li>
                </ul>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="nombre_file_1" class="col-sm-4 col-form-label">Nombre Archivo</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="nombre_file_1" placeholder="Nombre" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file_1">
                        <label class="custom-file-label" for="file_1">Seleccione archivo</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="nombre_file_1" class="col-sm-4 col-form-label">Nombre Archivo</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="nombre_file_1" placeholder="Nombre">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file_1">
                        <label class="custom-file-label" for="file_1">Seleccione archivo</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="nombre_file_1" class="col-sm-4 col-form-label">Nombre Archivo</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="nombre_file_1" placeholder="Nombre">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file_1">
                        <label class="custom-file-label" for="file_1">Seleccione archivo</label>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </form>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <button type="submit" name="button">Guardar</button>
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{% static 'truecontact/adminlte/assets/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'truecontact/adminlte/assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'truecontact/adminlte/assets/js/adminlte.js' %}"></script>
<script src="{% static 'truecontact/adminlte/assets/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    bsCustomFileInput.init();
  });
</script>
</body>
</html>
