{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block page_css_level %}
{% endblock %}

{% block content %}
<!--  BEGIN CONTENT PART  -->
<div id="" class="main-content">
    <div >
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="content-header pl-3 pr-3">
                        <div class="row mt-2">
                          <div class="col-sm-12">
                            <h2 class="text-muted">Editar Ayuda</h2>
                            <div class="crumbs">
                              <ul id="breadcrumbs" class="breadcrumb">
                              <li><a href="{% url 'ayuda-list' %}">Ayuda</a></li>
                              <li class="active"><a href="#">Editar Ayuda</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area add-manage-product-2">
                        <div class="row">
                            <div class="col-xl-8 col-md-12">
                                <div class="card card-default">
                                    <div class="card-heading"><h2 class="card-title"><span>GENERAL</span></h2></div>
                                    <div class="card-body">
                                        <div class="card-body">
                                            <form class="form-horizontal" enctype="multipart/form-data" method="post">
                                                {% csrf_token %}

                                                <div class="form-group mb-4">
                                                    <div class="row">
                                                        <label class="col-md-4">Titulo :</label>
                                                        <div class="col-md-8">
                                                            {% render_field form.titulo rows="4" cols="5" class="form-control" %}
                                                            {% for error in form.titulo.errors %}
                                                                <p class="text-danger">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-4">
                                                    <div class="row">
                                                        <label class="col-md-4">Descripción :</label>
                                                        <div class="col-md-8">
                                                            {% render_field form.descripcion  rows="4" cols="5" class="form-control" %}
                                                            {% for error in form.descripcion.errors %}
                                                                <p class="text-danger">{{ error }}</p>
                                                            {% endfor %}

                                                        </div>
                                                    </div>
                                                </div>
                                               
                                                <div class="form-group mb-4">
                                                    <div class="row">
                                                        <label class="col-md-4">Activo :</label>
                                                        <div class="col-md-8">
                                                            {% render_field form.activo %}
                                                            {% for error in form.activo.errors %}
                                                                <p class="text-danger">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <button class="btn btn-primary mb-4 mr-2">Actualizar</button>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  END CONTENT PART  -->
{% endblock %}


