{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}

{% block page_css_level %}
{% endblock %}

{% block content %}

<div class="widget-content-area custom-card p-0">
  <div class="row layout-spacing">

      <div class="col-lg-12">

          <div class="statbox widget box box-shadow">
              <div class="content-header pl-3 pr-3">

                  <div class="row mt-2">
                    <div class="col-sm-12">
                      <h2 class="text-muted">Calificaciones </h2>
                      <div class="crumbs">
                        <ul id="breadcrumbs" class="breadcrumb">
                          <li><a href="javascript: void(0);"><i class="flaticon-home-fill"></i></a></li>
                          <li><a href="{% url 'tc-contacto-calificacion-list' %}">Calificaciones</a></li>
                          <li><a href="javascript: void(0);">Agregar</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>

              </div>

              <div class="widget-content widget-content-area">

                <form class="form-horizontal" action="" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <div class="row">

                        <div class="col-sm-12 col-md-6  mb-1">
                          <div class="row">
                            <div class="col-sm-4">
                              <label for="{{ form.campana.id_for_label}}">{{ form.campana.label }}:</label>
                            </div>
                            <div class="col-sm-8">
                              {% render_field form.campana class="form-control" %}
                              {% for error in form.campana.errors %}
                                  <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12 col-md-6  mb-1">
                          <div class="row">
                            <div class="col-sm-4">
                              <input type="hidden" name="nombres" value="{{ form.nombres.value }}">  
                              <label for="{{ form.nombre.id_for_label}}">{{ form.nombre.label }}:</label>
                            </div>
                            <div class="col-sm-8">
                              {% render_field form.nombre class="form-control" %}
                              {% for error in form.nombre.errors %}
                                  <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="form-group">
                      <div class="row">

                        <div class="col-sm-12 col-md-6  mb-1">
                          <div class="row">
                            <div class="col-sm-4">
                              <label for="{{ form.accion_programacion.id_for_label}}">{{ form.accion_programacion.label }}:</label>
                            </div>
                            <div class="col-sm-8">
                              {% render_field form.accion_programacion class="form-control" %}
                              {% for error in form.accion_programacion.errors %}
                                  <p class="text-danger">{{ error }}</p>
                              {% endfor %}
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    
                    <a class="btn btn-warning mb-4 mr-2"  href="{% url 'tc-contacto-calificacion-list' %}">Cancelar</a>
                    <input class="btn btn-primary mb-4 mr-2" type="submit" name="" value="Guardar">
                </form>

              </div>

        </div>
      </div>

  </div>
</div>

<script type="text/javascript">
  /* elements */

  /* eventos */
</script>

{% endblock %}
