{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Da2Soft | Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css>
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'adminlte/assets/css/adminlte.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <img src="{% static 'da2soft/assets/img/logotruecontact.jpg' %}" alt="DA2 logo" class="img-circle" style="width: 50px;">
      <a href="#"><b>TRUE</b>Contact
      </a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <!-- <div class="card-header text-center">
        <h4>HelpDesk</h4>
      </div> -->
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>
        {% if form.non_field_errors %}
          {% for error in  form.non_field_errors %}
              <div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
                {{ error }}
              </div>
          {% endfor %}
        {% endif %}
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            {% render_field form.username class="form-control" placeholder="Usuario" %}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            {% for error in form.username.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="input-group mb-3">
            {% render_field form.password class="form-control" placeholder="Password.."  %}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            {% for error in form.password.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <!-- <div class="social-auth-links text-center mb-3">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
          </a>
        </div> -->
        <!-- /.social-auth-links -->

        <p class="mb-1">
          <a href="#">I forgot my password</a>
        </p>
        <!-- <p class="mb-0">
          <a href="register.html" class="text-center">Register a new membership</a>
        </p> -->
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->

  <!-- jQuery -->
  <script src="{% static 'adminlte/assets/plugins/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'adminlte/assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'adminlte/assets/js/adminlte.min.js' %}"></script>

</body>

</html>
