{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
{% block page_style_level %}

{% endblock %}
<!-- ================== END PAGE LEVEL STYLE ================== -->

<!-- ================== BEGIN CONTENT ================== -->
{% block content %}
<!-- MIDDLE -->
<section id="middle">
	<!-- page title -->
	<header id="page-header">
		<h1>Eliminar Usuario</h1>
		<ol class="breadcrumb">
			<li><a href="#">Admin</a></li>
			<li><a href="{% url 'usuario' %}">Usuarios</a></li>
			<li class="active">Eliminar</li>
		</ol>
	</header>
	<!-- /page title -->

	<div id="content" class="padding-20">
		<!-- Panel Default -->
		<div id="panel-1" class="panel panel-default">
			<div class="panel-heading">
				<span class="elipsis"><!-- panel title -->
				    <strong>Confirmacion eliminar usuario</strong>
				</span>
				<!-- right options -->
				<ul class="options pull-right list-inline">
					<li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
					<li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
				</ul>
				<!-- /right options -->
			</div>

			<!-- panel content -->
			<div class="panel-body">
				<form class="" action="" method="post">{% csrf_token %}
					<input type="hidden" name="user" value="{{ user.pk }}">
					<div class="alert alert-warning margin-bottom-30">
						<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
						<h4><strong>¿Esta Seguro?</strong></h4>
						<p>
							Se va a eliminar el usuario <strong>{{ user.username }} - {{ user.get_full_name }}</strong>
						</p>
						{% if perms.auth.delete_user %}
							<input type="submit" class="btn btn-warning margin-top-10" name="" value="Eliminar">
						{% endif %}
						<a href="{% url 'usuario' %}" class="btn btn-default margin-top-10">Volver</a>
					</div>
				</form>
			</div>
			<!-- /panel content -->
		</div>
		<!-- /Panel Default -->
	</div>
</section>
<!-- /MIDDLE -->
{% endblock %}
<!-- ================== END CONTENT ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
{% block page_js_level %}

{% endblock %}
<!-- ================== END PAGE LEVEL JS ================== -->
