{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
{% block page_style_level %}

{% endblock %}
<!-- ================== END PAGE LEVEL STYLE ================== -->

<!-- ================== BEGIN CONTENT ================== -->
{% block content %}
<section id="middle">
  <!-- page title -->
	<header id="page-header">
		<h1>Usuarios</h1>
		<ol class="breadcrumb">
			<li><a href="#">Admin</a></li>
      <li><a href="{% url 'usuario' %}">Usuarios</a></li>
			<li class="active">Agregar</li>
		</ol>
	</header>
	<!-- /page title -->

  <div id="content" class="padding-20">

		<div id="panel-1" class="panel panel-default">
			<div class="panel-heading">
				<span class="title elipsis">
					<strong>FORMULARIO CREACION DE USUARIO</strong>
				</span>

				<!-- right options -->
				<ul class="options pull-right list-inline">
					<li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
					<li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
				</ul>
				<!-- /right options -->

			</div>
			<!-- panel content -->
			<div class="panel-body">
        <form class="form-horizontal" data-parsley-validate="true"  method="post">{% csrf_token %}
					<div class="row">
						<div class="form-group">
							<div class="col-md-6 col-sm-6">
								<label class="col-md-4 col-sm-4 col-form-label" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
								<div class="col-md-8 col-sm-8">
									{% render_field form.username class="form-control" required="" placeholder="Requerido" %}
									{% render_field form.username.help_text %}
									{% for error in form.username.errors %}
										<p class="text-danger">{{ error }}</p>
									{% endfor %}
								</div>
							</div>
							<div class="col-md6 col-sm-6">
								<label class="col-md-4 col-sm-4 col-form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
								<div class="col-md-8 col-sm-8">
									{% render_field form.email class="form-control" placeholder="Opcional" %}
									{% for error in form.email.errors %}
										<p class="text-danger">{{ error }}</p>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<div class="col-md-6 col-sm-6">
								<label class="col-md-4 col-sm-4 col-form-label" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
								<div class="col-md-8 col-sm-8">
									{% render_field form.first_name class="form-control " required="" placeholder="Requerido" %}
									{% for error in form.first_name.errors %}
										<p class="text-danger">{{ error }}</p>
									{% endfor %}
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<label class="col-md-4 col-sm-4 col-form-label" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
								<div class="col-md-8 col-sm-8">
									{% render_field form.last_name class="form-control" required="" placeholder="Requerido" %}
									{% for error in form.last_name.errors %}
										<p class="text-danger">{{ error }}</p>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<div class="col-md-6 col-sm-6">
								<label class="col-md-4 col-sm-4 col-form-label" for="{{ form.group.id_for_label }}"> Grupos</label>
								<div class="col-md-8 col-sm-8">
									{% render_field form.group class="form-control"%}
									{% for error in form.group.errors %}
										<p class="text-danger">{{ error }}</p>
									{% endfor %}
									{% render_field form.group.help_text %}
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<div class="col-md-6 col-sm-6">
								<label class="col-md-4 col-sm-4 col-form-label" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
								<div class="col-md-8 col-sm-8">
									{% render_field form.password1 class="form-control required" placeholder="Requerido" %}
									{% for error in form.password1.errors %}
										<p class="text-danger">{{ error }}</p>
									{% endfor %}
									{% render_field form.password1.help_text %}
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<label class="col-md-4 col-sm-4 col-form-label" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
								<div class="col-md-8 col-sm-8">
									{% render_field form.password2 class="form-control required"  placeholder="Requerido" %}
									<ul>
										{% for error in form.password2.errors %}
											<li class="text-danger">{{ error }}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-info">Guardar</button>
							<a href="{% url 'usuario' %}" class="btn btn-default">Volver</a>
						</div>
					</div>

        </form>
			</div>
			<!-- /panel content -->
  </div>
</section>
{% endblock %}
<!-- ================== END CONTENT ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
{% block page_js_level %}

{% endblock %}
<!-- ================== END PAGE LEVEL JS ================== -->
