{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="widget-content-area custom-card p-0">

  <div class="row layout-spacing">
      <div class="col-lg-12">

          <div class="statbox widget box box-shadow">
              <div class="content-header pl-3 pr-3">

                  <div class="row mt-2">
                    <div class="col-sm-12">
                      <h2 class="text-muted">Directorios
                        <a class="float-right text-muted" href="{% url 'tc_directorios_list' %}">
                          <i class="flaticon-reload-bold icon"></i>
                        </a>
                      </h2>
                      <div class="crumbs">
                        <ul id="breadcrumbs" class="breadcrumb">
                          <li><a href="javascript: void(0);"><i class="flaticon-home-fill"></i></a></li>
                          <li><a href="javascript: void(0);">Directorios</a></li>
                          <!-- <li class="active"><a href="#">Products</a></li> -->
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-6">

                        <!-- <div class="btn-group ml-2">
                          <a href="{% url 'tc-contacto-add' %}" class="btn btn-info">Agregar</a>
                          <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"> + </span>
                          </button>
                          <div class="dropdown-menu">
                            <a href="javascript:void(0);" class="dropdown-item"><i class="flaticon-home-fill mr-1"></i>Action</a>
                            <a href="javascript:void(0);" class="dropdown-item"><i class="flaticon-gear-fill mr-1"></i>Another action</a>
                          </div>
                        </div> -->

                      </div>
                      <div class="col-6">
                        <form class="" action="" method="get">
                          <div class="input-group input-group-sm">
                            <input type="text" name="buscar" class="form-control" value="{{ buscar }}" placeholder="documento, nombres, telefono">
                            <span class="input-group-append">
                              <button type="submit" class="btn btn-info btn-flat">Buscar</button>
                              {% if buscar %}
                              <a href="{% url 'tc-contacto' %}" class="btn btn-warning float-right">
                                    Borrar
                              </a>
                              {% endif %}
                            </span>
                          </div>
                        </form>
                      </div>

                  </div>
              </div>

              <div class="widget-content widget-content-area">
                <div class="row">

                  {% for directorio in directorios %}

                  <div id="contacto-{{directorio.pk}}" class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mb-4"> <!--card -->
                      <div class="contact-1 text-center h-100"> <!-- card_container -->

                        <!-- <div class="card-top-section text-right">
                            <div class="dropdown">
                              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon-dots"></i>
                              </a>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink5">
                                <a class="dropdown-item" href="javascript:void(0);">Ver Pedidos</a>
                                <a class="dropdown-item" href="javascript:void(0);">Ver Facturas</a>
                                <a class="dropdown-item" href="javascript:void(0);">Seguir</a>
                              </div>
                            </div>
                        </div> -->

                          <div class="card-mid-section mb-3"> <!-- div section middle -->
                              <div class="usr-profile mx-auto"> <!-- div contacto -->
                                  {% if directorio.obtener_gestiones_pendientes.count > 0 %}
                                    <span class="badge badge-warning">{{ directorio.obtener_gestiones_pendientes.count }}</span> <!-- span gestiones contacto -->
                                  {% endif %}
                                    <img alt="admin-profile" src="{% static 'truecontact/template/assets/img/logo_directorio.png' %}" style="max-width: 80%; max-height: 80%;"> <!-- img contacto -->
                              </div>
                              <div class="team-content mb-2"> <!-- div info contacto -->
                                  <h4 class="mt-2 mb-0"> {{ directorio.nombre }}</h4> <!-- nombre contacto -->
                              </div>
                          </div>

                          <div class="card-bottom-section"> <!-- card_middle_seccion -->
                              <div class="accion-buttons">
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <i class="action-button-phone fas fa-phone call_button"
                                            data-id="{{ directorio.pk }}"></i>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}

                </div>
              </div>
          </div>


          <!-------     PAGINATOR DE LOS REGISTROS............  -->
          <div class="card-footer clearfix">
            <span class="float-left">
              Total Registros: {{ paginator.count }}
            </span>
            <br>
            <span class="current">
              Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if is_paginated %}
            <div class="dataTables_paginate paging_simple_numbers">
              <ul class="pagination float-right">
                {% if page_obj.has_previous %}
                  <li class="paginate_button page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&buscar={{ buscar }}">«</a></li>
                {% endif %}
                {% for i in pages %}
                  {% if i == page_obj.number %}
                  <li class="paginate_button page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                  {% else %}
                  <li class="paginate_button page-item"><a class="page-link" href="?page={{ i }}&buscar={{ buscar }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="paginate_button page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&buscar={{ buscar }}">»</a></li>
                {% endif %}
              </ul>
              {% endif %}
            </div>
          </div>           <!-------   /END PAGINATOR DE LOS REGISTROS............  -->

      </div>
  </div>
</div>

<!-- Modal telefonos del contacto a llamar -->
<div class="modal fade show" id="modal-call" aria-modal="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="info-contacto" class="modal-title text-muted"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <table class="table table-condensed">
            <tbody id="directorio-telefonos">
            </tbody>
          </table>
        </div>
        <form id="form-agente-llamar"
          class="form-horizontal" action="{% url 'tc-agente-llamar-contacto' %}"
          method="post">
          {% csrf_token %}
          <input type="hidden" id="pk_agente" name="pk_agente" value="{{ user.get_agente_profile.pk }}">
          <input type="hidden" id="pk_contacto" name="pk_contacto">
          <input type="hidden" id="pk_campana" name="pk_campana" value="">
          <input type="hidden" id="campana_nombre" name="campana_nombre" value="">
          <input type="hidden" id="tipo_campana" name="tipo_campana" value="">
          <input type="hidden" id="campana_tipo" name="campana_tipo" value="">
          <input type="hidden" id="telefono" name="telefono" value="">
          <input type="hidden" id="click2call_type" name="click2call_type" value="contactos">
          <div class="form-group row">
            <label for="select-campana" class="col-sm-2 col-form-label">Campaña</label>
            <div class="col-sm-10">
              <select id="select-campana" class="form-control" name="">
                {% for campana in contacto_campanas %}
                <option value="{{ campana.0 }}-{{ campana.1 }}-{{ campana.2 }}">{{ campana.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


{% endblock %}

{% block page_js_level %}
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', (e) => {

        let btns_call = document.getElementsByClassName('call_button')
        
        for(let btn_call of btns_call) { 
            btn_call.addEventListener("click", async ()=>{
                let id_directorio = btn_call.getAttribute('data-id')
                document.getElementById('directorio-telefonos').innerHTML = ''
                let str_url =  window.location.origin + Urls.tc_directorio_ver()
                let url = new URL(str_url), params = {'id_directorio' : id_directorio}
                Object.keys(params).forEach(key => url.searchParams.append(key, params[key]))

                let response = await fetch(url, {method:'GET'})
                let respuesta = await response.json()
                
                document.getElementById('info-contacto').textContent = respuesta['directorio_nombre']

                let telefonos = respuesta['telefonos']

                if (telefonos.length == 0) {
                    document.getElementById('directorio-telefonos').innerHTML = `
                    <tr>
                        <td class="text-center">
                            <h4>No se encontraron telefonos para este directorio.</h4>
                        </td>
                    </tr>
                    `
                } else {
                    for(let telefono of respuesta['telefonos']){
                        document.getElementById('directorio-telefonos').innerHTML += `
                        <tr>
                            <td class="text-center">
                                <strong>${telefono['label']}</strong>
                            </td>
                            <td class="text-center">
                                ${telefono['numero']}
                            </td>
                            <td class="text-center">
                                <a onClick="callContacto(${id_directorio},${telefono['numero']})" class="btn btn-sm btn-info" data-directorio="${id_directorio}" data-telefono="${telefono['numero']}">
                                    Llamar
                                </a>
                            </td>
                        </tr>
                        `
                    }
                }
                $("#modal-call").modal('show');
            })
        }

    });

    function callContacto(id_directorio, telefono) {
        const id_campana = document.getElementById('select-campana').value.split('-')[0]
        const type_campana = document.getElementById('select-campana').value.split('-')[2]
        const name_campana = document.getElementById('select-campana').value.split('-')[1]
        $("#pk_contacto").val(id_directorio)
        $("#pk_campana").val(id_campana)
        $("#campana_nombre").val(name_campana)
        $("#campana_tipo").val(type_campana)
        $("#tipo_campana").val(type_campana)
        $("#telefono").val(telefono)
        $("#form-agente-llamar").submit()
    }

  
    $('#select-campana-whatsapps').click(function () {
        var id_contacto = $("#id_contacto").val();
        console.log("id_contacto ", id_contacto);
        var id_campana = $("#select-campana-whatsapps").val().split('-')[0];
        var type_campana = $("#select-campana-whatsapps").val().split('-')[2];
        var name_campana = $("#select-campana-whatsapps").val().split('-')[1];
        $("#campana_nombre_whatsapp").val(name_campana);
        $("#campana_tipo_whatsapp").val(type_campana);
        $("#campana_id_whatsapp").val(type_campana);
        let url = '/tc/agente/contacto/campana/';
        $.get(url, { 'id_contacto': id_contacto,'id_campana': id_campana }, function(data, status){
            if(status == 'success'){
            }
        });

    });

</script>

{% endblock %}