{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="widget-content-area custom-card p-0">

  <div class="row layout-spacing">
      <div class="col-lg-12">

          <div class="statbox widget box box-shadow">
              <div class="content-header pl-3 pr-3">

                  <div class="row mt-2">
                    <div class="col-sm-12">
                      <h2 class="text-muted">Gestiones realizadas</h2>
                      <div class="crumbs">
                        <ul id="breadcrumbs" class="breadcrumb">
                          <li><a href="javascript: void(0);"><i class="flaticon-home-fill"></i></a></li>
                          <li><a href="javascript: void(0);">Gestiones</a></li>
                          <!-- <li class="active"><a href="#">Products</a></li> -->
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-xl-12 col-md-12 col-12">

                        <form class="" action="" method="get">
                          Filtro por fechas
                          <div class="row">
                            <div class="col-sm-6">
                               <div class="input-group col-sm-8">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="far fa-calendar-alt"> DESDE</i>
                                    </span>
                                  </div>
                                  <input type="date" class="form-control float-right" id="f_inicial" name="f_inicial" value="{{f_inicial}}" placeholder="dia/mes/año " >
                                </div>
                              <div class="input-group col-sm-8">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="far fa-calendar-alt"> HASTA</i>
                                  </span>
                                </div>
                                <input type="date" class="form-control float-right" id="f_final" name ="f_final" value="{{f_final}}" placeholder="dia/mes/año" >
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="input-group input-group-sm">
                                <input type="text" name="buscar" class="form-control" value="{{ buscar }}" placeholder="agente, documento, nombres, telefono">
                                <span class="input-group-append">
                                  <button type="submit" class="btn btn-info btn-flat">Buscar</button>
                                  {% if buscar %}
                                  <a href="{% url 'tc_gestiones_conmutador_list' %}" class="btn btn-warning float-right">
                                        Borrar
                                  </a>
                                  {% endif %}
                                </span>
                              </div>
                            </div>
                          </div>
                          <br>
                          <button type="submit" class="btn btn-info">Filtrar</button>
                          {% if f_final %}
                          <a href="{% url 'tc_gestiones_conmutador_list' %}" class="btn btn-default">
                                Borrar Filtro Fecha
                          </a>
                          {% endif %}
                          <a href="{% url 'tc-csv-gestiones' %}?buscar={{buscar}}{{filtro}}" class="btn btn-success float-right">
                            Descargar informe CSV
                          </a>

                        </form>

                      </div>


                  </div>
              </div>

              <div class="widget-content widget-content-area">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
                        <thead>
                            <tr>
                                <th class="">ID</th>
                                <th class="">Nombre</th>
                                <th class="">Directorio</th>
                                <th class="">Resultado</th>
                                <th class="">Fecha</th>
                                <th class="text-center">Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for gestion in gestiones %}
                            <tr>
                              <td>{{ gestion.pk}}    </td>
                              <td>{{ gestion.nombre }}</td>
                              <td>{{ gestion.directorio.nombre }}</td>
                              <td>{{ gestion.get_resultado_display }}</td>
                              <td>{{ gestion.created|date:"d-m, Y, h:i A"}}</td>
                              <td class="d-flex justify-content-around">
                                {% if gestion.estado == 'pendiente' %}
                                  <span class="badge bg-warning">{{ gestion.get_estado_display }}</span>
                                {% elif gestion.estado == 'finalizado' %}
                                  <span class="badge bg-success">{{ gestion.get_estado_display }}</span>
                                {% else %}
                                  <span class="badge bg-danger">Error</span>
                                {% endif %}
                                <a id="ver_gestion_{{getion.pk}}" onclick="parent.verGestionConmutador('{{gestion.pk}}')" class="text-muted lead ml-1" data-id="{{ gestion.pk }}">
                                  <small>Ver</small>  <i class="fas fa-eye"></i>
                                </a>
                              </td>
                            </tr>
                          {% endfor %}

                        </tbody>
                    </table>
                </div>
              </div>
            </div>


          </div>

      </div>

      <div class="col-lg-12">
          <div class="statbox widget box box-shadow">
              <div class="widget-content widget-content-area text-right">
                <!-------     PAGINATOR DE LAS GESTIONES............  -->
                <div class="card-footer clearfix">
                  <span class="float-left">
                    Total Gestiones: {{ paginator.count }}
                  </span>
                  <br>
                  <span class="current">
                    Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if is_paginated %}
                  <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination pagination-style-2 pagination-rounded justify-content-center mb-5">
                      {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}{{filtro}}&buscar={{ buscar }}">«</a></li>
                      {% endif %}
                      {% for i in pages %}
                        {% if i == page_obj.number %}
                        <li><a class="active" href="#">{{ i }}</a></li>
                        {% else %}
                        <li><a href="?page={{ i }}{{filtro}}&buscar={{ buscar }}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}{{filtro}}&buscar={{ buscar }}">»</a></li>
                      {% endif %}
                    </ul>
                    {% endif %}
                  </div>
                </div>           <!-------    end del PAGINATOR DE LAS GESTIONES............  -->


              </div>
          </div>
      </div>
  </div>
</div>

<script>
</script>
{% endblock %}
