{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang='es'>
<head>
  <style media="screen">
    #overlay{
      position: fixed;
      top: 0;
      z-index: 1100;
      width: 100%;
      height:100%;
      display: none;
      background: rgba(0,0,0,0.6);
    }
    .cv-spinner {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .spinner {
      width: 80px;
      height: 80px;
      border: 8px #ddd solid;
      border-top: 8px #2e93e6 solid;
      border-radius: 50%;
      animation: sp-anime 0.8s infinite linear;
    }
    @keyframes sp-anime {
      100% {
        transform: rotate(360deg);
      }
    }
    .is-hide{
      display:none;
    }
  </style>
  <div id="overlay">
    <div class="cv-spinner">
      <span class="spinner"></span>
    </div>
  </div>
    <meta charset="utf-8">
    <title>TrueContact</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheets -->

    <link rel="icon" type="image/x-icon" href="{% static 'truecontact/template/assets/img/favicon.ico' %}"/>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/template/assets/css/plugins.css' %}" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link rel="stylesheet" href="{% static 'truecontact/plugins/sweetalert2/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/template/plugins/font-icons/fontawesome/css/regular.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/template/plugins/font-icons/fontawesome/css/solid.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/template/plugins/font-icons/fontawesome/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/template/plugins/font-icons/fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/template/plugins/select2/select2.min.css' %}">


    <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/consola_agente.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/consola_chat.css' %}"> -->
    <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/consola_agente_whatsapp.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/consola_agente_phone.css' %}">

    <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/template/plugins/date_time_pickers/bootstrap_date_range_picker/daterangepicker.css' %}">

    {% block custom_css %}{% endblock %}
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->


    <!-- Scripts -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>


    <script src="{% static 'truecontact/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'truecontact/template/assets/js/libs/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'truecontact/template/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'truecontact/template/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'truecontact/template/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'truecontact/template/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'truecontact/template/assets/js/app.js' %}"></script>
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>

    <!-- BEGIN OMNILEADS SCRIPTS -->
    {#% compress js %#}
    <script type="text/javascript" src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
    {#% endcompress %#}
    <!-- END OMNILEADS SCRIPTS -->

   
</head>

<body>
  <div id="overlay">
		<div class="cv-spinner">
			<span class="spinner"></span>
		</div>
	</div>

  {% block content %}{% endblock %}

  <script src="{% static 'truecontact/template/plugins/select2/select2.min.js' %}"></script>
  <script src="{% static 'truecontact/template/plugins/select2/custom-select2.js' %}"></script>
  <script src="{% static 'truecontact/template/plugins/date_time_pickers/bootstrap_date_range_picker/moment.min.js' %}"></script>

  <script src="{% static 'truecontact/template/plugins/date_time_pickers/bootstrap_date_range_picker/daterangepicker.js' %}"></script>

  <script src="{% static 'truecontact/template/plugins/charts/chartjs/Chart.min.js' %}"></script>
  <script src="{% static 'truecontact/template/plugins/charts/chartjs/chartjs-plugin-datalabels.min.js' %}"></script>
  <!-- <script type="text/javascript" src="{% static 'truecontact/truecontact/js/consola_agente.js' %}"></script>
  <script type="text/javascript" src="{% static 'truecontact/chatapi/js/chatJs.js' %}"></script>
  <script type="text/javascript" src="{% static 'truecontact/chatapi/js/consola_telefonia.js' %}"></script>
  <script type="text/javascript" src="{% static 'truecontact/truecontact/js/completeRecord/recorder.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'truecontact/catalogo/js/catalogoJs.js' %}"></script>
  <script type="text/javascript" src="{% static 'truecontact/contactos/js/contactosJs.js' %}"></script> -->
  {% block page_js_level %}
  {% endblock %}

  <script>
    $(".tagging").select2({
          tags: true
        });

  </script>
</body>
