{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset="utf-8">
    <title>TrueContact</title>
    <link rel="shortcut icon" href="{% static 'ominicontacto/Img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}">
    
    <!-- ############################ ADMIN LTE ASSETS ########################### -->
    <link rel="stylesheet" href="{% static 'truecontact/adminlte/assets/plugins/fontawesome-free/css/all.min.css' %}">
    
    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="{% static 'ominicontacto/CSS/jquery.dataTables.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'ominicontacto/CSS/bootstrap-datetimepicker.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'ominicontacto/CSS/main.css' %}"> -->
    <link rel="stylesheet" href="{% static 'truecontact/adminlte/assets/css/adminlte.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/consola_chat.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/main.css' %}">
    
    <!-- Scripts -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    {#% compress js %#}
    <script src="{% static 'jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.0.0/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/ranges-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/config_datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
    {#% endcompress %#}
    <script type="text/javascript" src="{% static 'ominicontacto/JS/jquery.dataTables.min.js' %}"></script>
    <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
    <!--[if lt IE 9]>
        <script src="{% static 'ominicontacto/JS/html5shiv-3.7.0.js' %}"></script>
        <script src="{% static 'ominicontacto/JS/respond-1.4.2.min.js' %}"></script>
    <![endif]-->


    <!-- PLUGINS Adicionales -->
    <link rel="stylesheet" href="{% static 'truecontact/adminlte/assets/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/truecontact/plugins/sweetalert2/css/sweetalert.css' %}">

</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">

  <div class="wrapper"> 
    {% include 'truecontact/navmain.html' %}
    {% include 'truecontact/sidebar.html' %}

    <div class="content-wrapper">
      {% block content %} {% endblock %}
    </div>

  </div>

  {#% compress js %#}
<!-- JsSIP -->

<!-- <script type="text/javascript" src="{% static 'ominicontacto/JS/config.js' %}"></script>
<script type="text/javascript" src="{% static 'ominicontacto/JS/jssip.js' %}"></script>
<script type="text/javascript" src="{% static 'ominicontacto/JS/state-machine-min.js' %}" ></script>
<script type="text/javascript" src="{% static 'ominicontacto/JS/constantes.js' %}"></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/phoneJsFSM.js' %}" ></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/omlAPI.js' %}" ></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/phoneJsView.js' %}" ></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/Timers.js' %}" ></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/phoneJsSip.js' %}"></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/phoneJsController.js' %}"></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/click2Call.js' %}"></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/main.js' %}"></script> -->

<!-- JsSip Debug -->
<!--<script>JsSIP.debug.enable('JsSIP:*');</script>-->
<!-- webChat -->
<!--script type="text/javascript" src="{% static 'ominicontacto/JS/JQueryWebChat.js' %}"></script-->
<!-- autobahn -->
<!-- <script type="text/javascript" src="{% static 'ominicontacto/JS/autobahn.min.js' %}"></script> -->
<!-- smschat -->
<!--script type="text/javascript" src="{% static 'ominicontacto/JS/textMessages.js' %}"></script-->
<!-- Socket.IO -->
<script type="text/javascript" src="{% static 'ominicontacto/JS/socket.io.js' %}"></script>
<!-- FacebookMessenger -->
<!--script type="text/javascript" src="{% static 'ominicontacto/JS/facebookMessenger.js' %}"></script-->
<!-- Calendar -->
<script type="text/javascript" src="{% static 'ominicontacto/JS/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ominicontacto/JS/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ominicontacto/JS/Calendar.js' %}"></script>

<!-- ############################ ADMIN LTE ASSETS ########################### -->
<script src="{% static 'truecontact/adminlte/assets/js/adminlte.js' %}"></script>
<script src="{% static 'truecontact/adminlte/assets/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'truecontact/truecontact/plugins/sweetalert2/js/sweetalert.min.js' %}"></script>

<!-- ############################ TRUECONTACT ASSETS ########################### -->
<script type="text/javascript" src="{% static 'truecontact/chatapi/js/chatJs.js' %}"></script>


{#% endcompress %#}
<script type="text/javascript">
</script>

</body>

