{% load staticfiles %}
{% load compress %}
{% load widget_tweaks %}
{% load template_extrafunc %}

<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset="utf-8">
    <title>TrueContact</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheets -->

    <link rel="icon" type="image/x-icon" href="{% static 'truecontact/template/assets/img/favicon.ico' %}"/>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/template/assets/css/plugins.css' %}" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link rel="stylesheet" href="{% static 'truecontact/template/plugins/font-icons/fontawesome/css/regular.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/template/plugins/font-icons/fontawesome/css/solid.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/template/plugins/font-icons/fontawesome/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/template/plugins/font-icons/fontawesome/css/fontawesome.css' %}">

    <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/consola_agente.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/consola_chat.css' %}"> -->
    <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/consola_agente_whatsapp.css' %}">
    <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/consola_agente_phone.css' %}">

    <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/main.css' %}">
    {% block custom_css %}{% endblock %}
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

    <!-- BEGIN PAGE OMNILEADS LEVEL STYLES -->
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/oml-icons.css' %}">
    <!-- END PAGE OMNILEADS LEVEL STYLES -->

    <!-- Scripts -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    <script src="{% static 'truecontact/template/assets/js/libs/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'truecontact/template/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'truecontact/template/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'truecontact/template/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'truecontact/template/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'truecontact/template/assets/js/app.js' %}"></script>
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>

    {#% compress js %#}
      <script type="text/javascript" src="{% static 'ominicontacto/JS/csrf.js' %}"></script>
      <script type="text/javascript" src="{% static 'ominicontacto/JS/daterangepicker.js' %}"></script>
      <script type="text/javascript" src="{% static 'ominicontacto/JS/ranges-datepicker.js' %}"></script>
      <script type="text/javascript" src="{% static 'ominicontacto/JS/config_datetimepicker.js' %}"></script>
      <script type="text/javascript" src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
    {#% endcompress %#}

</head>

<body class="default-sidebar">

  {% include 'truecontact/navmain.html' %}
  {% include 'truecontact/sidebar.html' %}

  <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

      {% include 'truecontact/modals.html' %}
      <div class="overlay"></div>
      <div class="cs-overlay"></div>

      <div id="content" class="main-content">
        <div class="container">

          <div class="row">



            <div id="main-center-col" class="col layout-spacing  mt-4" style="padding-left: 5px; padding-right: 5px">

              <div id="main-crm" class="">
                <iframe id="dataView" src="{% url 'tc-contacto' %}" name="crm" frameborder="0" style="width: 100%;height: 100vh;"></iframe>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
    <!-- END MAIN CONTAINER -->




  {% include 'truecontact/phone.html' %}
  {% include 'config.html' %}

  {% block custom_js %}{% endblock %}



{#% compress js %#}
<!-- JsSIP -->
<script type="text/javascript" src="{% static 'ominicontacto/JS/config.js' %}"></script>
<script type="text/javascript" src="{% static 'ominicontacto/JS/jssip.js' %}"></script>
<script type="text/javascript" src="{% static 'ominicontacto/JS/state-machine-min.js' %}" ></script>
<script type="text/javascript" src="{% static 'ominicontacto/JS/constantes.js' %}"></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/phoneJsFSM.js' %}" ></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/omlAPI.js' %}" ></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/phoneJsView.js' %}" ></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/Timers.js' %}" ></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/phoneJsSip.js' %}"></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/phoneJsController.js' %}"></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/click2Call.js' %}"></script>
<script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/main.js' %}"></script>
<!-- JsSip Debug -->
<!--<script>JsSIP.debug.enable('JsSIP:*');</script>-->
<!-- webChat -->
<!--script type="text/javascript" src="{% static 'ominicontacto/JS/JQueryWebChat.js' %}"></script-->
<!-- autobahn -->
<!-- <script type="text/javascript" src="{% static 'ominicontacto/JS/autobahn.min.js' %}"></script> -->
<!-- smschat -->
<!--script type="text/javascript" src="{% static 'ominicontacto/JS/textMessages.js' %}"></script-->
<!-- Socket.IO -->
<script type="text/javascript" src="{% static 'ominicontacto/JS/socket.io.js' %}"></script>
<!-- FacebookMessenger -->
<!--script type="text/javascript" src="{% static 'ominicontacto/JS/facebookMessenger.js' %}"></script-->
<!-- Calendar -->
<script type="text/javascript" src="{% static 'ominicontacto/JS/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ominicontacto/JS/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ominicontacto/JS/Calendar.js' %}"></script>





<!-- ############################ TRUECONTACT ASSETS ########################### -->

<!-- <script type="text/javascript" src="{% static 'truecontact/truecontact/js/consola_agente.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'truecontact/chatapi/js/chatJs.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'truecontact/chatapi/js/consola_telefonia.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'truecontact/truecontact/js/completeRecord/recorder.min.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'truecontact/catalogo/js/catalogoJs.js' %}"></script> -->
<script type="text/javascript" src="{% static 'truecontact/supervisor/js/supervisorJs.js' %}"></script>

<!--  BEGIN CUSTOM SCRIPTS FILE  -->
<script type="text/javascript" src="{% static 'truecontact/template/assets/js/forms/bootstrap_validation/bs_validation_script.js' %}"></script>
<!--  BEGIN CUSTOM SCRIPTS FILE  -->

{#% endcompress %#}
<script type="text/javascript">

$(document).ready(function () {

  $(".nav-item.notification-dropdown .notification-list").mCustomScrollbar({
    advanced:{
      updateOnContentResize: true
    },
    theme: "minimal",
    dir: "rtl",
    setHeight: 290
  });

  $('.navbar .dropdown.notification-dropdown > .dropdown-menu, .navbar .dropdown.message-dropdown > .dropdown-menu ').click(function(e) {
    e.stopPropagation();
  });

  $(".card-body-scroll").mCustomScrollbar({
    scrollbarPosition: "outside",
    scrollInertia: 450,
    theme: "dark-thin"
  });


  $("#phone-circle").click(function() {
    $("#phone-circle").toggle('scale');
    $(".phone-box").toggle('scale');
  })

  $(".phone-box-toggle").click(function() {
    $("#phone-circle").toggle('scale');
    $(".phone-box").toggle('scale');
  })

});

</script>


<script type="text/javascript">
  $(document).ready(function() {

    $('[data-toggle="tooltip"]').tooltip();

    

    let btns_producto_detalle = document.querySelectorAll('.producto-detalle');



    btns_producto_detalle.forEach((btn, i) => {
      btn.addEventListener('click', () => {
        $('.modal').modal('show');
      });
    });


    $(".message-scroll").mCustomScrollbar({
      scrollbarPosition: "outside",
      scrollInertia: 450,
      theme: "dark-thin"
    });

    // jQuery UI Draggable
    $("#product li").draggable({
      // brings the item back to its place when dragging is over
      revert:true,

      // once the dragging starts, we decrease the opactiy of other items
      // Appending a class as we do that with CSS
      drag:function () {
        $(this).addClass("active");
        $(this).closest("#product").addClass("active");
      },

      // removing the CSS classes once dragging is over.
      stop:function () {
      $(this).removeClass("active").closest("#product").removeClass("active");
      }
    });


  });


</script>

<script>
  var CSRF_TOKEN = '{{ csrf_token }}';
</script>

</body>
