{% load staticfiles %}
{% load compress %}
{% load widget_tweaks %}
{% load template_extrafunc %}

<!DOCTYPE html>
<html lang='es'>

<head>
  <meta charset="utf-8">
  <title>TrueContact</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Stylesheets -->

  <link rel="icon" type="image/x-icon" href="{% static 'truecontact/template/assets/img/favicon.ico' %}" />

  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'truecontact/template/assets/css/plugins.css' %}" />
  <link rel="stylesheet" href="{% static 'truecontact/template/plugins/font-icons/fontawesome/css/regular.css' %}">
  <link rel="stylesheet" href="{% static 'truecontact/template/plugins/font-icons/fontawesome/css/solid.css' %}">
  <link rel="stylesheet" href="{% static 'truecontact/template/plugins/font-icons/fontawesome/css/brands.css' %}">
  <link rel="stylesheet" href="{% static 'truecontact/template/plugins/font-icons/fontawesome/css/fontawesome.css' %}">
  <!-- END GLOBAL MANDATRY STYLES -->

  <!-- BEGIN PAGE STYLES -->
  <link rel="stylesheet" href="{% static 'truecontact/plugins/sweetalert2/sweetalert2.min.css' %}">
  <link rel="stylesheet" href="{% static 'truecontact/template/assets/css/forms/form-validation.css' %}">
  <link rel="stylesheet" href="{% static 'truecontact/template/plugins/dropify/dropify.min.css' %}">
  <link rel="stylesheet" href="{% static 'truecontact/template/plugins/select2/select2.min.css' %}">
  <!-- END PAGE STYLES -->

  <!-- DROPZONE IMAGE MULTI -->
  <link rel="stylesheet" href="{% static 'truecontact/template/plugins/dropzone2/dist/dropzone.css' %}">
  <link rel="stylesheet" href="{% static 'truecontact/template/plugins/dropzone2/dist/basic.css' %}">

  <!-- BEGIN OMNILEADS STYLES -->
  <link rel="stylesheet" href="{% static 'ominicontacto/CSS/oml-icons.css' %}">
  <!-- END OMNILEADS STYLES -->

  <!-- BEGIN TRUECONTACT STYLES -->
  <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/consola_agente.css' %}">
  <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/consola_agente_whatsapp.css' %}">
  <link rel="stylesheet" href="{% static 'truecontact/truecontact/css/consola_agente_phone.css' %}">
  <link rel="stylesheet" href="{% static 'truecontact/template/plugins/bootstrap-select/bootstrap-select.min.css' %}">
  {% block custom_css %}{% endblock %}
  <!-- END TRUECONTACT STYLES -->


  <!-- BEGIN GLOBAL SCRIPTS -->
  <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
  <script src="{% static 'truecontact/template/assets/js/libs/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'truecontact/template/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'truecontact/template/bootstrap/js/popper.min.js' %}"></script>
  <script src="{% static 'truecontact/template/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'truecontact/template/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'truecontact/template/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'truecontact/template/assets/js/app.js' %}"></script>


  <script src="{% static 'truecontact/template/plugins/dropzone2/dist/dropzone.js' %}"></script>

  <script>
    $(document).ready(function () {
      App.init();
    });
  </script>
  <!-- END GLOBAL SCRIPTS -->

  <!-- BEGIN OMNILEADS SCRIPTS -->
  {#% compress js %#}
  <script type="text/javascript" src="{% static 'ominicontacto/JS/csrf.js' %}"></script>
  <script type="text/javascript" src="{% static 'ominicontacto/JS/daterangepicker.js' %}"></script>
  <script type="text/javascript" src="{% static 'ominicontacto/JS/ranges-datepicker.js' %}"></script>
  <script type="text/javascript" src="{% static 'ominicontacto/JS/config_datetimepicker.js' %}"></script>
  <script type="text/javascript" src="{% static 'django_js_reverse/js/reverse.js' %}"></script>

  {#% endcompress %#}
  <!-- END OMNILEADS SCRIPTS -->

  <style media="screen">
    #overlay{
      position: fixed;
      top: 0;
      z-index: 1040;
      width: 100%;
      height:100%;
      display: none;
      background: rgba(0,0,0,0.6);
    }
    .cv-spinner {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .spinner {
      width: 80px;
      height: 80px;
      border: 8px #ddd solid;
      border-top: 8px #2e93e6 solid;
      border-radius: 50%;
      animation: sp-anime 0.8s infinite linear;
    }
    @keyframes sp-anime {
      100% {
        transform: rotate(360deg);
      }
    }
    .is-hide{
      display:none;
    }
  </style>
{% comment %} PARA OCULTAR LAS FLECHITAS DEL NUMBER {% endcomment %}
  <style>
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  </style>

</head>

  <body class="default-sidebar">
    <div id="overlay">
  		<div class="cv-spinner">
  			<span class="spinner"></span>
  		</div>
  	</div>
    <audio id="audio_notificacion" style="display: none">
      <source src="{% static 'truecontact/truecontact/audio/notificacion.mpeg' %}" type="audio/mpeg">
        tu navegador no es Compatible
    </audio>

    {% include 'truecontact/navmain.html' %}
    {% include 'truecontact/sidebar.html' %}

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

      {% include 'truecontact/modals.html' %}
      <div class="overlay"></div>
      <div class="cs-overlay"></div>

      <div id="content" class="main-content">
        <div class="container">

          <div class="row">

            <div id="main-left-col" class="col-xl-3 col-lg-3 col-md-4 col-sm-12 layout-spacing mt-4" style="padding-left: 5px; padding-right: 5px">

              <div class="widget-content-area custom-card p-0 br-4 mb-2">
                <div class="card-container">
                  <div class="card-header">
                    <div class="media">
                      <div class="media-body">
                        <h6 class="">Mis Gestiones
                          <span id="cantidad-gestiones-agente" class="badge badge-info badge-pill" data-cantidad="{{ cantidad_en_gestion }}">{{ cantidad_en_gestion }}</span>
                        </h6>
                      </div>
                      <div class="float-right">
                        <i id="btn-new-whatsapp" class="flaticon-send-fill-1 mr-3 fs-20"></i>
                      </div>
                    </div>
                  </div>

                  <div class="card-body reload-widget-area mt-2">

                    <div id="new-whatsapp" class="">
                      <div class="row">
                        <div class="col-12">
                          <h5>Nueva Conversacion</h5>
                        </div>
                        <div class="col-12">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <select id="whatsapp-codigo-pais" class="form-control" >
                                <option value="57" selected>+57</option>
                                <option value="58">+58</option>
                                <option value="297">+297</option>
                                <option value="299">+299</option>
                              </select>
                            </div>
                            <input id="whatsapp-numero-nuevo" type="number" class="form-control" >
                            <div class="input-group-append">
                              <button id="whatsapp-validar-mensaje" class="btn btn-sm btn-primary">
                                <i class="fas fa-paper-plane"></i>
                              </button>
                            </div>
                          </div>
                          <p id="error-nuevo-whatsapp" class="text-danger" style="display: none">El campo numero es requerido</p>
                        </div>
                      </div>
                    </div>

                    <div id="gestiones-agente" class="mCustomScrollbar card-body-scroll" data-mcs-theme="minimal-dark">
                      <div class="container">

                        {% for gestion in dialogos_en_gestion %}
                        <div id="gestion-{{ gestion.pk }}" data-id="{{ gestion.pk }}" class="gestion whatsapp"
                          data-estado="en_gestion" data-gestion="{{ gestion.gestion }}">
                          <div class="row">
                            <div class="col-sm-3">
                              {% if gestion.imagen %}
                              <img class="img-user-dialogo" src="{{ gestion.obtener_imagen_url }}">
                              {% else %}
                              <img class="img-user-dialogo" src="{% static 'truecontact/truecontact/img/unknow-user.png' %}">
                              {% endif %}
                              <div class="img-logo-platform">
                                <img src="{% static 'truecontact/truecontact/img/logo-whatsapp.png' %}"
                                  class="logo-platforms" alt="">
                              </div>
                            </div>
                            <div class="col-sm-9">
                              <div class="row">
                                <div class="col-sm-12">
                                  <span class="nombre">
                                    {{ gestion.obtener_nombre_contacto.1 }}
                                  </span>
                                  {% if gestion.obtener_total_mensajes_nuevos > 0 %}
                                  <span class="badge badge-pill badge-primary float-right">
                                    {% else %}
                                    <span class="badge badge-pill badge-primary float-right" style="display: none;">
                                      {% endif %}
                                      {{ gestion.obtener_total_mensajes_nuevos }}
                                    </span>
                                </div>
                                  <div class="col-sm-12">
                                    <span class="campana-text">
                                      {{ gestion.gestion.obtener_campana }}
                                    </span>
                                  </div>

                              </div>
                              <div class="time text-right">
                                <span id="time">{{ gestion.fecha_modificacion|date:"M. d, Y, h:i A"}} </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}

                        {% for gestion in gestiones_telefonia_gestion %}
                        <div id="gestion-{{ gestion.call_id }}" data-id="{{ gestion.call_id }}" class="gestion phone"
                          data-estado="en_gestion" data-gestion="{{gestion.id}}">
                          <div class="row">
                            <div class="col-sm-3">
                              {% if gestion.imagen %}
                              <img class="img-user-dialogo" src="{{ gestion.imagen }}">
                              {% else %}
                              <img class="img-user-dialogo" src="{% static 'truecontact/truecontact/img/unknow-user.png' %}">
                              {% endif %}
                              <div class="img-logo-platform">
                                <img src="{% static 'truecontact/truecontact/img/logo-phone2.svg' %}"
                                  class="logo-platforms" alt="">
                              </div>
                            </div>
                            <div class="col-sm-9">
                              <div class="row">
                                <div class="col-sm-12">
                                  <span class="nombre">
                                    {{ gestion.nombre }}
                                  </span>
                                  <span class="badge badge-pill badge-primary float-right" style="display: block;">
                                    1
                                  </span>
                                </div>
                                  <div class="col-sm-12">
                                    <span class="campana-text">
                                      {{ gestion.obtener_campana }}
                                    </span>
                                  </div>

                              </div>
                              <div class="time text-right">
                                <span id="time">{{ gestion.fecha_modificacion|date:"M. d, Y, h:i A"}} </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}

                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="widget-content-area custom-card p-0 br-4 mb-2">
                <div class="card-container">
                  <div class="card-header">
                    <div class="media">
                      <div class="media-body">
                        <h6 class="">En Cola
                          <input id ="id_campana_whatsapp" value="{{id_campana_whatsapp}}" name="id_campana_whatsapp" type="hidden" >
                          <input id ="nombre_campana" value="{{nombre_campana_1}}" name="nombre_campana" type="hidden" >
                          <span id="cantidad-gestiones-cola" class="badge badge-warning badge-pill" data-cantidad="{{ cantidad_nuevos }}"> {{ cantidad_nuevos }} </span>
                        </h6>
                      </div>
                      <!-- <div class="float-right">
                            <i class="flaticon-refresh-1 mr-1"></i>
                            <div class="dropdown custom-dropdown d-inline-block">
                              <a class="dropdown-toggle pl-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon-dots"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="javascript:void(0);">Account</a>
                                <a class="dropdown-item" href="javascript:void(0);">Profile</a>
                                <a class="dropdown-item" href="javascript:void(0);">Settings</a>
                              </div>
                            </div>
                          </div> -->
                    </div>
                  </div>

                  <div class="card-body reload-widget-area mt-2">
                    <div id="gestiones-cola" class="mCustomScrollbar card-body-scroll" data-mcs-theme="minimal-dark">
                      <div class="container">

                        {% for gestion in dialogos_nuevos %}
                        <div id="gestion-{{ gestion.pk }}" data-id="{{ gestion.pk }}" class="gestion whatsapp"
                          data-estado="nuevo" data-origen-gestion='{"origen": "None", "pk": ""}'>
                          <div class="row">
                            <div class="col-sm-3">
                              {% if gestion.imagen %}
                              <img class="img-user-dialogo" src="{{ gestion.obtener_imagen_url }}">
                              {% else %}
                              <img class="img-user-dialogo" src="{% static 'truecontact/truecontact/img/unknow-user.png' %}">
                              {% endif %}
                              <div class="img-logo-platform">
                                <img src="{% static 'truecontact/truecontact/img/logo-whatsapp.png' %}"
                                  class="logo-platforms" alt="">
                              </div>
                            </div>
                            <div class="col-sm-9">
                              <div class="row">
                                <div class="col-sm-12">
                                  <span class="nombre">
                                    {{ gestion.obtener_nombre_contacto.1 }}
                                  </span>
                                  {% if gestion.obtener_total_mensajes_nuevos > 0 %}
                                  <span class="badge badge-pill badge-primary float-right">
                                    {% else %}
                                    <span class="badge badge-pill badge-primary float-right">
                                      {% endif %}
                                      {{ gestion.obtener_total_mensajes_nuevos }}
                                    </span>
                                </div>
                              </div>
                              <div class="col-sm-12">
                                <span class="campana-text">
                                  {{ gestion.campana }}
                                </span>
                              </div>
                              <div class="time text-right">
                                <span id="time">{{ gestion.fecha_modificacion|date:"M. d, Y, h:i A"}} </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div id="main-center-col" class="col layout-spacing  mt-4" style="padding-left: 5px; padding-right: 5px">

              <div id="main-gestion" class="widget-content-area custom-card p-0" style="display: none">
                <div class="card post-editor">
                  <div class="card-body p-0">

                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-6">
                          <div id="contacto" class="media user-meta">
                            <img class="mr-3 imagen-contacto"
                              src="{% static 'truecontact/truecontact/img/unknow-user.png' %}" alt="admin-profile">
                            <div class="media-body">
                              <h4 class="nombre-contacto"></h4>
                              <p class="industrias-text"></p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <ul class="nav nav-pills mb-3" role="tablist">

                            <li class="nav-item text-sm-left text-center">
                              <a class="nav-link active" id="btn-tab-gestion" data-toggle="pill" href="#tab-gestion"
                                role="tab" aria-selected="true">
                                <i class="flaticon-copy-line"></i> Gestion
                              </a>
                            </li>

                            <li class="nav-item text-sm-left text-center">
                              <a class="nav-link" id="btn-tab-aux" data-toggle="pill" href="#tab-aux" role="tab"
                                aria-selected="false" style="display: none;">

                              </a>
                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="card-body">
                      <div class="tab-content">

                        <div class="tab-pane fade show active" id="tab-gestion" role="tabpanel"
                          aria-labelledby="tab-gestion-tab">


                          <div id="gestion-menu" class="row top_menu">
                            <div class="col-md-12 add-chat">

                                <button id="guardar-rellamar" style="display: none;" class="btn btn-gradient-warning btn-rounded"><i
                                  class="flaticon-telephone"></i> Guardar Rellamar</button>

                              <div class="options float-xl-right float-md-left float-sm-right d-block">
                                <i id="btn-ver-form-guion2" class="flaticon-copy-document mt-xl-0 mt-md-3 mt-sm-0 mt-3" title="Guión" ></i>
                                <i id="btn-ver-form-guion" class="flaticon-question  mt-xl-0 mt-md-3 mt-sm-0 mt-3"  title="Ayuda"></i>
                                <i id="btn-ver-ultima-gestion" class="flaticon-calendar-2  mt-xl-0 mt-md-3 mt-sm-0 mt-3"  title="Ultima gestion" onClick="parent.verGestion()"></i>
                                <i id="btn-ver-form-gestion" class="flaticon-edit-fill mt-xl-0 mt-md-3 mt-sm-0 mt-3" title="Gestión"></i>

                                <i class="flaticon-forward-arrow  mt-xl-0 mt-md-3 mt-sm-0 mt-3" data-toggle="modal"
                                  title="Transferir Gestion" id="swal_fire_transferir" onclick="Swal_fire_transferir()" title="Transferir Whatsapp"></i>

                                <div class="modal fade" id="modal-transfer-whatsapp-agente" tabindex="-1" role="dialog"
                                  aria-labelledby="TransferWhatsapp" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Tranferir Gestion</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <h4 class="modal-heading mb-4 mt-2">Seleccione el agente al cual va a transferir
                                          la gestion</h4>

                                        <select id="select-transferir-gestion-agente" class="form-control basic">
                                          <option value="" selected>Seleccione</option>
                                          {% for agente in agentes %}
                                          <option value="{{ agente.pk }}">{{ agente.user.get_full_name }}</option>
                                          {% endfor %}
                                        </select>

                                      </div>
                                      <div class="modal-footer">
                                        <button id="btn-transferir-gestion-agente" type="button"
                                          class="btn btn-warning btn-rounded mb-4 mt-2">Transferir</button>
                                        <button type="button" class="btn btn-dark btn-rounded mb-4 mt-2"
                                          data-dismiss="modal">Cancelar</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="modal fade" id="modal-transfer-whatsapp-campana" tabindex="-1" role="dialog"
                                  aria-labelledby="TransferWhatsapp" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabelCampana">Tranferir Gestion a Campaña</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <h4 class="modal-heading mb-4 mt-2">Seleccione la campaña al cual va a transferir
                                          la gestion</h4>

                                        <select id="select-transferir-gestion-campana" class="form-control basic">
                                          <option value="" selected>Seleccione</option>
                                          {% for campana in campanas %}
                                          <option value="{{ campana.pk }}">{{ campana.nombre }}</option>
                                          {% endfor %}
                                        </select>

                                      </div>
                                      <div class="modal-footer">
                                        <button id="btn-transferir-gestion-campana" type="button"
                                          class="btn btn-warning btn-rounded mb-4 mt-2">Transferir</button>
                                        <button type="button" class="btn btn-dark btn-rounded mb-4 mt-2"
                                          data-dismiss="modal">Cancelar</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>

                          <div id="phone-system" class="mail-chat-system" style="display: none;">
                            <div class="">
                              <h3>Nueva llamada seleccione un contacto para continuar...</h3>
                              <!-- javascript manipula el form para hacer -->
                              <div class="widget-content widget-content-area">

                                  <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                      <label for="{{ form_gestion.tipo.id_for_label }}"
                                        class="col-md-6 col-form-label">Contacto:</label>
                                      <!-- <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required> -->
                                      <div class="invalid-feedback">
                                        Este campo es requerido!
                                      </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                      <label for="{{ form_gestion.medio.id_for_label }}"
                                        class="col-md-6 col-form-label">Medio:</label>
                                      <!-- <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required> -->
                                      <div class="invalid-feedback">
                                        Este campo es requerido!
                                      </div>
                                    </div>
                                  </div>


                              </div>

                            </div>
                          </div>

                          <div id="gestion-system">

                            {% if request.user|has_campana:"Call" or request.user|has_campana:"Confirmaciones" %}

                            <div>


                              <!--  -->
                              <div class="row" id="programacion-info" >
                                <div class="col-lg-12 layout-spacing" >
                                    <div class="statbox widget box box-shadow">
                                        <div class="widget-content widget-content-area between-space-content">
                                            <div id="spacingAccordion">
                                              <div class="card mb-2">
                                                <div class="card-header" id="headingOne2">
                                                  <h5 class="mb-0 mt-0">
                                                    <span role="menu" class="" data-toggle="collapse" data-target="#spacingAccordionOne" aria-expanded="true" aria-controls="spacingAccordionOne">
                                                      Información programación
                                                    </span>
                                                  </h5>
                                                </div>

                                                <div id="spacingAccordionOne" class="collapse" aria-labelledby="headingOne2" data-parent="#spacingAccordion">
                                                  <div class="card-body">
                                                    <div class="card-body">
                                                      <div class="widget-content widget-content-area margin-bottom-3">
                                                        <div class="row">

                                                          <div class="col-md-6">
                                                            <label for="">Documento:</label>
                                                            <h5 id="info-documento" for=""></h5>
                                                          </div>


                                                          <div class="col-md-6">
                                                            <label for="">Doctor:</label>
                                                            <h5 id="info-doctor" for=""></h5>
                                                          </div>

                                                          <div class="col-md-6">
                                                            <label for="">Tipo de estudio:</label>
                                                            <h5 id="info-tipoes" for=""></h5>
                                                          </div>

                                                          <div class="col-md-6">
                                                            <label for="">Entidad:</label>
                                                            <h5 id="info-entidad" for=""></h5>
                                                          </div>

                                                          <div class="col-md-6">
                                                            <label for="">Fecha de programación:</label>
                                                            <h5 id="info-fechapro" for=""></h5>
                                                          </div>

                                                          <div class="col-md-6">
                                                            <label for="">Fecha de cita:</label>
                                                            <h5 id="info-fechacit" for=""></h5>
                                                          </div>

                                                          <div class="col-md-6">
                                                            <label for="">Número(s) de teléfono:</label>
                                                            <h5 id="numeo-telefono" for=""></h5>
                                                          </div>


                                                        </div>

                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <!--  -->

                                <h3>Gestion Contacto</h3>
                                <form id="form_agregar_gestion" class="needs-validation" method="POST" novalidate>
                                  {% csrf_token %}
                                  <input id="id_contacto_gestion" type="hidden" name="contacto" value="">
                                  <input id="id_metadata" type="hidden" name="metadata" value="">
                                  <input id="id_gestion" type="hidden" name="id_gestion" value="">
                                  <div class="form-group" style="display: none">

                                    <div class="row m-2">

                                      <div class="col-md-6">
                                        <label for="{{ form_gestion.medio.id_for_label }}">Medio:</label>
                                        {% render_field form_gestion.medio class="form-control" required="true" %}
                                        <div class="invalid-feedback">
                                          Este campo es requerido!
                                        </div>
                                      </div>

                                      <div class="col-md-6">
                                        <label for="{{ form_gestion.tipo.id_for_label }}">Tipo:</label>
                                        {% render_field form_gestion.tipo class="form-control" required="true" %}
                                        <div class="invalid-feedback">
                                          Este campo es requerido!
                                        </div>
                                      </div>

                                    </div>

                                  </div>

                                  <div class="row m-2">

                                    <div class="col-md-6">
                                      <h5 for="">Medio:</h5>
                                      <h6 id="medio-label"></h6>
                                    </div>

                                    <div class="col-md-6">
                                      <label for="{{ form_gestion.motivo.id_for_label }}">Motivo:</label>
                                      {% render_field form_gestion.motivo class="form-control" required="true" name="selectmotivos" id="selectmotivos" %}
                                      <div class="invalid-feedback">
                                        Este campo es requerido!
                                      </div>
                                    </div>

                                  </div>

                                  <div class="row m-2 mt-4">

                                    <div class="col-md-6 md">
                                      <label for="{{ form_gestion.resul.id_for_label }}">Resultado:</label>
                                      {% render_field form_gestion.resul class="form-control" required="true" name="selectresultados" id="selectresultados" %}
                                      <div class="invalid-feedback">
                                        Este campo es requerido!
                                      </div>
                                    </div>

                                    <div class="col-md-6">
                                      <label for="{{ form_gestion.especialidad.id_for_label }}">Especialidad:</label>
                                      {% render_field form_gestion.especialidad class="form-control" required="true" id="selectespecialidad" %}
                                      <div class="invalid-feedback">
                                        Este campo es requerido!
                                      </div>
                                    </div>

                                  </div>

                                  <div class="row m-2 mt-4">

                                    <div class="col-md-6 md">
                                      <label for="{{ form_gestion.entidad.id_for_label }}">Entidad:</label>
                                      {% render_field form_gestion.entidad class="form-control" required="true" id="selectentidad" %}
                                      <div class="invalid-feedback">
                                        Este campo es requerido!
                                      </div>
                                    </div>

                                    <div class="col-md-6">
                                      <label for="{{ form_gestion.tipo_consulta.id_for_label }}">Tipo de consulta:</label>
                                      {% render_field form_gestion.tipo_consulta class="form-control" required="true" id="selecttipoconsulta" %}
                                      <div class="invalid-feedback">
                                        Este campo es requerido!
                                      </div>
                                    </div>

                                  </div>

                                  <div class="row m-2 mt-4">

                                    <div class="col-md-6 md">
                                      <label for="{{ form_gestion.observaciones.id_for_label }}">Observaciones:</label>
                                      {% render_field form_gestion.observaciones class="form-control" rows="4" required="true" style="text-transform:uppercase;" %}
                                    </div>
                                    <div class="col-md-6 my-auto">
                                      <label for="{{ form_gestion.tyc.id_for_label }}" id="label_tyc">Acepta términos y condiciones:</label>
                                      {% render_field form_gestion.tyc class="form-control" id="selecttyc" %}
                                      <div class="invalid-feedback">
                                        Este campo es requerido!
                                      </div>
                                    </div>
                                  </div>

                                  <!--  -->

                                  <!--  -->

                                </form>

                              <div class="col text-center">
                                <button id="guardar-gestion" class="btn btn-primary mb-4 mr-2 btn-lg" ><i
                                  class="flaticon-chat-fill-1 mx"></i> Guardar Gestion</button>
                              </div>

                            </div>

                            {% else %}
                            <div>
                              <h3>Gestion Conmutador</h3>
                            <form id="form_agregar_gestion_conmutador" class="needs-validation" method="POST" novalidate>
                              {% csrf_token %}
                              <input id="id_directorio_gestion" type="hidden" name="directorio" value="">
                              <input id="id_metadata_conmutador" type="hidden" name="metadata" value="">
                              <input id="id_gestion_conmutador" type="hidden" name="id_gestion_conmutador" value="">
                              <div class="form-group" style="display: none">

                                <div class="row m-2">

                                  <div class="col-md-6">
                                    <label for="{{ form_conmutador.medio.id_for_label }}">Medio:</label>
                                    {% render_field form_conmutador.medio class="form-control" required="true" %}
                                    <div class="invalid-feedback">
                                      Este campo es requerido!
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <label for="{{ form_conmutador.tipo.id_for_label }}">Tipo:</label>
                                    {% render_field form_conmutador.tipo class="form-control" required="true" %}
                                    <div class="invalid-feedback">
                                      Este campo es requerido!
                                    </div>
                                  </div>

                                </div>

                              </div>

                              <div class="row m-2">

                                <div class="col-md-12">
                                  <label for="{{ form_conmutador.nombre.id_for_label }}">Nombre:</label>
                                  {% render_field form_conmutador.nombre class="form-control" required="true" %}
                                  <div class="invalid-feedback">
                                    Este campo es requerido!
                                  </div>
                                </div>

                              </div>

                              <div class="row m-2 mt-3">

                                <div class="col-md-4">
                                  <label for="{{ form_conmutador.directorio_destinoid_for_label }}">¿Qué solicita?:</label>
                                  {% render_field form_conmutador.directorio_destino class="form-control" required="true" data-live-search="true" %}
                                  <div class="invalid-feedback">
                                    Este campo es requerido!
                                  </div>
                                </div> 

                                <div class="col-md-1" >
                                  <div class="nav nav-pills mt-3" role="tablist">
                                    <div class="nav-item mt-3">
                                      <a class="nav-link active mt-1" id="buttonAddDirectorio" data-toggle="modal" href="#addDirectorio"
                                        role="tab" aria-selected="true">
                                        <i class="flaticon-add-circle-outline"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-3">
                                  <label for="{{ form_conmutador.telefono.id_for_label }}">Teléfono:</label>
                                  {% render_field form_conmutador.telefono class="form-control" %}
                                </div>

                                <div class="col-md-4">
                                  <label for="{{ form_conmutador.resultado.id_for_label }}">Resultado:</label>
                                  {% render_field form_conmutador.resultado class="form-control" required="true"%}
                                  <div class="invalid-feedback">
                                    Este campo es requerido!
                                  </div>
                                </div>

                              </div>

                              <div class="row m-2 mt-3">


                                <div class="col-md-12">
                                  <label for="{{ form_conmutador.observaciones.id_for_label }}">Observaciones:</label>
                                  {% render_field form_conmutador.observaciones class="form-control" required="true" rows="2"%}
                                  <div class="invalid-feedback">
                                    Este campo es requerido!
                                  </div>
                                </div>

                              </div>
                            </form>

                              <div class="col text-center">
                                <button id="guardar_gestion_conmutadores" class="btn btn-primary mb-4 mr-2 btn-lg" ><i
                                  class="flaticon-chat-fill-1 mx"></i> Guardar Gestion</button>
                              </div>

                            </div>

                            {% endif %}
                          </div>

                          <div id="chat-system" class="mail-chat-system" style="display: none;">

                            <div class="chat_window">

                              <ul id="ventana-mensajes" class="chat-messages pl-0" ondrop="drop(event)"
                                ondragover="allowDrop(event)">

                              </ul>

                              <div class="chat-bottom-section clearfix">

                                <div class="input-group mb-3 message_input_wrapper">
                                  <div class="input-group-prepend">
                                    <span id="btn-adjuntar" class="input-group-text">
                                      <i class="flaticon-link-2 ml-2"></i>
                                    </span>
                                    <!-- <span class="input-group-text">
                                          <i class="flaticon-happy-smiling"></i>
                                        </span> -->
                                  </div>

                                  <div class="btn-group-fab" role="group" aria-label="FAB Menu">
                                    <div>
                                      <button id="btn-adjuntar-imagen" class="btn rounded-circle">
                                        <input type="file" id="adjuntar-imagen" name="" value="" multiple
                                          style="display: none" accept="image/*">
                                        <i class="flaticon-picture flaticon-circle-p"></i>
                                      </button>
                                      <button id="btn-adjuntar-archivo" class="btn rounded-circle btn-rounded ">
                                        <input type="file" id="adjuntar-archivo" name="" value="" multiple
                                          style="display: none">
                                        <i class="flaticon-document-3 flaticon-circle-p"></i>
                                      </button>
                                      <!-- <button class="btn rounded-circle btn-rounded ">
                                            <i class="flaticon-placeholder-fill flaticon-circle-p"></i>
                                          </button> -->
                                    </div>
                                  </div>

                                  <div class="respuestas-rapidas">
                                    <div id="div_comparar">

                                    </div>
                                  </div>

                                  <textarea class="message_input form-control" id="input-mensajes" rows="1" placeholder="Escribe un mensaje aqui"></textarea>
                                  <div id="enviar-nuevo-mensaje" class="input-group-append">
                                    <span class="grabar-audio" style="display: none">
                                      <i id="cancelar-audio" class="fas fa-times-circle text-danger"></i>
                                      <span id="duracion">00:00:00</span>
                                      <i id="confirmar-audio" class="fas fa-check-circle text-success"></i>
                                    </span>
                                    <span class="input-group-text br-0">
                                      <i id="icono-enviar-mensaje" class="flaticon-send-fill-1 icono-envio"
                                        style="display: none"></i>
                                      <i id="icono-enviar-audio" class="fas fa-microphone icono-envio"></i>
                                    </span>
                                  </div>
                                </div>

                              </div>

                            </div>

                          </div>





                        </div>
                        <!-- INICIO PEDIDOS   ------  INICIO PEDIDOS   ------ INICIO PEDIDOS   ------ INICIO PEDIDOS   ------ INICIO PEDIDOS -->
                        <div class="tab-pane fade" id="tab-aux" role="tabpanel" aria-labelledby="tab-aux-tab">
                          <div class="container">
                            <div class="row mb-5">
                              <div class="col-md-12">
                                <form name="pedido_form" id="pedido_form">
                                  {% csrf_token %}
                                  <input type="hidden" name="cliente" value="" id="id_contacto_pedido">
                                  <label class="col-md-4 col-form-label">Pedido No:</label>
                                  <input type="hidden" name="id_pedido" value="" id="id_pedido">
                                  <input type="hidden" name="id_gestioncontacto" value="" id="id_gestioncontacto">

                                  <div class="table-responsive">
                                    <table class="table view-cart-table" id="tabla_pedido" name="productos_table">
                                      <thead>
                                        <tr>
                                          <th class="col-thumbnail" width="30%">Producto</th>

                                          <th class="col-price" width="25%">Precio</th>
                                          <th class="col-quantity" width="10%">Cantidad</th>
                                          <th class="col-subtotal" width="25%">Total</th>
                                          <th class="col-remove" width="10%">action</th>
                                        </tr>
                                      </thead>
                                      <tbody id="tbody_pedido">

                                      </tbody>
                                    </table>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-md-4">
                                        <input class="form-control" type="text" placeholder="Coupon Code">
                                      </div>
                                      <div class="form-group col-md-4">
                                        <a class="btn btn-outline-dark btn-rounded" href="javascript:void(0);">Apply Coupon</a>
                                        <i class="flaticon-question" data-toggle="tooltip" data-placement="top" title="Apply coupon to avail discount"></i>
                                      </div>
                                      <div class="form-group col-md-4 text-md-right">
                                        <a class="btn btn-primary btn-rounded" href="javascript:void(0);">Update Cart</a>
                                      </div>
                                    </div>
                               </form>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <table class="table cart-table">
                                  <tbody>
                                    <tr>
                                      <td>Subtotal</td>
                                      <td class="text-right" id="pedido_subtotal"></td>
                                    </tr>
                                    <tr>
                                      <td>Descuento</td>
                                      <td class="text-right" id="pedido_decuento"></td>
                                    </tr>
                                    <tr>
                                      <td>Total</td>
                                      <td class="text-right" id="pedido_total"></td>
                                    </tr>
                                  </tbody>
                                </table>
                                <div class="text-right">
                                  <button class="btn btn-primary mb-4 mr-2 " id="btn-pagar">Pagar</button>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>

                      </div>

                    </div>

                  </div>
                </div>
              </div>

              {% if request.user|has_campana:"Call" or request.user|has_campana:"Confirmaciones" %}
              <div id="main-crm" class="">
                <iframe id="dataView" src="{% url 'tc-contacto' %}" name="crm" frameborder="0"
                  style="width: 100%;height: 100vh;"></iframe>
              </div>
              {% else %}
              <div id="main-crm" class="">
                <iframe id="dataView" src="{% url 'tc_directorios_list' %}" name="crm" frameborder="0"
                  style="width: 100%;height: 100vh;"></iframe>
              </div>
              {% endif %}

            </div>

            <div id="main-right-col" class="col-xl-3 col-lg-3 col-md-2 col-sm-12 layout-spacing mt-4">

              <div class="widget-content-area custom-card p-0 br-4 mb-2" style="min-height: 100vh">
                <div class="card-container">
                  <div class="card-header">
                    <div class="media">
                      <div class="media-body pr-3">
                        <h6 class="">Catalogo</h6>
                        <div class="row">
                          <div class="col-md-12">
                            <input id="buscar-producto" type="search" class="form-control" placeholder="buscar...">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card-body reload-widget-area mt-2">
                    <div class="mCustomScrollbar card-body-scroll" data-mcs-theme="minimal-dark">
                      <div class="container underline-content">

                        <ul class="nav nav-tabs mb-3" id="lineTab" role="tablist">

                          <li class="nav-item">
                            <a class="nav-link active" id="catalogo-tab-button" data-toggle="tab" href="#tab_catalogo"
                              role="tab" aria-controls="tab_catalogo" aria-selected="true"><i
                                class="flaticon-3d-cube"></i> Categoria</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="productos-tab-button" data-toggle="tab" href="#tab_productos"
                              role="tab" aria-controls="tab_productos" aria-selected="false"><i
                                class="flaticon-cart-bag-1"></i> Productos</a>
                          </li>
                        </ul>

                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>


    <!-- modal selecionar la campaña -->
    <div class="modal fade show" id="modal-whatsapp-campana-manual" aria-modal="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <table class="table table-condensed">
                <tbody id="contacto-whatsapp">
                </tbody>
              </table>
            </div>
            <input type="hidden" id="id_chatapi" name="id_chatapi">
            <input type="hidden" id="pk_programacion" name="pk_programacion" value="">
            <input type="hidden" id="campana_id_manual" name="campana_id_manual" value="">
            <div class="form-group row">
              <label for="select-campana-whatsap" class="col-sm-2 col-form-label">Número a gestionar: </label>
              <div class="col-sm-10">
                <input class="form-control" id="no_whatsapp" name="no_whatsapp">
              </div>
              <label for="select-campana-whatsap" class="col-sm-2 col-form-label">Campaña</label>
              <div class="col-sm-10">
                <select id="select-campana-manual" class="form-control" name="select-campana-manual">
                  {% for campana in nombre_campana %}
                  <option value="{{ campana }}">{{ campana }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <a href="javascript:;" onClick="btn_mostrar_modal_whatsapp_manual();" class="btn btn-sm btn-info">
              Continuar
            </a>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <!-- Modal añadir direcctorio nuevo -->
    <div class="modal fade mt-5" id="addDirectorio" data-backdrop="static" tabindex="-1"
    role="dialog" aria-labelledby="addDirectorioLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 16px;">
          <div class="modal-header">
            <h5 class="modal-title" id="addDirectorioLabel">Crear directorio nuevo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="id_nombre_directorio">Nombre del directorio:</label>
            <input type="text" id="id_nombre_directorio" name="nombre_directorio" class="form-control" maxlength="128" required>
            <div class="invalid-feedback">
              Este campo es requerido!
            </div>
            <label class="mt-4" for="">Números de teléfonos</label>
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped mb-4" name="telefonos">
                  <thead>
                      <tr>
                          <th>Sitio</th>
                          <th>Número</th>
                          <th class="text-center">Acción</th>
                      </tr>
                  </thead>
                  <tbody id="tabla-telefonos-directorio">

                  </tbody>
              </table>
              <button class="btn btn-secondary mb-4 mr-2 " id="btn-add-telefono-directorio">+ Añadir</button>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="cerrar_modal_crear_directorio" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="id_crear_directorio">Crear</button>
          </div>
        </div>
      </div>
    </div>

    <audio id="nuevodialogotag" src="/static/truecontact/archivos_notificaciones/nuevodialogotag.mp3" preload="auto"></audio>
    <audio id="mensaje_tctag" src="/static/truecontact/archivos_notificaciones/mensaje_tctag.mp3" preload="auto"></audio>


    <!-- END MAIN CONTAINER -->

    {% include 'truecontact/phone.html' %}
    {% include 'config.html' %}

    {% block custom_js %}{% endblock %}



    {#% compress js %#}
      <!-- JsSIP -->
      <script type="text/javascript" src="{% static 'ominicontacto/JS/config.js' %}"></script>
      <script type="text/javascript" src="{% static 'ominicontacto/JS/jssip.js' %}"></script>
      <script type="text/javascript" src="{% static 'ominicontacto/JS/state-machine-min.js' %}"></script>
      <script type="text/javascript" src="{% static 'ominicontacto/JS/constantes.js' %}"></script>
      <script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/phoneJsFSM.js' %}"></script>
      <script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/omlAPI.js' %}"></script>
      <script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/phoneJsView.js' %}"></script>
      <script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/Timers.js' %}"></script>
      <script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/phoneJsSip.js' %}"></script>
      <script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/phoneJsController.js' %}"></script>
      <script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/click2Call.js' %}"></script>
      <script type="text/javascript" src="{% static 'truecontact/ominicontacto/agente/main.js' %}"></script>
      <!-- JsSip Debug -->
      <!--<script>JsSIP.debug.enable('JsSIP:*');</script>-->
      <!-- webChat -->
      <!--script type="text/javascript" src="{% static 'ominicontacto/JS/JQueryWebChat.js' %}"></script-->
      <!-- autobahn -->
      <!-- <script type="text/javascript" src="{% static 'ominicontacto/JS/autobahn.min.js' %}"></script> -->
      <!-- smschat -->
      <!--script type="text/javascript" src="{% static 'ominicontacto/JS/textMessages.js' %}"></script-->
      <!-- Socket.IO -->
      <script type="text/javascript" src="{% static 'ominicontacto/JS/socket.io.js' %}"></script>
      <!-- FacebookMessenger -->
      <!--script type="text/javascript" src="{% static 'ominicontacto/JS/facebookMessenger.js' %}"></script-->
      <!-- Calendar -->
      <script type="text/javascript" src="{% static 'ominicontacto/JS/moment.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'ominicontacto/JS/bootstrap-datetimepicker.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'ominicontacto/JS/Calendar.js' %}"></script>
    {#% endcompress %#}

    <!-- ############################ TRUECONTACT ASSETS ########################### -->

    <script type="text/javascript" src="{% static 'truecontact/truecontact/js/consola_agente.js' %}"></script>
    <script type="text/javascript" src="{% static 'truecontact/truecontact/js/generar_llamada.js' %}"></script>
    <script type="text/javascript" src="{% static 'truecontact/chatapi/js/chatJs.js' %}"></script>
    <script type="text/javascript" src="{% static 'truecontact/truecontact/js/completeRecord/recorder.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'truecontact/catalogo/js/catalogoJs.js' %}"></script>
    <script type="text/javascript" src="{% static 'truecontact/contactos/js/contactosJs.js' %}"></script>
    <script type="text/javascript" src="{% static 'truecontact/supervisor/js/supervisorJs.js' %}"></script>

    <script src="{% static 'truecontact/plugins/sweetalert2/sweetalert2.min.js' %}"></script>

    <!--  BEGIN CUSTOM SCRIPTS FILE  -->
    <script src="{% static 'truecontact/template/assets/js/forms/bootstrap_validation/bs_validation_script.js' %}"></script>
    <script src="{% static 'truecontact/template/plugins/dropify/dropify.min.js' %}"></script>
    <script src="{% static 'truecontact/template/plugins/select2/select2.min.js' %}"></script>
    <script src="{% static 'truecontact/template/plugins/select2/custom-select2.js' %}"></script>

    <!--  BEGIN CUSTOM SCRIPTS FILE  -->

    <script type="text/javascript">

        var cerrar = document.getElementById('cerrar_modal');

        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone("#midropzone", {
          url: "/tc/ajax_file_upload_handler/",
          parallelUploads : 30,
          uploadMultiple : false,
          acceptedFiles : '.png, .jpg, .jpeg, .pdf, .doc, .docx, .xlsx, .csv, .svg , xlx',
          autoProcessQueue : false,
          init: function ()  {
            message_1 = 'Limite maximo de archivos 30'
              this.on("addedfile", function (file, message_1) {
                if (this.files[30]!=null){
                  Swal.fire({
                    icon: 'warning',
                    title: 'Excedio maximo nivel de archivos a cargar',
                    text: `Intente de nuevo!!!`,
                    showConfirmButton: false,
                    timer: 2500
                  })
                  this.removeFile(this.files[30]);
                }
              });

            },

          success: function(file,status,response){
            console.log('STATUS ', status);
            var obj = JSON.parse(status);

            let archivo = obj["server"][0]['archivo'];
            let tipo = obj["server"][0]['tipo'];
            let nombre = obj["server"][0]['name'];
            if (archivo != ''){
                Swal.fire({
                icon: 'success',
                title: 'Archivos Enviados...',
                text: `Con Exito`,
                showConfirmButton: false,
                timer: 2500
              })
              myDropzone.removeFile(file);
              $('#modal-enviar-archivo').modal('hide');
              enviar_archivo_multiples(archivo, tipo, nombre)

            }else{
              Swal.fire({
                icon: 'error',
                title: 'Lo siento...',
                text: `Fallo envio!`,
                showConfirmButton: false,
                timer: 2500
              })
              myDropzone.removeFile(file);
              $('#modal-enviar-archivo').modal('hide');
            }
          }
        });
        cerrar.addEventListener('click',()=>{
          myDropzone.removeAllFiles()
        })
        myDropzone.on("addedfile", function(file) {
          file.previewElement.addEventListener("click", function() {
            myDropzone.removeFile(file);

          });
        });

        $('#upload_btn').click(function(){
          myDropzone.processQueue();
        });

        function enviar_archivo_multiples(archivo,tipo,nombre) {
          const id_dialogo = div_contacto.getAttribute('data-id');
          let reader = new FileReader();
          let files = '';
          let procesar_envio = false;
          let caption = '';

          if (tipo != '') {
            // for (i = 0; i < files.length; i++) {
              // console.log('file es ::: '+files)
              let named_file = nombre;
              // reader.readAsDataURL(files[i]);
              const datos = {
                'accion': 'enviar_mensaje',
                'id_dialogo': id_dialogo,
                'body': archivo,
                'filename': named_file,
                'tipo': tipo,
                'id_agente': id_agente,
                'caption': caption
              }
              websocket_enviar_datos(datos);
              var today = new Date();
              var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
              var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
              var dateTime = date+' '+time;
              mensaje = {
                "tipo": tipo,
                "from_me": true,
                "archivo": archivo,
                "body": archivo,
                "agente": username_agente,
                'caption': caption,
                'nombre_archivo': named_file,
                "fecha_recibido": dateTime,
              }
              const mensaje_container = crear_html_mensaje(mensaje);

              ventana_mensajes.appendChild(mensaje_container);
              ventana_mensajes.scrollTop = ventana_mensajes.scrollHeight;
              nuevo_mensaje.value = '';

            // }
            if (div_adjuntar_menu.classList.contains('active')) {
              div_adjuntar_menu.classList.toggle('active');
            }
          }
          $('.dz-preview').remove()
        }


        $(document).ready(function () {

          $(".nav-item.notification-dropdown .notification-list").mCustomScrollbar({
            advanced: {
              updateOnContentResize: true
            },
            theme: "minimal",
            dir: "rtl",
            setHeight: 290
          });

          $('.navbar .dropdown.notification-dropdown > .dropdown-menu, .navbar .dropdown.message-dropdown > .dropdown-menu ')
            .click(function (e) {
              e.stopPropagation();
            });

          $(".card-body-scroll").mCustomScrollbar({
            scrollbarPosition: "outside",
            scrollInertia: 450,
            theme: "dark-thin"
          });


          $("#phone-circle").click(function () {
            $("#phone-circle").toggle('scale');
            $(".phone-box").toggle('scale');
          })

          $(".phone-box-toggle").click(function () {
            $("#phone-circle").toggle('scale');
            $(".phone-box").toggle('scale');
          })

          $(".tagging").select2({
            tags: true
          });

        });

        $('[data-toggle="tooltip"]').tooltip();

          $(".message-scroll").mCustomScrollbar({
            scrollbarPosition: "outside",
            scrollInertia: 450,
            theme: "dark-thin"
          });
        document.onreadystatechange = function () {
          if (document.readyState == "complete") {
            $(window.parent.document.getElementById('overlay')).fadeOut(300);
          }
        }

        const id_campanas_agente = {{id_campana_whatsapp|safe}}; //OJO PARA OBTENER EL LISTADO USAR SAFE

    </script>



  </body>

</html>
