{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <title>TrueContact | Log in</title>
  <link rel="shortcut icon" href="{% static 'ominicontacto/Img/favicon.png' %}">
  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <link href="{% static 'truecontact/template/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'truecontact/template/assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'truecontact/template/assets/css/users/login-3.css' %}" rel="stylesheet" type="text/css" />
  <!-- END GLOBAL MANDATORY STYLES -->
</head>

<body class="login">

  <form class="form-login" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-12 text-center mb-4">
        <img alt="logo" src="{% static 'truecontact/template/assets/img/logo-5.png' %}" class="theme-logo">
      </div>
      <div class="col-md-12">

        <!-- <div class="social text-center">
          <h5 class="mb-4">Sign in with</h5>
          <button type="button" class="btn btn-outline-primary rounded-circle mb-3 mr-2"><i class="flaticon-facebook-logo flaticon-circle-p"></i></button>
          <button type="button" class="btn btn-outline-info rounded-circle mb-3 mr-2"><i class="flaticon-twitter-logo flaticon-circle-p"></i></button>
          <button type="button" class="btn btn-outline-danger rounded-circle mb-3 mr-2"><i class="flaticon-google-plus-bold flaticon-circle-p"></i></button>
        </div> -->

        <!-- <div class="division mt-4 mb-5">
          <div class="line line-left"></div>
          <span>or</span>
          <div class="line line-right"></div>
        </div> -->

        <label for="inputEmail" class="">Login</label>
        {% render_field form.username class="form-control" placeholder="username" %}
        <label for="inputPassword" class="">Password</label>
        {% render_field form.password class="form-control"  %}

        {% if form.non_field_errors %}
          {% for error in  form.non_field_errors %}
            <div class="alert alert-danger noborder text-center nomargin noradius">
              {{ error }}
            </div>
          {% endfor %}
        {% endif %}

        <div class="checkbox d-flex justify-content-center mb-3">
          <div class="custom-control custom-checkbox mr-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1" value="remember-me">
            <label class="custom-control-label" for="customCheck1">Remember me</label>
          </div>
        </div>
        <button type="submit" class="btn btn-gradient-dark btn-rounded btn-block">Sign in</button>
        <div class="forgot-pass text-center mt-3">
          <a href="user_pass_recovery_3.html">Forgot Password ?</a>
        </div>

      </div>

      <!-- <div class="col-md-12">
        <div class="login-text text-center">
          <p class="mt-3 text-black">New Here? <a href="user_register_3.html" class="">Register </a> as new user !</p>
        </div>
      </div> -->
    </div>
  </form>

  <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
  <script src="{% static 'truecontact/template/assets/js/libs/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'truecontact/template/bootstrap/js/popper.min.js' %}"></script>
  <script src="{% static 'truecontact/template/bootstrap/js/bootstrap.min.js' %}"></script>

  <!-- END GLOBAL MANDATORY SCRIPTS -->
</body>

</html>
