{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}

<style>
  .OTBsx {
    position: absolute;
    top: 6px;
    z-index: 100;
    z-index: 2;
    font-size: 15px;
    line-height: 20px;
    color: #999;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity .08s linear;
  }

  [contentEditable=true]:empty:not(:focus):before{
    content:attr(placeholder)
  }
  ._1cBR9 {
    position: relative;
    flex-grow: 1;
    word-wrap: break-word;
  }
  .vEql6 {
    padding-top: 8px;
    transform: translateY(24px);
    position: absolute;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    color: rgb(4 4 4 / 45%);
  }
  ._1EvFF {
      position: relative;
      height: 24px;
  }

  #id_ctrlv {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .third {
    position: absolute;
    top: -58px;
    left: 585px;
  }



  .UQ0S6 {
    border-bottom: 2px solid #5c1ac3
  }
</style>


<!--  modal de permisos se creo para que el html tenga una variable si esta viendo yun supervisor o agente y asi dejar ver o ocultar ciertas cosas-->
<div class="modal fade" id="modal_supervisor">
  {% if request.user|has_group:"Supervisor"%}
    <input type="bool" value="true" id="es_supervisor">
  {% else %}
    <input type="bool" value="false" id="es_supervisor">
  {% endif %}
  <!-- buscar el permiso personalizado asi: perms.aplicacion.permiso que busco sirve o que este en el modelo o en el Grupo -->
  {% if perms.contactos.ver_historial_whatsapp %}
  <input type="bool" value="true" id="ver_historial_whatsapp">
  {% else %}
  <input type="bool" value="false" id="ver_historial_whatsapp">
  {% endif %}
  {% if perms.contactos.ver_datos_contacto %}
  <input type="bool" value="true" id="ver_datos_contacto">
  {% else %}
  <input type="bool" value="false" id="ver_datos_contacto">
  {% endif %}
  {% if perms.contactos.ver_gestiones %}
  <input type="bool" value="true" id="ver_gestiones">
  {% else %}
  <input type="bool" value="false" id="ver_gestiones">
  {% endif %}
</div>
<!-- end -->



<!-- Modal de Pausa -->
<div class="modal fade" id="modalPause" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">{% trans 'Tomar Pausa' %}</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select class="form-control" id="pauseType">
                    {% for pausa in pausas %}
                        <option id="" value="{{ pausa.id }}">{{ pausa.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" id="setPause" class="btn btn-primary">{% trans 'Iniciar' %}</button>
            </div>
        </div>
    </div>
</div> <!-- FIN Pausa -->

<!-- modal que se muestra cuando entra una llamada -->
<div id="modalReceiveCalls" data-backdrop="static" data-keyboard="false" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <em><b class="tituloLlamEntrante">{% trans 'Llamada Entrante' %}</b></em>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h4 class="cuerpoLlamEntrante">
                <span class="label label-info">{% trans 'De:' %}</span>
                <label name="callerid" id="callerid"></label><br>
                <span class="label label-info">{% trans 'Info extra:' %}</span>
                <label name="extraInfo" id="extraInfo">.....</label>
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" id="answer" class="btn btn-success btn-sm">{% trans 'Responder' %}</button>
                <button type="button" id="doNotAnswer" class="btn btn-danger btn-sm">{% trans 'Rechazar' %}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal que se despliega al dar clic en Marcar Llamada -->
<div id="modalSignCall" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">{% trans 'Marcación de Llamada' %}</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idCamp"/>
                <textarea id="SignDescription" placeholder="Motivo de marca" class="form-control"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="SaveSignedCall" class="btn btn-primary">{% trans 'Guardar' %}</button>
            </div>
        </div>
    </div>
</div>

<!-- modal que se muestra cuando quiere realizarse una llamada manual -->
<div id="modalSelectCmp" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">{% trans 'Llam.  Manual a Campaña' %}</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <select class="form-control" id="cmpList">
                    {% for queue_member in user.get_agente_profile.get_campanas_activas_miembro %}
                    <option value = "{{ queue_member.queue_name.campana.pk }}"
                    campana_type="{{ queue_member.queue_name.campana.type }}"> {{ queue_member.queue_name.campana.nombre }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" id="SelectCamp" class="btn btn-primary">{% trans 'Ok' %}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal que se despliega al dar clic en Marcar Llamada Fuera de Campaña -->
<div id="modalCallOffCamp" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="max-width:400px">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">{% trans 'Llamada fuera de Campaña' %}</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-footer">
                <select class="form-control" id="agente_off_camp">
                    {% for agente in agentes %}
                        <option value = "{{ agente.id }}"> {{ agente.user.get_full_name }} </option>
                    {% endfor %}
                </select>
                <button type="button" id="call_agent" class="btn btn-primary">{% trans 'Llamar Agente' %}</button>
            </div>
            <div class="modal-footer">
                <label for="number_off_camp" ></label>
                <input type="text" id="phone_off_camp" id="phone_off_camp" class="form-control"/>
                <button type="button" id="call_phone_off_campaign" class="btn btn-primary">{% trans 'Llamar numero' %}</button>
            </div>
        </div>
    </div>
</div>

<!-- modal que se despliega al clicar transferir -->
<div class="modal fade" id="modalTransfer" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="title-transfer">{% trans 'Transferir' %}</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body container form-inline">
                <div class="form-group row col-xs-6">
                    <label class="typetransf-firstcolumn">{% trans 'Tipo de transferencia:' %}</label>
                    <div class="radio col-xs-2">
                        <label>
                            <input type="radio" name="tipotransf" id="blindTransf" class="typetransf-secondcolumn"/>&nbsp;{% trans 'Ciega' %}
                        </label>
                    </div>

                    <div class="radio col-xs-3">
                        <label>
                            <input type="radio" name="tipotransf" id="consultTransf" class="typetransf-secondcolumn"/>&nbsp;{% trans 'Asistida' %}
                        </label>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group row col-xs-6">
                    <div class="radio col-xs-3 col-xs-offset-4">
                        <label>
                            <input class="typetransf-firstcolumn" type="radio" name="dstTransf" id="transfToNum"/>&nbsp;{% trans 'a Número' %}
                        </label>
                    </div>
                    <input type="text" class="form-control typetransf-secondcolumn-number" id="numberToTransfer" disabled/>
                </div>
                <br>
                <br>
                <div class="form-group row col-xs-6">
                    <div class="radio col-xs-3 col-xs-offset-4">
                        <label>
                            <input class="typetransf-firstcolumn" type="radio" name="dstTransf" id="transfToCamp"/>&nbsp;{% trans 'a Campaña' %}
                        </label>
                    </div>
                    <select class="form-control typetransf-secondcolumn" id="campToTransfer" disabled>
                    </select>
                </div>
                <br>
                <br>
                <div class="form-inline form-group row col-xs-6">
                    <div class="radio col-xs-3 col-xs-offset-4">
                        <label>
                            <input class="typetransf-firstcolumn" type="radio" name="dstTransf" id="transfToAgent"/>&nbsp;{% trans 'a Agente' %}
                        </label>
                    </div>
                    <select class="form-control typetransf-secondcolumn-agent" id="agentToTransfer" disabled>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="makeTransfer" class="btn btn-success btn-sm">{% trans 'Hecho' %}</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN transferencias -->

<!-- WEBCHAT -->
<!-- <div class="modal fade" id="modalwebChat" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h1>WebChat</h1>
          <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <input type="hidden" value="{{user}}" id="user">
            <div class="col-md-4 col-md-offset-1">
              <textarea class="form-control" rows="2" id="chatMessage" autocomplete="off" disabled="disabled"/></textarea>
            </div>
            <input type="hidden" value="">
            <button class="btn btn-md btn-success" disabled="disabled" id="sendMessage">Enviar</button> -->
            <!--<button type="button" id="conf" class="btn btn-info btn-sm">
              <span class="glyphicon glyphicon-cog"></span>
            </button>-->
          <!-- </div><br>
          <div class="row">
            <input type="hidden" id="conversationId"/>
            <div class="col-md-4 col-md-offset-1 chatWindow">
              <ul id="messages"></ul>
            </div>
            <div class="col-md-4 col-md-offset-1 table-responsive">
              <table class="table table-compressed table-stripped table-hover">
                <thead>
                  <th>Estado</th><th>Usuario</th><th style="text-align: right">Chatear</th>
                </thead>
                <tbody id="tbodyContacts">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Fin Modal Webchat -->

<!-- Modal Webchat -->
<div class="modal fade" id="modalwebChat" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">
                <span class="icon icon-solid-chat"></span>{% trans 'WebChat' %}
            </h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="webchatWindow">
                <input type="hidden" id="conversationId"/>
                <div class="chatWindow">
                    <ul id="messages"></ul>
                </div>
                <div class="chatWindowActions">
                    <div>
                        <input type="hidden" value="{{user}}" id="user">
                        <textarea class="form-control" rows="1" id="chatMessage" autocomplete="off" placeholder="Escribe un mensaje..." disabled="disabled"/></textarea>
                    </div>
                    <div>
                        <input type="hidden" value="">
                        <button class="btn btn-primary" disabled="disabled" id="sendMessage">{% trans 'Enviar' %}</button>
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownWebchatActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="icon icon-cog"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownWebchatActions">
                                <button class="dropdown-item" type="button">{% trans 'Acción' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="webchatInfo">
                <table class="table table-compressed table-hover">
                    <thead>
                        <th>{% trans 'Estado' %}</th>
                        <th>{% trans 'Usuario' %}</th>
                        <th>{% trans 'Chatear' %}</th>
                    </thead>
                    <tbody id="tbodyContacts">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</div> <!-- Fin Modal Webchat -->

<!-- SMS -->
<div class="modal fade" id="modalSMS" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h1 class="modal-title">
              <span class="icon icon-solid-messages"></span>{% trans 'Mensajes' %}
          </h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <ul class="nav nav-tabs" id="messagesTabBar" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="messagesTab" data-toggle="tab" href="#messagesContent" role="tab" aria-controls="home" aria-selected="true">{% trans 'Mensajes' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="registryTab" data-toggle="tab" href="#registryContent" role="tab" aria-controls="profile" aria-selected="false">{% trans 'Registro' %}</a>
            </li>
          </ul>

          <div class="tab-content" id="messagesTabContent">

            <div class="tab-pane fade show active" id="messagesContent" role="tabpanel" aria-labelledby="messagesTab">
              <table class="table table-compressed" id="threadMsgsTable">
                <thead>
                  <th>{% trans 'Desde' %}</th>
                  <th>{% trans 'A' %}</th>
                  <th>{% trans 'Mensaje' %}</th>
                  <th>{% trans 'Fecha' %}</th>
                </thead>
                <tbody id="bodyThreadMsgTable">
                </tbody>
              </table>

              <input type="hidden" id="phoneSendThread" value="">

              <textarea cols="12" rows="1" name='textSend' id="textSendThread" placeholder="{% trans 'El contenido de tu mensaje de texto aqui' %} " class="form-control" required></textarea><br>
              <button type="button" class="btn btn-primary" id="sendMessageFromThread" data-dismiss="modal">{% trans 'Enviar' %}</button>
            </div>

            <div class="tab-pane fade" id="registryContent" role="tabpanel" aria-labelledby="registryTab">
              <form role="form">
                      <div class="row">
                        <div class="col-md-7">
                          <div class="form-group">
                            <table class="table table-compressed" id="messagesTable">
                                <thead>
                                <th>{% trans 'Tel' %}</th>
                                <th>{% trans 'Mensaje' %}</th>
                                <th>{% trans 'Acciones' %}</th>
                              </thead>
                              <tbody id="cuerpoTabla">

                              </tbody>
                              <tr>
                              </tr>
                            </table>
                          </div>
                        </div>
                          <div>
                              <div class="form-group col-md-11">
                                  <label for="phoneSend">{% trans 'Tel' %}</label>
                                  <input type="text" name="phoneSend" id="phoneSend" placeholder="ej: 351 6543422" class="form-control" required>
                              </div>
                              <div class="form-group">
                                  <label for="textSend">{% trans 'Mensaje' %}</label>
                                  <textarea cols="19" rows="2" name='textSend' id="textSend" placeholder="{% trans 'El contenido de tu mensaje de texto aquí' %} " class="form-control" required></textarea>
                              </div>
                              <div class="form-group">
                                  <button id="sendMessage" type="button" name="Enviar" class="btn btn-primary">{% trans 'Enviar' %}</button>
                                  &nbsp;&nbsp;&nbsp;<label for="newSMS">{% trans 'Nuevos:' %}&nbsp;</label><label id="newSMS">0</label>
                              </div>
                          </div>
                    </div>
                </form>
            </div>

          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cerrar' %}</button>
      </div>
    </div>
  </div>
</div> <!-- FIN SMS -->

<!-- FACEBOOK CHAT -->
<div class="modal fade" id="modalFacebook" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title">
                  <span class="icon icon-solid-fb-chat"></span>{% trans 'Facebook' %} chat
              </h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div>
                  <table class="table table-compressed" id="messagesTable">
                      <thead>
                          <th>{% trans 'Conversaciones' %}</th>
                    </thead>
                    <tbody id="cuerpoTablaFb">
                    </tbody>
                    <tr>
                    </tr>
                  </table>
              </div>
              <div>
                  <form role="form">
                        <div class="chatWindow">
                            <div id="messagesFb"></div>
                        </div>
                        <div class="chatWindowActions">
                          <div>
                              <textarea cols="42" rows="1" name='textSend' id="textSendFb" placeholder="{% trans 'Escribe un mensaje...' %} " class="form-control" required></textarea>
                          </div>
                          <div>
                              <button id="sendMessageFb" type="button" name="Enviar" class="btn btn-primary">{% trans 'Enviar' %}</button>
                              <div class="dropdown">
                                  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownFbActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="icon icon-cog"></span>
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownFbActions">
                                      <button id="endDialogFb" class="dropdown-item" type="button">{% trans 'Fin' %}</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </form>
              </div>
          </div>
      </div>
  </div>
</div> <!-- FIN FACEBOOK CHAT -->

<!-- modal informacion -->
<div class="modal fade" id="modalMensaje" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
      	<label class="infoAjax" id="infoAjax"></label>
      </div>
    </div>
  </div>
</div> <!-- fin modal info -->

<!-- TRUECONTACT -->




<!--  BEGIN MODAL DETALLE PRODUCTO  -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-producto">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_producto_label"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row product-detail-1">
          <div class="col-lg-6 text-center">
            <div class="product-slider">
              <a class="product-image">
                <div class="preview-pic tab-content">
                  <div class="tab-pane active" id="pic-1">
                    <img src="{% static 'template/assets/img/320x320.jpg' %}" alt="img" class="img-fluid" id="modal-ppal-image" />
                  </div>
                </div>
              </a>

            </div>
          </div>
          <div class="col-lg-6">
            <div class="product-detailing">
              <h2 class="product-name mt-4" id="modal_producto_titulo"> </h2>
              <div class="product-rating mb-3">
                <span class="star-rating">
                  <i class="flaticon-star-full"></i>
                  <i class="flaticon-star-full"></i>
                  <i class="flaticon-star-full"></i>
                  <i class="flaticon-star-full"></i>
                  <i class="flaticon-star-half"></i>
                </span>
                <!-- <a href="#">(2 customer reviews)</a> -->
              </div>

              <div class="product-description mt-4 mb-5">
                <p id="modal_producto_descripcion"></p>
              </div>
              <div class="form-row product-attribute-select">
                <div class="form-group col-md-6">
                  <span class="info-list-title">Cantidad:</span>
                  <input class="form-control" name="modal_cantidad" type="number" value="1" min="1" id="cantidad_select">
                </div>
                <div class="form-group col-md-6 mb-4">
                  <span class="info-list-title">Presentacion:</span>
                  <select class="form-control" name="modal_select_presentacion" id="presentacion_select">
                    <!-- aca van las opciones -->
                  </select>
                </div>
              </div>
              <!-- aca va el precio -->
              <h2 class="product-price" id="modal_producto_precio"> </h2>

              <div class="form-row product-btn-cart">
                <div class="form-group col-md-6">
                  <!-- btn_add_carrito -->
                  <a class="btn btn-dark" href="javascript:;" onClick="$(this).addCarrito(this);">Agregar al carrito</a>
                </div>
              </div>
              <hr class="mt-3 mb-3">
              <ul class="info-list list-unstyled mb-0">
                <li>
                  <span class="info-list-title">REF:</span>
                  <span class="info-list-text">213496</span>
                </li>
                <li>
                  <span class="info-list-title">Categoria:</span>
                  <span class="info-list-text">info Cat</span>
                </li>
                <li>
                  <span class="info-list-title">Etiquetas:</span>
                  <span class="info-list-text" id="modal_producto_tags"> </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark btn-rounded mt-3 mb-3" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--  END MODAL DETALLE PRODUCTO -->

<!--  BEGIN MODAL DETALLE CONTACTO  -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-contacto">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_contacto_label">Contacto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form id='form-contacto' class="general-info" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input id="id_contacto" type="hidden" name="id_contacto" value="">
          <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area rounded-pills">
              <ul class="nav nav-pills mb-3  nav-fill" id="rounded-pills-tab" role="tablist">
                <li class="nav-item ml-1">
                  <a class="nav-link  btn-rounded active" id="contacto-general-tab" data-toggle="pill" href="#contacto-general" role="tab" aria-controls="contacto-general" aria-selected="false">
                    <i class="flaticon-user-7"></i>
                    General
                  </a>
                </li>
                <li class="nav-item ml-1">
                  <a class="nav-link  btn-rounded" id="contacto-datos-tab" data-toggle="pill" href="#contacto-datos" role="tab" aria-controls="contacto-datos" aria-selected="false">
                    <i class="flaticon-telephone"></i>
                    Datos de Contacto
                  </a>
                </li>
                <!-- <li class="nav-item ml-1">
                  <a class="nav-link  btn-rounded" id="contacto-configuracion-tab" data-toggle="pill" href="#contacto-configuracion" role="tab" aria-controls="contacto-configuracion" aria-selected="false">
                    <i class="flaticon-settings-7"></i>
                    Contactos Relacionados
                  </a>
                </li> -->
              </ul>
              <div class="tab-content" id="rounded-pills-tabContent">

                <div class="tab-pane fade show active" id="contacto-general" role="tabpanel" aria-labelledby="contacto-general-tab">

                  <div class="info">
                    <div class="row">
                      <div class="col-lg-4 col-md-5">
                        <div class="upload text-center">
                          <img id="profile-image-upload" class="profile-img-card img-fluid img-circle" src="/media/chatapi/dialogo/img/573173837131.jpg" alt="">
                        </div>
                        <div id="profile-image-input">
                          {% render_field form_contacto.imagen class="form-control"%}
                        </div>

                        <div class="col text-center mt-4">

                        </div>

                      </div>
                      <div class="col-lg-8 col-md-7 mt-md-0 mt-4">
                        <div class="form">
                          <div class="form-group">
                            <div class="row mb-4">

                              <div class="col-6">
                                <div class="n-chk">
                                  <label class="new-control new-checkbox checkbox-info">
                                    {% render_field form_contacto.es_compania  class="new-control-input" %}
                                    <span class="new-control-indicator"></span>Es Empleado
                                  </label>
                                </div>
                              </div>

                              <div class="col-6">
                                <div class="n-chk">
                                  <label class="new-control new-checkbox checkbox-secondary">
                                    {% render_field form_contacto.bool_1  class="new-control-input" %}
                                    <span class="new-control-indicator"></span>{{ form_contacto.bool_1.label }}
                                  </label>
                                </div>
                              </div>

                              <div class="col-6">
                                <div class="n-chk">
                                  <label class="new-control new-checkbox checkbox-info">
                                    {% render_field form_contacto.bool_2  class="new-control-input" %}
                                    <span class="new-control-indicator"></span>{{ form_contacto.bool_2.label }}
                                  </label>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="n-chk">
                                  <label class="new-control new-checkbox checkbox-dark">
                                    {% render_field form_contacto.bool_3  class="new-control-input" %}
                                    <span class="new-control-indicator"></span>{{ form_contacto.bool_3.label }}
                                  </label>
                                </div>
                              </div>
                            </div>

                          </div>


                          <div class="form-group">
                            <label for="{{ form_contacto.documento.id_for_label }}">{{ form_contacto.documento.label }}</label>
                            {% render_field form_contacto.documento class="form-control" type="number" %}
                          </div>
                          <div class="form-group">
                            <label for="{{ form_contacto.tipo_identificacion.id_for_label }}">{{ form_contacto.tipo_identificacion.label }}</label>
                            {% render_field form_contacto.tipo_identificacion  class="form-control"  %}
                          </div>
                          <div class="form-group">
                            <label for="{{ form_contacto.nombres.id_for_label }}">{{ form_contacto.nombres.label }}</label>
                            {% render_field form_contacto.nombres  class="form-control" style="text-transform:uppercase;" %}
                          </div>
                          <div class="form-group">
                            <label for="{{ form_contacto.apellidos.id_for_label }}">{{ form_contacto.apellidos.label }}</label>
                            {% render_field form_contacto.apellidos  class="form-control" style="text-transform:uppercase;" %}
                          </div>

                          <div class="form-group">
                            <label for="{{ form_contacto.industria.id_for_label }}" style= "display: none;">Segmento</label>
                            {% render_field form_contacto.industria style="display:none;" class="form-control" %}
                          </div>

                          <div class="form-group">
                            <label for="{{ form_contacto.observaciones_contacto.id_for_label }}">{{ form_contacto.observaciones_contacto.label }}:</label>
                            {% render_field form_contacto.observaciones_contacto  class="form-control"  rows="2" style="text-transform:uppercase;" %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="save-info">
                    <div class="row">
                      <div class="col-md-11 mx-auto">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="contacto-datos" role="tabpanel" aria-labelledby="contacto-datos-tab">

                  <ul class="nav nav-tabs  mb-3 mt-3" id="iconTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="icon-home-tab" data-toggle="tab" href="#icon-home" role="tab" aria-controls="icon-home" aria-selected="true">
                          <i class="flaticon-telephone"></i> Telefonos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="icon-profile-tab" data-toggle="tab" href="#icon-profile" role="tab" aria-controls="icon-profile" aria-selected="false">
                          <i class="flaticon-mailbox"></i> Correos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="icon-contact-tab" data-toggle="tab" href="#icon-contact" role="tab" aria-controls="icon-contact" aria-selected="false">
                          <i class="flaticon-location-1"></i> Direcciones</a>
                    </li>
                </ul>
                <div class="tab-content" id="iconTabContent-1">
                    <div class="tab-pane fade show active" id="icon-home" role="tabpanel" aria-labelledby="icon-home-tab">

                      <div class="table-responsive">
                        <table id="contacto-telefonos" class="table table-bordered table-hover table-condensed mb-4">
                            <thead>
                                <tr>
                                    <th>Etiqueta</th>
                                    <th>Telefono</th>
                                    <th class="align-center">Accion</th>
                                </tr>
                            </thead>
                            <tbody id="body_telefono">

                            </tbody>
                        </table>
                        <button class="btn btn-secondary mb-4 mr-2 " type="button" id="btn-new-telefono">+ Añadir</button>

                      </div>

                    </div>
                    <div class="tab-pane fade" id="icon-profile" role="tabpanel" aria-labelledby="icon-profile-tab">

                      <div class="table-responsive">
                        <table id="contacto-emails" class="table table-bordered table-hover table-condensed mb-4">
                            <thead>
                                <tr>
                                  <th>Label</th>
                                  <th>Email</th>
                                  <th class="align-center">Accion</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        <button class="btn btn-secondary mb-4 mr-2 " type="button" id="btn-add-correo">+ Añadir</button>
                      </div>

                    </div>
                    <div class="tab-pane fade" id="icon-contact" role="tabpanel" aria-labelledby="icon-contact-tab">

                      <div class="table-responsive">
                        <table id="contacto-direcciones" class="table table-bordered table-hover table-condensed mb-4">
                            <thead>
                                <tr>
                                    <th>Label</th>
                                    <th>Direccion</th>
                                    <th class="align-center">Accion</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        <button class="btn btn-secondary mb-4 mr-2 "  type="button" id="btn-add-direccion">+ Añadir</button>
                      </div>

                    </div>
                </div>


                </div>

                <!-- <div class="tab-pane fade" id="contacto-configuracion" role="tabpanel" aria-labelledby="contacto-configuracion-tab">
                  <blockquote class="blockquote">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  </blockquote>
                </div> -->
              </div>

          </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark btn-rounded" data-dismiss="modal">Cerrar</button>
        <button id="btn-guardar-contacto" class="btn btn-gradient-warning float-right btn-rounded">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!--  END MODAL DETALLE CONTACTO -->

<!--  BEGIN MODAL DETALLE DIRECTORIO  -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-directorio">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_contacto_label">Directorio</h5>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <label for="id_nombre_directorio_detalle">Nombre del directorio:</label>
          <input type="text" id="id_nombre_directorio_detalle" name="nombre_directorio" class="form-control" maxlength="128" required>
          <div class="invalid-feedback">
            Este campo es requerido!
          </div>
          <label class="mt-4" for="">Números de teléfonos</label>
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped mb-4" name="telefonos">
                <thead>
                    <tr>
                        <th>Sitio</th>
                        <th>Número</th>
                        <th class="text-center">Acción</th>
                    </tr>
                </thead>
                <tbody id="tabla-telefonos-directorio-detalle">

                </tbody>
            </table>
            <button class="btn btn-secondary mb-4 mr-2 " id="btn-add-telefono-directorio-detalle">+ Añadir</button>
          </div>

        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="id_guardar_directorio">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!--  END MODAL DETALLE CONTACTO -->


<!-- Modal Gestion hecha TRUECONTACT-->
<div class="modal fade " id="modal-ver-gestion" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-muted">Historial de Gestiones</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!-- xxxxxxxxxxxxx -->
      <div class="col-12">
        <div class="card border-0">
            <div class="card-body">
                <div class="row">

                    <div class="col-4">
                        <div class="table-responsive">
                            <table class="table table-bordered mb-4">
                              <tr>
                                <th> Gestiones:</th>
                              </tr>
                              <tbody id="tbody_historial">

                              </tbody>
                            </table>
                            
                        </div>
                    </div>

                    <div class="col-8">
                      <div class="modal-body text-muted">
                        <h4 id="info-gestion" class=""></h4>
                        <dl class="row">
                          <div class="col-md-6">
                            <dt class="">Fecha Gestion</dt>
                            <dd id="info-fecha" class=""></dd>
                          </div>
                
                          <div class="col-md-6">
                            <dt class="">Agente</dt>
                            <dd id="info-agente" class=""></dd>
                          </div>
                        </dl>
                        <dl class="row">
                          <div class="col-md-6">
                            <dt class="">Medio Gestion</dt>
                            <dd id="info-medio" class=""></dd>
                          </div>
                
                          <div class="col-md-6">
                            <dt class="">Tipo Gestion</dt>
                            <dd id="info-tipo" class=""></dd>
                          </div>
                        </dl>
                        <dl class="row">
                          <div class="col-md-6">
                            <dt class="">Motivo</dt>
                            <dd id="info-motivo" class=""></dd>
                          </div>
                          <div class="col-md-6">
                            <dt class="">Resultado</dt>
                            <dd id="info-resultado" class=""></dd>
                          </div>
                        </dl>
                        <dl class="row">
                          <div class="col-md-6">
                            <dt class="">Especialidad</dt>
                            <dd id="info-especialidad" class=""></dd>
                          </div>
                          <div class="col-md-6">
                            <dt class="">Entidad</dt>
                            <dd id="info-entidad" class=""></dd>
                          </div>
                        </dl>
                        <dl class="row">
                          <div class="col-md-6">
                            <dt class="">Tipo de consulta</dt>
                            <dd id="info-tipo-consulta" class=""></dd>
                          </div>
                          <div class="col-md-6">
                            <dt class="">Aceta términos y condiciones</dt>
                            <dd id="info-tyc" class=""></dd>
                          </div>
                        </dl>
                        <dl class="row">
                          <div class="col-md-12">
                            <dt class="">Observaciones</dt>
                            <dd id="info-observaciones" class=""></dd>
                          </div>
                        </dl>
                        <dl class="row">
                            <div class="col-md-8">
                              <dt class="">Información:</dt>
                              <dd id="info-registro" class=""></dd>
                            </div>
                          <div class="col-md-4">
                            <dt class="">Estado</dt>
                            <dd id="info-estado" class=""></dd>
                          </div>
                        </dl>
                        <div class="card ">
                          <div id="registro_mensajes" class="card-body" style="display: none;">
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- xxxxxxxxxxxxx -->
      
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- end Modal truecontact -->

<!-- Modal Gestion Conmutador hecha TRUECONTACT-->
<div class="modal fade " id="modal-ver-gestion-conmutador" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-muted">Historial de Gestiones</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!-- xxxxxxxxxxxxx -->
      <div class="col-12">
        <div class="card border-0">
            <div class="card-body">
                <div class="row">

                    <div class="col-4">
                        <div class="table-responsive">
                            <table class="table table-bordered mb-4">
                              <tr>
                                <th> Gestiones:</th>
                              </tr>
                              <tbody id="tbody_historial_conmutador">

                              </tbody>
                            </table>
                            
                        </div>
                    </div>

                    <div class="col-8">
                      <div class="modal-body text-muted">
                        <h4 id="gestion-info" class=""></h4>
                        <dl class="row">
                          <div class="col-md-6">
                            <dt class="">Fecha Gestion</dt>
                            <dd id="fecha-info" class=""></dd>
                          </div>
                
                          <div class="col-md-6">
                            <dt class="">Agente</dt>
                            <dd id="agente-info" class=""></dd>
                          </div>
                        </dl>
                        <dl class="row">
                          <div class="col-md-6">
                            <dt class="">Medio de la gestión</dt>
                            <dd id="medio-info" class=""></dd>
                          </div>
                
                          <div class="col-md-6">
                            <dt class="">Tipo de gestión</dt>
                            <dd id="tipo-info" class=""></dd>
                          </div>
                        </dl>
                        <dl class="row">
                          <div class="col-md-6">
                            <dt class="">Nombre</dt>
                            <dd id="nombre-info" class=""></dd>
                          </div>
                          <div class="col-md-6">
                            <dt class="">¿Qué solicita?</dt>
                            <dd id="directorio-info" class=""></dd>
                          </div>
                        </dl>
                        <dl class="row">
                          <div class="col-md-6">
                            <dt class="">Teléfono</dt>
                            <dd id="telefono-info" class=""></dd>
                          </div>
                          <div class="col-md-6">
                            <dt class="">Resultado</dt>
                            <dd id="resultado-info" class=""></dd>
                          </div>
                        </dl>
                        <dl class="row">
                          <div class="col-md-12">
                            <dt class="">Observaciones</dt>
                            <dd id="observaciones-info" class=""></dd>
                          </div>
                        </dl>
                        <dl class="row">
                          <div class="col-md-8">
                            <dt class="">Información</dt>
                            <dd id="registro-info" class=""></dd>
                          </div>
                          <div class="col-md-4">
                            <dt class="">Estado</dt>
                            <dd id="estado-info" class=""></dd>
                          </div>
                        </dl>
                        <!-- <div class="card ">
                          <div id="registro_mensajes" class="card-body" style="display: none;">
                          </div>
                          /.card-body
                        </div> -->
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- xxxxxxxxxxxxx -->
      
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Que Contacto es? si son varios numeros?-->
<div class="modal fade " id="modal-ver-contactos" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="info-gestion" class="modal-title text-muted">Seleccione un contacto para continuar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped mb-4" id="tabla_contactos">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <!-- <th>Direccion</th>
                    <th>Observaciones</th> -->
                    <th class="text-center">Accion</th>
                </tr>
            </thead>
            <tbody id="tbody_contactos" >

            </tbody>
        </table>

    </div>
      <div class="modal-footer justify-content-between">
        <button class="btn btn-gradient-warning float-right btn-rounded" id="btn-nuevo-contacto">Añadir Nuevo Contacto</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- end Modal truecontact -->



<!-- Modal de Guion -->
<div class="modal fade" id="modal-guion-saliente" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title">Guión de llamadas</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div class="main-content">
              <div >
                  <div class="row">
                    <div class="col-lg-12 col-12 layout-spacing">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-content widget-content-area rounded-pills">
                                <div class="tab-content" id="rounded-pills-tabContent">
                                    <div class="tab-pane fade show active" id="rounded-pills-pregunta1" role="tabpanel" aria-labelledby="rounded-pills-pregunta1-tab">
                                      <div class="widget-content widget-content-area border-tab">
                                    <!-- se renderiza el guion de la funcion de javascript en el proximo div -->
                                        <div id="modal-guion-detail"></div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div> <!-- FIN Guion -->

<!-- Modal de Guion2 -->
<div class="modal fade" id="modal-guion2" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title"> Guión Ayuda</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">

            <div class="accordion" id="hd-ayudas">

            </div>

          </div>
      </div>
  </div>
</div> <!-- FIN Guion2 -->

<!------    MODAL DE ENCUESTA PROGRAMACIONES -------------->
<div class="modal fade" id="modal-encuesta">    
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Encuesta</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body"> <!------    modal body      -------------->
        <div class="card">
          <div class="card-body">
            <form  data-parsley-validate="true" id="form_crear_encuesta" enctype="multipart/form-data" name="encuesta_form" method="post" >
                {% csrf_token %}
                <input type="hidden" name="gestion_encuesta" value="" id="gestion_encuesta">
                <input type="hidden" name="contacto_encuesta" value="" id="contacto_encuesta">
                <input type="hidden" name="tipo_encuesta" value="" id="tipo_encuesta">
                <input type="hidden" name="programacion_encuesta" value="" id="programacion_encuesta">
                <div class="container fluid">
                  <div class="row">
                    <div class="col-md-6">
                      <h6 class="text-muted mb-3">
                      1. ¿Recomendaria nuestro concensionario?
                      </h6>
                      <select class="form-control basic" name="recomendaria" id="recomendaria">
                        <option value="">Seleccione</option>
                        <option value="si">Si</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <h6 class="text-muted mb-3" id="label_calificacion">
                        2. Califique de 1 a 10 su experiencia en todo el proceso de compra de su VO
                      </h6>
                        <select class="form-control basic"  name="calificacion" id="calificacion">
                          <option value="">Seleccione</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                        </select>
                        
                    </div>
                    <div class="col-md-6">
                      <div class="row mb-1">
                        <h6 class="text-muted mb-3 col-md-12" id="label_comentario">
                          3. ¿Algun comentario de que quisiera adicionar?
                        </h6>
                        <div class="col-md-12">
                          <textarea class="form-control" name="observaciones_encuesta" id="observaciones_encuesta" cols="20" rows="3"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>    <!------  END   modal body      -------------->
        <div class="modal-footer justify-content-between">
          <button id="btn-stop"  type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button id="btn-crearEncuesta" type="button" class="btn btn-primary">Grabar</button>
        </div>
      </div>
  <!-- /.modal-dialog -->
  </div>
</div>   
<!------  END MODAL ENCUESTA  PROGRAMACIONES -------------->

<!-- Modal de multiples imagenes -->
<div class="modal fade" id="modal-enviar-archivo" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"> Vista Previa</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" id="cerrar_modal">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="main-content">
          <div class="col-lg-12 layout-spacing">
            <div class="statbox widget box box-shadow">
              <div class="widget-header">
                <div class="row">
                  <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>Envio Multiple de archivos</h4>
                    <span>Total maximo de archivos 30</span>
                  </div>
                </div>
              </div>
              <div class="widget-content widget-content-area">
                <form class="dropzone" id="midropzone">
                  {% csrf_token %}
                  <a class="btn third btn-primary" id="upload_btn" href="javascript:;">Confirmar</a>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- FIN multiples imagenes -->

<!-- Modal de pegar de la papelera imagenes -->
<div class="modal fade" id="modal-ctrlv" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"> Vista Previa</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="main-content">
          <div class="col-lg-12 layout-spacing">
            <div class="statbox widget box box-shadow">
              <div class="widget-header">
                <div class="row">
                  <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4></h4>
                  </div>
                </div>
              </div>
              <div class="widget-content widget-content-area">
                <section>
                  <img class="img" id="id_ctrlv" width="400" height="250" style="display: none;">
                </section>
              </div>
              <div tabindex="-1" class="_1cBR9 _2Gqfb">
                <div class="UQ0S6">
                  <div tabindex="-1" class="_1JAUF _3to_- _3Foy4">
                    <div class="OTBsx" style="visibility: visible;"></div>
                    <div id="div_caption" class="_2_1wd copyable-text selectable-text" placeholder="Escribe un comentario" contenteditable="true" data-tab="6" dir="ltr"
                      spellcheck="true"></div>
                  </div>
                </div>
              </div>
              <div id="enviar-circle" class="btn btn-raised  d-lg-block d-none">
                <i class="flaticon-send-fill"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- FIN de pegar de la papelera imagenes -->





