{% load i18n static %}
{% load template_extrafunc %}


<!-- Tab Mobile View Header -->
<header class="tabMobileView header navbar fixed-top d-lg-none">
  <div class="nav-toggle">
    <a href="javascript:void(0);" class="nav-link sidebarCollapse" data-placement="bottom">
      <i class="flaticon-menu-line-2"></i>
    </a>
    <a href="index.html" class=""> <img src="{% static 'truecontact/template/assets/img/logo-3.png' %}" class="img-fluid" alt="logo"></a>
  </div>
  <ul class="nav navbar-nav">
    <li class="nav-item d-lg-none">
      <form class="form-inline justify-content-end" role="search">
        <input type="text" class="form-control search-form-control mr-3">
      </form>
    </li>
  </ul>
</header>
<!-- Tab Mobile View Header -->

<!--  BEGIN NAVBAR  -->
<header class="header navbar fixed-top navbar-expand-sm">
  <!-- <a href="javascript:void(0);" class="sidebarCollapse d-none d-lg-block" data-placement="bottom"><i class="flaticon-menu-line-2"></i></a> -->
  <ul class="navbar-nav flex-row">

    <li class="nav-item dropdown app-dropdown-left  ml-lg-3 mr-lg-2 order-lg-0 order-3">
      <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="appDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="flaticon-home-fill"></span>
      </a>
      <div class="dropdown-menu  position-absolute" aria-labelledby="appDropdown">
        {% if request.user|has_campana:"Call" or request.user|has_campana:"Confirmaciones" %}
        <a class="dropdown-item btn-crm" href="{% url 'tc-contacto' %}" target="crm">
          <i class="flaticon-user-circle"></i><span>Contactos</span>
        </a>
        <!-- {% if request.user|has_group:"SOAT"%}
        <a class="dropdown-item btn-crm" href="{% url 'tc-sanautos-vehiculo-list' %}" target="crm" >
          <i class="flaticon-car"></i><span>Vehiculos</span>
        </a>
        {% endif %} -->
        <a class="dropdown-item btn-crm" href="{% url 'tc-gestiones-list' %}" target="crm" >
          <i class="flaticon-edit-3"></i><span>Gestiones</span>
        </a>
        <a class="dropdown-item btn-crm" href="{% url 'tc-shaio-programacion-list' %}" target="crm" >
          <i class="flaticon-calendar"></i><span>Programación</span>
        </a>
        <a class="dropdown-item btn-crm" href="{% url 'tc-mensajes-masivos' %}" target="crm" >
          <i class="action-button-whatsapp fab fa-whatsapp whatsapp_button"></i><span>Mensaje <br> Masivo</span>
        </a>
        <a class="dropdown-item btn-crm" href="{% url 'tc_llamadas_perdidas_list' %}" target="crm" >
          <i class="flaticon-phone--fill"></i><span>Llamadas <br> perdidas</span>
        </a>
        {% else %}
        <a class="dropdown-item btn-crm" href="{% url 'tc_directorios_list' %}" target="crm">
          <i class="flaticon-user-circle"></i><span>Directorios</span>
        </a>
        <a class="dropdown-item btn-crm" href="{% url 'tc_gestiones_conmutador_list' %}" target="crm" >
          <i class="flaticon-edit-3"></i><span>Gestiones</span>
        </a>
        {% endif %}
        {% if request.user|has_group:"Supervisor"%}
          <a class="dropdown-item btn-crm" href="{% url 'tc-gestiones-agentes' %}" target="crm" >
            <i class="flaticon-user-group-1"></i><span>Agentes</span>
          </a>

          <a class="dropdown-item btn-crm"  href="{% url 'tc-respuesta-list' %}" target="crm" >
            <i class="flaticon-stop-watch"></i><span>R / Rapida</span>
          </a>
          <a class="dropdown-item btn-crm" href="{% url 'ajustes-tc' %}" target="crm" >
            <i class="flaticon-menu-list"></i><span>Ajustes</span>
          </a>
          <!-- <a class="dropdown-item btn-crm" href="{% url 'configuracion-formulario' %}" target="crm" >
            <i class="flaticon-crm-screen-line"></i><span>Formulario</span>
          </a> -->
          <a class="dropdown-item btn-crm" href="{% url 'horario-whatsapp-list' %}" target="crm" >
            <i class="flaticon-clock-2"></i><span>Horarios</span>
          </a>
        {% endif %}
        <!-- <a class="dropdown-item" href="ui_buttons.html">
          <i class="flaticon-switch"></i><span>Buttons</span>
        </a>
        <a class="dropdown-item" href="ui_flaticon_icon.html">
          <i class="flaticon-edit"></i><span>Font Icons</span>
        </a>
        <a class="dropdown-item" href="modules_widgets.html">
          <i class="flaticon-computer-5"></i><span>Modules</span>
        </a>
        <a class="dropdown-item" href="map_google_basic.html">
          <i class="flaticon-location"></i><span>Maps</span>
        </a>
        <a class="dropdown-item" href="apps_drag_n_drop_calendar.html">
          <i class="flaticon-calendar-1"></i><span>Calendar</span>
        </a>
        <a class="dropdown-item" href="am_column_and_barchart.html">
          <i class="flaticon-chart-3"></i><span>Charts</span>
        </a> -->
      </div>
    </li>

  </ul>


  <!-- <ul class="navbar-nav flex-row mr-lg-auto ml-lg-0  ml-auto">

    <li class="nav-item dropdown message-dropdown ml-lg-4">
      <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="messageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="flaticon-mail-10"></span><span class="badge badge-primary">13</span>
      </a>
      <div class="dropdown-menu  position-absolute" aria-labelledby="messageDropdown">
        <a class="dropdown-item title" href="javascript:void(0);">
          <i class="flaticon-chat-line mr-3"></i><span>You have 13 new messages</span>
        </a>
        <a class="dropdown-item" href="javascript:void(0);">
          <div class="media">
            <div class="usr-img online mr-3">
              <img class="usr-img rounded-circle" src="{% static 'truecontact/template/assets/img/90x90.jpg' %}" alt="Generic placeholder image">
            </div>
            <div class="media-body">
              <div class="mt-0">
                <p class="text mb-0">Browse latest projects...</p>
              </div>

              <div class="d-flex justify-content-between">
                <p class="meta-user-name mb-0">Kara Young</p>
                <p class="meta-time mb-0  align-self-center">1 min ago</p>
              </div>
            </div>
          </div>

          <div class="media">
            <div class="usr-img mr-3">
              <img class="usr-img rounded-circle" src="{% static 'truecontact/template/assets/img/90x90.jpg' %}" alt="Generic placeholder image">
            </div>
            <div class="media-body">
              <div class="mt-0">
                <p class="text mb-0">Design, Development and...</p>
              </div>

              <div class="d-flex justify-content-between">
                <p class="meta-user-name mb-0">Amy Diaz</p>
                <p class="meta-time mb-0  align-self-center">5 mins ago</p>
              </div>
            </div>
          </div>

          <div class="media">
            <div class="usr-img online mr-3">
              <img class="usr-img rounded-circle" src="{% static 'truecontact/template/assets/img/90x90.jpg' %}" alt="Generic placeholder image">
            </div>
            <div class="media-body">
              <div class="mt-0">
                <p class="text mb-0">We can ensure...</p>
              </div>

              <div class="d-flex justify-content-between">
                <p class="meta-user-name mb-0">Shaun Park</p>
                <p class="meta-time mb-0  align-self-center">1 day ago</p>
              </div>
            </div>
          </div>
        </a>

        <a class="footer dropdown-item" href="javascript:void(0);">
          <div class="btn btn-info mb-3 mr-2 btn-rounded"><i class="flaticon-arrow-right mr-3"></i> View more</div>
        </a>
      </div>
    </li>

    <li class="nav-item dropdown notification-dropdown ml-3">
      <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="notificationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="flaticon-bell-4"></span><span class="badge badge-success">15</span>
      </a>
      <div class="dropdown-menu position-absolute" aria-labelledby="notificationDropdown">
        <a class="dropdown-item title" href="javascript:void(0);">
          <i class="flaticon-bell-13 mr-3"></i> <span>You have 15 new notifications</span>
        </a>

        <a class="dropdown-item text-center  p-1" href="javascript:void(0);">

          <div class="notification-list ">

            <div class="notification-item position-relative  mb-3">
              <div class="c-dropdown text-right">
                <span id="c-dropdonbtn" class="c-dropbtn mr-2"><i class="flaticon-dots"></i></span>
                <div class="c-dropdown-content">
                  <div class="c-dropdown-item">View</div>
                  <div class="c-dropdown-item">Delete</div>
                </div>
              </div>

              <h6 class="mb-1">5 new members joined today</h6>
              <p><span class="meta-time">1 minute ago</span> . <span class="meta-member-notification">4 members</span></p>
              <ul class="list-inline badge-collapsed-img mt-3">
                <li class="list-inline-item chat-online-usr">
                  <img src="{% static 'truecontact/template/assets/img/90x90.jpg' %}" alt="admin-profile" class="ml-0">
                </li>
                <li class="list-inline-item chat-online-usr">
                  <img src="{% static 'truecontact/template/assets/img/90x90.jpg' %}" alt="admin-profile">
                </li>
                <li class="list-inline-item chat-online-usr">
                  <img src="{% static 'truecontact/template/assets/img/90x90.jpg' %}" alt="admin-profile">
                </li>
                <li class="list-inline-item chat-online-usr">
                  <img src="{% static 'truecontact/template/assets/img/90x90.jpg' %}" alt="admin-profile">
                </li>
              </ul>

            </div>

            <div class="notification-item position-relative  mb-3">

              <div class="c-dropdown text-right">
                <span id="c-dropdonbtn2" class="c-dropbtn mr-2"><i class="flaticon-dots"></i></span>
                <div class="c-dropdown-content">
                  <div class="c-dropdown-item">View</div>
                  <div class="c-dropdown-item">Delete</div>
                </div>
              </div>

              <h6 class="mb-1">Very long description...</h6>
              <p><span class="meta-time">5 minutes ago</span> . <span class="meta-member-notification">5 members</span></p>
              <ul class="list-inline badge-collapsed-img mt-3">
                <li class="list-inline-item chat-online-usr">
                  <img alt="admin-profile" src="{% static 'truecontact/template/assets/img/90x90.jpg' %}" class="ml-0">
                </li>
                <li class="list-inline-item chat-online-usr">
                  <img alt="admin-profile" src="{% static 'truecontact/template/assets/img/90x90.jpg' %}">
                </li>
                <li class="list-inline-item chat-online-usr">
                  <img alt="admin-profile" src="{% static 'truecontact/template/assets/img/90x90.jpg' %}">
                </li>
                <li class="list-inline-item chat-online-usr">
                  <img alt="admin-profile" src="{% static 'truecontact/template/assets/img/90x90.jpg' %}">
                </li>
                <li class="list-inline-item chat-online-usr">
                  <img alt="admin-profile" src="{% static 'truecontact/template/assets/img/90x90.jpg' %}">
                </li>
              </ul>

            </div>

            <div class="notification-item position-relative  mb-3">
              <div class="c-dropdown text-right">
                <span class="c-dropbtn mr-2"><i class="flaticon-dots"></i></span>
                <div class="c-dropdown-content">
                  <div class="c-dropdown-item">View</div>
                  <div class="c-dropdown-item">Delete</div>
                </div>
              </div>

              <h6 class="mb-1">New item are in queue</h6>
              <p><span class="meta-time">25 minutes ago</span> . <span class="meta-member-notification">3 members</span></p>
              <ul class="list-inline badge-collapsed-img mt-3">
                <li class="list-inline-item chat-online-usr">
                  <img alt="admin-profile" src="{% static 'truecontact/template/assets/img/90x90.jpg' %}" class="ml-0">
                </li>
                <li class="list-inline-item chat-online-usr">
                  <img alt="admin-profile" src="{% static 'truecontact/template/assets/img/90x90.jpg' %}">
                </li>
                <li class="list-inline-item chat-online-usr">
                  <img alt="admin-profile" src="{% static 'truecontact/template/assets/img/90x90.jpg' %}">
                </li>
              </ul>
            </div>
          </div>
        </a>
        <a class="footer dropdown-item text-center p-2">
          <span class="mr-1">View All</span>
          <div class="btn btn-gradient-warning rounded-circle"><i class="flaticon-arrow-right flaticon-circle-p"></i></div>
        </a>
      </div>
    </li>
  </ul> -->


  <ul class="navbar-nav flex-row ml-lg-auto">

    <li id="timeBar" class="nav-item  d-lg-block d-none">
      <ul class="ml-3 navbar-nav">
        <div>
          <div id="timers" class="row" >
            <div id="operationTime" class="label label-default mt-1">
              {% trans 'Operación:' %}
              <span id="horaO">00</span><span id="minsO">:07</span><span id="segsO">:00</span>
            </div>
            <div id="pauseTime" class="label label-default ml-3 mt-1">
              {% trans 'Pausa:' %}
              <span id="horaP">00</span><span id="minsP">:00</span><span id="segsP">:00</span>
            </div>
            <div id="timersControls">
              <span id="UserStatus" class="ml-3 mr-3" style="border-radius: 25px;"></span>
              <button type="button" id="Pause" class="btn btn-outline-warning btn-rounded btn-sm">
                <span class="icon icon-control-pause"></span>Pause
              </button>
              <button type="button" id="Resume" class="btn btn-outline-info btn-rounded btn-sm" disabled="">
                <span class="icon icon-control-play"></span>Resume
              </button>
            </div>
          </div>
        </div>
      </ul>
    </li>

    <!-- <li class="nav-item dropdown app-dropdown  ml-lg-3 mr-lg-2 order-lg-0 order-2">
      <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="appDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="flaticon-home-fill"></span>
      </a>
      <div class="dropdown-menu  position-absolute" aria-labelledby="appDropdown">
        <div id="timeBar" class="card">
          <ul class="ml-3 navbar-nav">
            <div>
              <div id="timers" class="row" >
                <div id="operationTime" class="label label-default mt-1">
                  {% trans 'Operación:' %}
                  <span id="horaO">00</span><span id="minsO">:07</span><span id="segsO">:00</span>
                </div>
                <div id="pauseTime" class="label label-default ml-3 mt-1">
                  {% trans 'Pausa:' %}
                  <span id="horaP">00</span><span id="minsP">:00</span><span id="segsP">:00</span>
                </div>
                <div id="timersControls">
                  <span id="UserStatus" class="ml-3 mr-3" style="border-radius: 25px;"></span>
                  <button type="button" id="Pause" class="btn btn-outline-warning btn-rounded btn-sm">
                    <span class="icon icon-control-pause"></span>Pause
                  </button>
                  <button type="button" id="Resume" class="btn btn-outline-info btn-rounded btn-sm" disabled="">
                    <span class="icon icon-control-play"></span>Resume
                  </button>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </li> -->

    <li class="nav-item dropdown user-profile-dropdown ml-lg-2 mr-lg-2 ml-3 order-lg-0 order-1">
      <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="flaticon-user-12"></span>
      </a>
      <div class="dropdown-menu  position-absolute" aria-labelledby="userProfileDropdown">
        <a class="dropdown-item" href="javascript:;">
          <i class="mr-1 flaticon-user-6"></i> <span>{{request.user.username}}</span>
        </a>
        <input type="hidden" id="modelo_origen_gestion" value='{"origen": "None", "pk": ""}'>
        <input type="hidden" id="nombre_campana" value="{{nombre_campana}}" >
        <!-- <a class="dropdown-item" href="apps_scheduler.html">
          <i class="mr-1 flaticon-calendar-bold"></i> <span>My Schedule</span>
        </a>
        <a class="dropdown-item" href="apps_mailbox.html">
          <i class="mr-1 flaticon-email-fill-1"></i> <span>My Inbox</span>
        </a>
        <a class="dropdown-item" href="user_lockscreen_1.html">
          <i class="mr-1 flaticon-lock-2"></i> <span>Lock Screen</span>
        </a> -->
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'logout' %}">
          <i class="mr-1 flaticon-power-button"></i> <span>Log Out</span>
        </a>
      </div>
    </li>

  </ul>
</header>
<!--  END NAVBAR  -->
