{% load i18n static %}

<!--  BEGIN CHAT  -->
    <div id="phone">
        <div id="phone-circle" class="btn btn-raised  d-lg-block d-none">
            <i class="flaticon-telephone"></i>
        </div>
        <div class="phone-box">
          <!-- Configs -->
          <input type="hidden" value="{{ agente_profile.id }}" id="idagt"/>
          <input type="hidden" value="{{ agente_profile.user.username }}" id="agt-username"/>
          <input type="hidden" value="{{ sip_usuario }}" id="sipExt"/>
          <input value="{{ sip_password }}" id="sipSec" type="hidden"/>
          <input value="{{ max_session_age }}" id="max_session_age" type="hidden"/>

          <input type="hidden" value="{{ agente_profile.grupo.auto_attend_inbound }}" id="auto_attend_IN"/>
          <input type="hidden" value="{{ agente_profile.grupo.auto_attend_dialer }}" id="auto_attend_DIALER"/>
          <input type="hidden" value="{{ agente_profile.grupo.auto_unpause }}" id="auto_unpause"/>
          <!-- / Configs -->

            <div class="phone-box-header">
                <div class="media">
                    <div class="media-body">
                      <ul class="nav nav-pills justify-content-center" id="rounded-pills-icon-tab" role="tablist">
                        <li class="nav-item ml-2 mr-2">
                          <a class="nav-link active text-center" id="tab-phone-tab" data-toggle="pill" href="#tab-phone" role="tab" aria-controls="tab-phone" aria-selected="true">
                            <i class="flaticon-telephone"></i>
                             Telefono
                          </a>
                        </li>
                        <li class="nav-item ml-2 mr-2">
                          <a class="nav-link text-center" id="tab-history-tab" data-toggle="pill" href="#tab-history" role="tab" aria-controls="tab-history" aria-selected="false">
                            <i class="flaticon-"></i>
                             Historial
                          </a>
                        </li>
                      </ul>
                    </div>
                    <span class="phone-box-toggle mt-1"><i class="flaticon-close-fill"></i></span>
                </div>
            </div>
            <div class="phone-box-body">
              <div class="phone-tabs">
                <div class="tab-content" id="rounded-pills-icon-tabContent">

                  <div class="tab-pane fade show active" id="tab-phone" role="tabpanel" aria-labelledby="tab-phone-tab">

                      <div class="container-fluid">

                        <div class="row" id="phoneStatus">
                          <div class="col-md-12">
                            <div id="CallStatus"></div>
                            <div id="SipStatus"></div>
                          </div>
                        </div>

                        <div class="row" id="phoneKeys">

                          <div class="col-md-10">
                            <div class="row filaCampoNroDiscar">
                              <input type="text" class="form-control" id="numberToCall" name="numberToCall">
                            </div>
                            <div class="row" id="phoneKeysNumbers">
                              <div class="col-md-12 text-center">
                                <button id="1" class="btn key">1</button>
                                <button id="2" class="btn key">2</button>
                                <button id="3" class="btn key">3</button>
                              </div>

                              <div class="col-md-12 text-center">
                                <button id="4" class="btn key">4</button>
                                <button id="5" class="btn key">5</button>
                                <button id="6" class="btn key">6</button>
                              </div>

                              <div class="col-md-12 text-center">
                                <button id="7" class="btn key">7</button>
                                <button id="8" class="btn key">8</button>
                                <button id="9" class="btn key">9</button>
                              </div>

                              <div class="col-md-12 text-center">
                                <button id="hashtag" class="btn key">#</button>
                                <button id="0" class="btn key">0</button>
                                <button id="asterisk" class="btn key astBtn">*</button>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-2" style="padding-left: 0px;">
                            <div id="phoneKeysActions">

                              <button type="button" id="call" class="btn btn-outline-primary" title="Llamar">
                                <span class="icon icon-solid-phone-call"></span>
                              </button>

                              <button type="button" id="endCall" class="btn btn-outline-danger" title="Finalizar llamada">
                                <span class="icon icon-solid-phone-end"></span>
                              </button>

                              <button type="button" id="redial" class="btn btn-outline-secondary" title="Rellamar">
                                <span class="icon icon-solid-phone-redial"></span>
                              </button>

                              <button type="button" id="SignCall" class="btn btn-outline-secondary" title="Marcar Llamada">
                                <span class="icon icon-solid-phone-save"></span>
                              </button>

                              <button type="button" id="recordCall" class="btn btn-outline-secondary" title="Grabar Llamada">
                                <span>
                                  <input class="hidden" name="recordOnUrl" id="recordOnUrl" type="text"
                                    value="{% static 'ominicontacto/Img/record-on.svg' %}"/>

                                  <input class="hidden" name="recordOffUrl" id="recordOffUrl" type="text"
                                    value="{% static 'ominicontacto/Img/record-off.svg' %}"/>

                                  <img src="{% static 'ominicontacto/Img/record-off.svg' %}">
                                </span>
                              </button>

                            </div>
                          </div>
                        </div>

                        <div class="row" id="phoneOptions">

                          <div class="col-md-12" id="sumTime">
                            <span id="horaC"></span>
                            <span id="minsC"></span>
                            <span id="segsC"></span>
                          </div>

                          <div class="col-md-12 text-center">
                            <div class="btn-group" data-toggle="buttons">
                              <button id="Transfer" class="btn btn-outline-secondary" disabled="disabled">Transfer</button>
                              <button id="End|fer" class="btn btn-outline-secondary" disabled="disabled">Cancel Transfer</button>
                              <button id="Confer" class="btn btn-outline-secondary" disabled="disabled">Confer</button>
                              <button id="onHold" value="*198" class="btn btn-outline-secondary" disabled="disabled">Hold</button>
                            </div>
                          </div>

                          <div class="col-md-12 text-center">
                            <div class="btn-group" data-toggle="buttons">
                              <button id="changeCampAssocManualCall" class="btn btn-outline-secondary btn-sm">
                                Campaña:<span id="campAssocManualCall"></span>
                              </button>
                              <button id="call_off_campaign_menu" class="btn btn-outline-secondary btn-sm">
                                Llamar Fuera de Campaña:
                              </button>
                            </div>
                          </div>

                        </div>

                      </div>

                  </div>

                  <div class="tab-pane fade" id="tab-history" role="tabpanel" aria-labelledby="tab-history-tab">

                      <div class="container">
                        <div class="row" style="background:lightgrey; margin-bottom: 1rem;">
                            <div class="col-lg-2 col-md-2 col-xs-2 text-center">
                                <strong>Tipo</strong>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-4 text-center">
                                <strong>Número</strong>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-6 text-center">
                                <div><strong>Fecha / Hora</strong></div>
                            </div>
                        </div>
                        <div class="row" id="call_list">
                            {% include "agente/historico_llamadas_del_dia.html" %}
                        </div>
                      </div>

                  </div>

                  <audio id="remoteAudio" autoplay="autoplay"></audio>
                  <audio id="localAudio" muted="muted"></audio>
                  <audio id="Welcome">
                    <source id="fuenteWel" src="{% static 'ominicontacto/ring/welcome.mp3' %}" type="audio/mpeg">
                  </audio>
                  <audio id="RingIn">
                    <source id="fuenteIn" src="{% static 'ominicontacto/ring/Kuma.mp3' %}" type="audio/mpeg">
                  </audio>
                  <audio id="RingOut">
                    <source id="fuenteOut" src="{% static 'ominicontacto/ring/tonoallamar.mp3' %}" type="audio/mpeg">
                  </audio>
                  <audio id="RingBusy">
                    <source id="fuentebOut" src="{% static 'ominicontacto/ring/busy.mp3' %}" type="audio/mpeg">
                  </audio>
                </div>
            </div>
        </div>
    </div>
    <!--  END CHAT  -->
