{% load i18n static %}

<!--  BEGIN MODERN  -->
<script> 
  $(window.parent.document.getElementById('overlay')).fadeIn(300);
</script>

<div class="modernSidebar-nav header">
  <div class="">
    <nav id="modernSidebar">
      <ul class="menu-categories pl-0 m-0">

        
        {% if campanas_queues == 0 %}
        <li class="menu" style="display: none" >
          <a id="btn-gestiones" href="javascript:;" class="multiple-badge">
            <i class="flaticon-crm-screen-line"></i>
            <div id="" class="info-gestiones active">
              <span id="cantidad-gestiones-agente_2" class="badge badge-info badge-pill"> {{ cantidad_en_gestion }}  </span>
              <span id="cantidad-gestiones-cola_2" class="badge badge-warning badge-pill"> {{ cantidad_nuevos }} </span>
            </div>
          </a>
        </li>
        {% else %}
        <li class="menu">
          <a id="btn-gestiones" href="javascript:;" class="multiple-badge">
            <i class="flaticon-crm-screen-line"></i>
            <div id="" class="info-gestiones active">
              <span id="cantidad-gestiones-agente_2" class="badge badge-info badge-pill"> {{ cantidad_en_gestion }}  </span>
              <span id="cantidad-gestiones-cola_2" class="badge badge-warning badge-pill"> {{ cantidad_nuevos }} </span>
            </div>
          </a>
        </li>
        {% endif %}

        <li class="menu" style="display: none">
          <a id="btn-catalogo" href="javascript: void(0);">
            <div class="show-main-right-col">
              <i class="flaticon-cart-fill"></i>
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!--  END MODERN  -->
