{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block page_css_level %}
{% endblock %}

{% block content %}


<!--  BEGIN CONTENT PART  -->
<div id="content" class="main-content">
    <div class="container">
        <div class="page-header">
            <div class="page-title">
                <h3>Add/Edit Products</h3>
                <div class="crumbs">
                    <ul id="breadcrumbs" class="breadcrumb">
                        <li><a href="index.html"><i class="flaticon-home-fill"></i></a></li>
                        <li><a href="{% url 'producto-list' %}">Productos</a></li>
                        <li class="active"><a href="#">Add/Edit Products</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row">
            

            <div class="col-xl-12 col-lg-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header border-bottom border-default">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Crear Producto</h4>
                            </div>
                        </div>
                    </div>
                    <form class="form-horizontal" action="{% url 'producto-create' %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="widget-content widget-content-area icon-tab">
                            
                            <ul class="nav nav-tabs  mb-3 mt-3" id="iconTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="producto-tab" data-toggle="tab" href="#icon-home" role="tab" aria-controls="icon-producto" aria-selected="true"><i class="flaticon-home-fill-1"></i> Producto</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="presentacion-tab" data-toggle="tab" href="#icon-profile" role="tab" aria-controls="icon-produccion" aria-selected="false"><i class="flaticon-user-7"></i> Presentación</a>
                                </li>
                                
                            </ul>
                            <div class="tab-content" id="iconTabContent-1">
                                <div class="tab-pane fade show active" id="icon-home" role="tabpanel" aria-labelledby="producto-tab">
                                    <div class="card-body col-10">
                                        <div class="form-group mb-4">
                                            <div class="row">
                                                <label class="col-md-4">Nombre :</label>
                                                <div class="col-md-8">
                                                    {% render_field form.nombre  class="form-control" %}
                                                    {% for error in form.nombre.errors %}
                                                        <p class="text-danger">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <div class="row">
                                                <label class="col-md-4">Descripción :</label>
                                                <div class="col-md-8">
                                                    {% render_field form.descripcion  rows="4" cols="5" class="form-control" %}
                                                    {% for error in form.descripcion.errors %}
                                                        <p class="text-danger">{{ error }}</p>
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group mb-4">
                                            <div class="row">
                                                <label class="col-md-4">Imagen :</label>
                                                <div class="col-md-8">
                                                    {% render_field form.imagen class="form-control-file" %}
                                                    {% for error in form.imagen.errors %}
                                                        <p class="text-danger">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <div class="row">
                                                <label class="col-md-4">Categoria :</label>
                                                <div class="col-md-8">
                                                    {% render_field form.categoria class="form-control form-custom" %}
                                                    {% for error in form.categoria.errors %}
                                                        <p class="text-danger">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <div class="row">
                                                <label class="col-md-4">Precio :</label>
                                                <div class="col-md-8">
                                                    {% render_field form.precio class="form-control form-custom" %}
                                                    {% for error in form.precio.errors %}
                                                        <p class="text-danger">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <div class="row">
                                                <label class="col-md-4">Etiquetas :</label>
                                                <div class="col-md-8">
                                                    {% render_field form.tags  %}
                                                    {% for error in form.tags.errors %}
                                                        <p class="text-danger">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <div class="row">
                                                <label class="col-md-4">Activo :</label>
                                                <div class="col-md-8">
                                                    {% render_field form.activo  %}
                                                    {% for error in form.activo.errors %}
                                                        <p class="text-danger">{{ error }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                            
                                        <button class="btn btn-info mb-4 mr-2 float-right" id="btn-siguiente">Siguiente</button>
                                    </div>     
                                </div>
                                <div class="tab-pane fade" id="icon-profile" role="tabpanel" aria-labelledby="presentacion-tab">
                                    <div class="card-body col-10">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover table-striped mb-4" name="presentaciones">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre de la presentación</th>
                                                        <th>Precio</th>
                                                        <th class="text-center">Estado</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tabla-presentaciones" >
                                                    <tr id="tr1" >
                                                        <td>
                                                            <input type="text" name="nombre_presentacion" maxlength="64" class="form-control" required="" id="id_nombre_presentacion">
                                                        </td>
                                                        <td>
                                                            <input type="number" name="precio_presentacion" step="0.1" class="form-control" required="" id="id_precio_presentacion">
                                                        </td>
                                                        <td class="text-center" >
                                                            <input type="checkbox" name="activo_presentacion" id="id_activo_presentacion" checked="">
                                                        </td>
                                                        <td class="text-center"><a href="javascript:;" onClick="$(this).removeProducto(this);" class="text-muted lead ml-1" data-id="1">
                                                            <i class="flaticon-delete-fill icon"> </i> </a>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                            <button class="btn btn-secondary mb-4 mr-2 " id="btn-add-presentacion">+ Añadir</button>
                                        </div>
                                        <br>
                                        <hr>
                                        <button class="btn btn-default mb-4 mr-2 float-left" id="btn-volver">Volver</button>
                                        <button class="btn btn-info mb-4 mr-2 float-right" type="submit" >Guardar</button>
                                    </div>     
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            
        </div>
    </div>
</div>
<!--  END CONTENT PART  -->
<script type="text/javascript">
  
    var index = 1;

    const btn_siguiente = document.getElementById('btn-siguiente');
    btn_siguiente.addEventListener('click', () => {
        document.getElementById('presentacion-tab').click();
    });

    const btn_volver = document.getElementById('btn-volver');
    btn_volver.addEventListener('click', () => {
        document.getElementById('producto-tab').click();
    });

    const btn_add_presentacion = document.getElementById('btn-add-presentacion');

    btn_add_presentacion.addEventListener('click', () => {
        index++;
        console.log("cambio a " + index)
        var tr_presentacion = `
        <tr id="tr${index}">
            <td><input type="text" name="nombre_presentacion" maxlength="64" class="form-control" required="" id="id_nombre"></td>
            <td><input type="number" name="precio_presentacion" step="0.1" class="form-control" required="" id="id_precio"></td>
            <td class="text-center"><input type="checkbox" name="activo_presentacion" id="id_activo" checked=""></td>
            <td class="text-center"><a href="javascript:;" onclick="$(this).removeProducto(this);" class="text-muted lead ml-1" data-id="${index}">
                <i class="flaticon-delete-fill icon"> </i> </a>
            </td>
            
        </tr>
        `;
        $("#tabla-presentaciones").append(tr_presentacion);
    });

    $.fn.removeProducto = function(){
        const id_producto = $(this).data('id');
        $('#tr'+id_producto).remove();
    }


</script>

{% endblock %}


