{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block page_css_level %}
{% endblock %}

{% block content %}
<!--  BEGIN CONTENT PART  -->
<div id="content" class="main-content">
    <div class="container">
        <div class="page-header">
            <div class="page-title">
                <h3>Add/Edit Products</h3>
                <div class="crumbs">
                    <ul id="breadcrumbs" class="breadcrumb">
                        <li><a href="index.html"><i class="flaticon-home-fill"></i></a></li>
                        <li><a href="{% url 'producto-list' %}">Productos</a></li>
                        <li class="active"><a href="#">Add/Edit Products</a></li>
                    </ul>
                </div>
            </div>
        </div>
        

        
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header border-bottom border-default">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Actualizar Producto</h4>
                            </div>
                        </div>
                    </div>
                    
                        <div class="widget-content widget-content-area icon-tab">
                            
                            <ul class="nav nav-tabs  mb-3 mt-3" id="iconTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="producto-tab-update" data-toggle="tab" href="#icon-home" role="tab" aria-controls="icon-producto" aria-selected="true"><i class="flaticon-home-fill-1"></i> Producto</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="presentacion-tab-update" data-toggle="tab" href="#icon-profile" role="tab" aria-controls="icon-produccion" aria-selected="false"><i class="flaticon-user-7"></i> Presentaciones</a>
                                </li>
                                
                            </ul>
                            <div class="tab-content" id="iconTabContent-1">
                                
                                    <div class="tab-pane fade show active" id="icon-home" role="tabpanel" aria-labelledby="producto-tab">
                                        <div class="card-body col-10">
                                            <form class="form-horizontal" enctype="multipart/form-data" method="post">
                                                {% csrf_token %}
                                                <div class="form-group mb-4">
                                                    <div class="row">
                                                        <input type="hidden" nombre="producto_pk" id="producto_pk" value="{{ producto_pk }}" >
                                                        <label class="col-md-4">Nombre :</label>
                                                        <div class="col-md-8">
                                                            {% render_field form.nombre  class="form-control" %}
                                                            {% for error in form.nombre.errors %}
                                                                <p class="text-danger">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-4">
                                                    <div class="row">
                                                        <label class="col-md-4">Descripción :</label>
                                                        <div class="col-md-8">
                                                            {% render_field form.descripcion  rows="4" cols="5" class="form-control" %}
                                                            {% for error in form.descripcion.errors %}
                                                                <p class="text-danger">{{ error }}</p>
                                                            {% endfor %}

                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group mb-4">
                                                    <div class="row">
                                                        <label class="col-md-4">Imagen :</label>
                                                        <div class="col-md-8">
                                                            {% render_field form.imagen class="form-control-file" %}
                                                            {% for error in form.imagen.errors %}
                                                                <p class="text-danger">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group mb-4">
                                                    <div class="row">
                                                        <label class="col-md-4">Categoria :</label>
                                                        <div class="col-md-8">
                                                            {% render_field form.categoria class="form-control form-custom" %}
                                                            {% for error in form.categoria.errors %}
                                                                <p class="text-danger">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group mb-4">
                                                    <div class="row">
                                                        <label class="col-md-4">Precio :</label>
                                                        <div class="col-md-8">
                                                            {% render_field form.precio class="form-control form-custom" %}
                                                            {% for error in form.precio.errors %}
                                                                <p class="text-danger">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group mb-4">
                                                    <div class="row">
                                                        <label class="col-md-4">Etiquetas :</label>
                                                        <div class="col-md-8">
                                                            {% render_field form.tags  %}
                                                            {% for error in form.tags.errors %}
                                                                <p class="text-danger">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group mb-4">
                                                    <div class="row">
                                                        <label class="col-md-4">Activo :</label>
                                                        <div class="col-md-8">
                                                            {% render_field form.activo  %}
                                                            {% for error in form.activo.errors %}
                                                                <p class="text-danger">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <button class="btn btn-default mb-4 mr-2 float-left" id="btn-cancelar">Cancelar</button>
                                                <button class="btn btn-info mb-4 mr-2 float-right" type="submit" >Guardar</button>
                                            </form>
                                        </div>     
                                    </div>
                                
                                <div class="tab-pane fade" id="icon-profile" role="tabpanel" aria-labelledby="presentacion-tab">
                                    <div class="card-body col-10">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover table-striped mb-4" name="presentaciones">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre de la presentación</th>
                                                        <th>Precio</th>
                                                        <th class="text-center">Accion</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tabla-presentaciones" >
                                                    {% for presentacion in presentaciones %}
                                                        <tr id="tr{{ presentacion.pk }}" >
                                                            <td id="nombre_presentacion{{ presentacion.pk }}" >
                                                                {{ presentacion.nombre_presentacion }}
                                                            </td>
                                                            <td id="precio_presentacion{{ presentacion.pk }}">
                                                                $ {{ presentacion.precio_presentacion }}
                                                            </td>
                                                            {% if presentacion.activo_presentacion %}
                                                                <td class="text-center"><a href="javascript:;" onClick="$(this).desactivarProducto(this);" class="btn btn-default btn-rounded mb-4 mr-2" data-id="{{ presentacion.pk }}">
                                                                    Desactivar </a>
                                                                </td>
                                                            {% else %}
                                                                <td class="text-center"><a href="javascript:;" onClick="$(this).activarProducto(this);" class="btn btn-primary btn-rounded mb-4 mr-2" data-id="{{ presentacion.pk }}">
                                                                    Activar </a>
                                                                </td>
                                                            {% endif%}
                                                            <td class="text-center"><a href="javascript:;" onClick="$(this).updatePresentacion(this);" class="btn btn-success btn-rounded mb-4 mr-2" data-id="{{ presentacion.pk }}">
                                                                Modificar </a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>
                                            <button class="btn btn-secondary mb-4 mr-2 " id="btn-add-presentacion">+ Añadir</button>
                                        </div>
                                        <br>
                                    </div>     
                                </div>
                                
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var index = 1;
    const btn_cancelar = document.getElementById('btn-cancelar');
    btn_cancelar.addEventListener('click', () => {
        window.location.replace("{% url 'producto-list' %}");
        // document.getElementById('producto-tab-update').click();
    });

    const btn_add_presentacion = document.getElementById('btn-add-presentacion');

    btn_add_presentacion.addEventListener('click', () => {
        producto_pk = $('#producto_pk').val();
        console.log("cambio a " + index)
        var tr_presentacion = `
        <tr id="tr${index}">
            <td><input type="text" id="nombre_presentacion${index}" maxlength="64" class="form-control" required="" id="id_nombre"></td>
            <td><input type="number" id="precio_presentacion${index}" step="0.1" class="form-control" required="" id="id_precio"></td>
            <td class="text-center">
                <a href="javascript:;" onclick="$(this).addPresentacion(this);" class="btn btn-outline-primary mb-4 mr-2" data-id="${index}">
                Añadir </a>
            </td>
            
        </tr>
        `;
        $("#tabla-presentaciones").append(tr_presentacion);
        index++;
    });

    $.fn.addPresentacion = function(){
        const tr_id = $(this).data('id');
        var id_producto = $("#producto_pk").val();
        var nombre = $("#nombre_presentacion"+tr_id).val();
        var precio = $("#precio_presentacion"+tr_id).val();
        // alert("la tabla es el " + tr_id );
        let url = "{% url 'presentacion-add-ajax' %}";
        $.get(url, {'id_producto': id_producto, 'nombre':nombre, 'precio':precio }, function(data, status){
            if (status == "success"){
                var presentacion_pk = data['presentacion_pk'];
                console.log("ok llego bien"+ presentacion_pk);
                $('#tr'+tr_id).remove();
                var tr_presentacion = `
                    <tr id="tr${presentacion_pk}">
                        <td>${nombre}</td>
                        <td>$ ${precio}</td>
                        <td class="text-center"><a href="javascript:;" onClick="$(this).desactivarProducto(this);" class="btn btn-default btn-rounded mb-4 mr-2" data-id="${presentacion_pk}">
                            Desactivar </a>
                        </td>
                        <td class="text-center"><a href="javascript:;" onClick="$(this).updatePresentacion(this);" class="btn btn-success btn-rounded mb-4 mr-2" data-id="${presentacion_pk}">
                            Modificar </a>
                        </td>
                        
                    </tr>
                    `;
                $("#tabla-presentaciones").append(tr_presentacion);
                alert("Nueva presentación agregada con éxito");

            }
        })
        }
       
       //DESACTIVAR LA PRESENTACION
    $.fn.desactivarProducto = function(){
    const tr_id = $(this).data('id');
    var id_presentacion = tr_id;
    console.log(" es el" + tr_id)
    var nombre = document.getElementById("nombre_presentacion"+tr_id).innerHTML;
    var precio = document.getElementById("precio_presentacion"+tr_id).innerHTML;
    let url = "{% url 'presentacion-accion-ajax' %}";
    $.get(url, {'id_presentacion': tr_id, 'accion':false }, function(data, status){
        if (status == "success"){
            var presentacion_pk = data['presentacion_pk'];
            console.log("ok llego bien"+ presentacion_pk);
            // $('#tr'+tr_id).remove();
            var tr_presentacion = `
                <tr id="tr${presentacion_pk}">
                    <td id="nombre_presentacion${presentacion_pk}" >${nombre}</td>
                    <td id="precio_presentacion${presentacion_pk}" >${precio}</td>
                    <td class="text-center"><a href="javascript:;" onClick="$(this).activarProducto(this);" class="btn btn-primary btn-rounded mb-4 mr-2" data-id="${presentacion_pk}">
                        Activar </a>
                    </td>
                    <td class="text-center"><a href="javascript:;" onClick="$(this).updatePresentacion(this);" class="btn btn-success btn-rounded mb-4 mr-2" data-id="${presentacion_pk}">
                        Modificar </a>
                    </td>
                    
                </tr>
                `;
            // $("#tabla-presentaciones").append(tr_presentacion);
            $('#nombre_presentacion'+tr_id).parent().replaceWith(tr_presentacion);

            alert("Presentacion desactivada con éxito!");

        }
        else {
        alert("Error de servidor contacte al administrador")
      }
    })
    }
       //ACTIVAR LA PRESENTACION
    $.fn.activarProducto = function(){
    const tr_id = $(this).data('id');
    var id_presentacion = tr_id;
    console.log(" es el" + tr_id)
    var nombre = document.getElementById("nombre_presentacion"+tr_id).innerHTML;
    var precio = document.getElementById("precio_presentacion"+tr_id).innerHTML;
    let url = "{% url 'presentacion-accion-ajax' %}";
    $.get(url, {'id_presentacion': tr_id, 'accion':true }, function(data, status){
        if (status == "success"){
            var presentacion_pk = data['presentacion_pk'];
            console.log("ok llego bien"+ presentacion_pk);
            // $('#tr'+tr_id).remove();
            var tr_presentacion = `
                <tr id="tr${presentacion_pk}">
                    <td id="nombre_presentacion${presentacion_pk}" >${nombre}</td>
                    <td id="precio_presentacion${presentacion_pk}" >${precio}</td>
                    <td class="text-center"><a href="javascript:;" onClick="$(this).desactivarProducto(this);" class="btn btn-default btn-rounded mb-4 mr-2" data-id="${presentacion_pk}">
                        Desactivar </a>
                    </td>
                    <td class="text-center"><a href="javascript:;" onClick="$(this).updatePresentacion(this);" class="btn btn-success btn-rounded mb-4 mr-2" data-id="${presentacion_pk}">
                        Modificar </a>
                    </td>
                    
                </tr>
                `;
            // $("#tabla-presentaciones").append(tr_presentacion);
            $('#nombre_presentacion'+tr_id).parent().replaceWith(tr_presentacion);

            alert("Presentacion Activada de forma exitosa!");

        }
    })
    }

        //MODIFICAR EL PRODUCTO primero consulto sus datos originales y los pinto en el select
    $.fn.updatePresentacion = function(){
    const tr_id = $(this).data('id');
    var nombre = document.getElementById("nombre_presentacion"+tr_id).innerHTML;
    var precio = document.getElementById("precio_presentacion"+tr_id).innerHTML;
    let url = "{% url 'update-presentacion-ajax' %}";
    $.get(url, {'id_presentacion': tr_id, 'accion':false }, function(data, status){
        var pk_presentacion = data['presentacion_pk'];
        var nombre_presentacion = data['nombre'];
        var precio_presentacion = data['precio'];
        var tr_presentacion = `
            <tr id="tr${pk_presentacion}" >
                <td><input type="text" id="nombre_presentacion${pk_presentacion}" maxlength="64" class="form-control" required="" value="${nombre_presentacion}" ></td>
                <td><input type="number" id="precio_presentacion${pk_presentacion}" step="0.1" class="form-control" required="" value="${precio_presentacion}" ></td>
                <td class="text-center">
                    <a href="javascript:;" onclick="$(this).changePresentacion(this);" class="btn btn-outline-success mb-4 mr-2" data-id="${pk_presentacion}">
                    Actualizar </a>
                </td>
            </tr>
                `;
        $('#nombre_presentacion'+tr_id).parent().replaceWith(tr_presentacion);
        });
    }

     //UPDATE EL PRODUCTO
    
    $.fn.changePresentacion = function(){
        var pk_presentacion = $(this).data('id');
        alert("se actualiza" + pk_presentacion);
        var nombre = $("#nombre_presentacion"+pk_presentacion).val();
        var precio = $("#precio_presentacion"+pk_presentacion).val();
        let url = "{% url 'update-presentacion-ajax' %}";
        $.get(url, {'accion':true, 'pk_presentacion': pk_presentacion, 'nombre':nombre, 'precio':precio }, function(data, status){
            if (status == "success"){
                var presentacion_pk = data['presentacion_pk'];
                $('#tr'+presentacion_pk).remove();
                var tr_presentacion = `
                    <tr id="tr${presentacion_pk}">
                        <td>${nombre}</td>
                        <td>$ ${precio}</td>
                        <td class="text-center"><a href="javascript:;" onClick="$(this).desactivarProducto(this);" class="btn btn-default btn-rounded mb-4 mr-2" data-id="${presentacion_pk}">
                            Desactivar </a>
                        </td>
                        <td class="text-center"><a href="javascript:;" onClick="$(this).updatePresentacion(this);" class="btn btn-success btn-rounded mb-4 mr-2" data-id="${presentacion_pk}">
                            Modificar </a>
                        </td>
                        
                    </tr>
                    `;
                $("#tabla-presentaciones").append(tr_presentacion);
                alert("Presentacion actualizada con éxito");

            }
        })
        }
</script>
<!--  END CONTENT PART  -->

{% endblock %}
