{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block page_css_level %}
{% endblock %}

{% block content %}
<!--  BEGIN CONTENT PART  -->
<div id="content" class="main-content">
    <div class="container">
        <div class="page-header">
            <div class="page-title">
                <h3>Add/Edit Pedido</h3>
                <div class="crumbs">
                    <ul id="breadcrumbs" class="breadcrumb">
                        <li><a href="index.html"><i class="flaticon-home-fill"></i></a></li>
                        <li><a href="{% url 'pedido-list' %}">Pedidos</a></li>
                        <li class="active"><a href="#">Add/Edit Pedidos</a></li>
                    </ul>
                </div>
            </div>
        </div>
        

        
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Add / Manage Product </h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area add-manage-product-2">
                        <div class="row">
                            <div class="col-xl-8 col-md-12">
                                <div class="card card-default">
                                    <div class="card-heading"><h2 class="card-title"><span>GENERAL</span></h2></div>
                                    <div class="card-body">
                                        <div class="card-body">
                                            <form class="form-horizontal" action="{% url 'pedido-create' %}" enctype="multipart/form-data" method="post">
                                                {% csrf_token %}

                                                <div class="form-group mb-4">
                                                    <div class="row">
                                                        <label class="col-md-4">Nombre :</label>
                                                        <div class="col-md-8">
                                                            {% render_field form.nombre  class="form-control" %}
                                                            {% for error in form.nombre.errors %}
                                                                <p class="text-danger">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group mb-4">
                                                    <div class="row">
                                                        <label class="col-md-4">Activo :</label>
                                                        <div class="col-md-8">
                                                            {% render_field form.activo %}
                                                            {% for error in form.activo.errors %}
                                                                <p class="text-danger">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <button type="submit" class="btn btn-primary btn-rounded mb-4 mr-2">Crear</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  END CONTENT PART  -->
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
  
</script>
{% endblock %}
