{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block page_css_level %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row margin-bottom-120 invoice-print">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-content invoice">
                    <div class="widget-content-area head-section mb-4">
                        <div class="row">
                            <div class="col-sm-6 col-12 text-sm-left text-center">
                                <h3 class="in-heading mt-2 mb-2">Facturación</h3>
                            </div>
                            <div class="col-sm-6 col-12 text-sm-right text-center">
                                <a class="btn btn-gradient-secondary print-invoice btn-rounded mt-sm-0 mt-2 mb-2" href="#" target="_blank">Imprimir</a>
                                <a class="btn btn-gradient-danger print-invoice btn-rounded mt-sm-0 mt-2 mb-2" href="#" target="_blank">Descargar</a>
                            </div>
                        </div>
                    </div>

                    <div class="widget-content-area content-section">
                        <div class="row invoice-top-section">
                            <div class="col-sm-12 mb-5">
                                <img src="/static/truecontact/truecontact/img/supremo.png" class="img-fluid" alt="supremo" width="150" height="75">
                            </div>
                            <div class="col-sm-6 mb-4">
                                <h5 class="invoice-info-title">Pedido No. </h5>
                                <p class="invoice-serial-number">#{{ pedido.pk }}</p>
                            </div>
                            <div class="col-sm-6 mb-4 text-sm-right">
                                <p class="invoice-order-status">Estado Orden: Pendiente</p>
                                <p class="invoice-order-date">Fecha: {{ pedido.f_registro|date:"D d M Y"}}</p>
                            </div>
                        </div>

                        <div class="row mt-5 mb-5">
                            <div class="col-md-6 col-sm-6 invoice-from">
                                <h5 class="invoice-from-title mb-4">Remite</h5>
                                <div class="row">
                                    <div class="col-12 mb-4">
                                        <p>CP SUPREMO SAS</p>  
                                        <p>comercial@cpsupremo.com</p>
                                    </div>
                                    <div class="col-12 mb-4">
                                        <p>Sede Paloquemao</p>
                                        <p>Calle 22 No. 22-80</p>
                                        
                                    </div>
                                    <div class="col-12 mb-4">
                                        <p>Teléfonos: 745 7828 – 884 9849</p>
                                        <p>268 5380- 314 4763929 – 3208849849</p>
                                        <p>3203681069</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 invoice-to text-sm-right">
                                <h5 class="invoice-to-title mb-3">Cliente</h5>
                                <div class="row mb-5">
                                    <div class="col-12 mb-4">
                                        <p>{{ cliente.get_full_name }}</p>
                                        <p>{{ cliente.correo }}</p>
                                    </div>
                                    <div class="col-12 mb-4">
                                        <p>Dirección: {{ cliente.direccion }}</p>
                                        <p>Ciudad: {{ cliente.ciudad }}</p>
                                    </div>
                                    <div class="col-12 mb-4">
                                        <p>Telefono: {{ cliente.telefono }}</p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-5 mb-5">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Producto</th>
                                                <th class="text-right" scope="col">Precio</th>
                                                <th class="text-right" scope="col">Cantidad</th>
                                                <th class="text-right" scope="col">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in list_items %}
                                            <tr id="tr{{ item.pk }}">
                                                <td>{{ item.pk }}</td>                                                        
                                                <td>
                                                    <h6 class="mb-0">{{ item.producto }}</h6>
                                                    <p><small>{{ item.presentacion }} </small></p>
                                                </td>
                                                <td class="text-right" >
                                                    {{ item.presentacion.precio_presentacion }}
                                                </td>
                                                <td class="text-right" >
                                                    {{item.cantidad}}
                                                </td>
                                                <td class="text-right" >$ {{ item.get_price  }}</td>
                                                
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="invoice-total-amounts text-right">
                                    <div class="row">
                                        <div class="col-sm-10 col-7 text-right">
                                            <p  class="mb-3">Subtotal: </p>
                                        </div>
                                        <div class="col-sm-2 col-5">
                                            <p class="mb-3">$ {{ pedido.precio_total }}</p>
                                        </div>
                                        <div class="col-sm-10 col-7 text-right">
                                            <p class="mb-3">IVA: </p>
                                        </div>
                                        <div class="col-sm-2 col-5">
                                            <p class="mb-3">$0</p>
                                        </div>
                                        <div class="col-sm-10 col-7 text-right">
                                            <h4 class="mb-3">Total: </h4>
                                        </div>
                                        <div class="col-sm-2 col-5">
                                            <h4 class="mb-3">$ {{ pedido.precio_total }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <button class="btn btn-default mb-4 mr-2 " id="btn-volver">Volver</button>
                                        <!-- <a class="btn btn-primary btn-rounded send-invoice mb-5 mt-4">Send Invoice</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    const btn_volver = document.getElementById('btn-volver');
      btn_volver.addEventListener('click', () => {
          window.location.replace("/tc/catalogo/pedido/list/");
          // document.getElementById('producto-tab-update').click();
      });
  </script>


{% endblock %}

