{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block page_css_level %}
{% endblock %}

{% block content %}

<!--  BEGIN MAIN CONTAINER  -->
<div id="container">
    <div class="overlay"></div>
    <div class="cs-overlay"></div>

 

    <!--  BEGIN CONTENT PART  -->
    <div id="" class="main-content">
        <div >
            
            
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <div class="content-header pl-3 pr-3">
                            <div class="row mt-2">
                              <div class="col-sm-12">
                                <h2 class="text-muted">Crear Respuesta</h2>
                                <div class="crumbs">
                                  <ul id="breadcrumbs" class="breadcrumb">
                                      <li><a href="#"><i class="flaticon-home-fill"></i></a></li>
                                  <li><a href="{% url 'tc-respuesta-list' %}">Respuesta</a></li>
                                  <!-- <li class="active"><a href="#">Add/Edit Categorias</a></li> -->
                                  </ul>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area add-category">
                            
                            <div class="widget-content widget-content-area">
                                <h5>Etiquetas para mensajes rapidos</h5>
                                <table id="ecommerce-product-list" class="table table-bordered">
                
                                    <tr>
                                      <th>Etiqueta</th>
                                      <th>Acción</th>
                                    </tr>
                                    <tr>
                                        <td id="c_nombre">&#123;{Contacto.Nombre}}</td>
                                        <td>Para agregar el nombre de contacto</td>
                                    </tr>
                                    <tr>
                                        <td id="c_telefono">&#123;{Contacto.Telefono}}</td>
                                        <td>Para agregar el teléfono de contacto</td>
                                    </tr>
                                    <tr>
                                        <td id="c_email">&#123;{Contacto.Email}}</td>
                                        <td>Para agregar el Email de contacto</td>
                                    </tr>
                                    <tr>
                                        <td id="a_nombre_completo">&#123;{Agente.Nombre.Completo}}</td>
                                        <td>Para agregar el nombre completo del agente</td>
                                    </tr>
                                    <tr>
                                        <td id="a_nombre_corto">&#123;{Agente.Nombre.Corto}}</td>
                                        <td>Para agregar el nombre corto del agente</td>
                                    </tr>
                
                                    <tr>
                                      <td id="a_correo">&#123;{Agente.Correo}} </td>
                                      <td>Para agregar el correo del agente</td>
                                    </tr>
                                          
                                  </table>
                
                                
                               
                            </div>

                            <div class="row">
                                <div class="mx-xl-auto col-xl-10 col-md-12">
                                    <div class="card card-default">
                                        <div class="card-heading"><h2 class="card-title"><span>Información</span></h2></div>
                                        <div class="card-body">
                                            <div class="card-body">
                                                <form class="form-horizontal" action="{% url 'tc-respuesta-create' %}" enctype="multipart/form-data" method="post">
                                                    {% csrf_token %}
            
                                                    <div class="form-group mb-4">
                                                        <div class="row">
                                                            <label class="col-md-4">/ Atajo :</label>
                                                            <div class="col-md-8">
                                                                {% render_field form.atajo  class="form-control" %}
                                                                {% for error in form.atajo.errors %}
                                                                    <p class="text-danger">{{ error }}</p>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <div class="row">
                                                            <label class="col-md-4">Descripción :</label>
                                                            <div class="col-md-8">
                                                                {% render_field form.texto  rows="4" cols="5" class="form-control" %}
                                                                {% for error in form.texto.errors %}
                                                                    <p class="text-danger">{{ error }}</p>
                                                                {% endfor %}
            
                                                            </div>
                                                        </div>
                                                    </div>                                                    
            
                                                    <div class="form-group mb-4">
                                                        <div class="row">
                                                            <label class="col-md-4">Activo :</label>
                                                            <div class="col-md-8">
                                                                {% render_field form.activo %}
                                                                {% for error in form.activo.errors %}
                                                                    <p class="text-danger">{{ error }}</p>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <button class="btn btn-warning mb-4 mr-2"  href="{% url 'tc-respuesta-list' %}">Cancelar</button> -->
                                                    <button class="btn btn-primary mb-4 mr-2">Crear</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    <!--  END CONTENT PART  -->

</div>
<!-- END MAIN CONTAINER -->

{% endblock %}
{% block page_js_level %}
<script type="text/javascript" src="{% static 'truecontact/chatapi/js/etiquetas_mensajes.js' %}"></script>
{% endblock %}

