{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_css_level %}
{% endblock %}

{% block content %}

<div class="widget-content-area custom-card p-0">

  <div class="row layout-spacing">
      <div class="col-lg-12">

          <div class="statbox widget box box-shadow">
            <form id="formulario-masivo" class="form-horizontal" method="POST" enctype="multipart/form-data">{% csrf_token %}
              <div class="content-header pl-3 pr-3">

                  <div class="row mt-2">
                    <div class="col-sm-12">
                      <h2 class="text-muted">Mensajes Por Lista</h2>
                    </div>
                  </div>
              </div>

              <div class="widget-content widget-content-area">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="widget-content widget-content-area">
                          <h5>Etiquetas para mensajes masivo</h5>
                          <table id="ecommerce-product-list" class="table table-bordered">
          
                              <tr>
                                <th>Etiqueta</th>
                                <th>Acción</th>
                              </tr>
                              <tr>
                                <td id="c_nombre">&#123;{Contacto.Nombre}}</td>
                                <td>Para agregar el nombre de contacto</td>
                            </tr>
                            <tr style="display: none;">
                                <td id="c_telefono">&#123;{Contacto.Telefono}}</td>
                                <td>Para agregar el teléfono de contacto</td>
                            </tr>
                            <tr>
                                <td id="c_email">&#123;{Contacto.Email}}</td>
                                <td>Para agregar el Email de contacto</td>
                            </tr>
                            <tr>
                                <td id="a_nombre_completo">&#123;{Agente.Nombre.Completo}}</td>
                                <td>Para agregar el nombre completo del agente</td>
                            </tr>
                            <tr>
                                <td id="a_nombre_corto">&#123;{Agente.Nombre.Corto}}</td>
                                <td>Para agregar el nombre corto del agente</td>
                            </tr>
        
                            <tr style="display: none;">
                              <td id="a_correo">&#123;{Agente.Correo}} </td>
                              <td>Para agregar el correo del agente</td>
                            </tr>                             
                                    
                            </table>
                                   
                        </div>
                        <div class="form-group mb-4">
                          <div class="row">
                              <div class="col-md-8">
                                <label for=""><h5 class="text-muted">Descripción Del Mensaje :</h5></label>
                                <span class="help-block">
                                  <p id="mensaje_ayuda" class="help-block">Cuerpo del mensaje de alerta</p>
                                </span>
                                <textarea class="form-control" id="id_texto" name="id_texto" rows="3" aria-label="With textarea" maxlength="512" required ></textarea>
                              </div>
                          </div>
                      </div>
                        <table class="table table-bordered" name="contacto" id="tabla">
                          <thead>
                            <tr>
                              <th class="text-center">Id</th>
                              <th class="text-center">Nombres</th>
                              <th class="text-center">Apellidos</th>
                              <th class="text-center">Numero</th>
                              <th class="text-center">Acciones</th>
                              <th>
                                <button class="btn btn-outline-info" name="botonbuscar" id="id_buscar" type="button" data-toggle="modal" data-target="">
                                  <i class="fas fa-search"></i>
                                </button>
                              </th>
                            </tr>
                            
                          </thead>
                          <tbody id="tabla_tbody">
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
              <div class="card-footer">
                <button type="submit" id="btn_enviar_mensajes_contacto" class="btn btn-primary">ENVIAR</button>
                <a href="{% url 'tc-contacto' %}" class="btn btn-default"> Cancelar</a>
              </div>
            </form>
          </div>

      </div>
  </div>
</div>


<div class="modal fade" id="modal-buscar">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Buscar Contacto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal"  id="form_contacto_modal" enctype="multipart/form-data" >{% csrf_token %}
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <form class="" action="" method="get">
                  <div class="form-group row">
                    <label for="Referencia" class="col-sm-2 col-form-label">Contacto</label>
                    <div class="col-md-10">
                      <div class="input-group input-group">
                        <input id="id_ref_buscar" type="text" name="buscarcontacto" class="form-control" placeholder="documento, nombres, telefono"
                          maxlength="20"
                          style="text-transform:uppercase;" >
                        <span class="input-group-append">
                          <div class="col-md-9">
                            <button id="btnBuscarContacto" type="button" class="btn btn-info btn-flat">Buscar</button>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                </form>                  
              </div>
            </div>
            <div class="row">
              
            </div>                     
          </div>                     
          <div class="row">
            <div class="col-sm-12 mb-8">
                <div class="row">
                  <div class="col-md-12">
                  </div>
                  <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Listo</button>
                  </div>
                  <div class="col-xs-8 col-sm-12">
                    <!-- esta tabla integra una funccion en css de scroll dinamico solo a la tabla -->
                    <div class="body-tabla-resultado">
                      <table class="table table-bordered" id="tablabucar" >
                        <thead>
                          <tr style="width: 680px">
                            <th class="text-center" >ID</th>
                            <th class="text-center" >Nombres</th>
                            <th class="text-center" >Apellidos</th>
                            <th class="text-center" >Numero</th>
                            <th class="text-center" >Accion</th>
                          </tr>
                        </thead>
                        <tbody id="resultContacto">
                        </tbody>
                      </table>
                    </div>
                    
                  </div>
                  <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Listo</button>
                  </div>
                </div>
            </div>
          </div>
          <!-- /.card-body -->
          <!-- /.card-footer -->
        </form>
      </div>
      
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>




{% endblock %}

{% block page_js_level %}
<script type="text/javascript" src="{% static 'truecontact/chatapi/js/etiquetas_mensajes.js' %}"></script>

<script type="text/javascript">


  $(document).ready(function () {

    $(window.parent.document.getElementById('overlay')).fadeOut(300);

    formulario = document.getElementById('formulario-masivo');

    function filtral(){
      $(window.parent.document.getElementById('overlay')).fadeIn(300);
      formulario.submit()
      
    }

    $("#form_contacto_modal").keypress(function(e) {
    //Enter key
      if (e.which == 13) {
        return false;
      }
    });

    $("#formulario-masivo").submit( function(e) {
        e.preventDefault();

        var rows = document.getElementById('tabla')
        .getElementsByTagName('tbody')[0]
        .getElementsByTagName('tr').length;

        var id_texto = document.getElementById('id_texto')
        if (id_texto.value.length == 0){
            Swal.fire({
            icon: 'error',
            title: 'Envio Fallido, Mensaje Vacio...',
            showConfirmButton: false,
            timer: 1900
            })
        }

        if(rows == 0){
            Swal.fire({
            icon: 'error',
            title: 'Envio Fallido, Añada Contactos...',
            showConfirmButton: false,
            timer: 1900
            })

        }else{
            filtral()
            Swal.fire({
            icon: 'success',
            title: 'Enviando Mensaje...',
            showConfirmButton: false,
            timer: 1900
            })  

        }
            
        
    });


    $('#mensaje_ayuda').text('512 carácteres restantes');
    $('#id_texto').keydown(function () {
        var max = 512;
        var len = $(this).val().length;
        if (len >= max) {
            $('#mensaje_ayuda').text('Has llegado al límite');// Aquí enviamos el mensaje a mostrar          
            $('#mensaje_ayuda').addClass('text-danger');
            $('#id_texto').addClass('is-invalid');
            $('#btn_enviar_mensajes_contacto').addClass('disabled');    
            document.getElementById('btn_enviar_mensajes_contacto').disabled = true;                    
        } 
        else {
            var ch = max - len;
            $('#mensaje_ayuda').text(ch + ' carácteres restantes');
            $('#mensaje_ayuda').removeClass('text-danger');            
            $('#id_texto').removeClass('is-invalid');            
            $('#btn_enviar_mensajes_contacto').removeClass('disabled');
            document.getElementById('btn_enviar_mensajes_contacto').disabled = false;            
        }
    }); 

    $('#id_buscar').on('click', function() {
      $('#modal-buscar').modal('show');
    });
  

    $(document).on('click', '.btn_remove', function() {
    var button_id = $(this).attr("id");
      //cuando da click obtenemos el id del boton
      $('#' + button_id + '').remove(); //borra la fila
      
    });

    $("#btnBuscarContacto").click(function(){
		$("#resultContacto").empty();
    var id_ref_busqueda = $("#id_ref_buscar").val();
    console.log(id_ref_busqueda);
    const url = "/tc/contacto/buscar/numero/"; 
		if (id_ref_busqueda == '' ){
		
      Swal.fire({
          title: 'Busqueda Vacia',
          showConfirmButton: false,
          timer: 800
        })
		  }else{
        console.log("variable buscar ref" + id_ref_busqueda);
			  $.get(url, { "datos": id_ref_busqueda}, function(data, status){
				  if (status=="success") {
            console.log('misdatos '+ data['datoscontactos'])
					  var datoscontactos = data["datoscontactos"];//["elementos"] tiene q ser la misma q le envio desde el json.dumps
            if (datoscontactos.length==0){
              Swal.fire({
                title: 'Sin Resultados La Busqueda',
                showConfirmButton: false,
                timer: 800
          })
        }
            for (i=0; i<datoscontactos.length; i++){
            
						  var datoscontacto = datoscontactos[i];
              var idxx = datoscontacto["id"];
              console.log('misdatos '+ idxx)
            
            ////////////////////////////////////////////////////////////////////////////
						$("#resultContacto").append(`
                    <tr >
                      <td style="width: 680px">${datoscontacto["id"]}</td>
                      <td style="width: 680px">${datoscontacto["nombres"]}</td>
                      <td style="width: 680px">${datoscontacto["apellidos"]}</td>
                      <td style="width: 680px">${datoscontacto["numero"]}</td>
                      <td class="text-center" >
                        <button onclick="agregar_en_tabla(this)" class="btn btn-info" data-id="${datoscontacto['id']}" 
                          data-nombres="${datoscontacto['nombres']}" data-apellidos="${datoscontacto['apellidos']}"
                          data-numero="${datoscontacto['numero']}">
                          Agregar
                        </button>
                      </td>
                    </tr>
                  `);
					}
				}else{
					alert("Ocurrio un error al realizar la consulta");
				}
        
			});
		}
	});



  });

  function agregar_en_tabla(e) {
    var id_contacto = $(e).data('id');
    var nombres_contacto = $(e).data('nombres');
    var apellidos_contacto = $(e).data('apellidos');
    var numero_contacto = $(e).data('numero');
    $(e).removeClass("btn-info");
    $(e).addClass("btn-danger");
    $(e).attr("disabled", true);

    console.log(`ID: ${id_contacto} Nombre: ${nombres_contacto}`);
    var i = 1;
  
    var fila = `<tr id="${id_contacto}">
                  <input type="hidden" name="contacto" value="${id_contacto}"/>
                  <td>${id_contacto}</td>
                  <td>${nombres_contacto}</td>
                  <td>${apellidos_contacto}</td>
                  <td>${numero_contacto}</td>

                  <td class="text-center">
                  <button type="button" name="remove" id="${id_contacto}" class="btn btn-danger btn_remove">Quitar</button>
                  </td>
                </tr>;
                i++;
            `;
        var dibujar = true;
        //ojo resolver quede en no registre dos veces
        console.log("el idxxxxx fue..."+id_contacto);////////////////////////////////////////
        var table = document.getElementById("tabla_tbody");
        console.log('numero de contactos agregados '+table.rows.length)
        if (table.rows.length == 10){
          Swal.fire({
              icon: 'error',
              title: 'Lo siento',
              text: 'Llegaste al maximo de contactos agregado',
            })   
        }else{
          for (var i = 0, row; row = table.rows[i]; i++) {
            console.log("ciclo..."+i); //armo un for que recorra la tabla del fondo
            var contacto_selec_tabla = row.cells[0].innerHTML;
            console.log("la psicicion de la tabla tenia" + contacto_selec_tabla); //tomo el row cero que tiene el id y lo comparo con el que intentan pintar
            if (id_contacto == contacto_selec_tabla){
              console.log("ya estaba xxxxxxx");
              Swal.fire({
                    title: 'Contacto ya registrado',
                    showConfirmButton: false,
                    timer: 800
                  })
                  dibujar = false;
            }
            else{
              console.log("no estaba.......(Y)"); //si no existe lo pinto pero si existia la variable dibujar pasa a falso y no pinta la nueva celda
            }
          }

          if (dibujar) { //este ciclo es el que finalmente pinta si no existe el producto o si no lo omite
            $('#tabla_tbody').append(fila);
          }else{
            
          }     
        }

    
  };


</script>

{% endblock %}
