{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="widget-content-area custom-card p-0">

    <div class="row layout-spacing">
        <div class="col-lg-12">

            <div class="statbox widget box box-shadow">
              <div class="content-header pl-3 pr-3">
                  <div class="row mt-2">
                    <div class="col-sm-12">
                      <h2 class="text-muted">Categorias</h2>
                      <div class="crumbs">
                        <ul id="breadcrumbs" class="breadcrumb">
                            <li><a href="index.html"><i class="flaticon-home-fill"></i></a></li>
                            <li><a href="{% url  'catalogo-main' %}">Menu</a></li>
                            <li class="active"><a href="#">Categorias</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

            <div class="widget-content widget-content-area">
                <div class="table-responsive mb-4">
                    <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                               <div class="dataTables_length" id="ecommerce-product-list_length">
                                   <a href="{% url 'categoria-create' %}" class="btn btn-button-7"> Nuevo </a>
                               </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                               <div id="ecommerce-product-list_filter" class="dataTables_filter">
                                   <label>Buscar: </label>
                                   <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="ecommerce-product-list">
                                </div>
                            </div>
                         </div>

                        <div class="row">
                            <table id="ecommerce-product-list" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th class="align-center">Imagen</th>
                                        <th class="align-center">Status</th>
                                        <th class="align-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for categoria in categorias %}
                                    <tr>
                                        <td>{{categoria.pk}}</td>
                                        <td>{{categoria.nombre}}</td>
                                        <td class="text-center">
                                            {% if categoria.imagen %}
                                                <a class="product-list-img" href="javascript: void(0);"><img src="{{categoria.imagen.url}}" alt="{{categoria.nombre}}"></a></td>
                                            {% else %}
                                                <a class="product-list-img" href="javascript: void(0);"><img src="/media/imagenes/120x120.jpg" alt="{{categoria.nombre}}"></a></td>
                                            {% endif %}

                                        {% if categoria.activo %}
                                        <td class="text-center"> <i class="flaticon-cart-bag-1"></i> </td>
                                        {% else %}
                                        <td class="text-center"> <i class="flaticon-cart-bag"></i> </td>
                                        {% endif%}
                                        </td>
                                        <td class="align-center">
                                            <ul class="table-controls">
                                                <li>
                                                    <a href="{% url 'categoria-update' categoria.pk %}" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="flaticon-edit"></i>
                                                    </a>
                                                </li>
                                                <!-- <li>
                                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <i class="flaticon-delete-5"></i>
                                                    </a>
                                                </li> -->
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %} 
                                </tbody>
                            </table>
                        </div>

                        <!-- PAGINATION -->
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                               <div class="dataTables_info" id="ecommerce-product-list_info" role="status" aria-live="polite">Mostrando página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                               <div class="dataTables_paginate paging_simple_numbers" id="ecommerce-product-list_paginate">
                                  <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                       <li class="paginate_button page-item previous" id="ecommerce-product-list_previous"><a href="?page={{ page_obj.previous_page_number }}" aria-controls="ecommerce-product-list" data-dt-idx="0" tabindex="0" class="page-link"><i class="flaticon-arrow-left-1"></i></a></li>
                                    {% endif %}
                                        {% for i in paginator.page_range %}
                                            {% if page_obj.number == i %}
                                                <li class="paginate_button page-item active"><a href="#" aria-controls="ecommerce-product-list" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a></li>
                                            {% else %}
                                                <li class="paginate_button page-item "><a href="?page={{ i }}" aria-controls="ecommerce-product-list" data-dt-idx="2" tabindex="0" class="page-link">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    {% if page_obj.has_next %}
                                       <li class="paginate_button page-item next" id="ecommerce-product-list_next"><a href="?page={{ page_obj.next_page_number }}" aria-controls="ecommerce-product-list" data-dt-idx="3" tabindex="0" class="page-link"><i class="flaticon-arrow-right"></i></a></li>
                                    {% endif %}
                                  </ul>
                               </div>
                            </div>
                         </div>
                         <!-- END PAGINATION.... -->

                    </div>
                    
                </div>
            </div>
            

        </div>

    </div>


</div>



{% endblock %}

