{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}

{% block page_css_level %}

{% endblock %}

{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} margin-bottom-30"><!-- SUCCESS -->
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times</span>
          <span class="sr-only">Close</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <form id="form_filtro_gestion" class="form-horizontal" action="{% url 'tc-sanautos-soat' %}" method="get">

      <div class="card">
        <div class="row">

          <div class="col-md-12 layout-spacing">
            <div class="statbox widget box box-shadow">
              <div class="widget-header">
                  <div class="row">
                      <div class="col-md-12">
                          <h4 class="text-center">EFECTIVIDAD TOTAL</h4>
                      </div>
                  </div>
              </div>
              <div class="widget-content widget-content-area">
                <div class="row">

                    <!-- <div class="col-md-4">
                      <div class="chart">
                        <canvas id="efectividad_total" style="width: 700px; height: 400px;"></canvas>
                      </div>
                    </div> -->

                    <div class="col-md-12">
                      <div class="col-md-3">
                        <label for="id_final">Fecha:</label>
                        <input type="text" class="form-control float-right" id="range_efectividad" >
                        <input id="filtro_f_inicio_efectividad" type="hidden" name="f_inicio_efectividad" value="{{ f_inicio_efectividad }}">
                        <input id="filtro_f_fin_efectividad" type="hidden" name="f_fin_efectividad" value="{{ f_fin_efectividad }}">
                      </div>
                      <div class="col-md-3"></div>
                      <div class="text-right mb-2">
                        <a href="{% url 'tc-sanautos-programacion-export' %}?agente_programacion=3&estado_programacion=gestionado&f_inicio_efectividad={{f_inicio_efectividad}}&f_fin_efectividad={{f_fin_efectividad}}" class="btn btn-dark">Exportar CSV</a>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">BASE TOTAL</th>
                              <th class="text-center">FUERA DE FECHA</th>
                              <th class="text-center">VEHICULO VENDIDO</th>
                              <th class="text-center">BASE DISPONIBLE</th>
                              <th class="text-center">OBJETIVO DE VENTAS</th>
                              <th class="text-center">VENTAS</th>
                              <th class="text-center">% VENTAS SOBRE OBJETIVO</th>
                              <th class="text-center">% VENTAS SOBRE BASE</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center">{{ base_efectividad }}</td>
                              <td class="text-center">{{ fuera_fecha }}</td>
                              <td class="text-center">{{ veiculo_vendido }}</td>
                              <td class="text-center">{{ base_disponible }}</td>
                              <td class="text-center">{{ objetivo_ventas }}</td>
                              <td class="text-center">{{ ventas }}</td>
                              <td class="text-center">{{ ventas_base_objetivo }}%</td>
                              <td class="text-center">{{ ventas_base }}%</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      </div>
                      <!-- /.col -->
                  </div>
                </div>
              </div>
            </div>

        </div>
        <div class="row">

          <div class="col-md-12 layout-spacing">
            <div class="statbox widget box box-shadow">
              <div class="widget-header">
                  <div class="row">
                      <div class="col-md-12">
                          <h4 class="text-center">EFECTIVIDAD POR CIUDAD</h4>
                      </div>
                  </div>
              </div>
              <div class="widget-content widget-content-area">
                <div class="row">

                    <!-- <div class="col-md-4">
                      <div class="chart">
                        <canvas id="efectividad_total" style="width: 700px; height: 400px;"></canvas>
                      </div>
                    </div> -->

                    <div class="col-md-12">
                      <div class="col-md-3">
                        <label for="id_final">Fecha:</label>
                        <input type="text" class="form-control float-right" id="range_ciudad" >
                          <input id="filtro_f_inicio_ciudad" type="hidden" name="f_inicio_ciudad" value="{{ f_inicio_ciudad }}">
                          <input id="filtro_f_fin_ciudad" type="hidden" name="f_fin_ciudad" value="{{ f_fin_ciudad }}">
                      </div>
                      <div class="col-md-3"></div>
                      <div class="text-right mb-2">
                        <a href="{% url 'tc-sanautos-programacion-export' %}?agente_programacion=3&estado_programacion=gestionado&f_inicio_ciudad={{f_inicio_ciudad}}&f_fin_ciudad={{f_fin_ciudad}}" class="btn btn-dark">Exportar CSV</a>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">CIUDAD</th>
                              <th class="text-center">SALA</th>
                              <th class="text-center">BASE CARGADA</th>
                              <th class="text-center">BASE DISPONIBLE</th>
                              <th class="text-center">VENTA EFECTIVA</th>
                              <th class="text-center">% EFECT. SOBRE BASE</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item_ciudad in detalle_ciudad %}
                              <tr>
                                <td class="text-center">{{item_ciudad.ciudad}}</td>
                                <td class="text-center">{{item_ciudad.sala}}</td>
                                <td class="text-center">{{item_ciudad.base_cargada}}</td>
                                <td class="text-center">{{item_ciudad.base_disponible}}</td>
                                <td class="text-center">{{item_ciudad.cantidad}}</td>
                                <td class="text-center">{{item_ciudad.efectividad_porcentaje}} %</td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>

                      </div>
                      <!-- /.col -->
                  </div>
                </div>
              </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-12 layout-spacing">
              <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-center">DETALLE DE GESTION</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                  <div class="row">

                      <div class="col-md-6">
                        <div class="chart">
                          <canvas id="donutChart" style="width: 700px; height: 400px;"></canvas>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="col-md-6">
                          <label for="id_final">Fecha:</label>
                          <input type="text" class="form-control float-right" id="range_detalle" >
                          <input id="filtro_f_inicio_detalle" type="hidden" name="f_inicio_detalle" value="{{ f_inicio_detalle }}">
                          <input id="filtro_f_fin_detalle" type="hidden" name="f_fin_detalle" value="{{ f_fin_detalle }}">
                        </div>
                        <div class="col-md-3"></div>
                        <div class="text-right mb-2">
                          <a href="{% url 'tc-sanautos-programacion-export' %}?agente_programacion=3&estado_programacion=gestionado&f_inicio_detalle={{f_inicio_detalle}}&f_fin_detalle={{f_fin_detalle}}" class="btn btn-dark">Exportar CSV</a>
                        </div>
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th class="text-center">Calificacion</th>
                                <th class="text-center">Cant. Gestiones</th>
                                <th class="text-center">%. Gestion</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for item_elemento in detalle_gestion %}
                                <tr>
                                  <td class="">
                                    <span class="badge" style="background-color: {{ item_elemento.color }}; color: {{ item_elemento.color }};">_</span>
                                    {{ item_elemento.calificacion }}
                                  </td>
                                  <td class="text-center">{{ item_elemento.cantidad }}</td>
                                  <td class="text-center">{{ item_elemento.porcentaje }}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>

                      </div>
                      <!-- /.col -->
                  </div>
                </div>
              </div>
            </div>

        </div>

        <div class="row">

          <div class="col-md-12 layout-spacing">
            <div class="statbox widget box box-shadow">
              <div class="widget-header">
                <div class="row">
                    <div class="col-md-12">
                      <h4 class="text-center">GESTION DIARIA DE CONTACTO</h4>
                    </div>
                </div>
              </div>
              <div class="widget-content widget-content-area">
                <div class="row">
                  <div class="col-md-6">
                    <canvas id="gestion_diaria" width="400" height="300" style="max-height:400"></canvas>
                  </div>
  
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="id_final">Fecha:</label>
                        <input type="text" class="form-control float-right" id="range_contacto" >
                        <input id="filtro_f_inicio_contacto" type="hidden" name="f_inicio_contacto" value="{{ f_inicio_contacto }}">
                        <input id="filtro_f_fin_contacto" type="hidden" name="f_fin_contacto" value="{{ f_fin_contacto }}">
                      </div>
                      <div class="col-md-3"></div>
                      <div class="text-right mb-2">
                        <a href="{% url 'tc-sanautos-programacion-export' %}?agente_programacion=3&estado_programacion=gestionado&f_inicio_contacto={{f_inicio_contacto}}&f_fin_contacto={{f_fin_contacto}}" class="btn btn-dark">Exportar CSV</a>
                      </div>
                    </div>
                    <div class="table-responsive" style="max-height: 400px">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th class="text-center">Fecha Gestion</th>
                            <th class="text-center">Cant Objetivo</th>
                            <th class="text-center">Cant Gestionados</th>
                            <th class="text-center">%. Cumplimiento</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in gestion_diario_contacto %}
                            <tr>
                              <td class="text-center">{{item.fecha|date:"d b Y" }}</td>
                              <td class="text-center">70</td>
                              <td class="text-center">{{item.cantidad_gestiones}}</td>
                              <td class="text-center">{{item.cumplimiento}} %</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 layout-spacing">
            <div class="statbox widget box box-shadow">
              <div class="widget-header">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="text-center">OBJETIVO DE GESTIÓN VENTAS DIARIAS</h4>
                  </div>
                </div>
              </div>              
              <div class="widget-content widget-content-area">
                <div class="row">
                  <div class="col-md-6">
                    <canvas id="gestion_diaria_ventas" width="400" height="300" style="max-height:400"></canvas>
                  </div>
                    
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="id_inicial">Fecha:</label>
                          <!-- <input type="date" class="form-control float-right" id="f_inicial" name="f_inicial" value="{{f_inicial}}" placeholder="dia/mes/año " > -->
                          <!-- <input type="text" class="form-control" id="demo" name="daterange1" value="01/01/2015 - 01/31/2015" /> -->
                        <input type="text" class="form-control float-right" id="range_ventas" >
                        <input id="filtro_f_inicio_ventas" type="hidden" name="f_inicio_ventas" value="{{ f_inicio_ventas }}">
                        <input id="filtro_f_fin_ventas" type="hidden" name="f_fin_ventas" value="{{ f_fin_ventas }}">
                      </div>
                      <div class="col-md-3"></div>
                      <div class="text-right mb-2">
                          <!-- <a href="#" class="btn btn-sm btn-info">Exportar CSV</a> -->
                        <a href="{% url 'tc-sanautos-programacion-export' %}?agente_programacion=3&estado_programacion=gestionado&f_inicio_ventas={{f_inicio_ventas}}&f_fin_ventas={{f_fin_ventas}}" class="btn btn-dark">Exportar CSV</a>
                      </div>
                    </div>
                    <div class="table-responsive" style="max-height: 400px">
                      <table class="table table-bordered" >
                        <thead>
                          <tr>
                            <th class="text-center">Fecha Vencimiento SOAT</th>
                            <th class="text-center">Cantidad a Gestionar</th>
                            <th class="text-center">Obj. ventas</th>
                            <th class="text-center">Cantidad ventas</th>
                            <th class="text-center">%. Cumplimiento</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for dato in gestion_diario_ventas %}
                            <tr>
                              <td class="text-center">{{ dato.fecha|date:"d b Y" }}</td>
                              <td class="text-center">{{ dato.cantidad_gestiones }}</td>
                              <td class="text-center">{{ dato.objetivo_ventas }}</td>
                              <td class="text-center">{{ dato.cantidad_ventas }}</td>
                              <td class="text-center">{{ dato.cumplimiento }} %</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

{% endblock %}

{% block page_js_level %}
<script>
  $(document).ready(function () {

    let form_filtro_gestion = document.getElementById('form_filtro_gestion');
    let form_filtro_diaria = document.getElementById('form_filtro_diaria');
    let form_filtro_ventas = document.getElementById('form_filtro_ventas');

    function filtrar() {
      form_filtro_gestion.submit();
      $("#overlay").fadeIn(300);
      //document.getElementById('boton-borrar').style.display='block';
    }

    {% if f_inicio_detalle and f_fin_detalle %}
    let start3 = moment('{{ f_inicio_detalle }}', 'DD-MM-YYYY');
    let end3 = moment('{{ f_fin_detalle }}', 'DD-MM-YYYY');
    
    
    {% else %}
      let start3 = moment().subtract(0, 'days');
      let end3 = moment();
    {% endif %}
    function cb(start3, end3) {
        $('#range_detalle span').html(start3.format('D MMMM, YYYY') + ' - ' + end3.format('D MMMM, YYYY'));
    }
    $('#range_detalle').daterangepicker({
        startDate: start3,
        endDate: end3,
        ranges: {
            'Hoy': [moment(), moment()],
            'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Ultimos 7 Dias': [moment().subtract(6, 'days'), moment()],
            'Ultimos 30 Dias': [moment().subtract(29, 'days'), moment()],
            'Este Mes': [moment().startOf('month'), moment().endOf('month')],
            'Ultimo Mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start3, end3);

    $('#range_detalle').on('apply.daterangepicker', function(ev, picker) {
        console.log('f-inicio' + picker.startDate.format('DD-MM-YYYY'));
        console.log('f-fin' + picker.endDate.format('DD-MM-YYYY'));
        f_inicio_detalle = picker.startDate.format('DD-MM-YYYY');
        f_fin_detalle = picker.endDate.format('DD-MM-YYYY');
        filtro_f_inicio_detalle.value = f_inicio_detalle;
        filtro_f_fin_detalle.value = f_fin_detalle;
        filtrar();
      });




    {% if f_inicio_ventas and f_fin_ventas %}
    let start = moment('{{ f_inicio_ventas }}', 'DD-MM-YYYY');
    let end = moment('{{ f_fin_ventas }}', 'DD-MM-YYYY');
    
    
    {% else %}
      let start = moment().subtract(0, 'days');
      let end = moment();
    {% endif %}
    function cb(start, end) {
        $('#range_ventas span').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'));
    }
    $('#range_ventas').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
            'Hoy': [moment(), moment()],
            'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Ultimos 7 Dias': [moment().subtract(6, 'days'), moment()],
            'Ultimos 30 Dias': [moment().subtract(29, 'days'), moment()],
            'Este Mes': [moment().startOf('month'), moment().endOf('month')],
            'Ultimo Mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

    $('#range_ventas').on('apply.daterangepicker', function(ev, picker) {
        console.log('f-inicio' + picker.startDate.format('DD-MM-YYYY'));
        console.log('f-fin' + picker.endDate.format('DD-MM-YYYY'));
        f_inicio_ventas = picker.startDate.format('DD-MM-YYYY');
        f_fin_ventas = picker.endDate.format('DD-MM-YYYY');
        filtro_f_inicio_ventas.value = f_inicio_ventas;
        filtro_f_fin_ventas.value = f_fin_ventas;
        filtrar();
      });

    
    {% if f_inicio_contacto and f_fin_contacto %}
    let start2 = moment('{{ f_inicio_contacto }}', 'DD-MM-YYYY');
    let end2 = moment('{{ f_fin_contacto }}', 'DD-MM-YYYY');
    
    
    {% else %}
      let start2 = moment().subtract(0, 'days');
      let end2 = moment();
    {% endif %}

    function cb(start2, end2) {
        $('#range_contacto span').html(start2.format('D MMMM, YYYY') + ' - ' + end2.format('D MMMM, YYYY'));
    }
    $('#range_contacto').daterangepicker({
        startDate: start2,
        endDate: end2,
        ranges: {
            'Hoy': [moment(), moment()],
            'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Ultimos 7 Dias': [moment().subtract(6, 'days'), moment()],
            'Ultimos 30 Dias': [moment().subtract(29, 'days'), moment()],
            'Este Mes': [moment().startOf('month'), moment().endOf('month')],
            'Ultimo Mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start2, end2);

    $('#range_contacto').on('apply.daterangepicker', function(ev, picker) {
        console.log('f-inicio' + picker.startDate.format('DD-MM-YYYY'));
        console.log('f-fin' + picker.endDate.format('DD-MM-YYYY'));
        f_inicio_contacto = picker.startDate.format('DD-MM-YYYY');
        f_fin_contacto = picker.endDate.format('DD-MM-YYYY');
        filtro_f_inicio_contacto.value = f_inicio_contacto;
        filtro_f_fin_contacto.value = f_fin_contacto;
        filtrar();
      });

    
    {% if f_inicio_efectividad and f_fin_efectividad %}
    let start4 = moment('{{ f_inicio_efectividad }}', 'DD-MM-YYYY');
    let end4 = moment('{{ f_fin_efectividad }}', 'DD-MM-YYYY');
    
    
    {% else %}
      let start4 = moment().subtract(0, 'days');
      let end4 = moment();
    {% endif %}

    function cb(start4, end4) {
        $('#range_efectividad span').html(start4.format('D MMMM, YYYY') + ' - ' + end4.format('D MMMM, YYYY'));
    }
    $('#range_efectividad').daterangepicker({
        startDate: start4,
        endDate: end4,
        ranges: {
            'Hoy': [moment(), moment()],
            'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Ultimos 7 Dias': [moment().subtract(6, 'days'), moment()],
            'Ultimos 30 Dias': [moment().subtract(29, 'days'), moment()],
            'Este Mes': [moment().startOf('month'), moment().endOf('month')],
            'Ultimo Mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start4, end4);

    $('#range_efectividad').on('apply.daterangepicker', function(ev, picker) {
        console.log('f-inicio' + picker.startDate.format('DD-MM-YYYY'));
        console.log('f-fin' + picker.endDate.format('DD-MM-YYYY'));
        f_inicio_efectividad = picker.startDate.format('DD-MM-YYYY');
        f_fin_efectividad = picker.endDate.format('DD-MM-YYYY');
        filtro_f_inicio_efectividad.value = f_inicio_efectividad;
        filtro_f_fin_efectividad.value = f_fin_efectividad;
        filtrar();
      });

    {% if f_inicio_ciudad and f_fin_ciudad %}
    let start5 = moment('{{ f_inicio_ciudad }}', 'DD-MM-YYYY');
    let end5 = moment('{{ f_fin_ciudad }}', 'DD-MM-YYYY');
    
    
    {% else %}
      let start5 = moment().subtract(0, 'days');
      let end5 = moment();
    {% endif %}

    function cb(start5, end5) {
        $('#range_ciudad span').html(start5.format('D MMMM, YYYY') + ' - ' + end5.format('D MMMM, YYYY'));
    }
    $('#range_ciudad').daterangepicker({
        startDate: start5,
        endDate: end5,
        ranges: {
            'Hoy': [moment(), moment()],
            'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Ultimos 7 Dias': [moment().subtract(6, 'days'), moment()],
            'Ultimos 30 Dias': [moment().subtract(29, 'days'), moment()],
            'Este Mes': [moment().startOf('month'), moment().endOf('month')],
            'Ultimo Mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start5, end5);

    $('#range_ciudad').on('apply.daterangepicker', function(ev, picker) {
        console.log('f-inicio' + picker.startDate.format('DD-MM-YYYY'));
        console.log('f-fin' + picker.endDate.format('DD-MM-YYYY'));
        f_inicio_ciudad = picker.startDate.format('DD-MM-YYYY');
        f_fin_ciudad = picker.endDate.format('DD-MM-YYYY');
        filtro_f_inicio_ciudad.value = f_inicio_ciudad;
        filtro_f_fin_ciudad.value = f_fin_ciudad;
        filtrar();
      });      



  })
  

  

  var donutChartCanvas = $('#donutChart').get(0).getContext('2d');
  var donutData = {
    {% if detalle_gestion != 'None' %}
        labels: [
          {% for elemento in detalle_gestion %}
            '{{ elemento.calificacion }}',
          {% endfor %}
        ],
        datasets: [
          {
            data: [
              {% for elemento in detalle_gestion %}
                Number({{ elemento.cantidad }}),
              {% endfor %}

            ],
            backgroundColor : [
              {% for color in lista_colores %}
                "{{ color }}",
              {% endfor %}

            ],
            borderColor: [
            {% for color in lista_colores %}
                "{{ color }}",
              {% endfor %}
            ],
            borderWidth: 2,
            hoverBorderWidth: 0,

          }
        ],
    {% else %}
      labels: ['Sin Datos'],
            datasets: [
                {
                  label: 'Sin Datos',
                  backgroundColor : '#79bbee',
                  borderColor: '#008ffe',
                  borderWidth: 2,
                  hoverBorderWidth: 0,
                  data: 
                        [0],
                  
                },
            ],
    {% endif %} 
  }
  var donutOptions     = {
    maintainAspectRatio : false,
    responsive : true,
    legend: {
      display: true,
      position: 'bottom',
      boxWidth: 40,
    },
  }
  //Create pie or douhnut chart
  // You can switch between pie and douhnut using the method below.
  var donutChart = new Chart(donutChartCanvas, {
    type: 'doughnut',
    data: donutData,
    options: donutOptions
  })

  var ctx = document.getElementById('gestion_diaria').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [
            {% for dato in gestion_diario_contacto %}
              '{{ dato.fecha_label }}',
            {% endfor %}
          ],
          datasets: [{
              label: 'Obj. Gestion',
              data: [
                  {% for dato in gestion_diario_contacto %}
                    70,
                  {% endfor %}
                ],
                backgroundColor: [
                  {% for dato in gestion_diario_contacto %}
                    'rgba(255, 159, 64, 0.2)',
                  {% endfor %}
                ],
                borderColor: [
                  {% for dato in gestion_diario_contacto %}
                    'rgba(255, 159, 64, 1)',
                  {% endfor %}
                ],
                borderWidth: 1
          },
          {
              label: 'Cant. Gestion',
              data: [
                {% for dato in gestion_diario_contacto %}
                  {{ dato.cantidad_gestiones }},
                {% endfor %}
              ],
              backgroundColor: [
                {% for dato in gestion_diario_contacto %}
                  'rgba(54, 162, 235, 0.2)',
                {% endfor %}
              ],
              borderColor: [
                {% for dato in gestion_diario_contacto %}
                  'rgba(54, 162, 235, 1)',
                {% endfor %}
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });

  var ctx = document.getElementById('gestion_diaria_ventas').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: [
            {% for dato in gestion_diario_ventas %}
              '{{ dato.fecha_label }}',
            {% endfor %}
          ],
          datasets: [
            {
                label: 'Cant. Gestionar',
                data: [
                  {% for dato in gestion_diario_ventas %}
                    {{ dato.cantidad_gestiones }},
                  {% endfor %}
                ],
                backgroundColor: [
                  {% for dato in gestion_diario_ventas %}
                    'rgba(255, 159, 64, 0.2)',
                  {% endfor %}
                ],
                borderColor: [
                  {% for dato in gestion_diario_ventas %}
                    'rgba(255, 159, 64, 1)',
                  {% endfor %}
                ],
                borderWidth: 1,
                datalabels: {
                  align: 'start',
                }
            },
            {
              label: 'Obj. de Ventas',
              data: [
                {% for dato in gestion_diario_ventas %}
                  {{ dato.objetivo_ventas }},
                {% endfor %}
              ],
              backgroundColor: [
                {% for dato in gestion_diario_ventas %}
                  'rgba(54, 162, 235, 0.2)',
                {% endfor %}
              ],
              borderColor: [
                {% for dato in gestion_diario_ventas %}
                  'rgba(54, 162, 235, 1)',
                {% endfor %}
              ],
              borderWidth: 1,
              datalabels: {
                align: 'start',
              }
          },
          {
              label: 'Cant. Vendida',
              data: [
                {% for dato in gestion_diario_ventas %}
                  {{ dato.cantidad_ventas }},
                {% endfor %}
              ],
              backgroundColor: [
                {% for dato in gestion_diario_ventas %}
                  'rgba(255, 99, 132, 0.2)',
                {% endfor %}
              ],
              borderColor: [
                {% for dato in gestion_diario_ventas %}
                  'rgba(255, 99, 132, 1)',
                {% endfor %}
              ],
              borderWidth: 1,
              datalabels: {
                align: 'start',
              }
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });

</script>
{% endblock %}
