{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="widget-content-area custom-card p-0">

    <div class="row layout-spacing">
        <div class="col-lg-12">

            <div class="statbox widget box box-shadow">
                <div class="content-header pl-3 pr-3">

                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <h2 class="text-muted">Llamadas perdidas</h2>
                            <div class="crumbs">
                                <ul id="breadcrumbs" class="breadcrumb">
                                    <li><a href="javascript: void(0);"><i class="flaticon-home-fill"></i></a></li>
                                    <li><a href="javascript: void(0);">Llamadas perdidas</a></li>
                                    <!-- <li class="active"><a href="#">Products</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="filtros">
                        <form id="form-filtro" class="form-horizontal" action="{% url 'tc_llamadas_perdidas_list' %}"
                            method="get">
                            <div class="row">
                                <div class="col-6">
                                    <div class="btn-group mb-4 mr-2">
                                        {% if request.user|has_group:"Supervisor" %}
                                          <a href="{% url 'tc-llamadas-export' %}?{{filter_obj.url}}" class="btn btn-dark">Exportar CSV</a>
                                        {% endif %}
                                    </div>
                                    <div class="btn-group mb-4 mr-2" role="group">
                                        <button type="button" class="btn btn-default" data-toggle="collapse"
                                            href="#filterElements" role="button">
                                            Filtrar
                                        </button>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group input-group-sm">
                                        <input type="text" name="buscar" class="form-control"
                                            value="{{buscar}}" placeholder="Buscar">
                                        <span class="input-group-append">
                                            <button type="submit" class="btn btn-info btn-flat">Buscar</button>
                                            {% if buscar %}
                                            <a href="{% url 'tc_llamadas_perdidas_list' %}" class="btn btn-warning float-right">
                                                Borrar
                                            </a>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="row collapse {% if filter_obj.active %} show {% endif %}" id="filterElements">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="id_buscar">Fecha llamada:</label>
                                            <input type="text" class="form-control float-right" id="fecha_creacion"
                                                value="{% if filter_obj.f_fin %} {{ filter_obj.f_inicial}} - {{ filter_obj.f_fin}} {% else %} Todos {% endif %}">
                                            <input id="filtro_f_final" type="hidden" name="f_final"
                                                value="{{ filter_obj.f_fin}}">
                                            <input id="filtro_f_inicial" type="hidden" name="f_inicial"
                                                value="{{ filter_obj.f_inicial}}">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="id_estado">Estado:</label>
                                            <select class="form-control" id="estado" name="estado">
                                                <option value="todas">Todas</option>
                                                {% for estado in estados %}
                                                <option value="{{ estado.0 }}" {% if filter_obj.f_estado == estado.0 %}selected{% endif %}>{{ estado.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="id_agente">Agente:</label>
                                            <select class="form-control" id="agente" name="agente">
                                                <option value="todas">Todos</option>
                                                {% for agente in lista_agentes %}
                                                <option value="{{ agente.0 }}" {% if filter_obj.f_agente == agente.0 %}selected{% endif %}>{{ agente.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <button class="btn btn-dark mb-4 mr-2">Aplicar</button>
                                    <a href="{% url 'tc_llamadas_perdidas_list' %}"
                                        class="btn btn-default mb-4 mr-2">Borrar</a>
                                </div>

                            </div>
                        </form>
                    </div>

                </div>

                <div class="widget-content widget-content-area">
                    <div class="table-responsive text-center">
                        <table
                            class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
                            <thead>
                                <tr>
                                    <th class="">Contacto</th>
                                    <th class="">Fecha de última llamada</th>
                                    <th class="">Número</th>
                                    <th class="">Número de llamadas perdidas</th>
                                    <th class="">Agente</th>
                                    <th class="">Intentos agente</th>
                                    <th class="text-center">Medio por el cual quiere ser contactado</th>
                                    <th class="">Estado</th>
                                    <th class="text-center">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for llamada_perdida in llamadas_perdidas %}
                                <tr>
                                    <td>{{ llamada_perdida.contacto}} </td>
                                    <td>{{ llamada_perdida.fecha_ultima_llamada }}</td>
                                    <td>{{ llamada_perdida.numero }}</td>
                                    <td>{{ llamada_perdida.llamadas }}</td>
                                    <td>{{ llamada_perdida.agente.get_full_name }}</td>
                                    <td>{{ llamada_perdida.llamadas_agente }}</td>
                                    <td>{{ llamada_perdida.medio }}</td>

                                    <td class="text-center">
                                        {% if llamada_perdida.estado == 'nuevo' %}
                                        <span class="badge bg-primary">Nuevo</span>
                                        {% elif llamada_perdida.estado == 'pendiente' %}
                                        <span class="badge bg-warning">Pendiente</span>
                                        <br>
                                        <a href="#" onClick="parent.verGestion({{ llamada_perdida.gestion.pk }})" class="text-muted ml-1" data-id="{{ llamada_perdida.gestion.pk }}">
                                        <i class="fas fa-eye"></i>
                                        Última gestión
                                        </a>
                                        {% elif llamada_perdida.estado == 'gestionado' %}
                                        <span class="badge bg-success">Gestionado</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <!-- Acciones -->
                                        {% if llamada_perdida.estado == 'gestionado' %}
                                            {% if llamada_perdida.gestion == None %}
                                            <a href="#" class="text-muted ml-1" data-id="{{ llamada.gestion.pk }}">
                                                <i class="">Gestion Cerrada Por Sistema</i>
                                            </a>
                                            {% else %}
                                            <a href="#" onClick="parent.verGestion({{ llamada_perdida.gestion.pk }})" class="text-muted ml-1" data-id="{{ llamada_perdida.gestion.pk }}">
                                            <i class="fas fa-eye">Ver gestion</i>
                                            </a>
                                            {% endif %}
                                        {% else %}
                                            <button class="btn btn-secondary btn-sm call_button"
                                                data-id="{{ llamada_perdida.contacto.pk }}"
                                                data-id-perdida="{{llamada_perdida.pk}}">
                                                Gestionar
                                            </button>
                                        <!-- {% if perms.llamadas_perdidas.puede_finalizar_manual %}
                                                <a href="javascript:;" onClick="mostrar_campana_manual_perdida({{ llamada.pk }});" class="btn btn-sm btn-info" data-contacto="${contacto['id']}" data-telefono="${telefono['telefono']}">
                                                    Finalizar
                                                </a>
                                            {% endif %} -->
                                        {% endif %}
                                    </td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <span>
                                Total Registros: {{ paginator.count }}
                            </span>
                            <br>
                            <span class="current">
                                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                            </span>
                        </div>

                        <div class="col-md-6">
                            {% if is_paginated %}
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination float-right">
                                    {% if page_obj.has_previous %}
                                    <li class="paginate_button page-item"><a class="page-link"
                                            href="?page={{ page_obj.previous_page_number }}{{filter_obj.url}}">«</a>
                                    </li>
                                    {% endif %}
                                    {% for i in pages %}
                                    {% if i == page_obj.number %}
                                    <li class="paginate_button page-item active"><a class="page-link" href="#">{{ i
                                            }}</a></li>
                                    {% else %}
                                    <li class="paginate_button page-item"><a class="page-link"
                                            href="?page={{ i }}{{filter_obj.url}}">{{ i }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li class="paginate_button page-item"><a class="page-link"
                                            href="?page={{ page_obj.next_page_number }}{{filter_obj.url}}">»</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>
</div>

<!-- Modal telefonos del contacto a llamar -->
<div class="modal fade show" id="modal-call" aria-modal="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="info-contacto" class="modal-title text-muted"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table table-condensed">
                        <tbody id="contacto-telefonos">
                        </tbody>
                    </table>
                </div>
                <form id="form-agente-llamar" class="form-horizontal" action="{% url 'tc-agente-llamar-contacto' %}"
                    method="post">
                    {% csrf_token %}
                    <input type="hidden" id="pk_agente" name="pk_agente" value="{{ user.get_agente_profile.pk }}">
                    <input type="hidden" id="perdida_gestionar" name="perdida_gestionar" value="">
                    <input type="hidden" id="pk_contacto" name="pk_contacto">
                    <input type="hidden" id="pk_campana" name="pk_campana" value="">
                    <input type="hidden" id="campana_nombre" name="campana_nombre" value="">
                    <input type="hidden" id="tipo_campana" name="tipo_campana" value="">
                    <input type="hidden" id="campana_tipo" name="campana_tipo" value="">
                    <input type="hidden" id="telefono" name="telefono" value="">
                    <input type="hidden" id="click2call_type" name="click2call_type" value="contactos">
                    <div class="form-group row">
                        <label for="select-campana" class="col-sm-2 col-form-label">Campaña</label>
                        <div class="col-sm-10">
                            <select id="select-campana" class="form-control" name="">
                                {% for campana in contacto_campanas %}
                                <option value="{{ campana.0 }}-{{ campana.1 }}-{{ campana.2 }}">{{ campana.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Modal whatsapp del contacto a escribir -->
<div class="modal fade show" id="modal-whatsapp" aria-modal="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="info-contacto" class="modal-title text-muted"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table table-condensed">
                        <tbody id="contacto-whatsapps">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!-- Modal finalizar llamada perdida dependiendo de la gestion del contacto a escribir -->
<div class="modal fade show" id="modal-cerrar-perdida" aria-modal="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-muted"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-cerrar-perdida" class="needs-validation" method="POST" novalidate>
                    {% csrf_token %}
                    <input id="id_perdida" type="hidden" name="perdida" value="">
                    <input id="id_accion" type="hidden" name="accion" value="finalizar">
                    <div class="form-group" style="display: none">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="id_medio">Medio:</label>
                                <input id="id_medio" type="text" name="medio" value="manual">
                            </div>
                            <div class="col-md-6">
                                <label for="id_tipo">Tipo:</label>
                                <input id="id_tipo" type="text" name="tipo" value="5">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5 for="">Medio:</h5>
                            <h6 id="">Manual</h6>
                        </div>
                        <div class="col-md-6">
                            <h5 for="">Tipo:</h5>
                            <h6 id="">Manual</h6>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="id_calificacion">Resultado:</label>
                                <select id="id_resultado" class="form-control" name="resultado" required>
                                    <option value="">Seleccione</option>
                                    {% for resultado in resultados_gestion %}
                                    <option value="{{ resultado.pk }}">{{ resultado.nombre }}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    Este campo es requerido!
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="id_calificacion">Calificacion:</label>
                                <select id="id_calificacion" class="form-control" name="calificacion" required>
                                    <option value="">Seleccione</option>
                                    {% for calificacion in calificaciones_gestion %}
                                    <option value="{{ calificacion.pk }}">{{ calificacion.nombre }}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    Este campo es requerido!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="id_observaciones">Observaciones:</label>
                                <textarea class="form-control" id="id_observaciones" name="observaciones"
                                    rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="btn-finalizar-perdida" type="button" class="btn btn-info">Finalizar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade show" id="modal-perdida-campana-manual" aria-modal="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="info-contacto" class="modal-title text-muted"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table table-condensed">
                        <tbody id="contacto-whatsapp">
                        </tbody>
                    </table>
                </div>
                <input type="hidden" id="id_contacto" name="id_contacto">
                <input type="hidden" id="pk_programacion" name="pk_programacion" value="">
                <input type="hidden" id="campana_id_manual" name="campana_id_manual" value="">
                <div class="form-group row">
                    <label for="select-campana-whatsap" class="col-sm-2 col-form-label">Campaña</label>
                    <div class="col-sm-10">
                        <select id="select-campana-manual" class="form-control" name="select-campana-manual">
                            {% for campana in contacto_campanas %}
                            <option value="{{ campana.0 }}-{{ campana.1 }}-{{ campana.2 }}">{{ campana.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <a href="javascript:;" onClick="mostrar_modal_finalizar_perdida();" id="este"
                    class="btn btn-sm btn-info" data-contacto="" data-telefono="${telefono['telefono']}">
                    Continuar
                </a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{{ filter_obj.f_inicial|json_script:"json_f_inicial" }}
{{ filter_obj.f_fin|json_script:"json_f_fin" }}

{% endblock %}

{% block page_js_level %}
<script type="text/javascript">

    /* Elementos */
    const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const btn_finalizar_perdida = document.getElementById('btn-finalizar-perdida');
    let form_perdida = document.getElementById('form-cerrar-perdida');
    let form_filtro = document.getElementById('form-filtro');
    let input_estado = document.getElementById('estado');
    let input_agente = document.getElementById('agente');
    let input_medio = document.getElementById('medio');
    let input_f_inicial = document.getElementById('f_inicial');


    /* eventos */

    btn_finalizar_perdida.addEventListener('click', () => {
        finalizar_programacion();
    });

    /* funciones */

    function filtrar() {
        form_filtro.submit();
        //document.getElementById('boton-borrar').style.display='block';
    }

    function mostrar_campana_manual_perdida(id_perdida) {

        document.getElementById('id_perdida').value = id_perdida;
        id_perdida_cerrar = document.getElementById('id_perdida')
        id_perdida_cerrar = id_perdida
        document.querySelector('#modal-perdida-campana-manual .modal-title').textContent = `
        Elige una campaña para la llamada perdida ${id_perdida}
      `;
        document.querySelector('#modal-cerrar-perdida .modal-title').textContent = `
        Finalizando la llamada perdida ${id_perdida}
      `;
        $('#modal-perdida-campana-manual').modal('show');

    }

    function mostrar_modal_finalizar_perdida() {

        $('#modal-perdida-campana-manual').modal('hide');
        // var id_campana = $("#select-campana-manual").val().split('-')[0];
        // console.log(">>>>>>>>>>>>>>>>><",id_campana)
        let url = '/tc/campanas/llamada/manual/';
        $('#id_calificacion').empty();
        $('#id_calificacion').append("<option value=''>Seleccione</option>").trigger("chosen:updated");
        $.get(url, function (data, status) {
            if (status == 'success') {
                resultados = data['resultados']
                console.log("##############si devolvio", resultados)
                for (i = 0; i < resultados.length; i++) {
                    var resultado = resultados[i];
                    $('#id_resultado').append("<option value='" + resultado["id_resultado"] + "'>" + resultado["nombre_resultado"] + "</option>").trigger("chosen:updated");
                }

            }
        });

        $('#modal-cerrar-perdida').modal('show');

    }

    var id_resultado_gestion = document.getElementById('id_resultado')

    id_resultado_gestion.addEventListener('change', function () {
        var id_campana = $("#select-campana-manual").val().split('-')[0];
        console.log(">>>>>>>>>>>>>>>>><", id_campana)
        var resultado = this.options[id_resultado_gestion.selectedIndex];
        let url = '/tc/calificacion/cargar/manual/';
        $('#id_calificacion').empty();
        $('#id_calificacion').append("<option value=''>--------</option>").trigger("chosen:updated");
        console.log('resultado:', resultado.value)
        $.get(url, { 'id_campana': id_campana, 'resultado_pk': resultado.value }, function (data, status) {
            if (status == "success") {
                var calificaciones = data['calificaciones'];
                for (i = 0; i < calificaciones.length; i++) {
                    var calificacion = calificaciones[i];
                    $('#id_calificacion').append("<option value='" + calificacion["id"] + "'>" + calificacion["nombre"] + "</option>").trigger("chosen:updated");
                }

            }

        });

    })

    function finalizar_programacion() {

        let form_data = new FormData(form_perdida);
        let id_perdida = document.getElementById('id_perdida').value;
        let url = Urls.tc_perdidas_llamada_gestionar(id_perdida);

        if (form_perdida.checkValidity() == false) {
            form_perdida.classList.add('was-validated');
        } else {
            fetch(url, {
                method: 'post',
                body: form_data,
            })
                .then((res) => {
                    return res.json();
                })
                .then((datos) => {
                    console.log(datos);
                    location.reload();
                })
                .catch((error) => {
                    console.log(`Error al finalizar la llamada perdida ${error}`);
                });
        }
    }

    function writeWhatsapp(chat_id) {
        let event = new CustomEvent('SendWhastAppIframe', {
            'detail': {
                'chat_id': chat_id,
            }
        });
        window.parent.document.dispatchEvent(event);
    }




    $(document).ready(function () {

        const f_inicial = JSON.parse(document.getElementById('json_f_inicial').textContent)
        const f_fin = JSON.parse(document.getElementById('json_f_fin').textContent)

        console.log("Esta es la fecha inicial que da el backend", f_inicial)
        console.log("Esta es la fecha final que da el backend", f_fin)

        if(f_inicial && f_fin ) {
            let f_inicio_creacion = moment('{{ filter_obj.f_inicial }}', 'DD/MM/YYYY');
            let f_fin_creacion = moment('{{ filter_obj.f_fin }}', 'DD/MM/YYYY');
        } else {
            let f_inicio_creacion = moment().subtract(0, 'days');
            let f_fin_creacion = moment();
        }

        function cb_f_creacion(start, end) {
            $('#fecha_creacion').val(start + ' - ' + end);
        }

        if(f_fin){
            $('#fecha_creacion').daterangepicker({
                startDate: f_inicio_creacion,
                endDate: f_fin_creacion,
                dateFormat: 'DD/MM/YYYY',
                ranges: {
                'Hoy': [moment(), moment()],
                'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Ultimos 7 Dias': [moment().subtract(6, 'days'), moment()],
                'Ultimos 30 Dias': [moment().subtract(29, 'days'), moment()],
                'Este Mes': [moment().startOf('month'), moment().endOf('month')],
                'Ultimo Mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            });
        } else {
            $('#fecha_creacion').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear'
                },
                dateFormat: 'DD/MM/YYYY',
                ranges: {
                'Hoy': [moment(), moment()],
                'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Ultimos 7 Dias': [moment().subtract(6, 'days'), moment()],
                'Ultimos 30 Dias': [moment().subtract(29, 'days'), moment()],
                'Este Mes': [moment().startOf('month'), moment().endOf('month')],
                'Ultimo Mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            });
        }
        

    if(f_inicial && f_fin){
        cb_f_creacion(f_inicio_creacion.format('DD/MM/YYYY'), f_fin_creacion.format('DD/MM/YYYY'));
    } else {
        $('#fecha_creacion').val('Todos');
    }
    // <input id="filtro_f_inicial" type="hidden" name="f_final" value="{{ filter_obj.f_final}}">
    // <input id="filtro_f_final" type="hidden" name="f_inicial" value="{{ filter_obj.f_inicial}}">
    $('#fecha_creacion').on('apply.daterangepicker', function (ev, picker) {
        f_inicio = picker.startDate.format('DD/MM/YYYY');
        f_final = picker.endDate.format('DD/MM/YYYY');
        $("#filtro_f_inicial").val(f_inicio);
        $("#filtro_f_final").val(f_final);
        $('#fecha_creacion').val(f_inicio + ' - ' + f_final);
    });

    $('#fecha_creacion').on('cancel.daterangepicker', function (ev, picker) {
        $("#filtro_f_inicial").val('');
        $("#filtro_f_final").val('');
        $('#fecha_creacion').val('Todos');
    });



    $('.call_button').click(function () {
        id_contacto = $(this).data('id');
        console.log(">>> Este es el id del contacto", id_contacto)
        $("#contacto-telefonos").html('');
        const url = Urls.tc_numeros(id_contacto);
        const url_2 = '/tc/puede_gestionar_llamada_perdida/'
        id_perdida = $(this).data('id-perdida');
        console.log('XXXXXXXXXXXXXXXX', id_perdida)
        document.getElementById('perdida_gestionar').value = id_perdida


        $.get(url_2, { "id_perdida": id_perdida }, function (data, status) {
            if (status == "success") {
                var respuesta = data['puede_gestionar'];
                if (respuesta == true) {
                    $.get(url, {}, function (data, status) {
                        if (status == 'success') {
                            console.log("RESPUESTA: ", data);
                            let contacto = data['contacto'];
                            console.log("Este es el contacto", contacto)

                            $("#info-contacto").text(contacto['nombre']);
                            let telefonos = data['telefonos'];
                            let dialogos = data['dialogos'];
                            console.log("Estos son los diálogos", dialogos)
                            if (telefonos.length != 0) {

                                for (i = 0; i < telefonos.length; i++) {
                                    let telefono = telefonos[i];
                                    console.log("Este es el número", telefono)
                                    $("#contacto-telefonos").append(`
                                        <tr>
                                        <td class="text-center">
                                            <strong>${telefono['label']}</strong>
                                        </td>
                                        <td class="text-center">
                                            ${telefono['telefono']}
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:;" onClick="$(this).callContacto(this);" class="btn btn-sm btn-info flaticon-telephone" data-contacto="${contacto['id']}" data-telefono="${telefono['telefono']}">
                                            </a>
                                        </td>
                                        </tr>
                                    `);

                                }
                            }

                            if ( dialogos.length != 0 ){
            
                                for (i=0; i<dialogos.length; i++) {
                                    let dialogo = dialogos[i];
                                    let telefono = dialogo['numero'];
                                    if (telefono.startsWith('57')){
                                        telefono = telefono.substring(2)
                                    }else{
                                        console.log('no empezaba con 57 ')
                                    }
                                    $("#contacto-telefonos").append(`
                                        <tr>
                                        <td class="text-center">
                                            <strong>WhatsApp</strong>
                                        </td>
                                        <td class="text-center">
                                            ${dialogo['numero']}
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:;" onClick="$(this).callContacto(this);" class="btn btn-sm btn-info flaticon-telephone" data-contacto="${contacto['id']}" data-telefono="${telefono}">
                                            </a>
                                            <a href="javascript:;" onClick="$(this).writeContacto(this);" class="btn btn-sm btn-success action-button-whatsapp fab fa-whatsapp whatsapp_button" data-contacto="${contacto['id']}" data-chat-id="${dialogo['chat_id']}">
                                            </a>
                                        </td>
                                        </tr>
                                    `);
                            
                                }              
              

                            }


                        }
                        $("#modal-call").modal('show');
                    });

                } else {
                    let timerInterval
                    Swal.fire({
                        icon: 'error',
                        title: 'Ya Esta siendo atendido por otro agente',
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: () => {
                            Swal.showLoading()
                            timerInterval = setInterval(() => {
                                const content = Swal.getHtmlContainer()
                                if (content) {
                                    const b = content.querySelector('b')
                                    if (b) {
                                        b.textContent = Swal.getTimerLeft()
                                    }
                                }
                            }, 100)
                        },
                        willClose: () => {
                            clearInterval(timerInterval)

                        }
                    }).then((result) => {
                        /* Read more about handling dismissals below */
                        if (result.dismiss === Swal.DismissReason.timer) {
                            location.reload();
                        }
                    })

                }
            } else {
                console.log("Error al traer la respuesta");
            }

        });





    });



    $('.whatsapp_button').click(function () {
        id_contacto = $(this).data('id');
        $("#contacto-whatsapps").html('');
        const url = Urls.tc_contacto_dialogo(id_contacto);
        $.get(url, {}, function (data, status) {
            if (status == 'success') {
                let contacto = data['contacto'];
                $("#info-contacto").text(contacto['nombre']);
                console.log("Estos son los datos >>> ", data);
                let dialogos = data['dialogos'];
                if (dialogos.length == 0) {
                    $("#contacto-whatsapps").append(`
                        <tr>
                        <td class="text-center">
                            <h4>No se encontraron cuentas de whatsapp asociadas a este contacto</h4>
                        </td>
                        </tr>
                    `);
                } else {

                    for (i = 0; i < dialogos.length; i++) {
                        let dialogo = dialogos[i];
                        let pueder_ver_datos_contacto = $('#ver_datos_contacto').val();

                        if (pueder_ver_datos_contacto) {
                            $("#contacto-whatsapps").append(`
                                <tr>
                                <td class="text-center">
                                    <strong>WhatsApp</strong>
                                </td>
                                <td class="text-center">
                                    ${dialogo['numero']}
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" onClick="$(this).writeContacto(this);" class="btn btn-sm btn-info" data-contacto="${contacto['id']}" data-chat-id="${dialogo['chat_id']}">
                                    Contactar
                                    </a>
                                </td>
                                </tr>
                            `);
                        } else {
                            $("#contacto-whatsapps").append(`
                                <tr>
                                <td class="text-center">
                                    <strong>WhatsApp</strong>
                                </td>
                                <td class="text-center">
                                    ${dialogo['telefono']}
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" onClick="$(this).writeContacto(this);"
                                    class="btn btn-sm btn-info"
                                    data-contacto="${contacto['id']}"
                                    data-chat-id="${dialogo['chat_id']}">
                                    Contactar
                                    </a>
                                </td>
                                </tr>
                            `);
                        }
                    }
                }
            }
        });
        $("#modal-whatsapp").modal('show');
    });

    $.fn.callContacto = function () {
        const id_contacto = $(this).data('contacto');
        const telefono = $(this).data('telefono');
        const id_campana = $("#select-campana").val().split('-')[0];
        const type_campana = $("#select-campana").val().split('-')[2];
        const name_campana = $("#select-campana").val().split('-')[1];

        var perdida_gestionar = document.getElementById('perdida_gestionar').value;
        var dic_modelo_origen_gestion = { 'origen': 'perdida', 'pk': perdida_gestionar };

        var global = window.parent.document.getElementById('modelo_origen_gestion');
        global.value = JSON.stringify(dic_modelo_origen_gestion);
        console.log('el q se va a manipular por llamada : ' + dic_modelo_origen_gestion)
        console.log('el q se va a colocar por llamada : ' + global.value)

        $("#pk_contacto").val(id_contacto);
        $("#pk_campana").val(id_campana);
        $("#campana_nombre").val(name_campana);
        $("#campana_tipo").val(type_campana);
        $("#tipo_campana").val(type_campana);
        $("#telefono").val(telefono);
        $("#form-agente-llamar").submit();
    }

    $.fn.writeContacto = function () {
        const id_contacto = $(this).data('contacto');
        const chat_id = $(this).data('chat-id');

        var perdida_gestionar = document.getElementById('perdida_gestionar').value;
        var dic_modelo_origen_gestion = { 'origen': 'perdida', 'pk': perdida_gestionar };

        var global = window.parent.document.getElementById('modelo_origen_gestion');
        global.value = JSON.stringify(dic_modelo_origen_gestion);
        console.log('el q se va a manipular por whatsapp : ', dic_modelo_origen_gestion)
        console.log('el q se va a colocar por whatsapp : ', global.value)

        writeWhatsapp(chat_id);
    }
  
    });

</script>

{% endblock %}