{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_extrafunc %}
{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="widget-content-area custom-card p-0">

  <div class="row layout-spacing">
      <div class="col-lg-12">

          <div class="statbox widget box box-shadow">
              <div class="content-header pl-3 pr-3">

                  <div class="row mt-2">
                    <div class="col-sm-12">
                      <h2 class="text-muted">Permisos grupo: Agente</h2>
                      <div class="crumbs">
                        <ul id="breadcrumbs" class="breadcrumb">
                          <li><a href="javascript: void(0);"><i class="flaticon-home-fill"></i></a></li>
                          <li><a href="javascript: void(0);">Gestiones</a></li>
                          <!-- <li class="active"><a href="#">Products</a></li> -->
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                      
                  </div>
              </div>

              <div class="widget-content widget-content-area">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
                        <thead>
                            <tr>
                                <th class="">ID</th>
                                <th class="">Nombre</th>
                                <!-- <th class="">Estado</th> -->
                                <th class="text-center">Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for permiso in permisos %}
                            <tr>
                              <td>{{ permiso.pk}}    </td>
                              <td>{{ permiso.nombre }}</td>
                              <!-- <td>{{ permiso.permitido }}</td> -->
                              <td>
                                {% if permiso.permitido == False %}
                                    <span class="badge bg-danger"> Desactivado </span>
                                {% else %}
                                    <span class="badge bg-success"> Activado </span>
                                {% endif %}

                              </td>
                            </tr>
                          {% endfor %}

                        </tbody>
                    </table>
                </div>
              </div>
            </div>


          </div>

      </div>

      
  </div>
</div>



{% endblock %}
