<!-- listado de elementos -->
{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card mt-3">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-12">
              <h3 class="mr-2 text-dark float-left">Tipo Gestión</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} margin-bottom-30">
                    <button type="button" class="close" data-dismiss="alert">
                      <span aria-hidden="true">&times</span>
                      <span class="sr-only">Close</span>
                    </button>
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="col-sm-12 mb-3">
                  <form class="" action="" method="get">
                    <div class="row">
                      <div class="col-md-6">
                        <a href="{% url 'tipo-create' %}" class="btn btn-info">Agregar</a>
                      </div>
                      <div class="col-md-6">

                      </div>
                    </div>
                  </form>
                </div>
            </div>
            <div class="col-md-12">
              <table id="table-registros" class="table table-hover">
                <thead>
                  <th class="text-center">Id</th>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Acciones</th>
                </thead>
                <tbody>
                  {% for tipo in object_list %}
                    <tr>
                      <td class="text-center">
                        {{ tipo.id }}
                      </td>
                      <td class="text-center">{{ tipo.nombre }}</td>
                      <td class="text-center">
                        <a href="{% url 'tipo-update' tipo.pk %}" class="btn btn-outline-info btn-sm">Editar</a>
                        {% if request.user.is_staff %}
                          <a href="{#% url 'registro-delete' registro.pk %#}" class="btn btn-outline-danger btn-sm">Eliminar</a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-------     PAGINATOR DE LOS REGISTROS............  -->
          <div class="card-footer clearfix">
            <span class="float-left">
              Total Registros: {{ paginator.count }}
            </span>
            <br>
            <span class="current">
              Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if is_paginated %}
            <div class="dataTables_paginate paging_simple_numbers">
              <ul class="pagination float-right">
                {% if page_obj.has_previous %}
                  <li class="paginate_button page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">«</a></li>
                {% endif %}
                {% for i in pages %}
                  {% if i == page_obj.number %}
                  <li class="paginate_button page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                  {% else %}
                  <li class="paginate_button page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="paginate_button page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">»</a></li>
                {% endif %}
              </ul>
              {% endif %}
            </div>
          </div>           <!-------   /END PAGINATOR DE LOS REGISTROS............  -->

      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
{% endblock %}

{% block page_js_level %}
<script type="text/javascript">
  $(document).ready(function () {
   
  });
</script>
{% endblock %}
