{% extends 'truecontact/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block page_css_level %}
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-info mt-3">
        <div class="card-header">
          <h3 class="card-title">{{vista}}</h3>
        </div>
        <form class="form-horizontal" method="POST" enctype="multipart/form-data">{% csrf_token %}
          <div class="card-body">
            <div class="row">
              <div class="col-md-10">
                <div class="form-group row">
                  <label for="{{ form.medio.id_for_label }}" class="col-sm-2 col-form-label">{{ form.medio.label }}</label>
                  <div class="col-sm-10">
                    {% render_field form.medio class="form-control" onkeyup="var start = this.selectionStart;  var end = this.selectionEnd;  this.value = this.value.toUpperCase();   this.setSelectionRange(start, end);" %}
                    {% for error in form.medio.errors %}
    									<p class="text-danger">{{ error }}</p>
    								{% endfor %}
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-10">
                <div class="form-group row">
                  <label for="{{ form.nombre.id_for_label }}" class="col-sm-2 col-form-label">{{ form.nombre.label }}</label>
                  <div class="col-sm-10">
                    {% render_field form.nombre class="form-control" onkeyup="var start = this.selectionStart;  var end = this.selectionEnd;  this.value = this.value.toUpperCase();   this.setSelectionRange(start, end);" %}
                    {% for error in form.nombre.errors %}
    									<p class="text-danger">{{ error }}</p>
    								{% endfor %}
                  </div>
                </div>
              </div>
            </div>
           
            <div class="row">
              <div class="col-md-10">
                <div class="form-group row">
                  <label for="{{ form.descripcion.id_for_label }}" class="col-sm-2 col-form-label">{{ form.descripcion.label }}</label>
                  <div class="col-sm-10">
                    {% render_field form.descripcion class="form-control" rows="3" %}
                    {% for error in form.descripcion.errors %}
                      <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-info">Guardar</button>
            <a href="{% url 'resultado-list' %}" class="btn btn-default"> Cancelar</a>
          </div>
          <!-- /.card-footer -->
        </form>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
{% endblock %}

{% block page_js_level %}
<script type="text/javascript">
  $(document).ready(function () {
   
  });
</script>
{% endblock %}
